force-app/main/default/flows/ABS_Summary_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Batch</name>
        <label>Assign Batch</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>RefreshBatch.Version_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Batch</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_natural_next_stage_Validation</name>
        <label>Assign To natural next stage Validation</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varNextStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Validation</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_To_Version_Overview</name>
        <label>Assign To Version Overview\</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varNextStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Version Overview</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>check_next_stage</name>
        <label>check next stage</label>
        <locationX>380</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNextStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varOriginalStage</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contains_Version_Overview</targetReference>
            </connector>
            <label>is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contains_Version_Overview</name>
        <label>Contains Version Overview</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Assign_To_natural_next_stage_Validation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Version_Overview</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varStages</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Version Overview</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_To_Version_Overview</targetReference>
            </connector>
            <label>Version Overview</label>
        </rules>
    </decisions>
    <description>Portal Screen flow that summarises the monetary totals and displays them back to the Grant Recipient when creating and editing a batch</description>
    <environments>Default</environments>
    <formulas>
        <name>BatchDisplayId</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!Batch.LA_Identifier__c}), {!Batch.Name},{!Batch.LA_Identifier__c} )</expression>
    </formulas>
    <interviewLabel>ABS - Summary Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>ABS FORM - Summary Screen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>RefreshBatch</name>
        <label>RefreshBatch</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Summary_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Batch.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FundingBatch__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Batch</name>
        <label>Update Batch</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>check_next_stage</targetReference>
        </connector>
        <inputReference>RefreshBatch</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Summary_Screen</name>
        <label>Summary Screen</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Batch</targetReference>
        </connector>
        <fields>
            <name>StageNav</name>
            <extensionName>c:dmFlowStageNav</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Summary</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>varStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayType</name>
                <value>
                    <stringValue>path</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>interactable</name>
                <value>
                    <stringValue>previousOnly</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varNextStage</assignToReference>
                <name>clickedStage</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Summary_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Summary_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>HeaderText</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;Batch Summary&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Summary_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BatchId</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;font-size: 24px; color: rgb(0, 0, 0);&quot;&gt;{!Batch.LA_Identifier__c}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;font-size: 24px; color: rgb(0, 0, 0);&quot;&gt;Version {!Batch.Version_Number__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Summary_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Summary_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Total_Homes_Costs</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>RefreshBatch.Total_of_Spend_Per_House__c</elementReference>
                    </defaultValue>
                    <fieldText>Total Homes Costs</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Summary_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Total_Measure_Costs</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>RefreshBatch.Total_Measure_Spend__c</elementReference>
                    </defaultValue>
                    <fieldText>Total Measure Costs</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Summary_Screen_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Total_Capital_Expenditure_Costs</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>RefreshBatch.Total_Capital_Expenditure__c</elementReference>
                    </defaultValue>
                    <fieldText>Total Capital Expenditure Costs</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>LineBreak1</name>
            <extensionName>c:lineBreak</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Total_Homes_Requested2</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>RefreshBatch.Total_Homes__c</elementReference>
            </defaultValue>
            <fieldText>Total Homes Requested</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>LineBreak2</name>
            <extensionName>c:lineBreak</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Total_spent_on_all_homes_both_grant_and_landlord_matched_funding</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>RefreshBatch.Total_Spend_All_Homes__c</elementReference>
            </defaultValue>
            <fieldText>Total spent on all homes (both grant and landlord matched funding)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>LineBreak3</name>
            <extensionName>c:lineBreak</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Total_spend_contributed_by_landlord_matched_funding</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>RefreshBatch.Total_Landlord_Contribution__c</elementReference>
            </defaultValue>
            <fieldText>Total spend contributed by landlord matched funding</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>LineBreak4</name>
            <extensionName>c:lineBreak</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Total_grant_funding_already_spent_on_homes_via_upfront_funding</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>RefreshBatch.Total_Capital_Already_Spent_Upfront__c</elementReference>
            </defaultValue>
            <fieldText>Total grant funding already spent on homes via upfront funding</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>LineBreak5</name>
            <extensionName>c:lineBreak</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Total_gratn_funding_requested_for_transfer_to_Grant_Recipient_bank_account</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>RefreshBatch.Total_Grant_Fund_Requested__c</elementReference>
            </defaultValue>
            <fieldText>Total grant funding requested for transfer to Grant Recipient bank account</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>LineBreak6</name>
            <extensionName>c:lineBreak</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RefreshBatch</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Batch</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>FundingBatch__c</objectType>
    </variables>
    <variables>
        <name>varNextStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>varOriginalStage</elementReference>
        </value>
    </variables>
    <variables>
        <name>varOriginalStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Summary</stringValue>
        </value>
    </variables>
    <variables>
        <name>varStages</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
