force-app/main/default/flows/ABS_Property_Information.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_OO_Records</name>
        <label>Add OO Records</label>
        <locationX>292</locationX>
        <locationY>1754</locationY>
        <assignmentItems>
            <assignToReference>EachBatchProperty.Tenure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Owner occupied</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachBatchProperty.Fuel_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Gas (on grid)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachBatchProperty.Property_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Gas_on_grid_OO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BatchProperties</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachBatchProperty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachBatchProperty.Fuel_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Electric (off grid)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachBatchProperty.Property_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Electric_off_grid_OO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BatchProperties</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachBatchProperty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachBatchProperty.Fuel_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fossil fuel (off grid)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachBatchProperty.Property_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fossil_fuel_off_grid_OO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BatchProperties</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachBatchProperty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachBatchProperty.Fuel_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Park home-electric (off grid)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachBatchProperty.Property_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Park_home_electric_off_grid_OO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BatchProperties</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachBatchProperty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachBatchProperty.Fuel_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Park home-fossil fuel (off grid)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachBatchProperty.Property_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Park_home_fossil_fuel_off_grid_OO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BatchProperties</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachBatchProperty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTenureTypes</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Owner occupied</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X100_Private_rented_Choice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_PR100_Records</name>
        <label>Add PR100 Records</label>
        <locationX>292</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>EachBatchProperty.Tenure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Private rented sector (fully funded)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachBatchProperty.Fuel_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Gas (on grid)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachBatchProperty.Property_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Gas_on_grid_PR100</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BatchProperties</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachBatchProperty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachBatchProperty.Fuel_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Electric (off grid)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachBatchProperty.Property_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Electric_off_grid_PR100</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BatchProperties</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachBatchProperty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachBatchProperty.Fuel_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fossil fuel (off grid)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachBatchProperty.Property_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fossil_fuel_off_grid_PR100</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BatchProperties</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachBatchProperty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachBatchProperty.Fuel_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Park home-electric (off grid)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachBatchProperty.Property_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Park_home_electric_off_grid_PR100</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BatchProperties</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachBatchProperty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachBatchProperty.Fuel_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Park home-fossil fuel (off grid)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachBatchProperty.Property_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Park_home_fossil_fuel_off_grid_PR100</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BatchProperties</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachBatchProperty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTenureTypes</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Private rented sector (fully funded)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X50_Private_Rented_Choice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_PR50_Records</name>
        <label>Add PR50 Records</label>
        <locationX>292</locationX>
        <locationY>2354</locationY>
        <assignmentItems>
            <assignToReference>EachBatchProperty.Tenure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Private rented sector (50% funded)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachBatchProperty.Fuel_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Gas (on grid)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachBatchProperty.Property_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Gas_on_grid_PR50</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BatchProperties</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachBatchProperty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachBatchProperty.Fuel_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Electric (off grid)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachBatchProperty.Property_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Electric_off_grid_PR50</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BatchProperties</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachBatchProperty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachBatchProperty.Fuel_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fossil fuel (off grid)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachBatchProperty.Property_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fossil_fuel_off_grid_PR50</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BatchProperties</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachBatchProperty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachBatchProperty.Fuel_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Park home-electric (off grid)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachBatchProperty.Property_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Park_home_electric_off_grid_PR50</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BatchProperties</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachBatchProperty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachBatchProperty.Fuel_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Park home-fossil fuel (off grid)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachBatchProperty.Property_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Park_home_fossil_fuel_off_grid_PR50</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BatchProperties</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachBatchProperty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTenureTypes</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Private rented sector (50% funded)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Social_Housing_Choice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_SH_Records</name>
        <label>Add SH Records</label>
        <locationX>292</locationX>
        <locationY>2654</locationY>
        <assignmentItems>
            <assignToReference>EachBatchProperty.Tenure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Social housing (50% funded)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachBatchProperty.Fuel_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Gas (on grid)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachBatchProperty.Property_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Gas_on_grid_SH</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BatchProperties</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachBatchProperty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachBatchProperty.Fuel_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Electric (off grid)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachBatchProperty.Property_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Electric_off_grid_SH</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BatchProperties</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachBatchProperty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachBatchProperty.Fuel_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fossil fuel (off grid)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachBatchProperty.Property_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fossil_fuel_off_grid_SH</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BatchProperties</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachBatchProperty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachBatchProperty.Fuel_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Park home-electric (off grid)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachBatchProperty.Property_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Park_home_electric_off_grid_SH</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BatchProperties</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachBatchProperty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachBatchProperty.Fuel_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Park home-fossil fuel (off grid)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachBatchProperty.Property_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Park_home_fossil_fuel_off_grid_SH</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BatchProperties</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachBatchProperty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTenureTypes</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Social housing (50% funded)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_Blank_Batch_Properties</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Batch_Id_to_Each_Batch_Property</name>
        <label>Assign Batch Id to Each Batch Property</label>
        <locationX>424</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>EachBatchProperty.Batch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Batch.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Owner_Occupied_Choice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Batch_Properties_to_blank</name>
        <label>Assign Batch Properties to blank</label>
        <locationX>456</locationX>
        <locationY>5486</locationY>
        <assignmentItems>
            <assignToReference>BatchProperties</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>BatchProperties</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Configure_Batch_Properties</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Blank_OO_fields_on_batch</name>
        <label>Assign Blank OO fields on batch</label>
        <locationX>754</locationX>
        <locationY>4694</locationY>
        <assignmentItems>
            <assignToReference>Batch.OOEP_Grant_Total__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Batch.OOLCH_Grant_Total__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Batch.OOEP_House_Count__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Batch.OOLCH_House_Count__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>update_Batch</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Blank_OO_fields_on_batch_0</name>
        <label>Assign Blank OO fields on batch</label>
        <locationX>314</locationX>
        <locationY>4802</locationY>
        <assignmentItems>
            <assignToReference>Batch.OOEP_Grant_Total__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Batch.OOLCH_Grant_Total__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Batch.OOEP_House_Count__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Batch.OOLCH_House_Count__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>update_Batch</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Blank_PR100_fields_on_batch</name>
        <label>Assign Blank PR100 fields on batch</label>
        <locationX>754</locationX>
        <locationY>4394</locationY>
        <assignmentItems>
            <assignToReference>Batch.PR100EP_Grant_Total__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Batch.PR100LCH_Grant_Total__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Batch.PR100EP_House_Count__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Batch.PR100LCH_House_Count__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>TenureTypes_contains_OO_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Blank_PR100_fields_on_batch_0</name>
        <label>Assign Blank PR100 fields on batch</label>
        <locationX>314</locationX>
        <locationY>4502</locationY>
        <assignmentItems>
            <assignToReference>Batch.PR100EP_Grant_Total__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Batch.PR100LCH_Grant_Total__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Batch.PR100EP_House_Count__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Batch.PR100LCH_House_Count__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>TenureTypes_contains_OO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Blank_PR50_Fields_On_Batch</name>
        <label>Assign Blank PR50 Fields On Batch</label>
        <locationX>314</locationX>
        <locationY>4202</locationY>
        <assignmentItems>
            <assignToReference>Batch.PR50EP_Grant_Total__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Batch.PR50LCH_Grant_Total__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Batch.PR50EP_Matched_Total__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Batch.PR50LCH_Matched_Total__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Batch.PR50EP_House_Count__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Batch.PR50LCH_House_Count__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>tenureTypes_Contains_PR100</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Blank_PR50_Fields_On_Batch_0</name>
        <label>Assign Blank PR50 Fields On Batch</label>
        <locationX>754</locationX>
        <locationY>4094</locationY>
        <assignmentItems>
            <assignToReference>Batch.PR50EP_Grant_Total__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Batch.PR50LCH_Grant_Total__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Batch.PR50EP_Matched_Total__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Batch.PR50LCH_Matched_Total__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Batch.PR50EP_House_Count__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Batch.PR50LCH_House_Count__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>tenureTypes_Contains_PR100_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Blank_SH_Fields_on_Batch</name>
        <label>Assign Blank SH Fields on Batch</label>
        <locationX>314</locationX>
        <locationY>3902</locationY>
        <assignmentItems>
            <assignToReference>Batch.SHEP_Grant_Total__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Batch.SHLCH_Grant_Total__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Batch.SHEP_Matched_Total__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Batch.SHLCH_Matched_Total__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Batch.SHEP_House_Count__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Batch.SHLCH_House_Count__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>tenureTypes_Contains_PR50</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Blank_SH_Fields_on_Batch_0</name>
        <label>Assign Blank SH Fields on Batch</label>
        <locationX>754</locationX>
        <locationY>3794</locationY>
        <assignmentItems>
            <assignToReference>Batch.SHEP_Grant_Total__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Batch.SHLCH_Grant_Total__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Batch.SHEP_Matched_Total__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Batch.SHLCH_Matched_Total__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Batch.SHEP_House_Count__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Batch.SHLCH_House_Count__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>tenureTypes_Contains_PR50_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Existing_properties</name>
        <label>Assign Existing properties</label>
        <locationX>825</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varExistingPropertyRecords</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Existing_Property_records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>refetchBatch</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Initial_property_records_first_time</name>
        <label>assign Initial property records first time</label>
        <locationX>424</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>varInitialPropertyRecords</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>initial_property_records_first_time</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Batch_Id_to_Each_Batch_Property</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Initial_records</name>
        <label>Assign Initial records</label>
        <locationX>456</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varInitialPropertyRecords</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Initial_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Reset_Choice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Natural_next_stage</name>
        <label>Assign Natural next stage</label>
        <locationX>182</locationX>
        <locationY>3686</locationY>
        <assignmentItems>
            <assignToReference>varNextStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Measures</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStages</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>flaRemoveAllExistingSpendStages</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>tenureTypes_Contains_SH</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_OO</name>
        <label>Assign OO</label>
        <locationX>50</locationX>
        <locationY>4802</locationY>
        <assignmentItems>
            <assignToReference>varStages</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>flaStagesAddOOSpend</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNextStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OO Spend</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Batch</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PR100</name>
        <label>Assign PR100</label>
        <locationX>50</locationX>
        <locationY>4502</locationY>
        <assignmentItems>
            <assignToReference>varStages</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>flaStagesAddPR100Spend</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNextStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PR100 Spend</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TenureTypes_contains_OO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PR50</name>
        <label>Assign PR50</label>
        <locationX>50</locationX>
        <locationY>4202</locationY>
        <assignmentItems>
            <assignToReference>varStages</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>flaStagesAddPR50Spend</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNextStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PR50 Spend</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>tenureTypes_Contains_PR100</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SH</name>
        <label>Assign SH</label>
        <locationX>50</locationX>
        <locationY>3902</locationY>
        <assignmentItems>
            <assignToReference>varStages</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>flaStagesAddSHSpend</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNextStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SH Spend</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>tenureTypes_Contains_PR50</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Tenure_Type_to_Export_Variable</name>
        <label>Assign Tenure Type to Export Variable</label>
        <locationX>544</locationX>
        <locationY>5918</locationY>
        <assignmentItems>
            <assignToReference>varTenureTypes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Configure_Batch_Properties.What_is_the_tenure</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Configure_Batch_Properties</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignToManyHomesError</name>
        <label>AssignToManyHomesError</label>
        <locationX>456</locationX>
        <locationY>6110</locationY>
        <assignmentItems>
            <assignToReference>errorToManyHomesOnNewBatch</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSumNewHouses</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_New_Batch_Properties</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignToManyHomesErrorTrue</name>
        <label>AssignToManyHomesErrorTrue</label>
        <locationX>126</locationX>
        <locationY>6734</locationY>
        <assignmentItems>
            <assignToReference>errorToManyHomesOnNewBatch</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varExistingPropertyRecords</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BatchProperties</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_if_Existing_Properties_Exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Batch_Property_Assignment</name>
        <label>Batch Property Assignment</label>
        <locationX>544</locationX>
        <locationY>5810</locationY>
        <assignmentItems>
            <assignToReference>EachBatchProperty.Batch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Batch.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachBatchProperty.Fuel_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Configure_Batch_Properties.What_is_the_fuel_type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachBatchProperty.Tenure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Configure_Batch_Properties.What_is_the_tenure</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachBatchProperty.Property_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Configure_Batch_Properties.What_is_the_number_of_properties</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BatchProperties</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Remove_Duplicate_Properties</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BatchProperties</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachBatchProperty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Tenure_Type_to_Export_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Each_Batch_Property</name>
        <label>Clear Each Batch Property</label>
        <locationX>424</locationX>
        <locationY>3062</locationY>
        <assignmentItems>
            <assignToReference>EachBatchProperty</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Create_Batch_Property_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Blank_Batch_Properties</name>
        <label>Remove Blank Batch Properties</label>
        <locationX>424</locationX>
        <locationY>2954</locationY>
        <assignmentItems>
            <assignToReference>BatchProperties</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Filter_Blank_Batch_Properties</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Each_Batch_Property</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setActionResetToNull</name>
        <label>setActionResetToNull</label>
        <locationX>424</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varActionReset</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>null</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varActionAddTenureDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>null</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirm_Property_reset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setActionResetToNull2</name>
        <label>setActionResetToNull</label>
        <locationX>456</locationX>
        <locationY>5378</locationY>
        <assignmentItems>
            <assignToReference>varActionReset</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>null</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varActionAddTenureDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>null</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Batch_Properties_to_blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sumNewPropertyCount</name>
        <label>sumNewPropertyCount</label>
        <locationX>544</locationX>
        <locationY>6326</locationY>
        <assignmentItems>
            <assignToReference>varSumNewHouses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_New_Batch_Properties.Property_Count__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_New_Batch_Properties</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>chc100PrivateRented</name>
        <choiceText>100% Funded Private Rented</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PR100</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc50PrivateRented</name>
        <choiceText>50% Funded Private Rented</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PR50</stringValue>
        </value>
    </choices>
    <choices>
        <name>chcOwnerOccupied</name>
        <choiceText>Owner Occupied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OO</stringValue>
        </value>
    </choices>
    <choices>
        <name>chcSocialHousing</name>
        <choiceText>Social Housing (in-fill only)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SH</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Filter_Blank_Batch_Properties</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Blank Batch Properties</label>
        <locationX>424</locationX>
        <locationY>2846</locationY>
        <assignNextValueToReference>currentItem_Filter_Blank_Batch_Properties</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>BatchProperties</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Blank_Batch_Properties.Property_Count__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <numberValue>0.0</numberValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Remove_Blank_Batch_Properties</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Remove_Duplicate_Properties</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Remove Duplicate Properties</label>
        <locationX>544</locationX>
        <locationY>5702</locationY>
        <assignNextValueToReference>currentItem_Remove_Duplicate_Properties</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>BatchProperties</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Remove_Duplicate_Properties.Tenure__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <elementReference>Configure_Batch_Properties.What_is_the_tenure</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Remove_Duplicate_Properties.Fuel_Type__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <elementReference>Configure_Batch_Properties.What_is_the_fuel_type</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Batch_Property_Assignment</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_if_Existing_Properties_Exist</name>
        <label>Check if Existing Properties Exist</label>
        <locationX>825</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Property_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Existing Properties Exist</defaultConnectorLabel>
        <rules>
            <name>Is_Existing_Properties_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varExistingPropertyRecords</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Property_Information</targetReference>
            </connector>
            <label>Is Existing Properties Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_next_stage</name>
        <label>check next stage</label>
        <locationX>424</locationX>
        <locationY>3578</locationY>
        <defaultConnector>
            <targetReference>tenureTypes_Contains_SH_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNextStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varOriginalText</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Natural_next_stage</targetReference>
            </connector>
            <label>is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Reset_Choice</name>
        <label>Check Reset Choice</label>
        <locationX>456</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>setActionResetToNull2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Is_Add_Tenure_Details</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varActionAddTenureDetails</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>addTenureDetails</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setActionResetToNull2</targetReference>
            </connector>
            <label>Is Add Tenure Details</label>
        </rules>
        <rules>
            <name>Is_Reset_Property_Information</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varActionReset</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>reset</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setActionResetToNull</targetReference>
            </connector>
            <label>Is Reset Property Information</label>
        </rules>
    </decisions>
    <decisions>
        <name>Initial_Records_Exist</name>
        <label>Initial Records Exist</label>
        <locationX>424</locationX>
        <locationY>3278</locationY>
        <defaultConnector>
            <targetReference>check_next_stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInitialPropertyRecords</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_existing_records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_New_Version</name>
        <label>is New Version</label>
        <locationX>456</locationX>
        <locationY>6518</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Batch_Property_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no previous version</defaultConnectorLabel>
        <rules>
            <name>has_Previous_Version</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Batch.Previous_Version__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>previous_version_house_count_check</targetReference>
            </connector>
            <label>has Previous Version</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_Occupied_Choice</name>
        <label>Owner Occupied Choice</label>
        <locationX>424</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>X100_Private_rented_Choice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No OO</defaultConnectorLabel>
        <rules>
            <name>Has_OO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OO_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_OO_Records</targetReference>
            </connector>
            <label>Has OO</label>
        </rules>
    </decisions>
    <decisions>
        <name>previous_version_house_count_check</name>
        <label>New version houses</label>
        <locationX>258</locationX>
        <locationY>6626</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Batch_Property_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>has less or equal to previous</defaultConnectorLabel>
        <rules>
            <name>new_version_has_more_houses</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSumNewHouses</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Batch.Previous_Version__r.Total_Homes__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignToManyHomesErrorTrue</targetReference>
            </connector>
            <label>has more than previous</label>
        </rules>
    </decisions>
    <decisions>
        <name>Social_Housing_Choice</name>
        <label>Social Housing Choice</label>
        <locationX>424</locationX>
        <locationY>2546</locationY>
        <defaultConnector>
            <targetReference>Filter_Blank_Batch_Properties</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No SH</defaultConnectorLabel>
        <rules>
            <name>Has_SH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SH_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_SH_Records</targetReference>
            </connector>
            <label>Has SH</label>
        </rules>
    </decisions>
    <decisions>
        <name>TenureTypes_contains_OO</name>
        <label>TenureTypes contains OO</label>
        <locationX>182</locationX>
        <locationY>4694</locationY>
        <defaultConnector>
            <targetReference>Assign_Blank_OO_fields_on_batch_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contains_OO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTenureTypes</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Owner occupied</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_OO</targetReference>
            </connector>
            <label>Contains OO</label>
        </rules>
    </decisions>
    <decisions>
        <name>TenureTypes_contains_OO_0</name>
        <label>TenureTypes contains OO</label>
        <locationX>666</locationX>
        <locationY>4586</locationY>
        <defaultConnector>
            <targetReference>Assign_Blank_OO_fields_on_batch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contains_OO_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTenureTypes</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Owner occupied</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Batch</targetReference>
            </connector>
            <label>Contains OO</label>
        </rules>
    </decisions>
    <decisions>
        <name>tenureTypes_Contains_PR100</name>
        <label>tenureTypes Contains PR100</label>
        <locationX>182</locationX>
        <locationY>4394</locationY>
        <defaultConnector>
            <targetReference>Assign_Blank_PR100_fields_on_batch_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>contains_PR100</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTenureTypes</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Private rented sector (fully funded)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PR100</targetReference>
            </connector>
            <label>contains PR100</label>
        </rules>
    </decisions>
    <decisions>
        <name>tenureTypes_Contains_PR100_0</name>
        <label>tenureTypes Contains PR100</label>
        <locationX>666</locationX>
        <locationY>4286</locationY>
        <defaultConnector>
            <targetReference>Assign_Blank_PR100_fields_on_batch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>contains_PR100_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTenureTypes</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Private rented sector (fully funded)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TenureTypes_contains_OO_0</targetReference>
            </connector>
            <label>contains PR100</label>
        </rules>
    </decisions>
    <decisions>
        <name>tenureTypes_Contains_PR50</name>
        <label>tenureTypes Contains PR50</label>
        <locationX>182</locationX>
        <locationY>4094</locationY>
        <defaultConnector>
            <targetReference>Assign_Blank_PR50_Fields_On_Batch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>contains_PR50</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTenureTypes</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Private rented sector (50% funded)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PR50</targetReference>
            </connector>
            <label>contains PR50</label>
        </rules>
    </decisions>
    <decisions>
        <name>tenureTypes_Contains_PR50_0</name>
        <label>tenureTypes Contains PR50</label>
        <locationX>666</locationX>
        <locationY>3986</locationY>
        <defaultConnector>
            <targetReference>Assign_Blank_PR50_Fields_On_Batch_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>contains_PR50_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTenureTypes</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Private rented sector (50% funded)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>tenureTypes_Contains_PR100_0</targetReference>
            </connector>
            <label>contains PR50</label>
        </rules>
    </decisions>
    <decisions>
        <name>tenureTypes_Contains_SH</name>
        <label>tenureTypes Contains SH</label>
        <locationX>182</locationX>
        <locationY>3794</locationY>
        <defaultConnector>
            <targetReference>Assign_Blank_SH_Fields_on_Batch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_tenureTypes_Contains_SH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTenureTypes</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Social housing (50% funded)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SH</targetReference>
            </connector>
            <label>contains SH</label>
        </rules>
    </decisions>
    <decisions>
        <name>tenureTypes_Contains_SH_0</name>
        <label>tenureTypes Contains SH</label>
        <locationX>666</locationX>
        <locationY>3686</locationY>
        <defaultConnector>
            <targetReference>Assign_Blank_SH_Fields_on_Batch_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_tenureTypes_Contains_SH_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTenureTypes</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Social housing (50% funded)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>tenureTypes_Contains_PR50_0</targetReference>
            </connector>
            <label>contains SH</label>
        </rules>
    </decisions>
    <decisions>
        <name>X100_Private_rented_Choice</name>
        <label>100% Private rented Choice</label>
        <locationX>424</locationX>
        <locationY>1946</locationY>
        <defaultConnector>
            <targetReference>X50_Private_Rented_Choice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No PR100</defaultConnectorLabel>
        <rules>
            <name>Has_PR100</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PR100_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PR100</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_PR100_Records</targetReference>
            </connector>
            <label>Has PR100</label>
        </rules>
    </decisions>
    <decisions>
        <name>X50_Private_Rented_Choice</name>
        <label>50% Private Rented Choice</label>
        <locationX>424</locationX>
        <locationY>2246</locationY>
        <defaultConnector>
            <targetReference>Social_Housing_Choice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No PR50</defaultConnectorLabel>
        <rules>
            <name>Has_PR50</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PR50_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PR50</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_PR50_Records</targetReference>
            </connector>
            <label>Has PR50</label>
        </rules>
    </decisions>
    <description>Portal Screen for inputting property counts included in the batch with tenure and fuel types when creating and editing batches</description>
    <dynamicChoiceSets>
        <name>FuelTypeOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Fuel_Type__c</picklistField>
        <picklistObject>FundingBatchProperty__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TenureOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Tenure__c</picklistField>
        <picklistObject>FundingBatchProperty__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>BatchDisplayId</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!Batch.LA_Identifier__c}), {!Batch.Name},{!Batch.LA_Identifier__c} )</expression>
    </formulas>
    <formulas>
        <name>flaRemoveAllExistingSpendStages</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!varStages},&apos;OO Spend,&apos;, &apos;&apos;), &apos;PR100 Spend,&apos;, &apos;&apos;), &apos;PR50 Spend,&apos;, &apos;&apos;), &apos;SH Spend,&apos;, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>flaStagesAddOOSpend</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!varStages},&apos;Property Information&apos;,&apos;Property Information,OO Spend&apos;)</expression>
    </formulas>
    <formulas>
        <name>flaStagesAddPR100Spend</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!varStages},&apos;Property Information&apos;,&apos;Property Information,PR100 Spend&apos;)</expression>
    </formulas>
    <formulas>
        <name>flaStagesAddPR50Spend</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!varStages},&apos;Property Information&apos;,&apos;Property Information,PR50 Spend&apos;)</expression>
    </formulas>
    <formulas>
        <name>flaStagesAddSHSpend</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!varStages},&apos;Property Information&apos;,&apos;Property Information,SH Spend&apos;)</expression>
    </formulas>
    <interviewLabel>ABS - Property Information {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>ABS FORM - Property Information</label>
    <loops>
        <name>Configure_Batch_Properties</name>
        <label>Configure Batch Properties</label>
        <locationX>456</locationX>
        <locationY>5594</locationY>
        <collectionReference>PropertyInforRepeater.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Remove_Duplicate_Properties</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AssignToManyHomesError</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Separate loop so that we don&apos;t include properties where they&apos;ve added the same tenure type and fuel type multiple times in the property count if we are going to discount the duplicates</description>
        <name>Loop_New_Batch_Properties</name>
        <label>Loop New Batch Properties</label>
        <locationX>456</locationX>
        <locationY>6218</locationY>
        <collectionReference>BatchProperties</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>sumNewPropertyCount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>is_New_Version</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Batch_Property_records</name>
        <label>Create Batch Property records</label>
        <locationX>424</locationX>
        <locationY>3170</locationY>
        <connector>
            <targetReference>Initial_Records_Exist</targetReference>
        </connector>
        <inputReference>BatchProperties</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_existing_records</name>
        <label>Delete existing records</label>
        <locationX>292</locationX>
        <locationY>3386</locationY>
        <connector>
            <targetReference>check_next_stage</targetReference>
        </connector>
        <inputReference>varInitialPropertyRecords</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Existing_Property_records</name>
        <label>Existing Property records</label>
        <locationX>825</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Existing_properties</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Batch__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Batch.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FundingBatchProperty__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>initial_property_records_first_time</name>
        <label>initial property records first time</label>
        <locationX>424</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_Initial_property_records_first_time</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Batch__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Batch.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FundingBatchProperty__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Initial_Records</name>
        <label>Initial Records</label>
        <locationX>456</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Initial_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Batch__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Batch.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FundingBatchProperty__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>refetchBatch</name>
        <label>refetchBatch</label>
        <locationX>825</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Existing_Properties_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Batch.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FundingBatch__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Batch</name>
        <label>update Batch</label>
        <locationX>424</locationX>
        <locationY>5078</locationY>
        <inputReference>Batch</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confirm_Property_reset</name>
        <label>Confirm Property reset</label>
        <locationX>424</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel and Return to Edit Screen</backButtonLabel>
        <connector>
            <targetReference>Create_Property_Information</targetReference>
        </connector>
        <fields>
            <name>Confirm_Property_reset_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirm_Property_reset_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ScreenTitle_ConfirmRest</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 36px;&quot;&gt;Reset Property Information&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirm_Property_reset_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BatchId_ConfirmRest</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;{!Batch.LA_Identifier__c}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;Version {!Batch.Version_Number__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PropertyInformation_ConfirmRest</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(173, 0, 0); font-size: 18px;&quot;&gt;WARNING:&lt;/strong&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt; IF YOU CONTINUE ALL PROPERTY  INFORMATION FOR THIS BATCH WILL BE RESET (EXISTING TENURES DETAIL AND MEASURE TYPES WILL REMAIN)&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Continue to Reset Property Information</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_Property_Information</name>
        <label>Create Property Information</label>
        <locationX>424</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>initial_property_records_first_time</targetReference>
        </connector>
        <fields>
            <name>StageNav2</name>
            <extensionName>c:dmFlowStageNav</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Property Information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>varStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayType</name>
                <value>
                    <stringValue>path</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>interactable</name>
                <value>
                    <stringValue>previousOnly</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varNextStage</assignToReference>
                <name>clickedStage</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Create_Property_Information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Property_Information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ScreenTitle_Create</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 36px;&quot;&gt;Property Information&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_Property_Information_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BatchId_Create</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;{!Batch.LA_Identifier__c}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;Version {!Batch.Version_Number__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Create_Property_Information_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Property_Information_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Total_Home_Costs1</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>refetchBatch.Total_of_Spend_Per_House__c</elementReference>
                    </defaultValue>
                    <fieldText>Total Home Costs</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_Property_Information_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Total_Measure_Costs2</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>refetchBatch.Total_Measure_Spend__c</elementReference>
                    </defaultValue>
                    <fieldText>Total Measure Costs</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_Property_Information_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Total_Capital_Expenditure_Costs2</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>refetchBatch.Total_Capital_Expenditure__c</elementReference>
                    </defaultValue>
                    <fieldText>Total Capital Expenditure Costs</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varCreating</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>LB2</name>
            <extensionName>c:lineBreak</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>GuidanceInfo</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Please click to add the relevant tenures included in this batch.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Owner occupied &lt;/strong&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;is a tenure category for where the home is owned by the occupying household.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;100% funded privately rented&lt;/strong&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; is a tenure category for privately rented homes to be fully funded by the grant.&amp;nbsp;Landlords can only claim one property in their portfolio as fully funded across this scheme, with all subsequent homes requiring a 50% cost contribution from the landlord.&amp;nbsp;To include a home in this category, you must have received confirmation from DESNZ and/or its delivery partner that a check has been completed to confirm that this is the first home to be upgraded for that landlord.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;50% funded privately rented &lt;/strong&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;is a tenure category for privately rented homes to be 50% funded by the grant, and 50% funded by the landlord.&amp;nbsp;This category is for all subsequent homes owned by the same landlord, once they have received a home fully funded under this scheme.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Social housing (in-fill only) &lt;/strong&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;is the final tenure category. Note social housing is ineligible for this scheme, except for in-fill purposes only. Social housing for in-fill purposes is capped at 10% of homes treated under your project and you must keep evidence that it is a genuine case of in-fill for audit purposes.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_ErrorToManyHomesText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(163, 0, 0);&quot;&gt;ERROR:&lt;/strong&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(255, 0, 0);&quot;&gt; &lt;/strong&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;The Number of homes cannot be increased on a new version of a batch &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;Total homes on previous version: {!Batch.Previous_Version__r.Total_Homes__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;Total homes added on this version: {!varSumNewHouses}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>errorToManyHomesOnNewBatch</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>OO_Radio</name>
            <choiceReferences>chcOwnerOccupied</choiceReferences>
            <dataType>String</dataType>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Create_Property_Information_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Property_Information_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Gas_on_grid_OO</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Gas (on grid)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Electric_off_grid_OO</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Electric (off grid)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Fossil_fuel_off_grid_OO</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Fossil fuel (off grid)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Park_home_electric_off_grid_OO</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Park home-electric (off grid)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Park_home_fossil_fuel_off_grid_OO</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Park home-fossil fuel (off grid)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_Property_Information_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>OO_Radio</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>OO</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PR100_Radio</name>
            <choiceReferences>chc100PrivateRented</choiceReferences>
            <dataType>String</dataType>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Create_Property_Information_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Property_Information_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Gas_on_grid_PR100</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Gas (on grid)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Electric_off_grid_PR100</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Electric (off grid)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Fossil_fuel_off_grid_PR100</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Fossil fuel (off grid)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Park_home_electric_off_grid_PR100</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Park home-electric (off grid)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Park_home_fossil_fuel_off_grid_PR100</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Park home-fossil fuel (off grid)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_Property_Information_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>PR100_Radio</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>PR100</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PR50_Radio</name>
            <choiceReferences>chc50PrivateRented</choiceReferences>
            <dataType>String</dataType>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Create_Property_Information_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Property_Information_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Gas_on_grid_PR50</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Gas (on grid)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Electric_off_grid_PR50</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Electric (off grid)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Fossil_fuel_off_grid_PR50</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Fossil fuel (off grid)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Park_home_electric_off_grid_PR50</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Park home-electric (off grid)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Park_home_fossil_fuel_off_grid_PR50</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Park home-fossil fuel (off grid)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_Property_Information_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>PR50_Radio</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>PR50</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SH_Radio</name>
            <choiceReferences>chcSocialHousing</choiceReferences>
            <dataType>String</dataType>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Create_Property_Information_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Property_Information_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Gas_on_grid_SH</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Gas (on grid)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Electric_off_grid_SH</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Electric (off grid)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Fossil_fuel_off_grid_SH</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Fossil fuel (off grid)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Park_home_electric_off_grid_SH</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Park home-electric (off grid)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Park_home_fossil_fuel_off_grid_SH</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Park home-fossil fuel (off grid)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_Property_Information_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SH_Radio</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>SH</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Property_Information</name>
        <label>Edit Property Information</label>
        <locationX>456</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Initial_Records</targetReference>
        </connector>
        <fields>
            <name>StageNav1</name>
            <extensionName>c:dmFlowStageNav</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Property Information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>varStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayType</name>
                <value>
                    <stringValue>path</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>interactable</name>
                <value>
                    <stringValue>previousOnly</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varNextStage</assignToReference>
                <name>clickedStage</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Property_Information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Property_Information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ScreenTitle</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 36px;&quot;&gt;Edit Property Information&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Property_Information_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BatchId</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;{!Batch.LA_Identifier__c}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;Version {!Batch.Version_Number__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Property_Information_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Property_Information_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Total_Home_Cost</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>refetchBatch.Total_of_Spend_Per_House__c</elementReference>
                    </defaultValue>
                    <fieldText>Total Home Costs</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Property_Information_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Total_Measure_Costs</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>refetchBatch.Total_Measure_Spend__c</elementReference>
                    </defaultValue>
                    <fieldText>Total Measure Costs</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Property_Information_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Total_Capital_Expenditure_Costs</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>refetchBatch.Total_Capital_Expenditure__c</elementReference>
                    </defaultValue>
                    <fieldText>Total Capital Expenditure Costs</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varCreating</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>LB0</name>
            <extensionName>c:lineBreak</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>GuidanceInfo2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Please click to add the relevant tenures included in this batch.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Owner occupied &lt;/strong&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;is a tenure category for where the home is owned by the occupying household.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;100% funded privately rented&lt;/strong&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; is a tenure category for privately rented homes to be fully funded by the grant.&amp;nbsp;Landlords can only claim one property in their portfolio as fully funded across this scheme, with all subsequent homes requiring a 50% cost contribution from the landlord.&amp;nbsp;To include a home in this category, you must have received confirmation from DESNZ and/or its delivery partner that a check has been completed to confirm that this is the first home to be upgraded for that landlord.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;50% funded privately rented &lt;/strong&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;is a tenure category for privately rented homes to be 50% funded by the grant, and 50% funded by the landlord.&amp;nbsp;This category is for all subsequent homes owned by the same landlord, once they have received a home fully funded under this scheme.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Social housing (in-fill only) &lt;/strong&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;is the final tenure category. Note social housing is ineligible for this scheme, except for in-fill purposes only. Social housing for in-fill purposes is capped at 10% of homes treated under your project and you must keep evidence that it is a genuine case of in-fill for audit purposes.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ErrorToManyHomesText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(163, 0, 0);&quot;&gt;ERROR:&lt;/strong&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(255, 0, 0);&quot;&gt; &lt;/strong&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;The Number of homes cannot be increased on a new version of a batch &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;Total homes on previous version: {!Batch.Previous_Version__r.Total_Homes__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;Total homes added on this version: {!varSumNewHouses}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>errorToManyHomesOnNewBatch</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PropertyInforRepeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>What_is_the_fuel_type</name>
                <choiceReferences>FuelTypeOptions</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>varExistingPropertyRecords[$EachItem].Fuel_Type__c</elementReference>
                </defaultValue>
                <fieldText>What is the fuel type?  (* Required)</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>What_is_the_tenure</name>
                <choiceReferences>TenureOptions</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>varExistingPropertyRecords[$EachItem].Tenure__c</elementReference>
                </defaultValue>
                <fieldText>What is the tenure?  (* Required)</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>What_is_the_number_of_properties</name>
                <dataType>Number</dataType>
                <defaultValue>
                    <elementReference>varExistingPropertyRecords[$EachItem].Property_Count__c</elementReference>
                </defaultValue>
                <fieldText>What is the number of properties?  (* Required)</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <scale>0</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <inputParameters>
                <name>collection</name>
                <value>
                    <elementReference>varExistingPropertyRecords</elementReference>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Property_Information_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Property_Information_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Property_Information_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Back_Edit</name>
                    <extensionName>c:dmFlowNavigation</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>backLabel</name>
                        <value>
                            <stringValue>Previous</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Property_Information_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ClearData_Edit</name>
                    <extensionName>c:dmFlowNavigation</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>nextLabel</name>
                        <value>
                            <stringValue>Reset Property Information</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>nextStateValue</name>
                        <value>
                            <stringValue>reset</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varActionReset</assignToReference>
                        <name>nextState</name>
                    </outputParameters>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Property_Information_Section3_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NavNext_Edit</name>
                    <extensionName>c:dmFlowNavigation</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>nextLabel</name>
                        <value>
                            <stringValue>Next</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>nextStateValue</name>
                        <value>
                            <stringValue>addTenureDetails</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varActionAddTenureDetails</assignToReference>
                        <name>nextState</name>
                    </outputParameters>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>699</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Existing_Property_records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Batch</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>FundingBatch__c</objectType>
    </variables>
    <variables>
        <name>BatchProperties</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingBatchProperty__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Blank_Batch_Properties</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingBatchProperty__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Remove_Duplicate_Properties</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingBatchProperty__c</objectType>
    </variables>
    <variables>
        <name>EachBatchProperty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingBatchProperty__c</objectType>
    </variables>
    <variables>
        <name>errorToManyHomesOnNewBatch</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>rcdDraftPropertyList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingBatchProperty__c</objectType>
    </variables>
    <variables>
        <name>varActionAddTenureDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varActionReset</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCreating</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varExistingPropertyRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingBatchProperty__c</objectType>
    </variables>
    <variables>
        <name>varInitialPropertyRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingBatchProperty__c</objectType>
    </variables>
    <variables>
        <name>varNextStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>varOriginalText</elementReference>
        </value>
    </variables>
    <variables>
        <name>varOriginalText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Property Information</stringValue>
        </value>
    </variables>
    <variables>
        <name>varStages</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSumNewHouses</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varTenureTypes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
