force-app/main/default/flows/ABS_Delete_Redundant_Disbursement_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Disbursement_to_Delete_List</name>
        <label>Add Disbursement to Delete List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rcd_Disbursements_to_Delete_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Disbursement_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Disbursement_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Start_Date</name>
        <label>Assign Start Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Start_Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Disbursement_Records.Payment_Period_Start__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Disbursement_is_last_month</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Disbursement_is_last_month</name>
        <label>Check if Disbursement is last month</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Disbursement_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Disbursement not last month</defaultConnectorLabel>
        <rules>
            <name>Disbursement_is_last_month</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fla_Month_Prior</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Disbursement_to_Delete_List</targetReference>
            </connector>
            <label>Disbursement is last month</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Records_to_Delete</name>
        <label>Check if Records to Delete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Records to Delete</defaultConnectorLabel>
        <rules>
            <name>Is_Records_to_Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rcd_Disbursements_to_Delete_List</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Redundant_Disbursements</targetReference>
            </connector>
            <label>Is Records to Delete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_today_the_8th</name>
        <label>Is today the 8th</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>It is not the 8th</defaultConnectorLabel>
        <rules>
            <name>It_is_the_8th</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fla_8th_Day</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Disbursement_Records</targetReference>
            </connector>
            <label>It is the 8th</label>
        </rules>
    </decisions>
    <description>Scheduled flow that removes all funding disbursements with a 0 value on the 8th day of each month</description>
    <environments>Default</environments>
    <formulas>
        <name>fla_8th_Day</name>
        <dataType>Boolean</dataType>
        <expression>DAY(TODAY()) = 8</expression>
    </formulas>
    <formulas>
        <name>fla_Month_Prior</name>
        <dataType>Boolean</dataType>
        <expression>AND(
  {!var_Start_Date} &gt;= DATE(YEAR(TODAY()), MONTH(TODAY()) - 1, 1),
  {!var_Start_Date} &lt;= DATE(YEAR(TODAY()), MONTH(TODAY()), 1) - 1
)</expression>
    </formulas>
    <interviewLabel>ABS - Delete Redundant Disbursement Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ABS - Delete Redundant Disbursement Records</label>
    <loops>
        <name>Loop_Disbursement_Records</name>
        <label>Loop Disbursement Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Disbursement_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Start_Date</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_Records_to_Delete</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Redundant_Disbursements</name>
        <label>Delete Redundant Disbursements</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>rcd_Disbursements_to_Delete_List</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Disbursement_Records</name>
        <label>Get Disbursement Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Disbursement_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Award_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Local Grant</stringValue>
            </value>
        </filters>
        <filters>
            <field>Amount</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FundingDisbursement</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_today_the_8th</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-07-22</startDate>
            <startTime>02:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>rcd_Disbursements_to_Delete_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingDisbursement</objectType>
    </variables>
    <variables>
        <name>var_Start_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
