force-app/main/default/flows/ABS_Clone_Batch.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_batch_Id_to_null</name>
        <label>Assign batch Id to null</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Old_Batch.Version_Number__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Old_Batch.Previous_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Old_Batch.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Old_Batch.Version_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Old_Batch.ABS_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Old_Batch.Parent_Disbursement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Old_Batch.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Old_Batch.Previous_Version_Id_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Old_Batch.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Old_Batch.Approved_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Old_Batch.Funding_Used_value__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>new_batch</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Capital_Expenditures_to_new_batch</name>
        <label>Assign Capital Expenditures to new batch</label>
        <locationX>264</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>EachCapitalExpenditure</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Capital_Expenditures</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachCapitalExpenditure.Batch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewBatchId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachCapitalExpenditure.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BatchCapitalExpenditures</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachCapitalExpenditure</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Capital_Expenditures</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_LA_Links_to_Batch</name>
        <label>Assign LA Links to Batch</label>
        <locationX>264</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>EachLaLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_LA_Links</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachLaLink.Batch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewBatchId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachLaLink.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BatchLaLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachLaLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_LA_Links</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignMeasuresToBatch</name>
        <label>AssignMeasuresToBatch</label>
        <locationX>264</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>EachMeasureSpend</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Measure_Spends</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachMeasureSpend.Batch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewBatchId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachMeasureSpend.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachMeasureSpend.Previous_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Measure_Spends.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BatchMeasureSpends</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachMeasureSpend</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Measure_Spends</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNewBatchId</name>
        <label>AssignNewBatchId</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>NewBatchId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Old_Batch.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clone_Conformation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPropertiesBatch</name>
        <label>Assign Properties To Batch</label>
        <locationX>264</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>EachProperty</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Properties</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachProperty.Batch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewBatchId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachProperty.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachProperty.Previous_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Properties.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BatchProperties</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachProperty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Properties</targetReference>
        </connector>
    </assignments>
    <description>Screen flow that takes the Id of a Batch and creates a new version of that batch.</description>
    <environments>Default</environments>
    <interviewLabel>ABS - Clone Batch {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>ABS - New Version Batch</label>
    <loops>
        <name>Loop_Capital_Expenditures</name>
        <label>Loop Capital Expenditures</label>
        <locationX>176</locationX>
        <locationY>2330</locationY>
        <collectionReference>CaptialExpenditures</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Capital_Expenditures_to_new_batch</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Capital_Expenditures</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_LA_Links</name>
        <label>Loop LA Links</label>
        <locationX>176</locationX>
        <locationY>1814</locationY>
        <collectionReference>LaLinks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_LA_Links_to_Batch</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_new_LA_Links</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Properties</name>
        <label>Loop Properties</label>
        <locationX>176</locationX>
        <locationY>1298</locationY>
        <collectionReference>Properties</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignPropertiesBatch</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Properties</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Measure_Spends</name>
        <label>Measure Spends</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <collectionReference>MeasureSpends</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignMeasuresToBatch</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_Measures</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Capital_Expenditures</name>
        <label>Create Capital Expenditures</label>
        <locationX>176</locationX>
        <locationY>2630</locationY>
        <inputReference>BatchCapitalExpenditures</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_new_LA_Links</name>
        <label>Create new LA Links</label>
        <locationX>176</locationX>
        <locationY>2114</locationY>
        <connector>
            <targetReference>CaptialExpenditures</targetReference>
        </connector>
        <inputReference>BatchLaLinks</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Measures</name>
        <label>Create New Measures</label>
        <locationX>176</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Properties</targetReference>
        </connector>
        <inputReference>BatchMeasureSpends</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Properties</name>
        <label>Create Properties</label>
        <locationX>176</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>LaLinks</targetReference>
        </connector>
        <inputReference>BatchProperties</inputReference>
    </recordCreates>
    <recordCreates>
        <name>new_batch</name>
        <label>new batch</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>AssignNewBatchId</targetReference>
        </connector>
        <inputReference>Old_Batch</inputReference>
    </recordCreates>
    <recordLookups>
        <name>CaptialExpenditures</name>
        <label>CaptialExpenditures</label>
        <locationX>176</locationX>
        <locationY>2222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Capital_Expenditures</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Batch__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BatchIdForCloning</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FundingBatchCapitalExpenditure__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>LaLinks</name>
        <label>LaLinks</label>
        <locationX>176</locationX>
        <locationY>1706</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_LA_Links</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Batch__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BatchIdForCloning</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FundingBatchAccountRelation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>MeasureSpends</name>
        <label>MeasureSpends</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Measure_Spends</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Batch__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BatchIdForCloning</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FundingBatchMeasureSpend__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Old_Batch</name>
        <label>Old Batch</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_batch_Id_to_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BatchIdForCloning</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FundingBatch__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Properties</name>
        <label>Properties</label>
        <locationX>176</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Properties</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Batch__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BatchIdForCloning</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FundingBatchProperty__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Clone_Conformation</name>
        <label>Clone Conformation</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>MeasureSpends</targetReference>
        </connector>
        <fields>
            <name>Display</name>
            <fieldText>&lt;p&gt;{!ScreenText}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Old_Batch</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BatchCapitalExpenditures</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingBatchCapitalExpenditure__c</objectType>
    </variables>
    <variables>
        <name>BatchIdForCloning</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BatchLaLinks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingBatchAccountRelation__c</objectType>
    </variables>
    <variables>
        <name>BatchMeasureSpends</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingBatchMeasureSpend__c</objectType>
    </variables>
    <variables>
        <name>BatchProperties</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingBatchProperty__c</objectType>
    </variables>
    <variables>
        <name>EachCapitalExpenditure</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingBatchCapitalExpenditure__c</objectType>
    </variables>
    <variables>
        <name>EachLaLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingBatchAccountRelation__c</objectType>
    </variables>
    <variables>
        <name>EachMeasureSpend</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingBatchMeasureSpend__c</objectType>
    </variables>
    <variables>
        <name>EachProperty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingBatchProperty__c</objectType>
    </variables>
    <variables>
        <name>NewBatchId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ScreenText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
