force-app/main/default/flows/ABS_VAT_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Batch_Values</name>
        <label>Assign Batch Values</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Batch.Paid_non_recoverable_VAT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Did_you_pay_non_recoverable_VAT_on_any_of_the_goods_and_services_included_in_the</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Batch.VAT_Inclusive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_the_costs_you_have_provided_inclusive_of_VAT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Batch.Outline_non_recoverable_VAT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Outline_non_recoverable_VAT_Long</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Batch</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Natural_next</name>
        <label>Assign Natural next</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>varNextStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Summary</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Spans_FY</name>
        <label>Assign Spans FY</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>varNextStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Spans FY</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Spans_FY_stage</name>
        <label>Assign Spans FY stage</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varNextStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Spans FY</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>next_stage_is_null</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Batch_Has_FY2</name>
        <label>Batch Has FY2</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>next_stage_is_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_has_FY2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Batch.FY2_Baseline__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Spans_FY_stage</targetReference>
            </connector>
            <label>yes has FY2</label>
        </rules>
    </decisions>
    <decisions>
        <name>next_stage_is_null</name>
        <label>next stage is null</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNextStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varOriginalStage</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Natural_next</targetReference>
            </connector>
            <label>is null</label>
        </rules>
        <rules>
            <name>is_null_spans_FY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNextStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varOriginalStage</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varStages</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Spans FY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Spans_FY</targetReference>
            </connector>
            <label>is null spans FY</label>
        </rules>
    </decisions>
    <description>Portal Screen flow for Batch VAT declarations</description>
    <dynamicChoiceSets>
        <name>Paid_non_recoverable_VAT</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Paid_non_recoverable_VAT__c</picklistField>
        <picklistObject>FundingBatch__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VAT_Inclusive</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>VAT_Inclusive__c</picklistField>
        <picklistObject>FundingBatch__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>BatchDisplayId</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!Batch.LA_Identifier__c}), {!Batch.Name},{!Batch.LA_Identifier__c} )</expression>
    </formulas>
    <interviewLabel>ABS - VAT Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>ABS FORM - VAT Screen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>refetchBatch</name>
        <label>refetchBatch</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VATScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Batch.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FundingBatch__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Batch</name>
        <label>Update Batch</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Batch_Has_FY2</targetReference>
        </connector>
        <inputReference>Batch</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>VATScreen</name>
        <label>VATScreen</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Batch_Values</targetReference>
        </connector>
        <fields>
            <name>StageNav</name>
            <extensionName>c:dmFlowStageNav</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>VAT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>varStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayType</name>
                <value>
                    <stringValue>path</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>interactable</name>
                <value>
                    <stringValue>previousOnly</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>VATScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>VATScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Title</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 36px;&quot;&gt;VAT Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>VATScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>batchId</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;{!Batch.LA_Identifier__c}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;Version {!Batch.Version_Number__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>VATScreen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>VATScreen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Total_Home_Costs</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>refetchBatch.Total_of_Spend_Per_House__c</elementReference>
                    </defaultValue>
                    <fieldText>Total Home Costs</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>VATScreen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Total_Measure_Costs</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>refetchBatch.Total_Measure_Spend__c</elementReference>
                    </defaultValue>
                    <fieldText>Total Measure Costs</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>VATScreen_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Total_Capital_Expenditure_Costs</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>refetchBatch.Total_Capital_Expenditure__c</elementReference>
                    </defaultValue>
                    <fieldText>Total Capital Expenditure Costs</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>LB0</name>
            <extensionName>c:lineBreak</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>guidance</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: transparent;&quot;&gt;We do not expect that VAT should be included in any of the costs provided by Grant Recipients in this batch form.&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: transparent;&quot;&gt;&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: transparent;&quot;&gt;This is because Local Authorities are not required to pay VAT on central government funding.&amp;nbsp;VAT is applicable on goods purchased with the grant funding.&amp;nbsp;As Local Authorities are able to recover VAT from HMRC, DESNZ does not expect VAT to be included in their batch costs as to avoid grant payments being used for VAT, which is later recovered by Local Authorities.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: transparent;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: transparent;&quot;&gt;Please answer these questions in relation to all the cost information you have provided in the batch form.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>VATScreen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>VATScreen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Are_the_costs_you_have_provided_inclusive_of_VAT</name>
                    <choiceReferences>VAT_Inclusive</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Batch.VAT_Inclusive__c</elementReference>
                    </defaultValue>
                    <fieldText>Are the costs you have provided inclusive of VAT?  (* Required)</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>VATScreen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Did_you_pay_non_recoverable_VAT_on_any_of_the_goods_and_services_included_in_the</name>
                    <choiceReferences>Paid_non_recoverable_VAT</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Batch.Paid_non_recoverable_VAT__c</elementReference>
                    </defaultValue>
                    <fieldText>Did you pay non-recoverable VAT on any of the goods and services included in the batch? (* Required)</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Outline_non_recoverable_VAT_Long</name>
                    <defaultValue>
                        <stringValue>{!Batch.Outline_non_recoverable_VAT__c}</stringValue>
                    </defaultValue>
                    <fieldText>Outline non-recoverable VAT  (* Required)</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Did_you_pay_non_recoverable_VAT_on_any_of_the_goods_and_services_included_in_the</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>refetchBatch</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Batch</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>FundingBatch__c</objectType>
    </variables>
    <variables>
        <name>varNextStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>varOriginalStage</elementReference>
        </value>
    </variables>
    <variables>
        <name>varOriginalStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>VAT</stringValue>
        </value>
    </variables>
    <variables>
        <name>varStages</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
