force-app/main/default/flows/DESNZ_Missing_Monthly_Report_Submissions_Email_Reminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_IDs</name>
        <label>Assign IDs</label>
        <locationX>270</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>clcIDsForFundingAward</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopIDSToStore.Funding_Award__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopIDSToStore</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_3</name>
        <label>Assign New Value of Report_Missing_Email_sent_Date</label>
        <locationX>138</locationX>
        <locationY>1824</locationY>
        <assignmentItems>
            <assignToReference>Loop_Contacts_with_valid_emails.Report_Missing_Email_sent_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clcUpdatedfundingAwardParticipants</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Contacts_with_valid_emails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contacts_with_valid_emails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Account_IDs</name>
        <label>Assignment Account IDs</label>
        <locationX>138</locationX>
        <locationY>1308</locationY>
        <assignmentItems>
            <assignToReference>clcAccountIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Funding_Awards_With_Missing_Reports.AwardeeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clcMissingFundingAwardIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Funding_Awards_With_Missing_Reports.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Funding_Awards_With_Missing_Reports</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Contact_Is_Valid</name>
        <label>Check Contact Is Valid</label>
        <locationX>270</locationX>
        <locationY>1716</locationY>
        <defaultConnector>
            <targetReference>Loop_Contacts_with_valid_emails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Contacts_with_valid_emails.Related_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_3</targetReference>
            </connector>
            <label>Is Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_the_report_has_passed_the_submission_date_and_not_been_submitted</name>
        <label>Has the report has passed the submission date and not been submitted</label>
        <locationX>182</locationX>
        <locationY>1092</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>clcFundingAwards_WithMissingReports</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Funding_Awards_With_Missing_Reports</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_the_submission_date_passed</name>
        <label>Has the submission date passed?</label>
        <locationX>380</locationX>
        <locationY>576</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Check</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>nextReportingDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>today</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopIDSToStore</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Missing Monthly Report Submissions Email Reminder</description>
    <environments>Default</environments>
    <formulas>
        <name>LastDateOfTheMonth</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!rcdFundingAwardUpdate.Next_Reporting_Date__c}), MONTH({!rcdFundingAwardUpdate.Next_Reporting_Date__c}) + 1,1) - 1</expression>
    </formulas>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>tomorrow</name>
        <dataType>Date</dataType>
        <expression>TODAY()+1</expression>
    </formulas>
    <interviewLabel>DESNZ - DESNZ - Missing Monthly Report Submissions Email Reminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DESNZ - Missing Monthly Report Submissions Email Reminder</label>
    <loops>
        <name>Loop_Contacts_with_valid_emails</name>
        <label>Loop Contacts with valid emails</label>
        <locationX>50</locationX>
        <locationY>1608</locationY>
        <collectionReference>Get_Grant_Recipients</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Contact_Is_Valid</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Funding_Award_Participants</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Funding_Awards_With_Missing_Reports</name>
        <label>Loop Funding Awards With Missing Reports</label>
        <locationX>50</locationX>
        <locationY>1200</locationY>
        <collectionReference>clcFundingAwards_WithMissingReports</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_Account_IDs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Grant_Recipients</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopIDSToStore</name>
        <label>LoopFundingAwardsAndStoreIDs</label>
        <locationX>182</locationX>
        <locationY>684</locationY>
        <collectionReference>clcFundingAwardUpdate_withCurrentMonthlyReport</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_IDs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Funding_Awards_With_Missing_Reports</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Funding_Award_Update_With_Current_Reporting_Month</name>
        <label>Funding Award Update With Current Reporting Month</label>
        <locationX>380</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Next_Reporting_Date</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>Month__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MonthOfCurrentUpdate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Next_Reporting_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>today</elementReference>
            </value>
        </filters>
        <object>FundingAwardUpdate__c</object>
        <outputReference>clcFundingAwardUpdate_withCurrentMonthlyReport</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Funding_Award__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Funding_Awards_With_Missing_Reports</name>
        <label>Funding Awards With Missing Reports</label>
        <locationX>182</locationX>
        <locationY>984</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_the_report_has_passed_the_submission_date_and_not_been_submitted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>clcIDsForFundingAward</elementReference>
            </value>
        </filters>
        <object>FundingAward</object>
        <outputReference>clcFundingAwards_WithMissingReports</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AwardeeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Funding_Award_Current_Reporting_Month</name>
        <label>Get Funding Award Current Reporting Month</label>
        <locationX>380</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Funding_Award_Update_With_Current_Reporting_Month</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Month_of_Latest_Update__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>FundingAward</object>
        <outputAssignments>
            <assignToReference>MonthOfCurrentUpdate</assignToReference>
            <field>Month_of_Latest_Update__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Grant_Recipients</name>
        <label>Get Grant Recipients</label>
        <locationX>50</locationX>
        <locationY>1500</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Contacts_with_valid_emails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FundingAwardId</field>
            <operator>In</operator>
            <value>
                <elementReference>clcMissingFundingAwardIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Participant_Role_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Grant Recipient Lead</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FundingAwardParticipant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Next_Reporting_Date</name>
        <label>Get Next Reporting Date</label>
        <locationX>380</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_the_submission_date_passed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Next_Reporting_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>FundingAwardUpdate__c</object>
        <outputAssignments>
            <assignToReference>nextReportingDate</assignToReference>
            <field>Next_Reporting_Date__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Funding_Award_Participants</name>
        <label>Update Funding Award Participants</label>
        <locationX>50</locationX>
        <locationY>2100</locationY>
        <inputReference>clcUpdatedfundingAwardParticipants</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Funding_Award_Current_Reporting_Month</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-12-20</startDate>
            <startTime>13:02:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>bodyOfEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!Loop_Contacts_with_valid_emails.Related_Contact__r.FirstName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We have not received your monthly report for the Warm Homes grant. To comply with the terms of your grant, you should submit your report as soon as possible.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you are experiencing problems, please contact your Delivery Partner&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Missed monthly report submissions</text>
    </textTemplates>
    <variables>
        <name>clcAccountIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>clcContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>clcContactsValidEmailsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>clcFundingAwards_WithMissingReports</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingAward</objectType>
    </variables>
    <variables>
        <name>clcFundingAwardUpdate_withCurrentMonthlyReport</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingAwardUpdate__c</objectType>
    </variables>
    <variables>
        <name>clcIDsForFundingAward</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>clcMissingFundingAwardIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>clcUpdatedfundingAwardParticipants</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingAwardParticipant</objectType>
    </variables>
    <variables>
        <name>clcValidContactEmails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>currentEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listOfContactEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MonthOfCurrentUpdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nextReportingDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rcdEmailList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rcdFundingAwardUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingAwardUpdate__c</objectType>
    </variables>
    <variables>
        <name>rcdFundingAwardUpdates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingAwardUpdate__c</objectType>
    </variables>
    <variables>
        <name>varListOfValidEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
