force-app/main/default/flows/DESNZ_Time_Period_Name_Builder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Name_Formula</name>
        <label>Assign Name Formula</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>flaTimePeriodName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Time_Period_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sequence_Number_1</name>
        <label>Assign Sequence Number 1</label>
        <locationX>396</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>$Record.Time_Period_Sequence_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Name_Formula</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Count_of_Time_Periods</name>
        <label>Get Count of Time Periods</label>
        <locationX>308</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varSequenceCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Related_Time_Periods</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Related_Time_Period_Count_is_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Financial_Year</name>
        <label>Check if Financial Year</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_Related_Time_Periods</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Financial year</defaultConnectorLabel>
        <rules>
            <name>Is_Financial_Year</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Financial Year</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Name_Formula</targetReference>
            </connector>
            <label>Is Financial Year</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Related_Time_Period_Count_is_1</name>
        <label>Check if Related Time Period Count is 1</label>
        <locationX>308</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Assign_Sequence_Number_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Related Time Period</defaultConnectorLabel>
        <rules>
            <name>Is_Phase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phase</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Name_Formula</targetReference>
            </connector>
            <label>Is Phase</label>
        </rules>
    </decisions>
    <description>Builds correct name for Time period records</description>
    <environments>Default</environments>
    <formulas>
        <name>flaTimePeriodName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Funding_Award__r.Funding_Award_Acronym__c}+&quot;-&quot;+{!$Record.Record_Type_Name__c}+IF({!$Record.Record_Type_Name__c} = &quot;Award Duration&quot;, &quot;&quot;, &quot;-&quot;+TEXT({!$Record.Time_Period_Sequence_Number__c}))</expression>
    </formulas>
    <interviewLabel>DESNZ - Time Period Name Builder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DESNZ - Time Period Name Builder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Time_Periods</name>
        <label>Get Related Time Periods</label>
        <locationX>308</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Count_of_Time_Periods</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Funding_Award__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Funding_Award__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Phase</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Time_Period__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Time_Period_record</name>
        <label>Update Time Period record</label>
        <locationX>176</locationX>
        <locationY>1139</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Financial_Year</targetReference>
        </connector>
        <object>Time_Period__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varSequenceCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
