force-app/main/default/flows/DESNZ_Open_Monthly_Update_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_Funding_Award_Participant</name>
        <label>Send Email to Funding Award Participant</label>
        <locationX>176</locationX>
        <locationY>1430</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Confirmation_of_Case</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Delivery_Partner_PSO_User_Details.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>txtSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>txtEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Case_Details</name>
        <label>Assign Case Details</label>
        <locationX>176</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>rcdNewCase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdNewCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdNewCase.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdNewCase.Funding_Award__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Funding_Award.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdNewCase.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Funding_Award.AwardeeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdNewCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newCaseSubject_var</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdNewCase.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtNewCaseDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdNewCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Funding_Award_Participant_PSO.ParticipantId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Open_Monthly_Update_case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_Id</name>
        <label>Assign Record Id</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Run_DESNZ_User_Award_Retrieve.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Funding_Award</targetReference>
        </connector>
    </assignments>
    <description>Provides the ability for a Grant Recipient to request a monthly report update to be reopened, this creates a case record and sends an email notification to the PSO delivery partner.</description>
    <environments>Default</environments>
    <formulas>
        <name>f_rd</name>
        <dataType>String</dataType>
        <expression>LOWER({!Description})</expression>
    </formulas>
    <formulas>
        <name>fla_DescriptionHTMLCheck</name>
        <dataType>Boolean</dataType>
        <expression>IF(
  AND(
    FIND(&quot;&lt;&quot;, {!f_rd}) &gt; 0,
    FIND(&quot;&gt;&quot;, {!f_rd}, FIND(&quot;&lt;&quot;, {!f_rd})) &gt; FIND(&quot;&lt;&quot;, {!f_rd}),
    OR(
      CONTAINS({!f_rd},&quot;&lt;address&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;article&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;aside&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;footer&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;header&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;h1&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;h2&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;h3&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;h4&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;h5&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;h6&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;main&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;nav&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;section&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;blockquote&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;dd&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;div&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;dl&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;dt&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;figcaption&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;figure&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;hr&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;li&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;ol&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;p&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;pre&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;ul&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;a&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;abbr&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;b&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;bdi&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;bdo&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;br&quot;),
      CONTAINS({!f_rd},&quot;&lt;cite&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;code&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;data&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;dfn&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;em&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;i&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;kbd&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;mark&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;q&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;rb&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;rp&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;rt&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;rtc&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;ruby&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;s&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;samp&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;small&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;span&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;strong&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;sub&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;sup&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;time&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;u&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;var&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;wbr&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;area &quot;),
      CONTAINS({!f_rd},&quot;&lt;audio&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;img &quot;),
      CONTAINS({!f_rd},&quot;&lt;map&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;track &quot;),
      CONTAINS({!f_rd},&quot;&lt;video&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;embed&quot;),
      CONTAINS({!f_rd},&quot;&lt;iframe&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;object&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;param&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;picture&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;source &quot;),
      CONTAINS({!f_rd},&quot;&lt;svg&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;math&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;canvas&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;noscript&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;script&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;del&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;ins&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;caption&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;col&quot;),
      CONTAINS({!f_rd},&quot;&lt;colgroup&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;table&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;tbody&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;td&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;tfoot&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;th&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;thead&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;tr&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;button&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;datalist&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;fieldset&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;form&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;input &quot;),
      CONTAINS({!f_rd},&quot;&lt;label&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;legend&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;meter&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;optgroup&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;option&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;output&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;progress&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;select&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;textarea&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;details&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;dialog&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;menu&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;summary&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;slot&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;template&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;base &quot;)
    )
  ),TRUE,FALSE
)</expression>
    </formulas>
    <interviewLabel>DESNZ - Open Monthly Update Request {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>DESNZ - Open Monthly Update Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Open_Monthly_Update_case</name>
        <label>Create Open Monthly Update case</label>
        <locationX>176</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Get_New_Case_Number</targetReference>
        </connector>
        <inputReference>rcdNewCase</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Funding_Award_Update</name>
        <label>Funding Award Update</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Funding_Award_Participant_PSO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fundingProjectUpdateName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FundingAwardUpdate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Delivery_Partner_PSO_User_Details</name>
        <label>Get Delivery Partner PSO User Details</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Funding_Award_Participant_PSO.ParticipantId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Funding_Award</name>
        <label>Get Funding Award</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Grant_Recipient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FundingAward</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Funding_Award_Participant_PSO</name>
        <label>Get Funding Award Participant PSO</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Delivery_Partner_PSO_User_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FundingAwardId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Funding_Award.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Participant_Role_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Delivery Partner</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FundingAwardParticipant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Grant_Recipient</name>
        <label>Get Grant Recipient</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Funding_Award_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Case_Number</name>
        <label>Get New Case Number</label>
        <locationX>176</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email_to_Funding_Award_Participant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rcdNewCase.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Open_Monthly_Update_Page</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open_Monthly_Update</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confirmation_of_Case</name>
        <label>Confirmation of Case</label>
        <locationX>176</locationX>
        <locationY>1538</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Confirmation_message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 24px;&quot;&gt;Open Monthly Update Case Ref: {!Get_New_Case_Number.CaseNumber}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Your request to reopen the Monthly Update {!fundingProjectUpdateName} has been created successfully and has been added to the funding award: {!Get_Funding_Award.Name}.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Finish_nav</name>
            <extensionName>c:dmFlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>finishLabel</name>
                <value>
                    <stringValue>Finish</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>finishUrl</name>
                <value>
                    <stringValue>monthly-updates</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Open_Monthly_Update_Page</name>
        <label>Open Monthly Update Page</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Case_Details</targetReference>
        </connector>
        <fields>
            <name>Open_Monthly_Update_Case_Header</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;﻿&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 28px;&quot;&gt;Open Monthly Report Update: {!fundingProjectUpdateName}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 28px;&quot;&gt;{!Get_Funding_Award.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ChatChildContextUpdater</name>
            <extensionName>c:dmChatContextUpdater</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>contextChild</name>
                <value>
                    <elementReference>Funding_Award_Update.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contextChildName</name>
                <value>
                    <elementReference>Funding_Award_Update.Name</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Award_Details</name>
            <fieldText>Funding Award Details (Read Only)</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Award_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Monthly_Update_Reference</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>fundingProjectUpdateName</elementReference>
                    </defaultValue>
                    <fieldText>Monthly Update Reference</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Subject</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>newCaseSubject_var</elementReference>
                    </defaultValue>
                    <fieldText>Subject</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Award_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Funding_Award</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Funding_Award.Name</elementReference>
                    </defaultValue>
                    <fieldText>Funding Award</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Grant_Recipient</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Funding_Award.Awardee.Name</elementReference>
                    </defaultValue>
                    <fieldText>Grant Recipient</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Description_Information</name>
            <fieldText>Description Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Description_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Description_Text</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Please provide brief details for the reason you would like to make the update. This can be done by editing the description provided.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Fields marked with an asterisk (*) are required. Please ensure all required fields are completed before submitting the form.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Description</name>
                    <defaultValue>
                        <stringValue>This has been requested because: [insert reason given].</stringValue>
                    </defaultValue>
                    <fieldText>Description (*Required)</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Field does not support HTML tags - please remove these and try again.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!fla_DescriptionHTMLCheck}=FALSE</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Run_DESNZ_User_Award_Retrieve</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Run_DESNZ_User_Award_Retrieve</name>
        <label>Run DESNZ - User Award Retrieve</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Assign_Record_Id</targetReference>
        </connector>
        <flowName>DESNZ_User_Award_Retrieve</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>txtEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 16px;&quot;&gt;{!Get_Grant_Recipient.Name} from {!Get_Funding_Award.Awardee.Name} would like to amend the Monthly Update: &lt;/span&gt;&lt;strong style=&quot;font-family: sans-serif; font-size: 16px;&quot;&gt;{!fundingProjectUpdateName}&lt;/strong&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 16px;&quot;&gt; for the funding award {!Get_Funding_Award.Name}.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 16px;&quot;&gt;{!Description}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 16px;&quot;&gt;Please allow edit access as soon as possible, so that their amendments can be completed by the deadline (within the first 10 working days of the month).&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>txtNewCaseDescription</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Get_Grant_Recipient.Name} from {!Get_Funding_Award.Awardee.Name} would like to amend the Monthly Update: {!fundingProjectUpdateName} for the funding award {!Get_Funding_Award.Name}.
{!Description}
Please allow edit access as soon as possible, so that their amendments can be completed by the deadline (within the first 10 working days of the month).</text>
    </textTemplates>
    <textTemplates>
        <name>txtSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Subject: Urgent Action Required: {!Get_Funding_Award.Name} Warm Homes Grant - request to amend report: {!fundingProjectUpdateName}</text>
    </textTemplates>
    <variables>
        <name>fundingProjectUpdateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newCaseSubject_var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Request to amend report: {!fundingProjectUpdateName}</stringValue>
        </value>
    </variables>
    <variables>
        <name>rcdNewCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
