force-app/main/default/flows/DESNZ_Award_Update_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_CF</name>
        <label>Assign CF</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varRecordTypeCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CF</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_Update_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_HTML_Close</name>
        <label>Assign HTML Close</label>
        <locationX>490</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>varOpenUpdateTable</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;tbody&gt;&lt;/table&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_Closed_Updates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_HTML_Open</name>
        <label>Assign HTML Open</label>
        <locationX>490</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>varOpenUpdateTable</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&lt;table&gt;&lt;thead&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpenUpdateTable</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;th&gt;Update Reference&lt;/th&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpenUpdateTable</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;th&gt;Reporting Month&lt;/th&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpenUpdateTable</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;th&gt;Last Modified Date&lt;/th&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpenUpdateTable</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;th&gt;Status&lt;/th&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpenUpdateTable</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;th&gt;Action&lt;/th&gt;&lt;/thead&gt;&lt;tbody&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Open_Update_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_LG</name>
        <label>Assign LG</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varRecordTypeCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LG</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_Update_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_No_Open_Records_Text</name>
        <label>Assign No Open Records Text</label>
        <locationX>138</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>varOpenUpdateTable</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Open Updates</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_Closed_Updates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_Id</name>
        <label>Assign Record Id</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Run_DESNZ_User_Award_Retrieve.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Award_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SP</name>
        <label>Assign SP</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varRecordTypeCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_Update_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Table_Value</name>
        <label>Assign Table Value</label>
        <locationX>578</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>varOpenUpdateTable</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;tr&gt;&lt;td&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpenUpdateTable</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;strong&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpenUpdateTable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Open_Update_Records.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpenUpdateTable</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/strong&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpenUpdateTable</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/td&gt;&lt;td&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpenUpdateTable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Open_Update_Records.Month__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpenUpdateTable</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/td&gt;&lt;td&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpenUpdateTable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Open_Update_Records.Date_of_Update__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpenUpdateTable</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/td&gt;&lt;td&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpenUpdateTable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Open_Update_Records.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpenUpdateTable</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/td&gt;&lt;td&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpenUpdateTable</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;a class=&quot;slds-button&quot; href=&quot;/warmhomesportal/award-update-amendment-form?Id=</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpenUpdateTable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Open_Update_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpenUpdateTable</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot; target=&quot;_self&quot;&gt;edit update - </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpenUpdateTable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Open_Update_Records.Date_of_Update__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpenUpdateTable</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Open_Update_Records</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Closed_Updates</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Closed Updates</label>
        <locationX>314</locationX>
        <locationY>1682</locationY>
        <assignNextValueToReference>currentItem_Filter_Closed_Updates</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Related_Update_Records</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Closed_Updates.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Closed</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Closed_Updates.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Approved</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Award_Updates_Screen</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Open_Update_Records</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Open Update Records</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <assignNextValueToReference>currentItem_Filter_Open_Update_Records</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Related_Update_Records</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Open_Update_Records.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Open</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Open_Update_Records.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Resubmission Requested</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Check_if_Open_Records_Found</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Actuals_Screen_Choice</name>
        <label>Actuals Screen Choice</label>
        <locationX>314</locationX>
        <locationY>1898</locationY>
        <defaultConnector>
            <targetReference>Get_LG_Actual</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is LG Actuals</defaultConnectorLabel>
        <rules>
            <name>Is_CF_Actuals</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordTypeCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CF_Actuals</targetReference>
            </connector>
            <label>Is CF Actuals</label>
        </rules>
        <rules>
            <name>Is_SP_Actuals</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordTypeCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SP_Actual</targetReference>
            </connector>
            <label>Is SP Actuals</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assign_Award_Record_Type_Code</name>
        <label>Assign Award Record Type Code</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assign_LG</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is LG</defaultConnectorLabel>
        <rules>
            <name>Is_CF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Award_Record.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SHF Challenge Fund</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CF</targetReference>
            </connector>
            <label>Is CF</label>
        </rules>
        <rules>
            <name>Is_SP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Award_Record.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SHF Strategic Partner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SP</targetReference>
            </connector>
            <label>Is SP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Open_Records_Found</name>
        <label>Check if Open Records Found</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Assign_HTML_Open</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Open Records Found</defaultConnectorLabel>
        <rules>
            <name>Is_No_Open_Records_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_Open_Update_Records</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_No_Open_Records_Text</targetReference>
            </connector>
            <label>Is No Open Records Found</label>
        </rules>
    </decisions>
    <description>Enables the grant recipient to record details of the regular monthly update against a funding award on the GR portal</description>
    <environments>Default</environments>
    <formulas>
        <name>flaDateincYear</name>
        <dataType>String</dataType>
        <expression>{!dtaUpdateList.firstSelectedRow.Month__c} + &quot; &quot; + TEXT(YEAR({!dtaUpdateList.firstSelectedRow.Reporting_Period_Start__c}))</expression>
    </formulas>
    <formulas>
        <name>fx_editUpdateURL</name>
        <dataType>String</dataType>
        <expression>&apos;/warmhomesportal/award-update-amendment-form?Id=&apos;&amp;{!openUpdatesList.firstSelectedRow.Id}</expression>
    </formulas>
    <formulas>
        <name>fx_ReopenReportUpdate</name>
        <dataType>String</dataType>
        <expression>&apos;/warmhomesportal/open-report-update?Id=&apos;&amp;{!Get_Award_Record.Id}&amp;&apos;&amp;updateReference=&apos;&amp;{!dtaUpdateList.firstSelectedRow.Name}</expression>
    </formulas>
    <interviewLabel>DESNZ - Award Update Details {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>DESNZ - Award Update Details</label>
    <loops>
        <name>Loop_Open_Update_Records</name>
        <label>Loop Open Update Records</label>
        <locationX>490</locationX>
        <locationY>1190</locationY>
        <collectionReference>Filter_Open_Update_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Table_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_HTML_Close</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Award_Record</name>
        <label>Get Award Record</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Award_Record_Type_Code</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FundingAward</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CF_Actuals</name>
        <label>Get CF Actuals</label>
        <locationX>50</locationX>
        <locationY>2006</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Award_Actuals_List_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Funding_Award_Update__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dtaUpdateList.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FundingAwardActual__c</object>
        <sortField>Parent_Baseline_Version__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CF_Forecast</name>
        <label>Get CF Forecast</label>
        <locationX>50</locationX>
        <locationY>2222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CF_Award_Updates_Detail_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dtaActualsList1.firstSelectedRow.Related_Forecast__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FundingAwardForecast__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_LG_Actual</name>
        <label>Get LG Actual</label>
        <locationX>578</locationX>
        <locationY>2006</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_LG_Forecast</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Funding_Award_Update__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dtaUpdateList.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FundingAwardActual__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_LG_Forecast</name>
        <label>Get LG Forecast</label>
        <locationX>578</locationX>
        <locationY>2114</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LG_Award_Updates_Detail_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_LG_Actual.Related_Forecast__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FundingAwardForecast__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Update_Records</name>
        <label>Get Related Update Records</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Open_Update_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Funding_Award__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Award_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FundingAwardUpdate__c</object>
        <sortField>Date_of_Update__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SP_Actual</name>
        <label>Get SP Actual</label>
        <locationX>314</locationX>
        <locationY>2006</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SP_Forecast</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Funding_Award_Update__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dtaUpdateList.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FundingAwardActual__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SP_Forecast</name>
        <label>Get SP Forecast</label>
        <locationX>314</locationX>
        <locationY>2114</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SP_Award_Updates_Detail_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_SP_Actual.Related_Forecast__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FundingAwardForecast__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Award_Actuals_List_Screen</name>
        <label>Award_Actuals_List_Screen</label>
        <locationX>50</locationX>
        <locationY>2114</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_CF_Forecast</targetReference>
        </connector>
        <fields>
            <name>Award_Actuals_List_top_Line</name>
            <fieldText>&lt;p&gt;{!txtHR}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Award_Actuals_List_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;{!flaDateincYear}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dtaActualsList1</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>FundingAwardActual__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Choose Phase</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_CF_Actuals</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Parent_Baseline_Version__c&quot;,&quot;guid&quot;:&quot;column-ae90&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Parent Baseline Version&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Award_Actuals_List_Nav_CF</name>
            <extensionName>c:dmFlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <stringValue>Get Forecast and Actuals Details for chosen Phase</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Award_Updates_Screen</name>
        <label>Award_Updates Screen</label>
        <locationX>314</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Actuals_Screen_Choice</targetReference>
        </connector>
        <fields>
            <name>top_Line</name>
            <fieldText>&lt;p&gt;{!txtHR}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Award_Updates_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Award_Updates_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Update_Details_Open</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;Open Updates&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>openUpdatesList</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>FundingAwardUpdate__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Open Updates</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Filter_Open_Update_Records</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-e608&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Update Reference&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Funding Project Update Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Month__c&quot;,&quot;guid&quot;:&quot;column-f118&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Month&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;LastModifiedDate&quot;,&quot;guid&quot;:&quot;column-6065&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Last Modified Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;Status__c&quot;,&quot;guid&quot;:&quot;column-5893&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>editRecordButton</name>
                    <extensionName>c:dmFlowNavigation</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>isButton</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>nextLabel</name>
                        <value>
                            <stringValue>Edit Update</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttonAlignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>nextUrl</name>
                        <value>
                            <elementReference>fx_editUpdateURL</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>openUpdatesList.firstSelectedRow.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Display_Create_Report_Nav</name>
            <extensionName>c:dmFlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonAlignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <stringValue>Create New Monthly Update</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextUrl</name>
                <value>
                    <stringValue>award-update-form?Id={!Get_Award_Record.Id}</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>middle_Line</name>
            <fieldText>&lt;p&gt;{!txtHR}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Closed_Updates</name>
            <fieldText>Closed Updates</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Closed_Updates_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dtaUpdateList</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>FundingAwardUpdate__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Update History</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Filter_Closed_Updates</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-c8f1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Update Reference&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Funding Project Update Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Baseline_Version__c&quot;,&quot;guid&quot;:&quot;column-07c8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Baseline Version&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Reporting_Period_Start__c&quot;,&quot;guid&quot;:&quot;column-7a32&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Reporting Period Start&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Reporting_Period_End__c&quot;,&quot;guid&quot;:&quot;column-707d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Reporting Period End&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Status__c&quot;,&quot;guid&quot;:&quot;column-8c67&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;Update Status&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Update_Details_Display_Placeholder</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;No Update Record Selected&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>dtaUpdateList.firstSelectedRow.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ChatContextUpdater</name>
            <extensionName>c:dmChatContextUpdater</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>contextChild</name>
                <value>
                    <elementReference>dtaUpdateList.firstSelectedRow.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contextChildName</name>
                <value>
                    <elementReference>dtaUpdateList.firstSelectedRow.Name</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>dtaUpdateList.firstSelectedRow.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Update_Details</name>
            <fieldText>Update Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Update_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Funding_Project_Update_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>dtaUpdateList.firstSelectedRow.Name</elementReference>
                    </defaultValue>
                    <fieldText>Update Reference</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Month</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>dtaUpdateList.firstSelectedRow.Month__c</elementReference>
                    </defaultValue>
                    <fieldText>Month</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Date_of_Update</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>dtaUpdateList.firstSelectedRow.Date_of_Update__c</elementReference>
                    </defaultValue>
                    <fieldText>Date of Update</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Start_of_Reporting_Period</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>dtaUpdateList.firstSelectedRow.Reporting_Period_Start__c</elementReference>
                    </defaultValue>
                    <fieldText>Start of Reporting Period</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>End_of_Reporting_Period</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>dtaUpdateList.firstSelectedRow.Reporting_Period_End__c</elementReference>
                    </defaultValue>
                    <fieldText>End of Reporting Period</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Update_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Baseline</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>dtaUpdateList.firstSelectedRow.Baseline_Version__c</elementReference>
                    </defaultValue>
                    <fieldText>Baseline</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Phase_RAG_Rating</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>dtaUpdateList.firstSelectedRow.Phase_RAG_rating__c</elementReference>
                    </defaultValue>
                    <fieldText>Phase RAG Rating</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varRecordTypeCode</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>CF</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Update_Details_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ReopenReportUpdate</name>
                    <extensionName>c:dmFlowNavigation</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>isButton</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>nextLabel</name>
                        <value>
                            <stringValue>Reopen Report Update</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>nextUrl</name>
                        <value>
                            <elementReference>fx_ReopenReportUpdate</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>dtaUpdateList.firstSelectedRow.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Homes</name>
            <fieldText>Homes</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Homes_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Homes_Approached</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>dtaUpdateList.firstSelectedRow.Homes_Approached__c</elementReference>
                    </defaultValue>
                    <fieldText>Homes Approached</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Reasons_not_receiving_installations</name>
                    <defaultValue>
                        <stringValue>{!dtaUpdateList.firstSelectedRow.Reason_for_homes_approached_not_receivin__c}</stringValue>
                    </defaultValue>
                    <fieldText>Reasons not receiving installations</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Homes_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Grant_A_A_Spend</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>dtaUpdateList.firstSelectedRow.Grant_A_A_Spend__c</elementReference>
                    </defaultValue>
                    <fieldText>Grant A&amp;A Spend</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varRecordTypeCode</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>CF</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Total_No_of_KPI_1</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>dtaUpdateList.firstSelectedRow.Total_No_of_KPI_1__c</elementReference>
                    </defaultValue>
                    <fieldText>Total No. of KPI 1</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varRecordTypeCode</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>CF</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Total_No_of_KPI_2</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>dtaUpdateList.firstSelectedRow.Total_No_of_KPI_2__c</elementReference>
                    </defaultValue>
                    <fieldText>Total No. of KPI 2</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varRecordTypeCode</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>CF</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>dtaUpdateList.firstSelectedRow.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Narrative</name>
            <fieldText>Narrative</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Narrative_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Plan_for_Next_Month</name>
                    <defaultValue>
                        <stringValue>{!dtaUpdateList.firstSelectedRow.Plan_for_Next_Month__c}</stringValue>
                    </defaultValue>
                    <fieldText>Plan for Next Month</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Progress_Update</name>
                    <defaultValue>
                        <stringValue>{!dtaUpdateList.firstSelectedRow.Progress_Update__c}</stringValue>
                    </defaultValue>
                    <fieldText>Progress Update</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Lessons_Learned_Other_Information</name>
                    <defaultValue>
                        <stringValue>{!dtaUpdateList.firstSelectedRow.Lessons_Learned_Other_Information__c}</stringValue>
                    </defaultValue>
                    <fieldText>Lessons Learned/Other Information</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Award_Updates_Nav</name>
                    <extensionName>c:dmFlowNavigation</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>buttonAlignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>nextLabel</name>
                        <value>
                            <stringValue>Display Forecast and Actuals for this Update Record</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>dtaUpdateList.firstSelectedRow.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CF_Award_Updates_Detail_Screen</name>
        <label>CF Award_Updates Detail Screen</label>
        <locationX>50</locationX>
        <locationY>2330</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_top_Line</name>
            <fieldText>&lt;p&gt;{!txtHR}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Return_Nav_CF_Top</name>
            <extensionName>c:dmFlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Actuals_Screen_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;{!Get_CF_Forecast.Parent_Baseline_Version__c} - {!flaDateincYear}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CF_Award_Updates_Detail_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CF_Award_Updates_Detail_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Forecast_Header</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;Forecast&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CF_Award_Updates_Detail_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Actuals_Header1</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;Actuals&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Funding</name>
            <fieldText>Funding</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Funding_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Forecast_Grant_Capital_Spend</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_CF_Forecast.Grant_Capital_Spend__c</elementReference>
                    </defaultValue>
                    <fieldText>Forecast Grant Capital Spend</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Forecast_Co_Funding_Capital_Spend</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_CF_Forecast.Co_funding_Capital_Spend__c</elementReference>
                    </defaultValue>
                    <fieldText>Forecast Co-Funding Capital Spend</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Forecast_Co_Funding_A_A_Spend</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_CF_Forecast.Co_funding_A_A_spend__c</elementReference>
                    </defaultValue>
                    <fieldText>Forecast Co-Funding A&amp;A Spend</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Total_Co_funding_toward_on_gas_LCH_offer</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_CF_Forecast.Total_Co_funding_toward_on_gas_LCH_offer__c</elementReference>
                    </defaultValue>
                    <fieldText>Total Co-funding toward on-gas LCH offer</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Funding_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Actual_Grant_Capital_Spend</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>dtaActualsList1.firstSelectedRow.Grant_Capital_Spend__c</elementReference>
                    </defaultValue>
                    <fieldText>Actual Grant Capital Spend</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Actual_Co_Funding_Capital_Spend</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>dtaActualsList1.firstSelectedRow.Co_funding_Capital_Spend__c</elementReference>
                    </defaultValue>
                    <fieldText>Actual Co-Funding Capital Spend</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Actual_Co_Funding_A_A_Spend</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>dtaActualsList1.firstSelectedRow.Co_funding_A_A_spend__c</elementReference>
                    </defaultValue>
                    <fieldText>Actual Co-Funding A&amp;A Spend</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Actual_Total_Co_funding_toward_on_gas_LCH_offer</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_CF_Forecast.Total_Co_funding_toward_on_gas_LCH_offer__c</elementReference>
                    </defaultValue>
                    <fieldText>Total Co-funding toward on-gas LCH offer</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Homes_CF</name>
            <fieldText>Homes</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Homes_CF_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Forecast_No_of_Homes_Identified_Suitable_for_Retrofit</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_CF_Forecast.No_of_Homes_Suitable_For_Retrofit__c</elementReference>
                    </defaultValue>
                    <fieldText>Forecast No. of Homes Identified Suitable for Retrofit</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Forecast_No_of_Homes_Ready_for_Installs_to_Start</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_CF_Forecast.No_of_Homes_Ready_for_Installs_to_Start__c</elementReference>
                    </defaultValue>
                    <fieldText>Forecast No. of Homes Ready for Installs to Start</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Forecast_No_of_Homes_Started_Installations</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_CF_Forecast.No_of_Homes_Started_Installations__c</elementReference>
                    </defaultValue>
                    <fieldText>Forecast No. of Homes Started Installations</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Forecast_No_of_Homes_All_Installations_Completed</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_CF_Forecast.No_of_Homes_All_Installations_Completed__c</elementReference>
                    </defaultValue>
                    <fieldText>Forecast No. of Homes All Installations Completed</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Forecast_Homes_Completed_KPI</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_CF_Forecast.No_of_Homes_Completed__c</elementReference>
                    </defaultValue>
                    <fieldText>Forecast No. of Homes Completed</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Homes_CF_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Actual_No_of_Homes_Identified_Suitable_for_Retrofit</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>dtaActualsList1.firstSelectedRow.No_of_Homes_Suitable_For_Retrofit__c</elementReference>
                    </defaultValue>
                    <fieldText>Actual No. of Homes Identified Suitable for Retrofit</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Actual_No_of_Homes_Ready_for_Installs_to_Start</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>dtaActualsList1.firstSelectedRow.No_of_Homes_Ready_for_Installs_to_Start__c</elementReference>
                    </defaultValue>
                    <fieldText>Actual No. of Homes Ready for Installs to Start</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Actual_No_of_Homes_Started_Installations</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>dtaActualsList1.firstSelectedRow.No_of_Homes_Started_Installations__c</elementReference>
                    </defaultValue>
                    <fieldText>Actual No. of Homes Started Installations</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Actual_No_of_Homes_All_Installations_Completed</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>dtaActualsList1.firstSelectedRow.No_of_Homes_All_Installations_Completed__c</elementReference>
                    </defaultValue>
                    <fieldText>Actual No. of Homes All Installations Completed</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Actual_No_of_Homes_Completed</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>dtaActualsList1.firstSelectedRow.No_of_Homes_Completed__c</elementReference>
                    </defaultValue>
                    <fieldText>Actual No. of Homes Completed</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>EPC</name>
            <fieldText>EPC</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>EPC_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Forecast_Homes_to_EPC_C</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_CF_Forecast.No_of_Homes_to_EPC_C__c</elementReference>
                    </defaultValue>
                    <fieldText>Forecast No. of Homes to EPC C</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>EPC_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Actual_Homes_to_EPC_C</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>dtaActualsList1.firstSelectedRow.No_of_Homes_to_EPC_C__c</elementReference>
                    </defaultValue>
                    <fieldText>Actual No. of Homes to EPC C</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Return_Nav_CF_Bottom</name>
            <extensionName>c:dmFlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>finishLabel</name>
                <value>
                    <stringValue>Return to Updates</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>LG_Award_Updates_Detail_Screen</name>
        <label>LG Award_Updates Detail Screen</label>
        <locationX>578</locationX>
        <locationY>2222</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>top_Line_LG</name>
            <fieldText>&lt;p&gt;{!txtHR}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Return_Nav_LG_Top</name>
            <extensionName>c:dmFlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>finishLabel</name>
                <value>
                    <stringValue>Return to Updates</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Actuals_Screen_Header_LG</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;{!Get_LG_Forecast.Parent_Baseline_Version__c} - {!flaDateincYear}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>LG_Award_Updates_Detail_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>LG_Award_Updates_Detail_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Forecast_Header_LG</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;Forecast&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>LG_Award_Updates_Detail_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Actuals_Header_LG</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;Actuals&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Funding_LG</name>
            <fieldText>Funding</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Funding_LG_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Forecast_Grant_Capital_Spend_LG</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_LG_Forecast.Grant_Capital_Spend__c</elementReference>
                    </defaultValue>
                    <fieldText>Forecast Grant Capital Spend</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Forecast_Grant_Admin_Spend_LG</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_LG_Forecast.Grant_Admin_Spend__c</elementReference>
                    </defaultValue>
                    <fieldText>Forecast Grant Admin Spend</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Forecast_Grant_Ancillary_Spend_LG</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_LG_Forecast.Grant_Ancillary_Spend__c</elementReference>
                    </defaultValue>
                    <fieldText>Forecast Grant Ancillary Spend</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Forecast_Grant_A_A_Spend_LG</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_LG_Forecast.Grant_A_A_Spend__c</elementReference>
                    </defaultValue>
                    <fieldText>Forecast Grant A&amp;A Spend</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Funding_LG_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Actual_Grant_Capital_Spend_LG</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_LG_Actual.Grant_Capital_Spend__c</elementReference>
                    </defaultValue>
                    <fieldText>Actual Grant Capital Spend</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Actual_Grant_Admin_Spend_LG</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_LG_Actual.Grant_Admin_Spend__c</elementReference>
                    </defaultValue>
                    <fieldText>Actual Grant Admin Spend</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Actual_Grant_Ancillary_Spend_LG</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_LG_Actual.Grant_Ancillary_Spend__c</elementReference>
                    </defaultValue>
                    <fieldText>Actual Grant Ancillary Spend</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Actual_Grant_A_A_Spend_LG</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_LG_Actual.Grant_A_A_Spend__c</elementReference>
                    </defaultValue>
                    <fieldText>Actual Grant A&amp;A Spend</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Homes_LG</name>
            <fieldText>Homes</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Homes_LG_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Forecast_No_of_Homes_Validated_LG</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_LG_Forecast.No_of_Homes_Validated__c</elementReference>
                    </defaultValue>
                    <fieldText>Forecast No. of Homes Validated</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Forecast_No_of_Homes_Assessed_LG</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_LG_Forecast.No_of_Homes_Assessed__c</elementReference>
                    </defaultValue>
                    <fieldText>Forecast No. of Homes Assessed</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Forecast_No_of_Homes_Started_Installations_LG</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_LG_Forecast.No_of_Homes_Started_Installations__c</elementReference>
                    </defaultValue>
                    <fieldText>Forecast No. of Homes Started Installations</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Forecast_No_of_Homes_Treated_at_least_One_Measure_LG</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_LG_Forecast.No_of_Homes_Treated_at_Least_1_Measure__c</elementReference>
                    </defaultValue>
                    <fieldText>Forecast No. of Homes Treated with at least One Measure</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Forecast_No_of_Homes_Completed_LG</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_LG_Forecast.No_of_Homes_Completed__c</elementReference>
                    </defaultValue>
                    <fieldText>Forecast No. of Homes Completed</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Homes_LG_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Actual_No_of_Homes_Validated_LG</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_LG_Actual.No_of_Homes_Validated__c</elementReference>
                    </defaultValue>
                    <fieldText>Actual No. of Homes Validated</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Actual_No_of_Homes_Assessed_LG</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_LG_Actual.No_of_Homes_Assessed__c</elementReference>
                    </defaultValue>
                    <fieldText>Actual No. of Homes Assessed</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Actual_No_of_Homes_Started_Installations_LG</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_LG_Actual.No_of_Homes_Started_Installations__c</elementReference>
                    </defaultValue>
                    <fieldText>Actual No. of Homes Started Installations</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Actual_No_of_Homes_Treated_at_least_One_Measure_LG</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_LG_Actual.No_of_Homes_Treated_at_Least_1_Measure__c</elementReference>
                    </defaultValue>
                    <fieldText>Actual No. of Homes Treated with at least One Measure</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Actual_No_of_Homes_Completed_LG</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_LG_Actual.No_of_Homes_Completed__c</elementReference>
                    </defaultValue>
                    <fieldText>Actual No. of Homes Completed</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>EPC_LG</name>
            <fieldText>EPC</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>EPC_LG_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Forecast_Homes_to_EPC_C_LG</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_LG_Forecast.No_of_Homes_to_EPC_C__c</elementReference>
                    </defaultValue>
                    <fieldText>Forecast Homes to EPC C</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>EPC_LG_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Actual_Homes_to_EPC_C_LG</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_LG_Actual.No_of_Homes_to_EPC_C__c</elementReference>
                    </defaultValue>
                    <fieldText>Actual Homes to EPC C</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Return_Nav_LG_Bottom</name>
            <extensionName>c:dmFlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>finishLabel</name>
                <value>
                    <stringValue>Return to updates</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SP_Award_Updates_Detail_Screen</name>
        <label>SP Award_Updates Detail Screen</label>
        <locationX>314</locationX>
        <locationY>2222</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_2_of_Copy_1_of_top_Line</name>
            <fieldText>&lt;p&gt;{!txtHR}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_2_of_Actuals_Screen_Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;{!Get_SP_Forecast.Parent_Baseline_Version__c} - {!flaDateincYear}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SP_Award_Updates_Detail_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SP_Award_Updates_Detail_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_2_of_Forecast_Header</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;Forecast&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SP_Award_Updates_Detail_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_2_of_Actuals_Header1</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;Actuals&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_2_of_Funding</name>
            <fieldText>Funding</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_2_of_Funding_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Forecast_Grant_Capital_Spend_SP</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_SP_Forecast.Grant_Capital_Spend__c</elementReference>
                    </defaultValue>
                    <fieldText>Forecast Grant Capital Spend</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Forecast_Grant_A_A_Spend_SP</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_SP_Forecast.Grant_A_A_Spend__c</elementReference>
                    </defaultValue>
                    <fieldText>Forecast Grant A&amp;A Spend</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Forecast_Co_funding_Capital_Spend_SP</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_SP_Forecast.Co_funding_Capital_Spend__c</elementReference>
                    </defaultValue>
                    <fieldText>Forecast Co-funding Capital Spend</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Forecast_Co_Funding_A_A_Spend_SP</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_SP_Forecast.Co_funding_A_A_spend__c</elementReference>
                    </defaultValue>
                    <fieldText>Forecast Co-Funding A&amp;A Spend</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_2_of_Funding_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Actual_Grant_Capital_Spend_SP</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_SP_Actual.Grant_Capital_Spend__c</elementReference>
                    </defaultValue>
                    <fieldText>Actual Grant Capital Spend</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Actual_Grant_A_A_Spend_SP</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_SP_Actual.Grant_A_A_Spend__c</elementReference>
                    </defaultValue>
                    <fieldText>Actual Grant A&amp;A Spend</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Actual_Co_funding_Capital_Spend_SP</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_SP_Actual.Co_funding_Capital_Spend__c</elementReference>
                    </defaultValue>
                    <fieldText>Actual Co-funding Capital Spend</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Actual_Co_Funding_A_A_Spend_SP</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_SP_Actual.Co_funding_A_A_spend__c</elementReference>
                    </defaultValue>
                    <fieldText>Actual Co-Funding A&amp;A Spend</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Homes_SP</name>
            <fieldText>Homes</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Homes_SP_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Forecast_No_of_Homes_Suitable_For_Retrofit_SP</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_SP_Forecast.No_of_Homes_Suitable_For_Retrofit__c</elementReference>
                    </defaultValue>
                    <fieldText>Forecast No. of Homes Suitable For Retrofit</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Forecast_No_of_Homes_Ready_for_Installs_to_Start_SP</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_SP_Forecast.No_of_Homes_Ready_for_Installs_to_Start__c</elementReference>
                    </defaultValue>
                    <fieldText>Forecast No. of Homes Ready for Installs to Start</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Forecast_No_of_Homes_Started_Installations_SP</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_SP_Forecast.No_of_Homes_Started_Installations__c</elementReference>
                    </defaultValue>
                    <fieldText>Forecast  No. of Homes Started Installations</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Forecast_No_of_Homes_All_Installations_Completed_SP</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_SP_Forecast.No_of_Homes_All_Installations_Completed__c</elementReference>
                    </defaultValue>
                    <fieldText>Forecast No. of Homes All Installations Completed</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Forecast_No_of_Homes_Completed_SP</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_SP_Forecast.No_of_Homes_Completed__c</elementReference>
                    </defaultValue>
                    <fieldText>Forecast No. of Homes Completed</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Homes_SP_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Actual_No_of_Homes_Suitable_For_Retrofit_SP</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_SP_Actual.No_of_Homes_Suitable_For_Retrofit__c</elementReference>
                    </defaultValue>
                    <fieldText>Actual  No. of Homes Suitable For Retrofit</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Actual_No_of_Homes_Ready_for_Installs_to_Start_SP</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_SP_Actual.No_of_Homes_Ready_for_Installs_to_Start__c</elementReference>
                    </defaultValue>
                    <fieldText>Actual No. of Homes Ready for Installs to Start</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Actual_No_of_Homes_Started_Installations_SP</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_SP_Actual.No_of_Homes_Started_Installations__c</elementReference>
                    </defaultValue>
                    <fieldText>Actual No. of Homes Started Installations</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Actual_No_of_Homes_All_Installations_Completed_SP</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_SP_Actual.No_of_Homes_All_Installations_Completed__c</elementReference>
                    </defaultValue>
                    <fieldText>Actual No. of Homes All Installations Completed</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Actual_No_of_Homes_Completed_SP</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_SP_Actual.No_of_Homes_Completed__c</elementReference>
                    </defaultValue>
                    <fieldText>Actual No. of Homes Completed</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_2_of_EPC</name>
            <fieldText>EPC</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_2_of_EPC_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Forecast_Homes_to_EPC_C_SP</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_SP_Forecast.No_of_Homes_to_EPC_C__c</elementReference>
                    </defaultValue>
                    <fieldText>Forecast Homes to EPC C</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Forecast_Energy_Savings_kWh_SP</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_SP_Forecast.Energy_Savings_kWh__c</elementReference>
                    </defaultValue>
                    <fieldText>Forecast Energy Savings (kWh)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_2_of_EPC_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Actual_Homes_to_EPC_C_SP</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_SP_Actual.No_of_Homes_to_EPC_C__c</elementReference>
                    </defaultValue>
                    <fieldText>Actual Homes to EPC C</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Actual_Energy_Savings_kWh_SP</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_SP_Actual.Energy_Savings_kWh__c</elementReference>
                    </defaultValue>
                    <fieldText>Actual Energy Savings (kWh)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Return_Nav_SP</name>
            <extensionName>c:dmFlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>finishLabel</name>
                <value>
                    <stringValue>Return to updates</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Run_DESNZ_User_Award_Retrieve</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Run_DESNZ_User_Award_Retrieve</name>
        <label>Run DESNZ - User Award Retrieve</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Assign_Record_Id</targetReference>
        </connector>
        <flowName>DESNZ_User_Award_Retrieve</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>txtCreateReportButton</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!varCreateReportURL}</text>
    </textTemplates>
    <textTemplates>
        <name>txtHR</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;hr/&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>txtOpenUpdatesList</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!varOpenUpdateTable}</text>
    </textTemplates>
    <textTemplates>
        <name>txtReopenReportUpdate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;a href=&quot;/open-report-update?Id={!Get_Award_Record.Id}&amp;updateReference={!dtaUpdateList.firstSelectedRow.Name}&quot; target=&quot;_self&quot;&gt;Reopen Report Update&lt;/a&gt;</text>
    </textTemplates>
    <variables>
        <name>currentItem_Filter_Closed_Updates</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingAwardUpdate__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Open_Update_Records</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingAwardUpdate__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCreateReportURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOpenUpdateTable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
