force-app/main/default/flows/DESNZ_Fraud_and_Error_Details_Monthly_Reporting.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Action_Variables_to_Blank</name>
        <label>Assign Action Variables to Blank</label>
        <locationX>1370</locationX>
        <locationY>2672</locationY>
        <assignmentItems>
            <assignToReference>ActionEdit</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActionCreateNew</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActionView</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActionNoFurtherReports</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Fraud_Case_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Cloned_Fraud_Error_for_Editing</name>
        <label>Assign Cloned Fraud &amp; Error for Editing</label>
        <locationX>446</locationX>
        <locationY>3836</locationY>
        <assignmentItems>
            <assignToReference>FraudForEdit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cloned_Fraud_and_Error_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdateFraudId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cloned_Fraud_and_Error_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DENZ_Edit_Report_Fraud_and_Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Formulas_to_Variables</name>
        <label>Assign Formulas to Variables</label>
        <locationX>1502</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varReportingPeriodStart</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>flaMonthPriorStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReportingPeriodEnd</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>flaMonthPriorEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReportingPeriodMonthName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>flaMonthPriorName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentMonthStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>flaCurrentMonthStart</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentMonthEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>flaCurrentMonthEnd</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentMonthName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>flaCurrentMonthName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFormType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Monthly</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Award_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Funding_Award_Update_rcdUpdate</name>
        <label>Assign Funding Award Update rcdUpdate</label>
        <locationX>1370</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>rcdUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Funding_Award_Update</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Fraud_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Monthly_Variables</name>
        <label>Assign Monthly Variables</label>
        <locationX>2013</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>AvailableFraudRecords</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fraud_and_Error_Filter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Action_Variables_to_Blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Nil_Return</name>
        <label>Assign Nil Return</label>
        <locationX>1353</locationX>
        <locationY>2096</locationY>
        <assignmentItems>
            <assignToReference>rcdUpdate.Nil_Return_Declaration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdUpdate.Reason_for_Nil_Return__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason_for_Nil_Return</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Monthly_Report</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Original_Version_Id</name>
        <label>Assign Original Version Id</label>
        <locationX>578</locationX>
        <locationY>3428</locationY>
        <assignmentItems>
            <assignToReference>varOriginalVersion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dtaFraudError.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clone_Fraud_Error_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Original_Version_Id_from_latest</name>
        <label>Assign Original Version Id from latest</label>
        <locationX>314</locationX>
        <locationY>3428</locationY>
        <assignmentItems>
            <assignToReference>varOriginalVersion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dtaFraudError.firstSelectedRow.Original_Version__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clone_Fraud_Error_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_Id</name>
        <label>Assign Record Id</label>
        <locationX>1238</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Run_DESNZ_User_Award_Retrieve.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Award_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Fraud</name>
        <label>Assign Selected Fraud</label>
        <locationX>1370</locationX>
        <locationY>2888</locationY>
        <assignmentItems>
            <assignToReference>ViewDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>defaultSelection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>defaultSelection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>defaultSelection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>dtaFraudError.firstSelectedRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fraud_List_Action</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Fraud_to_null</name>
        <label>Assign Selected Fraud to null</label>
        <locationX>2162</locationX>
        <locationY>3320</locationY>
        <assignmentItems>
            <assignToReference>dtaFraudError.firstSelectedRow.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Award_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_UpdateFraudId_for_Edit</name>
        <label>Assign UpdateFraudId for Edit</label>
        <locationX>842</locationX>
        <locationY>3320</locationY>
        <assignmentItems>
            <assignToReference>varUpdateFraudId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_Fraud_for_Edit.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DENZ_Report_Fraud_and_Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignViewDetails</name>
        <label>AssignViewDetails</label>
        <locationX>50</locationX>
        <locationY>3104</locationY>
        <assignmentItems>
            <assignToReference>ViewDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SelectedFraud</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Action_Variables</name>
        <label>Clear Action Variables</label>
        <locationX>1766</locationX>
        <locationY>3104</locationY>
        <assignmentItems>
            <assignToReference>ActionNFRNext</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActionNFRPrevious</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>NoFurtherReports_Confirmation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_DNF_Action_Variables</name>
        <label>Clear DNF Action Variables</label>
        <locationX>1353</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>ActionDNFConfirm</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActionDNFPrevious</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Declaration_No_Fraud</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Nil_Return_on_Update</name>
        <label>Clear Nil Return on Update</label>
        <locationX>1106</locationX>
        <locationY>3320</locationY>
        <assignmentItems>
            <assignToReference>rcdUpdate.Nil_Return_Declaration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdUpdate.Reason_for_Nil_Return__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Nil_Return_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Available_Fraud_Records</name>
        <label>Set Available Fraud Records</label>
        <locationX>1370</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>AvailableFraudRecords</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Fraud_records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Table_Type</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>no</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Fraud_and_Error_Filter</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Fraud and Error Filter</label>
        <locationX>1782</locationX>
        <locationY>1190</locationY>
        <assignNextValueToReference>currentItem_Fraud_and_Error_Filter</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Fraud_records</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Fraud_and_Error_Filter.Month__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>varReportingPeriodMonthName</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Fraud_and_Error_Filter.Month__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>varCurrentMonthName</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Fraud_records_reported</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_Entry_Variable</name>
        <label>Check Entry Variable</label>
        <locationX>1370</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Assign_Formulas_to_Variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Monthly Update</defaultConnectorLabel>
        <rules>
            <name>Adhoc_Report</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFormType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Adhoc</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_DESNZ_User_Award_Retrieve</targetReference>
            </connector>
            <label>Adhoc Report</label>
        </rules>
    </decisions>
    <decisions>
        <name>Confirm_DNF_Action</name>
        <label>Confirm DNF Action</label>
        <locationX>1353</locationX>
        <locationY>1838</locationY>
        <defaultConnector>
            <targetReference>Assign_Nil_Return</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>DNF Confirm</defaultConnectorLabel>
        <rules>
            <name>Check_Reason_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reason_for_Nil_Return</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Nil_Return</targetReference>
            </connector>
            <label>Check Reason Completed</label>
        </rules>
        <rules>
            <name>DNF_Previous</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionDNFPrevious</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DNFPrevious</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>No_Fraud_Cases</targetReference>
            </connector>
            <label>DNF Previous</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fraud_List_Action</name>
        <label>Fraud List Action</label>
        <locationX>1370</locationX>
        <locationY>2996</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>View_Fraud</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionView</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ViewFraudDetails</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignViewDetails</targetReference>
            </connector>
            <label>View Fraud</label>
        </rules>
        <rules>
            <name>Edit_Fraud</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionEdit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Edit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Fraud_Record_Closed</targetReference>
            </connector>
            <label>Edit Fraud</label>
        </rules>
        <rules>
            <name>Create_New_Fraud</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionCreateNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CreateNewFraud</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Fraud_and_Error_Report</targetReference>
            </connector>
            <label>Create New Fraud</label>
        </rules>
        <rules>
            <name>No_Further_Reports</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionNoFurtherReports</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NoFurtherReports</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Action_Variables</targetReference>
            </connector>
            <label>No Further Reports</label>
        </rules>
        <rules>
            <name>Delete_Fraud</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionDelete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DO NOT USE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Fraud_Confirmation</targetReference>
            </connector>
            <label>Delete Fraud</label>
        </rules>
        <rules>
            <name>View_Actions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionViewActions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ViewActions</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GMS_Actions_Display</targetReference>
            </connector>
            <label>View Actions</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fraud_records_reported</name>
        <label>Fraud records reported?</label>
        <locationX>1782</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Assign_Monthly_Variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Records found</defaultConnectorLabel>
        <rules>
            <name>None_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fraud_and_Error_Filter</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Fraud_Cases</targetReference>
            </connector>
            <label>None found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Next_Version</name>
        <label>Original Version Check</label>
        <locationX>446</locationX>
        <locationY>3320</locationY>
        <defaultConnector>
            <targetReference>Assign_Original_Version_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Null</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dtaFraudError.firstSelectedRow.Original_Version__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Original_Version_Id_from_latest</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Fraud_Record_Closed</name>
        <label>Is Fraud Record Closed</label>
        <locationX>644</locationX>
        <locationY>3104</locationY>
        <defaultConnector>
            <targetReference>Get_Selected_Fraud_for_Edit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Open</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dtaFraudError.firstSelectedRow.Case_End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Next_Version_Check</targetReference>
            </connector>
            <label>Yes Is Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Monthly_Update_Nil_Return</name>
        <label>Monthly Update Nil Return</label>
        <locationX>1238</locationX>
        <locationY>3212</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Monthly_Update_Nil_Returns</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFormType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Adhoc</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Nil_Return_on_Update</targetReference>
            </connector>
            <label>Monthly Update Nil Returns</label>
        </rules>
    </decisions>
    <decisions>
        <name>NFR_Action</name>
        <label>NFR Action</label>
        <locationX>1766</locationX>
        <locationY>3320</locationY>
        <defaultConnectorLabel>Next</defaultConnectorLabel>
        <rules>
            <name>NFR_Previous_Action</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionNFRPrevious</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NFRPrevious</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assign_Action_Variables_to_Blank</targetReference>
            </connector>
            <label>NFR Previous Action</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Fraud_to_Report</name>
        <label>No Fraud to Report</label>
        <locationX>1551</locationX>
        <locationY>1514</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_New_Fraud_and_Error_Report</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create Fraud Report</defaultConnectorLabel>
        <rules>
            <name>Nil_Return</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionNilReturn</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DeclareNoFraud</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_DNF_Action_Variables</targetReference>
            </connector>
            <label>Nil Return</label>
        </rules>
    </decisions>
    <decisions>
        <name>Table_Type</name>
        <label>Table Type</label>
        <locationX>1370</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Fraud_and_Error_Filter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Monthly Filtered</defaultConnectorLabel>
        <rules>
            <name>Adhoc_All_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFormType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Adhoc</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Action_Variables_to_Blank</targetReference>
            </connector>
            <label>Adhoc All Records</label>
        </rules>
    </decisions>
    <description>Displays a list of Fraud and Error reports for the current month as part of the Monthly reporting</description>
    <environments>Default</environments>
    <formulas>
        <name>f_nr</name>
        <dataType>String</dataType>
        <expression>LOWER({!Reason_for_Nil_Return})</expression>
    </formulas>
    <formulas>
        <name>fla_IsBlank_nr</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!f_nr})</expression>
    </formulas>
    <formulas>
        <name>fla_NilReturnReasonHTMLCheck</name>
        <dataType>Boolean</dataType>
        <expression>IF(
  AND(
    NOT(ISBLANK({!f_nr})),
    FIND(&quot;&lt;&quot;, {!f_nr}) &gt; 0,
    FIND(&quot;&gt;&quot;, {!f_nr}, FIND(&quot;&lt;&quot;, {!f_nr})) &gt; FIND(&quot;&lt;&quot;, {!f_nr}),
    OR(
      CONTAINS({!f_nr},&quot;&lt;address&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;article&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;aside&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;footer&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;header&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;h1&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;h2&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;h3&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;h4&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;h5&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;h6&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;main&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;nav&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;section&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;blockquote&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;dd&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;div&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;dl&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;dt&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;figcaption&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;figure&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;hr&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;li&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;ol&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;p&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;pre&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;ul&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;a&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;abbr&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;b&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;bdi&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;bdo&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;br&quot;),
      CONTAINS({!f_nr},&quot;&lt;cite&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;code&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;data&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;dfn&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;em&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;i&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;kbd&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;mark&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;q&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;rb&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;rp&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;rt&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;rtc&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;ruby&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;s&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;samp&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;small&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;span&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;strong&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;sub&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;sup&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;time&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;u&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;var&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;wbr&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;area &quot;),
      CONTAINS({!f_nr},&quot;&lt;audio&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;img &quot;),
      CONTAINS({!f_nr},&quot;&lt;map&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;track &quot;),
      CONTAINS({!f_nr},&quot;&lt;video&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;embed&quot;),
      CONTAINS({!f_nr},&quot;&lt;iframe&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;object&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;param&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;picture&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;source &quot;),
      CONTAINS({!f_nr},&quot;&lt;svg&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;math&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;canvas&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;noscript&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;script&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;del&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;ins&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;caption&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;col&quot;),
      CONTAINS({!f_nr},&quot;&lt;colgroup&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;table&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;tbody&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;td&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;tfoot&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;th&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;thead&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;tr&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;button&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;datalist&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;fieldset&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;form&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;input &quot;),
      CONTAINS({!f_nr},&quot;&lt;label&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;legend&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;meter&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;optgroup&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;option&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;output&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;progress&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;select&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;textarea&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;details&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;dialog&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;menu&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;summary&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;slot&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;template&gt;&quot;),
      CONTAINS({!f_nr},&quot;&lt;base &quot;)
    )
  ),
  TRUE,
  FALSE
)</expression>
    </formulas>
    <formulas>
        <name>flaCurrentMonthEnd</name>
        <dataType>Date</dataType>
        <expression>DATE(
    YEAR({!$Flow.CurrentDate}),
    MONTH({!$Flow.CurrentDate}) + 1,
    1
) - 1</expression>
    </formulas>
    <formulas>
        <name>flaCurrentMonthName</name>
        <dataType>String</dataType>
        <expression>CASE( MONTH( {!$Flow.CurrentDate}),
    1, &quot;January&quot;,
    2, &quot;February&quot;,
    3, &quot;March&quot;,
    4, &quot;April&quot;,
    5, &quot;May&quot;,
    6, &quot;June&quot;,
    7, &quot;July&quot;,
    8, &quot;August&quot;,
    9, &quot;September&quot;,
    10, &quot;October&quot;,
    11, &quot;November&quot;,
    12, &quot;December&quot;,
    &quot;Unknown&quot;
)</expression>
    </formulas>
    <formulas>
        <name>flaCurrentMonthStart</name>
        <dataType>Date</dataType>
        <expression>DATE(
    YEAR({!$Flow.CurrentDate}),
    MONTH({!$Flow.CurrentDate}),
    1
)</expression>
    </formulas>
    <formulas>
        <name>flaMonthPriorEndDate</name>
        <dataType>Date</dataType>
        <expression>DATE(
    YEAR(TODAY()) + FLOOR((MONTH(TODAY()) - 2) / 12),
    MOD(MONTH(TODAY()) - 2, 12)+2,
    1
) - 1</expression>
    </formulas>
    <formulas>
        <name>flaMonthPriorName</name>
        <dataType>String</dataType>
        <expression>CASE( MONTH(  {!flaMonthPriorStartDate} ),
    1, &quot;January&quot;,
    2, &quot;February&quot;,
    3, &quot;March&quot;,
    4, &quot;April&quot;,
    5, &quot;May&quot;,
    6, &quot;June&quot;,
    7, &quot;July&quot;,
    8, &quot;August&quot;,
    9, &quot;September&quot;,
    10, &quot;October&quot;,
    11, &quot;November&quot;,
    12, &quot;December&quot;,
    &quot;Unknown&quot;
)</expression>
    </formulas>
    <formulas>
        <name>flaMonthPriorStartDate</name>
        <dataType>Date</dataType>
        <expression>DATE(
    IF(MONTH(TODAY()) = 1, YEAR(TODAY()) - 1, YEAR(TODAY())),
    IF(MONTH(TODAY()) = 1, 12, MONTH(TODAY()) - 1),
    1
)</expression>
    </formulas>
    <interviewLabel>DESNZ - Fraud and Error Details Monthly Reporting {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>DESNZ - Fraud and Error Details Monthly Reporting</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_Fraud_record</name>
        <label>Delete Fraud record</label>
        <locationX>2162</locationX>
        <locationY>3212</locationY>
        <connector>
            <targetReference>Assign_Selected_Fraud_to_null</targetReference>
        </connector>
        <inputReference>dtaFraudError.firstSelectedRow</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Award_Record</name>
        <label>Get Award Record</label>
        <locationX>1370</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Funding_Award_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FundingAward</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cloned_Fraud_and_Error_Record</name>
        <label>Get Cloned Fraud and Error Record</label>
        <locationX>446</locationX>
        <locationY>3728</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Cloned_Fraud_Error_for_Editing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Clone_Fraud_Error_Record.NewFraudId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Fraud_Error__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Fraud_records</name>
        <label>Get Fraud records</label>
        <locationX>1370</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Available_Fraud_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Funding_Award__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Award_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Latest_Version__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fraud and Error</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Fraud_Error__c</object>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Funding_Award_Update</name>
        <label>Get Funding Award Update</label>
        <locationX>1370</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Funding_Award_Update_rcdUpdate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AwardUpdateId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FundingAwardUpdate__c</object>
        <sortField>Date_of_Update__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Next_Version_Check</name>
        <label>Get Next Version Check</label>
        <locationX>446</locationX>
        <locationY>3212</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Next_Version</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Previous_Version__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dtaFraudError.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Fraud_Error__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Closed_Fraud_for_Edit</name>
        <label>Get Selected Closed Fraud for Edit</label>
        <locationX>446</locationX>
        <locationY>4052</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Fraud_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dtaFraudError.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Fraud_Error__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Fraud_for_Edit</name>
        <label>Get Selected Fraud for Edit</label>
        <locationX>842</locationX>
        <locationY>3212</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_UpdateFraudId_for_Edit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dtaFraudError.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Fraud_Error__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Open_Fraud_for_Edit</name>
        <label>Get Selected Open Fraud for Edit</label>
        <locationX>842</locationX>
        <locationY>3536</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Fraud_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dtaFraudError.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Fraud_Error__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SelectedFraud</name>
        <label>SelectedFraud</label>
        <locationX>50</locationX>
        <locationY>3212</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Action_Variables_to_Blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dtaFraudError.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Fraud_Error__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Monthly_Report</name>
        <label>Update Monthly Report</label>
        <locationX>1353</locationX>
        <locationY>2204</locationY>
        <inputReference>rcdUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Nil_Return_Fields</name>
        <label>Update Nil Return Fields</label>
        <locationX>1106</locationX>
        <locationY>3428</locationY>
        <inputReference>rcdUpdate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Declaration_No_Fraud</name>
        <label>Declaration No Fraud</label>
        <locationX>1353</locationX>
        <locationY>1730</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Confirm_DNF_Action</targetReference>
        </connector>
        <fields>
            <name>text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 24px; color: rgb(0, 0, 0);&quot;&gt;Declaration of No Fraud or Error – &lt;/strong&gt;&lt;strong style=&quot;font-size: 24px; background-color: rgb(255, 255, 255);&quot;&gt; {!flaMonthPriorName}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt; I confirm that no new cases of fraud and or error have been identified during the reporting period and there are no updates to report on any existing cases of fraud or error previously reported.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>LB3</name>
            <extensionName>c:lineBreak</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Declaration_No_Fraud_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Declaration_No_Fraud_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Provide_Reason_Text</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please provide a reason why no fraud and error cases were reported this month.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Reason_for_Nil_Return</name>
                    <defaultValue>
                        <stringValue>{!Get_Funding_Award_Update.Reason_for_Nil_Return__c}</stringValue>
                    </defaultValue>
                    <fieldText>Reason for Nil Return (* Required)</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;HTML tags are not supported in this field — please remove any tags and try again.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!fla_NilReturnReasonHTMLCheck}=FALSE</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Declaration_No_Fraud_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Declaration_No_Fraud_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Declaration_No_Fraud_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Declaration_No_Fraud_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DNFPrevious</name>
                    <extensionName>c:dmFlowNavigation</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>buttonAlignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>nextLabel</name>
                        <value>
                            <stringValue>Previous</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>nextStateValue</name>
                        <value>
                            <stringValue>DNFPrevious</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>ActionDNFPrevious</assignToReference>
                        <name>nextState</name>
                    </outputParameters>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Declaration_No_Fraud_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DNFConfirm</name>
                    <extensionName>c:dmFlowNavigation</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>buttonAlignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>nextLabel</name>
                        <value>
                            <stringValue>Confirm</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>nextStateValue</name>
                        <value>
                            <stringValue>DNFConfirm</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>ActionDNFConfirm</assignToReference>
                        <name>nextState</name>
                    </outputParameters>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Reason_for_Nil_Return</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Delete_Fraud_Confirmation</name>
        <label>Delete Fraud Confirmation</label>
        <locationX>2162</locationX>
        <locationY>3104</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Delete_Fraud_record</targetReference>
        </connector>
        <fields>
            <name>LB4</name>
            <extensionName>c:lineBreak</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Delete_confirmation_heading</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 24px;&quot;&gt;﻿Delete Fraud and Error Case Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PleaseConfirmTitle</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;Please confirm the deletion of fraud and error record: {!dtaFraudError.firstSelectedRow.Reference_Number__c} &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Delete_Fraud_Confirmation_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Delete_Fraud_Confirmation_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Delete_Fraud_Confirmation_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Delete_Fraud_Confirmation_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CancelDelete</name>
                    <extensionName>c:dmFlowNavigation</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>buttonAlignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>nextLabel</name>
                        <value>
                            <stringValue>Cancel</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>nextStateValue</name>
                        <value>
                            <stringValue>CancelDelete</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>ActionCancelDelete</assignToReference>
                        <name>nextState</name>
                    </outputParameters>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Delete_Fraud_Confirmation_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ConfirmDelete</name>
                    <extensionName>c:dmFlowNavigation</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>buttonAlignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>nextStateValue</name>
                        <value>
                            <stringValue>ConfirmDelete</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>ActionConfirmDelete</assignToReference>
                        <name>nextState</name>
                    </outputParameters>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Confirm Delete</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fraud_Case_Details</name>
        <label>Fraud Case Details</label>
        <locationX>1370</locationX>
        <locationY>2780</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Selected_Fraud</targetReference>
        </connector>
        <fields>
            <name>Fraud_Case_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fraud_Case_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Case_Heading</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 24px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Fraud and Error Reports for {!varReportingPeriodMonthName} / {!varCurrentMonthName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Select_to_review</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px; color: rgb(0, 0, 0);&quot;&gt;To ensure accuracy before submitting your monthly report, please select a record from the list to review a summary of the fraud submission&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varFormType</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Adhoc</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Fraud_Case_Details_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fraud_Case_Details_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dtaFraudError</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Fraud_Error__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Fraud and Error</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>AvailableFraudRecords</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;LA_Identifier__c&quot;,&quot;guid&quot;:&quot;column-1cc5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Reference Number&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;LA Identifier&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Summary_of_Risk__c&quot;,&quot;guid&quot;:&quot;column-d87c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Summary of Risk&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Summary__c&quot;,&quot;guid&quot;:&quot;column-9071&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Summary&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Case_Started__c&quot;,&quot;guid&quot;:&quot;column-de74&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Case Started&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Case_End_Date__c&quot;,&quot;guid&quot;:&quot;column-bc86&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Case End Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Status__c&quot;,&quot;guid&quot;:&quot;column-784e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRows</name>
                        <value>
                            <elementReference>defaultSelection</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>UpdateChatContext</name>
            <extensionName>c:dmChatContextUpdater</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>contextChild</name>
                <value>
                    <elementReference>dtaFraudError.firstSelectedRow.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contextChildName</name>
                <value>
                    <elementReference>dtaFraudError.firstSelectedRow.LA_Identifier__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>dtaFraudError.firstSelectedRow.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Fraud_Highlight</name>
            <fieldText>Fraud and Error Highlight</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fraud_Highlight_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Reference_Number_Highlight</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>dtaFraudError.firstSelectedRow.LA_Identifier__c</elementReference>
                    </defaultValue>
                    <fieldText>Reference Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Case_Type_Highlight</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>dtaFraudError.firstSelectedRow.Case_Type__c</elementReference>
                    </defaultValue>
                    <fieldText>Case Type</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Summary_of_Risk_highlight</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>dtaFraudError.firstSelectedRow.Summary_of_Risk__c</elementReference>
                    </defaultValue>
                    <fieldText>Summary of Risk</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Category_of_Risk_Areas_highlight</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>dtaFraudError.firstSelectedRow.Category_of_Risk_Areas__c</elementReference>
                    </defaultValue>
                    <fieldText>Category of Risk Areas</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fraud_Highlight_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Status_Highlight</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>dtaFraudError.firstSelectedRow.Status__c</elementReference>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Loss_Type_Highlight</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>dtaFraudError.firstSelectedRow.Loss_Type__c</elementReference>
                    </defaultValue>
                    <fieldText>Loss Type</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Actor_Highlight</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>dtaFraudError.firstSelectedRow.Actor__c</elementReference>
                    </defaultValue>
                    <fieldText>Who committed fraud, error non-compliance</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Summary_Highlight</name>
                    <defaultValue>
                        <stringValue>{!dtaFraudError.firstSelectedRow.Summary__c}</stringValue>
                    </defaultValue>
                    <fieldText>Summary</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>dtaFraudError.firstSelectedRow.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ViewDetails</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Fraud_Case_Details_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fraud_Case_Details_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fraud_Case_Details_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ViewActionsList</name>
                    <extensionName>c:dmFlowNavigation</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>nextLabel</name>
                        <value>
                            <stringValue>View Actions</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>nextStateValue</name>
                        <value>
                            <stringValue>ViewActions</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>ActionViewActions</assignToReference>
                        <name>nextState</name>
                    </outputParameters>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fraud_Case_Details_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ViewFraud</name>
                    <extensionName>c:dmFlowNavigation</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>buttonAlignment</name>
                        <value>
                            <stringValue>centre</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>nextLabel</name>
                        <value>
                            <stringValue>View Details</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>nextStateValue</name>
                        <value>
                            <stringValue>ViewFraudDetails</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>ActionView</assignToReference>
                        <name>nextState</name>
                    </outputParameters>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fraud_Case_Details_Section4_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EditFraud</name>
                    <extensionName>c:dmFlowNavigation</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>buttonAlignment</name>
                        <value>
                            <stringValue>centre</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>nextLabel</name>
                        <value>
                            <stringValue>Edit</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>nextStateValue</name>
                        <value>
                            <stringValue>Edit</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>ActionEdit</assignToReference>
                        <name>nextState</name>
                    </outputParameters>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>dtaFraudError.firstSelectedRow.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Fraud_Case_Details_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fraud_Case_Details_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Support_Details_Placeholder</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;No Record Selected&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>dtaFraudError.firstSelectedRow.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>LB1</name>
            <extensionName>c:lineBreak</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Fraud_Case_Details_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fraud_Case_Details_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Case_Details_Header</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;﻿Fraud Case Details (Read Only)&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>dtaFraudError.firstSelectedRow.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ViewDetails</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Fraud_and_Error_Detail</name>
            <fieldText>Fraud and Error Detail</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fraud_and_Error_Detail_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Reference_Number</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>SelectedFraud.Reference_Number__c</elementReference>
                    </defaultValue>
                    <fieldText>Reference Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Case_Type</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>SelectedFraud.Case_Type__c</elementReference>
                    </defaultValue>
                    <fieldText>Case Type</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Loss_Type</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>SelectedFraud.Loss_Type__c</elementReference>
                    </defaultValue>
                    <fieldText>Loss Type</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Who_committed_fraud_error_non_compliance</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>SelectedFraud.Actor__c</elementReference>
                    </defaultValue>
                    <fieldText>Who committed fraud, error non-compliance</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Who_committed_fraud_error_non_compliance_Other2</name>
                    <defaultValue>
                        <stringValue>{!SelectedFraud.Actor_Other__c}</stringValue>
                    </defaultValue>
                    <fieldText>Who committed fraud, error non-compliance - Other</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>SelectedFraud.Actor__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Other</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fraud_and_Error_Detail_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Status</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>SelectedFraud.Status__c</elementReference>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Case_Started</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>SelectedFraud.Case_Started__c</elementReference>
                    </defaultValue>
                    <fieldText>Case Started</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Case_End_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>SelectedFraud.Case_End_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Case End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Reporting_Period_Start_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>SelectedFraud.Reporting_Period_Start_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Reporting Period Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Reporting_Month</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>SelectedFraud.Month__c</elementReference>
                    </defaultValue>
                    <fieldText>Reporting Month</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ViewDetails</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Summary_Detail</name>
            <fieldText>Summary Detail</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Summary_Detail_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Summary</name>
                    <defaultValue>
                        <stringValue>{!SelectedFraud.Summary__c}</stringValue>
                    </defaultValue>
                    <fieldText>Summary</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Summary_Detail_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Description</name>
                    <defaultValue>
                        <stringValue>{!SelectedFraud.Description__c}</stringValue>
                    </defaultValue>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ViewDetails</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Risk_Category_Area_Details</name>
            <fieldText>Risk &amp; Category Area Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Risk_Category_Area_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Summary_of_Risk</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>SelectedFraud.Summary_of_Risk__c</elementReference>
                    </defaultValue>
                    <fieldText>Summary of Risk</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Source</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>SelectedFraud.Source__c</elementReference>
                    </defaultValue>
                    <fieldText>Source</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Source_Other</name>
                    <defaultValue>
                        <stringValue>{!SelectedFraud.Source_Other__c}</stringValue>
                    </defaultValue>
                    <fieldText>Source - Other</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>SelectedFraud.Source__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Other</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Risk_Category_Area_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Category_of_Risk_Areas</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>SelectedFraud.Category_of_Risk_Areas__c</elementReference>
                    </defaultValue>
                    <fieldText>Category of Risk Areas</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Category_of_Risk_Areas_Other1</name>
                    <defaultValue>
                        <stringValue>{!SelectedFraud.Category_of_Risk_Areas_Other__c}{!dtaFraudError.firstSelectedRow.Category_of_Risk_Areas_Other__c}</stringValue>
                    </defaultValue>
                    <fieldText>Category of Risk Areas - Other</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>SelectedFraud.Category_of_Risk_Areas__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Other</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ViewDetails</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Property_Address_Details</name>
            <fieldText>Property Address Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Property_Address_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Address</name>
                    <defaultValue>
                        <stringValue>{!dtaFraudError.firstSelectedRow.Affected_Address__c}</stringValue>
                    </defaultValue>
                    <fieldText>Address</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Property_Address_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Property_Address_UPRN</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>dtaFraudError.firstSelectedRow.Property_Address__r.Address_UPRN__c</elementReference>
                    </defaultValue>
                    <fieldText>Property Address UPRN</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>dtaFraudError.firstSelectedRow.Actor_Other__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ViewDetails</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>dtaFraudError.firstSelectedRow.Summary_of_Risk__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Property</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Installer_Supplier_Details</name>
            <fieldText>Installer Supplier Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Installer_Supplier_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Installer_Supplier_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>SelectedFraud.Installer_Supplier_Account_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>Installer/Supplier Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Installer_Supplier_Name_manually_Entered</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>SelectedFraud.Installer_Supplier_Manually_Entered__c</elementReference>
                    </defaultValue>
                    <fieldText>Installer/Supplier Name (manually Entered)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Installer_Supplier_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Trustmark_Business_License_Number</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>SelectedFraud.Trustmark_Business_License_Number__c</elementReference>
                    </defaultValue>
                    <fieldText>Trustmark Business License Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ViewDetails</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Summary_of_Risk</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Installer/Supplier</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Value_of_Fraud_and_Error</name>
            <fieldText>Value of Fraud and Error</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Value_of_Fraud_and_Error_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Value_Estimated_Prevented</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>SelectedFraud.Value_Estimated_Prevented__c</elementReference>
                    </defaultValue>
                    <fieldText>Value/Estimated Prevented</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Value_Detected</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>SelectedFraud.Value_Detected__c</elementReference>
                    </defaultValue>
                    <fieldText>Value Detected</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Value_of_Fraud_and_Error_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Prevented_Actual_Estimate</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>SelectedFraud.Prevented_Actual_Estimate__c</elementReference>
                    </defaultValue>
                    <fieldText>Prevented Actual/Estimate</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Value_Recovered</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>SelectedFraud.Value_Recovered__c</elementReference>
                    </defaultValue>
                    <fieldText>Value Recovered</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ViewDetails</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Outcome_and_Resolution_Details</name>
            <fieldText>Outcome and Resolution Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Outcome_and_Resolution_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Action_Owner</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>SelectedFraud.Action_Owner__c</elementReference>
                    </defaultValue>
                    <fieldText>Action Owner</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Outcome</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>SelectedFraud.Outcome__c</elementReference>
                    </defaultValue>
                    <fieldText>Outcome</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Outstanding_Debt_Value</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>SelectedFraud.Outstanding_Debt_Value__c</elementReference>
                    </defaultValue>
                    <fieldText>Outstanding Debt Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Outcome_and_Resolution_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Recommendations_and_Comments</name>
                    <defaultValue>
                        <stringValue>{!SelectedFraud.Recommendations_and_Comments__c}</stringValue>
                    </defaultValue>
                    <fieldText>Recommendations and Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Resolution_Action_Taken</name>
                    <defaultValue>
                        <stringValue>{!SelectedFraud.Resolution_Action_Taken__c}</stringValue>
                    </defaultValue>
                    <fieldText>Resolution/Action Taken</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Resolution_Action_Taken_Other</name>
                    <defaultValue>
                        <stringValue>{!SelectedFraud.Resolution_Action_Taken_Other__c}</stringValue>
                    </defaultValue>
                    <fieldText>Resolution/Action Taken - Other</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ViewDetails</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Closure_Details</name>
            <fieldText>Closed Case Correction Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Closure_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Closed_Case_Corrected_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>SelectedFraud.Closed_Case_Corrected_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Closed Case Corrected Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Closure_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Reason_for_Correction</name>
                    <defaultValue>
                        <stringValue>{!SelectedFraud.Reason_for_Correction__c}</stringValue>
                    </defaultValue>
                    <fieldText>Reason for Correction</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Reason_for_Correction_Other</name>
                    <defaultValue>
                        <stringValue>{!SelectedFraud.Reason_for_Correction_Other__c}</stringValue>
                    </defaultValue>
                    <fieldText>Reason for Correction - Other</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ViewDetails</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Selected_Fraud_for_Edit.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Closed</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CreateNewReports_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Would you like to create any new Fraud and Error reports for this month?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>dtaFraudError.firstSelectedRow.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varFormType</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Adhoc</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Fraud_Case_Details_Section15</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fraud_Case_Details_Section15_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fraud_Case_Details_Section15_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fraud_Case_Details_Section15_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CreateNewFraud</name>
                    <extensionName>c:dmFlowNavigation</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>buttonAlignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>nextLabel</name>
                        <value>
                            <stringValue>Create New Report</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>nextStateValue</name>
                        <value>
                            <stringValue>CreateNewFraud</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>ActionCreateNew</assignToReference>
                        <name>nextState</name>
                    </outputParameters>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fraud_Case_Details_Section15_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NoFurtherReports</name>
                    <extensionName>c:dmFlowNavigation</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>buttonAlignment</name>
                        <value>
                            <stringValue>centre</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>nextLabel</name>
                        <value>
                            <stringValue>No Further Reports</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>nextStateValue</name>
                        <value>
                            <stringValue>NoFurtherReports</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>ActionNoFurtherReports</assignToReference>
                        <name>nextState</name>
                    </outputParameters>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>dtaFraudError.firstSelectedRow.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varFormType</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Adhoc</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Fraud_Cases</name>
        <label>No Fraud Cases</label>
        <locationX>1551</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>No_Fraud_to_Report</targetReference>
        </connector>
        <fields>
            <name>No_Fraud_Cases_Heading</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 24px;&quot;&gt;Fraud and Error Reports for {!flaMonthPriorName} / {!flaCurrentMonthName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>No_Fraud_Cases_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>No_Fraud_Cases_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>No_Fraud_Cases_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>No_Fraud_Error_Reported</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 20px;&quot;&gt;&lt;em&gt;No Fraud and Error cases have been reported this month&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>No_Fraud_Cases_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>middle</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>LB2</name>
            <extensionName>c:lineBreak</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Create_New_Fraud_Error_Report</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 20px; background-color: rgb(255, 255, 255);&quot;&gt;Would you like to create any new Fraud and Error reports for this month?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>No_Fraud_Cases_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>No_Fraud_Cases_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>No_Fraud_Cases_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>No_Fraud_Cases_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DeclareNoFraud</name>
                    <extensionName>c:dmFlowNavigation</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>buttonAlignment</name>
                        <value>
                            <stringValue>centre</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>nextLabel</name>
                        <value>
                            <stringValue>Declare No Fraud</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>nextStateValue</name>
                        <value>
                            <stringValue>DeclareNoFraud</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>ActionNilReturn</assignToReference>
                        <name>nextState</name>
                    </outputParameters>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>No_Fraud_Cases_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CreateNewReport</name>
                    <extensionName>c:dmFlowNavigation</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>buttonAlignment</name>
                        <value>
                            <stringValue>centre</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>nextLabel</name>
                        <value>
                            <stringValue>Create New Report</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>nextStateValue</name>
                        <value>
                            <stringValue>Create</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NoFurtherReports_Confirmation</name>
        <label>NoFurtherReports_Confirmation</label>
        <locationX>1766</locationX>
        <locationY>3212</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>NFR_Action</targetReference>
        </connector>
        <fields>
            <name>LB5</name>
            <extensionName>c:lineBreak</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>NoFurtherReportsConfirmation_heading</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;No Further Reports&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FurtherReportsConfirmation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please confirm that you have no further reports of Fraud and Error reports for this month&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>NoFurtherReports_Confirmation_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>NoFurtherReports_Confirmation_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>NoFurtherReports_Confirmation_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>NoFurtherReports_Confirmation_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NFRPrevious</name>
                    <extensionName>c:dmFlowNavigation</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>buttonAlignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>nextLabel</name>
                        <value>
                            <stringValue>Previous</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>nextStateValue</name>
                        <value>
                            <stringValue>NFRPrevious</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>ActionNFRPrevious</assignToReference>
                        <name>nextState</name>
                    </outputParameters>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>NoFurtherReports_Confirmation_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NFRNext</name>
                    <extensionName>c:dmFlowNavigation</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>buttonAlignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>nextStateValue</name>
                        <value>
                            <stringValue>NFRNext</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>nextLabel</name>
                        <value>
                            <stringValue>Confirm</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>ActionNFRNext</assignToReference>
                        <name>nextState</name>
                    </outputParameters>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1244</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Entry_Variable</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Clone_Fraud_Error_Record</name>
        <label>Clone Fraud &amp; Error Record</label>
        <locationX>446</locationX>
        <locationY>3620</locationY>
        <connector>
            <targetReference>Get_Cloned_Fraud_and_Error_Record</targetReference>
        </connector>
        <flowName>SUBFLOW_New_Version_Fraud_and_Error</flowName>
        <inputAssignments>
            <name>FraudIdForCloning</name>
            <value>
                <elementReference>dtaFraudError.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varOriginalVersion</name>
            <value>
                <elementReference>varOriginalVersion</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_New_Fraud_and_Error_Report</name>
        <label>Create New Fraud and Error Report</label>
        <locationX>1238</locationX>
        <locationY>3104</locationY>
        <connector>
            <targetReference>Monthly_Update_Nil_Return</targetReference>
        </connector>
        <flowName>DESNZ_Report_Fraud_and_Error</flowName>
        <inputAssignments>
            <name>AwardUpdateId</name>
            <value>
                <elementReference>rcdUpdate.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFormAction</name>
            <value>
                <elementReference>varFormAction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFormType</name>
            <value>
                <elementReference>varFormType</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>DENZ_Edit_Report_Fraud_and_Error</name>
        <label>DENZ - Edit Report Fraud and Error</label>
        <locationX>446</locationX>
        <locationY>3944</locationY>
        <connector>
            <targetReference>Get_Selected_Closed_Fraud_for_Edit</targetReference>
        </connector>
        <flowName>DESNZ_Report_Fraud_and_Error</flowName>
        <inputAssignments>
            <name>AwardUpdateId</name>
            <value>
                <elementReference>AwardUpdateId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UpdateFraudId</name>
            <value>
                <elementReference>varUpdateFraudId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFormAction</name>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFormType</name>
            <value>
                <elementReference>varFormType</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>DENZ_Report_Fraud_and_Error</name>
        <label>DENZ - Report Fraud and Error</label>
        <locationX>842</locationX>
        <locationY>3428</locationY>
        <connector>
            <targetReference>Get_Selected_Open_Fraud_for_Edit</targetReference>
        </connector>
        <flowName>DESNZ_Report_Fraud_and_Error</flowName>
        <inputAssignments>
            <name>AwardUpdateId</name>
            <value>
                <elementReference>AwardUpdateId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UpdateFraudId</name>
            <value>
                <elementReference>varUpdateFraudId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFormAction</name>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFormType</name>
            <value>
                <elementReference>varFormType</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>GMS_Actions_Display</name>
        <label>GMS - Actions Display</label>
        <locationX>2426</locationX>
        <locationY>3104</locationY>
        <flowName>GMS_Actions_Display</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Award_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Action_Parent_Type</name>
            <value>
                <stringValue>Fraud</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Parent_Record_Id</name>
            <value>
                <elementReference>dtaFraudError.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Subflow</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Run_DESNZ_User_Award_Retrieve</name>
        <label>Run DESNZ - User Award Retrieve</label>
        <locationX>1238</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Assign_Record_Id</targetReference>
        </connector>
        <flowName>DESNZ_User_Award_Retrieve</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>txtBR</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;br /&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>txtHR</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;hr/&gt;</text>
    </textTemplates>
    <variables>
        <name>ActionCancelDelete</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ActionConfirmDelete</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ActionCreateNew</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ActionDelete</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ActionDNFConfirm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ActionDNFPrevious</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ActionEdit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ActionNFRNext</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ActionNFRPrevious</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ActionNilReturn</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ActionNoFurtherReports</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ActionView</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ActionViewActions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AvailableFraudRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fraud_Error__c</objectType>
    </variables>
    <variables>
        <name>AwardUpdateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_Current_Reporting_Period</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingAwardUpdate__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Update_Records_Month</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingAwardUpdate__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Fraud_and_Error_Filter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fraud_Error__c</objectType>
    </variables>
    <variables>
        <name>defaultSelection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fraud_Error__c</objectType>
    </variables>
    <variables>
        <name>FraudForEdit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Fraud_Error__c</objectType>
    </variables>
    <variables>
        <name>rcdUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingAwardUpdate__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCurrentMonthEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCurrentMonthName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCurrentMonthStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFormAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFormType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOriginalVersion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varReportingPeriodEnd</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varReportingPeriodMonthName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varReportingPeriodStart</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUpdateFraudId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ViewDetails</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
