force-app/main/default/flows/DESNZ_Award_Actual_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_CF</name>
        <label>Assign CF</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varRecordTypeCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CF</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Actuals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_LG</name>
        <label>Assign LG</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varRecordTypeCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LG</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Actuals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_Id</name>
        <label>Assign Record Id</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Run_DESNZ_User_Award_Retrieve.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Award_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SP</name>
        <label>Assign SP</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varRecordTypeCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Actuals</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Sort_Actuals</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Actuals</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Actuals</collectionReference>
        <connector>
            <targetReference>LG_or_SHF_Choice</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Actuals_Start_Date__c</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Parent_Baseline_Version__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Assign_Award_Record_Type_Code</name>
        <label>Assign Award Record Type Code</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assign_LG</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is LG</defaultConnectorLabel>
        <rules>
            <name>Is_CF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Award_Record.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SHF Challenge Fund</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CF</targetReference>
            </connector>
            <label>Is CF</label>
        </rules>
        <rules>
            <name>Is_SP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Award_Record.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SHF Strategic Partner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SP</targetReference>
            </connector>
            <label>Is SP</label>
        </rules>
    </decisions>
    <decisions>
        <name>LG_or_SHF_Choice</name>
        <label>LG or SHF Choice</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>SHF_Award_Updates_Detail_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>is SHF</defaultConnectorLabel>
        <rules>
            <name>Is_LG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordTypeCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LG</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LG_Actuals_Detail_Screen</targetReference>
            </connector>
            <label>Is LG</label>
        </rules>
    </decisions>
    <description>To enable the details of actuals recorded as part of the monthly update to be displayed against a funding award</description>
    <environments>Default</environments>
    <interviewLabel>DESNZ - Award Actual Details {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>DESNZ - Award Actual Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Actuals</name>
        <label>Get Actuals</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sort_Actuals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Funding_Award__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Award_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FundingAwardActual__c</object>
        <sortField>Actuals_Start_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Award_Record</name>
        <label>Get Award Record</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Award_Record_Type_Code</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FundingAward</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>LG_Actuals_Detail_Screen</name>
        <label>LG Actuals Detail Screen</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_top_Line_LG</name>
            <fieldText>&lt;p&gt;{!txtHR}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Monthly_Actuals_LG</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;Monthly Actuals&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dtaActualsList_LG</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>FundingAwardActual__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Actuals List</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Actuals</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-3f27&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Funding Award Actual Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Parent_Baseline_Version__c&quot;,&quot;guid&quot;:&quot;column-2f53&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Parent Baseline Version&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Actuals_Start_Date__c&quot;,&quot;guid&quot;:&quot;column-9c0c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Actuals Start Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Actuals_End_Date__c&quot;,&quot;guid&quot;:&quot;column-1529&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Actuals End Date&quot;,&quot;type&quot;:&quot;date-local&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Spacer_1_LG</name>
            <fieldText>&lt;p&gt;{!txtSpacer}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_No_Actuals_Display_LG</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;No Actual Record Selected&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>dtaActualsList_LG.firstSelectedRow.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ChildContextUpdaterLG</name>
            <extensionName>c:dmChatContextUpdater</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>contextChild</name>
                <value>
                    <elementReference>dtaActualsList_LG.firstSelectedRow.Parent_Funding_Award_Update__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contextChildName</name>
                <value>
                    <elementReference>dtaActualsList_LG.firstSelectedRow.Parent_Funding_Award_Update__r.Name</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>dtaActualsList_LG.firstSelectedRow.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Copy_1_of_Actual_Heading_LG</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!dtaActualsList_LG.firstSelectedRow.Parent_Baseline_Version__c} ({!dtaActualsList_LG.firstSelectedRow.Actuals_Start_Date__c} - {!dtaActualsList_LG.firstSelectedRow.Actuals_End_Date__c})&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>dtaActualsList_LG.firstSelectedRow.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Funding_LG</name>
            <fieldText>Funding</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Funding_LG_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Actual_Grant_Capital_Spend_LG</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>dtaActualsList_LG.firstSelectedRow.Grant_Capital_Spend__c</elementReference>
                    </defaultValue>
                    <fieldText>Actual Grant Capital Spend</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Actual_Grant_A_A_Spend_LG</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>dtaActualsList_LG.firstSelectedRow.Grant_A_A_Spend__c</elementReference>
                    </defaultValue>
                    <fieldText>Actual Grant A&amp;A Spend</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Funding_LG_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Actual_Grant_Ancillary_spend_LG</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>dtaActualsList_LG.firstSelectedRow.Grant_Ancillary_Spend__c</elementReference>
                    </defaultValue>
                    <fieldText>Actual Grant Ancillary spend</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Actual_Grant_Admin_Spend_LG</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>dtaActualsList_LG.firstSelectedRow.Grant_Admin_Spend__c</elementReference>
                    </defaultValue>
                    <fieldText>Actual Grant Admin Spend</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>dtaActualsList_LG.firstSelectedRow.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Homes_LG</name>
            <fieldText>Homes</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Homes_LG_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Actual_No_of_Homes_Assessed_LG</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>dtaActualsList_LG.firstSelectedRow.No_of_Homes_Assessed__c</elementReference>
                    </defaultValue>
                    <fieldText>Actual No. of Homes Assessed</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Actual_No_of_Homes_Validated_LG</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>dtaActualsList_LG.firstSelectedRow.No_of_Homes_Validated__c</elementReference>
                    </defaultValue>
                    <fieldText>Actual No. of Homes Validated</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Actual_No_of_Homes_Started_Installations_LG</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>dtaActualsList_LG.firstSelectedRow.No_of_Homes_Started_Installations__c</elementReference>
                    </defaultValue>
                    <fieldText>Actual No. of Homes Started Installations</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Actual_No_of_Homes_Treated_at_least_One_Measure_LG</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>dtaActualsList_LG.firstSelectedRow.No_of_Homes_Treated_at_Least_1_Measure__c</elementReference>
                    </defaultValue>
                    <fieldText>Actual No. of Homes Treated at least One Measure</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Actual_No_of_Homes_Completed_LG</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>dtaActualsList_LG.firstSelectedRow.No_of_Homes_Completed__c</elementReference>
                    </defaultValue>
                    <fieldText>Actual No. of Homes Completed</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Homes_LG_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>dtaActualsList_LG.firstSelectedRow.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>EPC_LG</name>
            <fieldText>EPC</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>EPC_LG_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Actual_No_of_Homes_to_EPC_C_LG</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>dtaActualsList_LG.firstSelectedRow.No_of_Homes_to_EPC_C__c</elementReference>
                    </defaultValue>
                    <fieldText>Actual No. of Homes to EPC C</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>EPC_LG_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>dtaActualsList_LG.firstSelectedRow.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SHF_Award_Updates_Detail_Screen</name>
        <label>SHF Actuals Detail Screen</label>
        <locationX>446</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>top_Line_SHF</name>
            <fieldText>&lt;p&gt;{!txtHR}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Monthly_Actuals_SHF</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;Monthly Actuals&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dtaActualsList_SHF</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>FundingAwardActual__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Actuals List</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Actuals</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-3f27&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Funding Award Actual Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Parent_Baseline_Version__c&quot;,&quot;guid&quot;:&quot;column-2f53&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Parent Baseline Version&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Actuals_Start_Date__c&quot;,&quot;guid&quot;:&quot;column-9c0c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Actuals Start Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Actuals_End_Date__c&quot;,&quot;guid&quot;:&quot;column-1529&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Actuals End Date&quot;,&quot;type&quot;:&quot;date-local&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Spacer_1_SHF</name>
            <fieldText>&lt;p&gt;{!txtSpacer}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>No_Actuals_Display_SHF</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;No Actual Record Selected&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>dtaActualsList_SHF.firstSelectedRow.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ChatChildContextUpdaterSHF</name>
            <extensionName>c:dmChatContextUpdater</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>contextChild</name>
                <value>
                    <elementReference>dtaActualsList_SHF.firstSelectedRow.Parent_Funding_Award_Update__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contextChildName</name>
                <value>
                    <elementReference>dtaActualsList_SHF.firstSelectedRow.Parent_Funding_Award_Update__r.Name</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>dtaActualsList_SHF.firstSelectedRow.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Actual_Heading_SHF</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!dtaActualsList_SHF.firstSelectedRow.Parent_Baseline_Version__c} {{!dtaActualsList_SHF.firstSelectedRow.Actuals_Start_Date__c} - {!dtaActualsList_SHF.firstSelectedRow.Actuals_End_Date__c})&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>dtaActualsList_SHF.firstSelectedRow.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>LCH</name>
            <fieldText>LCH</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>LCH_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Total_Grant_funding_toward_on_gas_LCH</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>dtaActualsList_SHF.firstSelectedRow.Total_Grant_funding_toward_on_gas_LCH__c</elementReference>
                    </defaultValue>
                    <fieldText>Total Grant funding toward on-gas LCH</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Total_Grant_funding_toward_off_gas_LCH</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>dtaActualsList_SHF.firstSelectedRow.Total_Grant_funding_toward_off_gas_LCH__c</elementReference>
                    </defaultValue>
                    <fieldText>Total Grant funding toward off-gas LCH</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>LCH_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Total_Co_funding_toward_on_gas_LCH</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>dtaActualsList_SHF.firstSelectedRow.Total_Co_funding_toward_on_gas_LCH_offer__c</elementReference>
                    </defaultValue>
                    <fieldText>Total Co-funding toward on-gas LCH</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Total_Co_funding_toward_off_gas_LCH</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>dtaActualsList_SHF.firstSelectedRow.Total_Co_funding_toward_off_gas_LCH__c</elementReference>
                    </defaultValue>
                    <fieldText>Total Co-funding toward off-gas LCH</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>dtaActualsList_SHF.firstSelectedRow.Parent_Baseline__r.Baseline_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Phase</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Funding_SHF</name>
            <fieldText>Funding</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Funding_SHF_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Actual_Grant_Capital_Spend_SHF</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>dtaActualsList_SHF.firstSelectedRow.Grant_Capital_Spend__c</elementReference>
                    </defaultValue>
                    <fieldText>Actual Grant Capital Spend</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Actual_Grant_A_A_Spend_SHF</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>dtaActualsList_SHF.firstSelectedRow.Grant_A_A_Spend__c</elementReference>
                    </defaultValue>
                    <fieldText>Actual Grant A&amp;A Spend</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varRecordTypeCode</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>SP</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Funding_SHF_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Actual_Co_Funding_Capital_Spend_SHF</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>dtaActualsList_SHF.firstSelectedRow.Co_funding_Capital_Spend__c</elementReference>
                    </defaultValue>
                    <fieldText>Actual Co-Funding Capital Spend</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Actual_Co_Funding_A_A_Spend_SHF</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>dtaActualsList_SHF.firstSelectedRow.Co_funding_A_A_spend__c</elementReference>
                    </defaultValue>
                    <fieldText>Actual Co-Funding A&amp;A Spend</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>dtaActualsList_SHF.firstSelectedRow.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Homes_SHF</name>
            <fieldText>Homes</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Homes_SHF_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Actual_No_of_Homes_Identified_Suitable_for_Retrofit_SHF</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>dtaActualsList_SHF.firstSelectedRow.No_of_Homes_Suitable_For_Retrofit__c</elementReference>
                    </defaultValue>
                    <fieldText>Actual No. of Homes Identified Suitable for Retrofit</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Actual_No_of_Homes_Ready_for_Installs_to_Start_SHF</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>dtaActualsList_SHF.firstSelectedRow.No_of_Homes_Ready_for_Installs_to_Start__c</elementReference>
                    </defaultValue>
                    <fieldText>Actual No. of Homes Ready for Installs to Start</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Actual_No_of_Homes_Started_Installations_SHF</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>dtaActualsList_SHF.firstSelectedRow.No_of_Homes_Started_Installations__c</elementReference>
                    </defaultValue>
                    <fieldText>Actual No. of Homes Started Installations</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Actual_No_of_Homes_with_All_Installations_Completed_SHF</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>dtaActualsList_SHF.firstSelectedRow.No_of_Homes_All_Installations_Completed__c</elementReference>
                    </defaultValue>
                    <fieldText>Actual No. of Homes with All Installations Completed</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Actual_No_of_Homes_Completed_SHF</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>dtaActualsList_SHF.firstSelectedRow.No_of_Homes_Completed__c</elementReference>
                    </defaultValue>
                    <fieldText>Actual No. of Homes Completed</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Homes_SHF_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>dtaActualsList_SHF.firstSelectedRow.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>EPC_SHF</name>
            <fieldText>EPC</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>EPC_SHF_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Actual_Homes_to_EPC_C_SHF</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>dtaActualsList_SHF.firstSelectedRow.No_of_Homes_to_EPC_C__c</elementReference>
                    </defaultValue>
                    <fieldText>Actual Homes to EPC C</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>EPC_SHF_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Actual_Energy_Savings_kWh_SHF</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>dtaActualsList_SHF.firstSelectedRow.Energy_Savings_kWh__c</elementReference>
                    </defaultValue>
                    <fieldText>Actual Energy Savings (kWh)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varRecordTypeCode</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>SP</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>dtaActualsList_SHF.firstSelectedRow.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Run_DESNZ_User_Award_Retrieve</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Run_DESNZ_User_Award_Retrieve</name>
        <label>Run DESNZ - User Award Retrieve</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Assign_Record_Id</targetReference>
        </connector>
        <flowName>DESNZ_User_Award_Retrieve</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>txtCreateReportButton</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!varCreateReportURL}</text>
    </textTemplates>
    <textTemplates>
        <name>txtHR</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;hr/&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>txtOpenUpdatesList</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!varOpenUpdateTable}</text>
    </textTemplates>
    <textTemplates>
        <name>txtSpacer</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&amp;nbsp;&lt;/P&gt;</text>
    </textTemplates>
    <variables>
        <name>currentItem_Filter_Closed_Updates</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingAwardUpdate__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Open_Update_Records</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingAwardUpdate__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCreateReportURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOpenUpdateTable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
