force-app/main/default/flows/DESNZ_Scheme_Reporting_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_test_Date</name>
        <label>Assign test Date</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>Get_10the_Working_Day_Value.Tenth_Working_Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_10the_Working_Day_Value.Tenth_Working_Day__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Scheme_Record</targetReference>
        </connector>
    </assignments>
    <description>Updates Scheme Reporting Date to 10th working day of the month</description>
    <environments>Default</environments>
    <interviewLabel>DESNZ - Scheme Reporting Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DESNZ - Scheme Reporting Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_10the_Working_Day_Value</name>
        <label>Get 10the Working Day Value</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_test_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tenth_Working_Day__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Tenth_Working_Day__mdt</object>
        <sortField>Tenth_Working_Day__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Scheme_Record</name>
        <label>Update Scheme Record</label>
        <locationX>308</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>Scheme_Reporting_Date__c</field>
            <value>
                <elementReference>Get_10the_Working_Day_Value.Tenth_Working_Day__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Trigger_Reporting_Date_Update__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>FundingOpportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Trigger_Next_Reporting_Date</name>
            <connector>
                <targetReference>Get_10the_Working_Day_Value</targetReference>
            </connector>
            <label>Trigger Next Reporting Date</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Scheme_Reporting_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
