force-app/main/default/flows/DESNZ_OS_Match_Manager.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Input_Duplicate_Id_to_List</name>
        <label>Add Input Duplicate Id to List</label>
        <locationX>270</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>rcd_OS_Candidate_Duplicate_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rcd_OS_Candidate_Duplicate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Award_OS_Candidate_Address_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Record_to_Pre_Processing_List</name>
        <label>Add Record to Pre-Processing List</label>
        <locationX>534</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>rcd_OS_Candidate_DeDuped</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Award_OS_Candidate_Address_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Award_OS_Candidate_Address_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Rejected_Addresses_to_List</name>
        <label>Add Rejected Addresses to List</label>
        <locationX>402</locationX>
        <locationY>5378</locationY>
        <assignmentItems>
            <assignToReference>rcdUnmatchedAddressList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rcdUnmatchedAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Unmatched_Addresses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_UPRN_to_Duplicate_Tracker</name>
        <label>Add UPRN to Duplicate Tracker</label>
        <locationX>534</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>txt_Duplicate_Tracker</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Award_OS_Candidate_Address_Records.OS_UPRN__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Record_to_Pre_Processing_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Count_Get_Award_OS_Records</name>
        <label>Assign Count Get Award OS Records</label>
        <locationX>380</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>varGetOSRecordsCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Award_OS_Candidate_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Matching_Process_Complete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Final_Address_Matched_Status</name>
        <label>Assign Final Address Matched Status</label>
        <locationX>270</locationX>
        <locationY>5978</locationY>
        <assignmentItems>
            <assignToReference>rcdProcesseedAddress.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Final_Matched_Selection.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdProcesseedAddress.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Address Matched</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Final_Address_Matched_Status_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Final_Address_Matched_Status_to_List</name>
        <label>Assign Final Address Matched Status to List</label>
        <locationX>270</locationX>
        <locationY>6086</locationY>
        <assignmentItems>
            <assignToReference>rcdProcessedAddressList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rcdProcesseedAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Final_Matched_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Input_Duplicate_Id</name>
        <label>Assign Input Duplicate Id</label>
        <locationX>270</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>rcd_OS_Candidate_Duplicate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Award_OS_Candidate_Address_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Input_Duplicate_Id_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Matched_Address_to_List</name>
        <label>Assign Matched Address to List</label>
        <locationX>138</locationX>
        <locationY>2714</locationY>
        <assignmentItems>
            <assignToReference>rcdProcessedAddressList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rcdProcesseedAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Matched_Addresses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Nav_Label_Proceed</name>
        <label>Assign Nav Label Proceed</label>
        <locationX>182</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>varNavLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Proceed to next step</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_Matched_Addresses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Nav_Label_Refresh</name>
        <label>Assign Nav Label Refresh</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>varNavLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Refresh</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Waiting_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_No_Match_Status</name>
        <label>Assign No-Match Status</label>
        <locationX>138</locationX>
        <locationY>4238</locationY>
        <assignmentItems>
            <assignToReference>rcdProcesseedAddress.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Non_Matches.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdProcesseedAddress.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Address Rejected</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_No_Match_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_No_Match_to_List</name>
        <label>Assign No-Match to List</label>
        <locationX>138</locationX>
        <locationY>4346</locationY>
        <assignmentItems>
            <assignToReference>rcdProcessedAddressList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rcdProcesseedAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Non_Matches</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Partial_Matched_to_List</name>
        <label>Assign Partial Matched to List</label>
        <locationX>138</locationX>
        <locationY>3530</locationY>
        <assignmentItems>
            <assignToReference>rcdProcessedAddressList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rcdProcesseedAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Partial_Matched_Addresses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status_Address_Matched_Match</name>
        <label>Assign Status Address Matched</label>
        <locationX>138</locationX>
        <locationY>2606</locationY>
        <assignmentItems>
            <assignToReference>rcdProcesseedAddress.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Address Matched</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdProcesseedAddress.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Matched_Addresses.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Matched_Address_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status_Address_Matched_Partial</name>
        <label>Assign Status Address Matched</label>
        <locationX>138</locationX>
        <locationY>3422</locationY>
        <assignmentItems>
            <assignToReference>rcdProcesseedAddress.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Address Matched</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdProcesseedAddress.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Partial_Matched_Addresses.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Partial_Matched_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status_Address_Rejected</name>
        <label>Assign Status Address Rejected</label>
        <locationX>402</locationX>
        <locationY>5270</locationY>
        <assignmentItems>
            <assignToReference>rcdUnmatchedAddress.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Address Rejected</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdUnmatchedAddress.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Unmatched_Addresses.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Rejected_Addresses_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_varMatchedRecordsCount</name>
        <label>Assign varMatchedRecordsCount</label>
        <locationX>50</locationX>
        <locationY>2282</locationY>
        <assignmentItems>
            <assignToReference>varMatchedRecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Matched_Addresses</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Matched_Addresses_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_rcdProcessedAddressList</name>
        <label>Clear rcdProcessedAddressList</label>
        <locationX>182</locationX>
        <locationY>4730</locationY>
        <assignmentItems>
            <assignToReference>rcdUnmatchedAddressList</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Get_Remaining_Pending_Review_Records</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Filter_Matched_Addresses</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Matched Addresses</label>
        <locationX>182</locationX>
        <locationY>2066</locationY>
        <assignNextValueToReference>currentItem_Filter_Matched_Addresses</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>rcd_OS_Candidate_DeDuped</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Matched_Addresses.OS_Match_Result__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>EXACT</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Matched_Addresses.OS_Match_Result__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>GOOD</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Check_Matched_Addresses_Found</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_No_Matches</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter No Matches</label>
        <locationX>182</locationX>
        <locationY>3806</locationY>
        <assignNextValueToReference>currentItem_Filter_No_Matches</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>rcd_OS_Candidate_DeDuped</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_No_Matches.OS_Match_Result__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>NO MATCH</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Check_No_Matches_Found</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Partial_Matches</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Partial Matches</label>
        <locationX>182</locationX>
        <locationY>2990</locationY>
        <assignNextValueToReference>currentItem_Filter_Partial_Matches</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>rcd_OS_Candidate_DeDuped</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Partial_Matches.OS_Match_Result__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>PARTIAL</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Check_Partial_Matches_Found</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_Duplicate_Tracker</name>
        <label>Check Duplicate Tracker</label>
        <locationX>402</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Add_UPRN_to_Duplicate_Tracker</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Duplicate Tracker Not Matched</defaultConnectorLabel>
        <rules>
            <name>Duplicate_Tracker_Matched</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>txt_Duplicate_Tracker</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Award_OS_Candidate_Address_Records.OS_UPRN__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Award_OS_Candidate_Address_Records.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Redundant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Award_OS_Candidate_Address_Records.OS_Match_Result__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>NO MATCH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Input_Duplicate_Id</targetReference>
            </connector>
            <label>Duplicate Tracker Matched</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Input_Duplicates_Found</name>
        <label>Check Input Duplicates Found</label>
        <locationX>182</locationX>
        <locationY>1658</locationY>
        <defaultConnector>
            <targetReference>Assign_Nav_Label_Proceed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Input Duplicates Found</defaultConnectorLabel>
        <rules>
            <name>Is_Input_Duplicates_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rcd_OS_Candidate_Duplicate_List</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Input_Duplicates</targetReference>
            </connector>
            <label>Is Input Duplicates Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Matched_Addresses_Found</name>
        <label>Check Matched Addresses Found</label>
        <locationX>182</locationX>
        <locationY>2174</locationY>
        <defaultConnector>
            <targetReference>Filter_Partial_Matches</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Matched Addresses Found</defaultConnectorLabel>
        <rules>
            <name>Is_Matched_Addresses_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_Matched_Addresses</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_varMatchedRecordsCount</targetReference>
            </connector>
            <label>Is Matched Addresses Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Matching_Process_Complete</name>
        <label>Check Matching Process Complete</label>
        <locationX>380</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Assign_Nav_Label_Refresh</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Matching Process Incomplete</defaultConnectorLabel>
        <rules>
            <name>Is_Matching_Process_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varGetOSRecordsCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varInputRecordCount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Debug_Choice</targetReference>
            </connector>
            <label>Is Matching Process Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_No_Matches_Found</name>
        <label>Check No-Matches Found</label>
        <locationX>182</locationX>
        <locationY>3914</locationY>
        <defaultConnector>
            <targetReference>Update_Matched_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No No-Matches Found</defaultConnectorLabel>
        <rules>
            <name>Is_No_Matches_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_No_Matches</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>List_Non_Matches</targetReference>
            </connector>
            <label>Is No-Matches Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_no_Pending_Review_found</name>
        <label>Check no Pending Review found</label>
        <locationX>182</locationX>
        <locationY>4946</locationY>
        <defaultConnector>
            <targetReference>Unselected_Address_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pending Review found</defaultConnectorLabel>
        <rules>
            <name>Is_no_Pending_Review_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Remaining_Pending_Review_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Final_Pending_Review_Records</targetReference>
            </connector>
            <label>Is no Pending Review found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Partial_Matches_Found</name>
        <label>Check Partial Matches Found</label>
        <locationX>182</locationX>
        <locationY>3098</locationY>
        <defaultConnector>
            <targetReference>Filter_No_Matches</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Partial Measures Found</defaultConnectorLabel>
        <rules>
            <name>Is_Partial_Measures_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_Partial_Matches</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approve_Partial_Match_Addresses</targetReference>
            </connector>
            <label>Is Partial Measures Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Input_or_User_Variable_Choice</name>
        <label>Input or User Variable Choice</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Run_User_Award_Retrieve</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is User Variable</defaultConnectorLabel>
        <rules>
            <name>Is_Input_Variables</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Award_OS_Candidate_Records</targetReference>
            </connector>
            <label>Is Input Variables</label>
        </rules>
    </decisions>
    <decisions>
        <name>Run_Debug_Choice</name>
        <label>Run Debug Choice</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Loop_Award_OS_Candidate_Address_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Debug</defaultConnectorLabel>
        <rules>
            <name>Is_Run_Debug</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Debug</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Raw_Results_Screen</targetReference>
            </connector>
            <label>Is Run Debug</label>
        </rules>
    </decisions>
    <description>Screenflow to allow users to accept results from OS Matching process</description>
    <environments>Default</environments>
    <formulas>
        <name>fla2MInsAgo</name>
        <dataType>DateTime</dataType>
        <expression>NOW() - (2 / 1440)</expression>
    </formulas>
    <interviewLabel>DESNZ - OS Match Manager {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>DESNZ - OS Match Manager</label>
    <loops>
        <name>Loop_Award_OS_Candidate_Address_Records</name>
        <label>Loop Award OS Candidate Address Records</label>
        <locationX>182</locationX>
        <locationY>1058</locationY>
        <collectionReference>Get_Award_OS_Candidate_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Duplicate_Tracker</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Input_Duplicates_Found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Final_Matched_Selection</name>
        <label>Loop Final Matched Selection</label>
        <locationX>182</locationX>
        <locationY>5870</locationY>
        <collectionReference>Get_Final_Pending_Review_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Final_Address_Matched_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Final_Pending_Review_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Non_Matches</name>
        <label>Loop Non-Matches</label>
        <locationX>50</locationX>
        <locationY>4130</locationY>
        <collectionReference>Filter_No_Matches</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_No_Match_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Matched_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Selected_Matched_Addresses</name>
        <label>Loop Selected Matched Addresses</label>
        <locationX>50</locationX>
        <locationY>2498</locationY>
        <collectionReference>dtaMatchedAddresses.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Status_Address_Matched_Match</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Filter_Partial_Matches</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Selected_Partial_Matched_Addresses</name>
        <label>Loop Selected Partial Matched Addresses</label>
        <locationX>50</locationX>
        <locationY>3314</locationY>
        <collectionReference>dtaPartialAddressMatches.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Status_Address_Matched_Partial</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Filter_No_Matches</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Unmatched_Addresses</name>
        <label>Loop Unmatched Addresses</label>
        <locationX>314</locationX>
        <locationY>5162</locationY>
        <collectionReference>dtaUnmatchedAddresses.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Status_Address_Rejected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Rejected_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_Input_Duplicates</name>
        <label>Delete Input Duplicates</label>
        <locationX>50</locationX>
        <locationY>1766</locationY>
        <connector>
            <targetReference>Assign_Nav_Label_Proceed</targetReference>
        </connector>
        <inputReference>rcd_OS_Candidate_Duplicate_List</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Award_OS_Candidate_Records</name>
        <label>Get Award OS Candidate Records</label>
        <locationX>380</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Count_Get_Award_OS_Records</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Parent_Funding_Award__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Redundant</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OS_Candidate_Address__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Final_Pending_Review_Records</name>
        <label>Get Final Pending Review Records</label>
        <locationX>182</locationX>
        <locationY>5762</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Final_Matched_Selection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Funding_Award__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Review</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OS_Candidate_Address__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Remaining_Pending_Review_Records</name>
        <label>Get Remaining Pending Review Records</label>
        <locationX>182</locationX>
        <locationY>4838</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_no_Pending_Review_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>Parent_Funding_Award__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OS_Candidate_Address__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Final_Pending_Review_Records</name>
        <label>Update Final Pending Review Records</label>
        <locationX>182</locationX>
        <locationY>6278</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <inputReference>rcdProcessedAddressList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Matched_List</name>
        <label>Update Matched List</label>
        <locationX>182</locationX>
        <locationY>4622</locationY>
        <connector>
            <targetReference>Clear_rcdProcessedAddressList</targetReference>
        </connector>
        <inputReference>rcdProcessedAddressList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Rejected_Records</name>
        <label>Update Rejected Records</label>
        <locationX>314</locationX>
        <locationY>5570</locationY>
        <connector>
            <targetReference>Get_Final_Pending_Review_Records</targetReference>
        </connector>
        <inputReference>rcdUnmatchedAddressList</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Approve_Partial_Match_Addresses</name>
        <label>Approve Partial Match Addresses</label>
        <locationX>50</locationX>
        <locationY>3206</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Selected_Partial_Matched_Addresses</targetReference>
        </connector>
        <fields>
            <name>Approve_Partial_Matches_Title</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;OS Partial Match Addresses&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Approve_Partial_Match_Help</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: Roboto, arial, sans-serif; color: rgb(32, 33, 36); font-size: 16px;&quot;&gt;The following addresses have been partially matched with the Ordnance Survey Match and Cleanse Service. Please review and select any addresses that you wish to use. By making selection the system will be using the UPRN returned by OS for matching to Trustmark.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dtaPartialAddressMatches</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OS_Candidate_Address__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Partial Address Match</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Filter_Partial_Matches</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Address_Search_String__c&quot;,&quot;guid&quot;:&quot;column-7150&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Search Input&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Address Search String&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;OS_Address__c&quot;,&quot;guid&quot;:&quot;column-2334&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;OS Address&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;OS Full Address&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Approve_Partial_Matches_Nav</name>
            <extensionName>c:dmFlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <elementReference>varNavLabel</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Check_Matched_Addresses_Screen</name>
        <label>Check Matched Addresses Screen</label>
        <locationX>50</locationX>
        <locationY>2390</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Selected_Matched_Addresses</targetReference>
        </connector>
        <fields>
            <name>Check_Matched_Addresses_Title</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;OS Matched Addresses&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Check_Matched_Addresses_Help</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: Roboto, arial, sans-serif; color: rgb(32, 33, 36); font-size: 16px;&quot;&gt;The following addresses have been matched with the Ordnance Survey Match and Cleanse Service and have been automatically pre-selected. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: Roboto, arial, sans-serif; color: rgb(32, 33, 36); font-size: 16px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Please deselect any addresses that you do not consider a match and should be rejected.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>NoAddressesFoundText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;No addresses currently require matching&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_Matching_Process_Complete</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dtaMatchedAddresses</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OS_Candidate_Address__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Matched Addresses</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Filter_Matched_Addresses</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Address_Search_String__c&quot;,&quot;guid&quot;:&quot;column-09d0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Address Input&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Address Search String&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;OS_Address__c&quot;,&quot;guid&quot;:&quot;column-e246&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;OS Full Address&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;OS_Match_Result__c&quot;,&quot;guid&quot;:&quot;column-fbfa&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;OS Match Result&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRows</name>
                <value>
                    <elementReference>Filter_Matched_Addresses</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_Matching_Process_Complete</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Check_Matched_Addresses_Nav</name>
            <extensionName>c:dmFlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <elementReference>varNavLabel</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Proceed</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>182</locationX>
        <locationY>6386</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Confirmation_Screen_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;Address Operations Complete&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Confirmation_Nav</name>
            <extensionName>c:dmFlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>finishLabel</name>
                <value>
                    <stringValue>Finish</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>List_Non_Matches</name>
        <label>List Non-Matches</label>
        <locationX>50</locationX>
        <locationY>4022</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Non_Matches</targetReference>
        </connector>
        <fields>
            <name>List_Non_Matches_Title</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;OS Unmatched Addresses&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>List_Non_Matches_Help</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: Roboto, arial, sans-serif; color: rgb(32, 33, 36); font-size: 16px;&quot;&gt;The following addresses have not been matched with the Ordnance Survey Match and Cleanse Service and therefore no UPRN is available to match with the TrustMark Data service. In order to modify an address please renter a valid address to obtain an address with a UPRN. Any addresses that do not have a match will be rejected.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dtaNoMatach</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OS_Candidate_Address__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>no Matched Data</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Filter_No_Matches</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Address_Search_String__c&quot;,&quot;guid&quot;:&quot;column-c7bd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Address Input&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Address Search String&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;OS_Match_Result__c&quot;,&quot;guid&quot;:&quot;column-994d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;OS Match Result&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>List_Non_Matches_Nav</name>
            <extensionName>c:dmFlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <elementReference>varNavLabel</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Raw_Results_Screen</name>
        <label>Raw Results Screen</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Award_OS_Candidate_Address_Records</targetReference>
        </connector>
        <fields>
            <name>Raw_Results_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OS_Candidate_Address__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Award_OS_Candidate_Records</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Address_Search_String__c&quot;,&quot;guid&quot;:&quot;column-0a5c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Address Input&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Address Search String&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;OS_Address__c&quot;,&quot;guid&quot;:&quot;column-88ea&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;OS Full Address&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;OS_Match_Result__c&quot;,&quot;guid&quot;:&quot;column-c091&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;OS Match Result&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;OS_UPRN__c&quot;,&quot;guid&quot;:&quot;column-e7ad&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;OS UPRN&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Proceed to Confirm Addresses</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Unselected_Address_Screen</name>
        <label>Unselected Address Screen</label>
        <locationX>314</locationX>
        <locationY>5054</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Unmatched_Addresses</targetReference>
        </connector>
        <fields>
            <name>Matched_Summary_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;The unmatched/deselected records are listed below and will be set to a status of rejected unless the checkbox is cleared&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dtaUnmatchedAddresses</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OS_Candidate_Address__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Unmatched Addresses</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Remaining_Pending_Review_Records</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRows</name>
                <value>
                    <elementReference>Get_Remaining_Pending_Review_Records</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Address_Search_String__c&quot;,&quot;guid&quot;:&quot;column-fddd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Address Search Input&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Address Search String&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;OS_Address__c&quot;,&quot;guid&quot;:&quot;column-2a87&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;OS Full Address&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;OS_Match_Result__c&quot;,&quot;guid&quot;:&quot;column-4b93&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;OS Match Result&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Unmatched_Address_Nav</name>
            <extensionName>c:dmFlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <elementReference>varNavLabel</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Waiting_Screen</name>
        <label>Waiting Screen</label>
        <locationX>578</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Award_OS_Candidate_Records</targetReference>
        </connector>
        <fields>
            <name>Match_Count_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 36px;&quot;&gt;Still Searching...&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 36px;&quot;&gt;Please Press Button Below&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;OS matching takes a little time. Please wait a few moments and then press refresh. If the count has not yet reached the total please press refresh again and repeat every few moments until the results table appears.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Match_Count_Nav</name>
            <extensionName>c:dmFlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <elementReference>varNavLabel</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Input_or_User_Variable_Choice</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Run_User_Award_Retrieve</name>
        <label>Run User Award Retrieve</label>
        <locationX>468</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Get_Award_OS_Candidate_Records</targetReference>
        </connector>
        <flowName>DESNZ_User_Award_Retrieve</flowName>
        <outputAssignments>
            <assignToReference>recordId</assignToReference>
            <name>recordId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>currentItem_Filter_Existing_Duplicates</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OS_Candidate_Address__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Matched_Addresses</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OS_Candidate_Address__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_No_Matches</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OS_Candidate_Address__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Partial_Matches</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OS_Candidate_Address__c</objectType>
    </variables>
    <variables>
        <name>currentItem_rcdProcessedAddresses_not_AddressMatched</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OS_Candidate_Address__c</objectType>
    </variables>
    <variables>
        <name>rcd_OS_Candidate_DeDuped</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OS_Candidate_Address__c</objectType>
    </variables>
    <variables>
        <name>rcd_OS_Candidate_Duplicate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OS_Candidate_Address__c</objectType>
    </variables>
    <variables>
        <name>rcd_OS_Candidate_Duplicate_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OS_Candidate_Address__c</objectType>
    </variables>
    <variables>
        <name>rcd_OS_Candidate_Uniques</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OS_Candidate_Address__c</objectType>
    </variables>
    <variables>
        <name>rcdProcessedAddressList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OS_Candidate_Address__c</objectType>
    </variables>
    <variables>
        <name>rcdProcesseedAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OS_Candidate_Address__c</objectType>
    </variables>
    <variables>
        <name>rcdUnmatchedAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OS_Candidate_Address__c</objectType>
    </variables>
    <variables>
        <name>rcdUnmatchedAddressList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OS_Candidate_Address__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txt_Duplicate_Tracker</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Debug</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varBatchReference</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varGetOSRecordsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varInputRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varMatchedRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varNavLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Next</stringValue>
        </value>
    </variables>
</Flow>
