force-app/main/default/flows/DESNZ_Award_Summary_Header.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Baseline_Measures_Count</name>
        <label>Assign Baseline Measures Count</label>
        <locationX>138</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varBaselimeMeasuresCount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Baseline_Records.Total_Baseline_Measures__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Baseline_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Measures_installed</name>
        <label>Assign Measures installed</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varMeasuresText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Award_Record.Total_Measures_Installed__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Project_Summary_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Measures_installed_and_Baseline_Measures</name>
        <label>Assign Measures installed and Baseline Measures</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>varMeasuresText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Award_Record.Total_Measures_Installed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMeasuresText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>/</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMeasuresText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varBaselimeMeasuresCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMeasuresHeading</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>/&lt;br/&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMeasuresHeading</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Baselined Measures</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Project_Summary_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_Id</name>
        <label>Assign Record Id</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Run_DESNZ_User_Award_Retrieve.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Award_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Challenge_Fund</name>
        <label>Check if Challenge Fund</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assign_Measures_installed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not Challenge Fund</defaultConnectorLabel>
        <rules>
            <name>Is_Challenge_Fund</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Award_Record.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SHF Challenge Fund</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Baseline_Records</targetReference>
            </connector>
            <label>Is Challenge Fund</label>
        </rules>
    </decisions>
    <description>Creates a summary of the funding award to display totals for total grant amount awarded, Total Grant Amount Received, Total Measures Installed/Baselined Measures and the Project RAG</description>
    <environments>Default</environments>
    <interviewLabel>DESNZ - Award Summary Header {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>DESNZ - Award Summary Header</label>
    <loops>
        <name>Loop_Baseline_Records</name>
        <label>Loop Baseline Records</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <collectionReference>Get_Baseline_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Baseline_Measures_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Measures_installed_and_Baseline_Measures</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Award_Record</name>
        <label>Get Award Record</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Challenge_Fund</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FundingAward</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Baseline_Records</name>
        <label>Get Baseline Records</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Baseline_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Funding_Award__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Award_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Baseline_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Phase</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FundingBaseline__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Project_Summary_Screen</name>
        <label>Project Summary Screen</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Project_Summary_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Project_Summary_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Project_Summary_Title</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 36px;&quot;&gt;{!Get_Award_Record.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Spacer_1</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Project_Summary_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Project_Summary_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Award_Title_Col_1</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Total Grant Amount Awarded&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;£{!Get_Award_Record.Total_Grant_Amount__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Project_Summary_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Award_Title_Col_2</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Total Grant Amount Received&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;£{!Get_Award_Record.Total_Grant_Amount_Received__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Project_Summary_Screen_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Award_Title_Col_32</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Total Measures Installed{!varMeasuresHeading}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;{!varMeasuresText}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Project_Summary_Screen_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Award_Title_Col_4</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Project RAG&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;{!Get_Award_Record.Project_RAG__c} &lt;/span&gt;&lt;span style=&quot;font-size: 24px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_Award_Record.Project_RAG_Status__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Run_DESNZ_User_Award_Retrieve</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Run_DESNZ_User_Award_Retrieve</name>
        <label>Run DESNZ - User Award Retrieve</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Assign_Record_Id</targetReference>
        </connector>
        <flowName>DESNZ_User_Award_Retrieve</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>txtSpacer</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&amp;nbsp;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBaselimeMeasuresCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varMeasuresHeading</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMeasuresText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
