force-app/main/default/flows/DESNZ_Create_Complaint_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Case_Fields</name>
        <label>Assign Case Fields</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>rcdNewCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdNewCase.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdNewCase.Funding_Award__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Award.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdNewCase.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Award.AwardeeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdNewCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Help_or_Support_Summary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdNewCase.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdNewCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseOwner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Support_case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Record_Type</name>
        <label>Assign Case Record Type</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>rcdNewCase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Complaint_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Funding_Award_Owner</name>
        <label>Assign Funding Award Owner</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varCaseOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Award.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Case_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PSO</name>
        <label>Assign PSO</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varCaseOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Funding_Award_Participant_PSO.ParticipantId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Case_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_Id</name>
        <label>Assign Record Id</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Run_DESNZ_User_Award_Retrieve.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Award</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>chcReasonAccess</name>
        <choiceText>Access Issues</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Access Issues</stringValue>
        </value>
    </choices>
    <choices>
        <name>chcReasonAsbestos</name>
        <choiceText>Asbestos</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Asbestos</stringValue>
        </value>
    </choices>
    <choices>
        <name>chcReasonConsumer</name>
        <choiceText>Consumer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Consumer</stringValue>
        </value>
    </choices>
    <choices>
        <name>chcReasonCostInflation</name>
        <choiceText>Cost Inflation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cost Inflation</stringValue>
        </value>
    </choices>
    <choices>
        <name>chcReasonCovid19</name>
        <choiceText>Covid-19</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Covid-19</stringValue>
        </value>
    </choices>
    <choices>
        <name>chcReasonDesign</name>
        <choiceText>Design</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Design</stringValue>
        </value>
    </choices>
    <choices>
        <name>chcReasonFraud</name>
        <choiceText>Fraud</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fraud</stringValue>
        </value>
    </choices>
    <choices>
        <name>chcReasonGDPR</name>
        <choiceText>GDPR</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GDPR</stringValue>
        </value>
    </choices>
    <choices>
        <name>chcReasonHandS</name>
        <choiceText>Health &amp;amp; Safety</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Health &amp; Safety</stringValue>
        </value>
    </choices>
    <choices>
        <name>chcReasonOther</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>chcReasonPlanning</name>
        <choiceText>Planning</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Planning</stringValue>
        </value>
    </choices>
    <choices>
        <name>chcReasonProcurement</name>
        <choiceText>Procurement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Procurement</stringValue>
        </value>
    </choices>
    <choices>
        <name>chcReasonQuality</name>
        <choiceText>Quality</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Quality</stringValue>
        </value>
    </choices>
    <choices>
        <name>chcReasonResourcing</name>
        <choiceText>Resourcing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Resourcing</stringValue>
        </value>
    </choices>
    <choices>
        <name>chcReasonScopeChanges</name>
        <choiceText>Scope Changes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Scope Changes</stringValue>
        </value>
    </choices>
    <choices>
        <name>chcReasonTenant</name>
        <choiceText>Tenant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tenant</stringValue>
        </value>
    </choices>
    <choices>
        <name>chcReasonTimescales</name>
        <choiceText>Timescales</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Timescales</stringValue>
        </value>
    </choices>
    <choices>
        <name>chcReasonUnexpected</name>
        <choiceText>Unexpected</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unexpected</stringValue>
        </value>
    </choices>
    <choices>
        <name>chcReasonWeather</name>
        <choiceText>Weather</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Weather</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Does_Delivery_Partner_Exist</name>
        <label>Does Delivery Partner Exist</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Assign_Funding_Award_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Funding_Award_Participant_PSO.ParticipantId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PSO</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <description>Creation flow for complaint case record types for use on the Grant Recipient portal</description>
    <environments>Default</environments>
    <formulas>
        <name>f_rd</name>
        <dataType>String</dataType>
        <expression>LOWER({!Description})</expression>
    </formulas>
    <formulas>
        <name>f_rs</name>
        <dataType>String</dataType>
        <expression>LOWER({!Help_or_Support_Summary})</expression>
    </formulas>
    <formulas>
        <name>fla_DescriptionHTMLCheck</name>
        <dataType>Boolean</dataType>
        <expression>IF(
  AND(
    FIND(&quot;&lt;&quot;, {!f_rd}) &gt; 0,
    FIND(&quot;&gt;&quot;, {!f_rd}, FIND(&quot;&lt;&quot;, {!f_rd})) &gt; FIND(&quot;&lt;&quot;, {!f_rd}),
    OR(
      CONTAINS({!f_rd},&quot;&lt;address&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;article&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;aside&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;footer&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;header&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;h1&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;h2&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;h3&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;h4&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;h5&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;h6&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;main&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;nav&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;section&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;blockquote&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;dd&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;div&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;dl&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;dt&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;figcaption&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;figure&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;hr&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;li&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;ol&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;p&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;pre&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;ul&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;a&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;abbr&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;b&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;bdi&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;bdo&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;br&quot;),
      CONTAINS({!f_rd},&quot;&lt;cite&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;code&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;data&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;dfn&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;em&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;i&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;kbd&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;mark&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;q&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;rb&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;rp&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;rt&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;rtc&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;ruby&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;s&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;samp&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;small&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;span&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;strong&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;sub&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;sup&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;time&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;u&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;var&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;wbr&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;area &quot;),
      CONTAINS({!f_rd},&quot;&lt;audio&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;img &quot;),
      CONTAINS({!f_rd},&quot;&lt;map&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;track &quot;),
      CONTAINS({!f_rd},&quot;&lt;video&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;embed&quot;),
      CONTAINS({!f_rd},&quot;&lt;iframe&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;object&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;param&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;picture&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;source &quot;),
      CONTAINS({!f_rd},&quot;&lt;svg&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;math&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;canvas&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;noscript&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;script&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;del&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;ins&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;caption&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;col&quot;),
      CONTAINS({!f_rd},&quot;&lt;colgroup&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;table&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;tbody&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;td&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;tfoot&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;th&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;thead&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;tr&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;button&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;datalist&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;fieldset&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;form&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;input &quot;),
      CONTAINS({!f_rd},&quot;&lt;label&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;legend&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;meter&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;optgroup&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;option&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;output&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;progress&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;select&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;textarea&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;details&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;dialog&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;menu&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;summary&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;slot&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;template&gt;&quot;),
      CONTAINS({!f_rd},&quot;&lt;base &quot;)
    )
  ),TRUE,FALSE
)</expression>
    </formulas>
    <formulas>
        <name>fla_SummaryHTMLCheck</name>
        <dataType>Boolean</dataType>
        <expression>IF(
  AND(
    FIND(&quot;&lt;&quot;, {!f_rs}) &gt; 0,
    FIND(&quot;&gt;&quot;, {!f_rs}, FIND(&quot;&lt;&quot;, {!f_rs})) &gt; FIND(&quot;&lt;&quot;, {!f_rs}),
    OR(
      CONTAINS({!f_rs},&quot;&lt;address&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;article&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;aside&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;footer&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;header&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;h1&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;h2&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;h3&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;h4&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;h5&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;h6&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;main&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;nav&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;section&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;blockquote&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;dd&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;div&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;dl&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;dt&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;figcaption&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;figure&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;hr&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;li&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;ol&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;p&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;pre&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;ul&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;a&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;abbr&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;b&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;bdi&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;bdo&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;br&quot;),
      CONTAINS({!f_rs},&quot;&lt;cite&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;code&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;data&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;dfn&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;em&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;i&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;kbd&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;mark&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;q&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;rb&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;rp&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;rt&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;rtc&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;ruby&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;s&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;samp&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;small&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;span&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;strong&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;sub&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;sup&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;time&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;u&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;var&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;wbr&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;area &quot;),
      CONTAINS({!f_rs},&quot;&lt;audio&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;img &quot;),
      CONTAINS({!f_rs},&quot;&lt;map&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;track &quot;),
      CONTAINS({!f_rs},&quot;&lt;video&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;embed&quot;),
      CONTAINS({!f_rs},&quot;&lt;iframe&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;object&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;param&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;picture&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;source &quot;),
      CONTAINS({!f_rs},&quot;&lt;svg&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;math&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;canvas&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;noscript&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;script&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;del&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;ins&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;caption&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;col&quot;),
      CONTAINS({!f_rs},&quot;&lt;colgroup&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;table&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;tbody&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;td&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;tfoot&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;th&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;thead&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;tr&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;button&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;datalist&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;fieldset&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;form&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;input &quot;),
      CONTAINS({!f_rs},&quot;&lt;label&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;legend&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;meter&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;optgroup&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;option&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;output&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;progress&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;select&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;textarea&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;details&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;dialog&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;menu&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;summary&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;slot&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;template&gt;&quot;),
      CONTAINS({!f_rs},&quot;&lt;base &quot;)
    )
  ),TRUE,FALSE
)</expression>
    </formulas>
    <interviewLabel>DESNZ - Create Complaint Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DESNZ - Create Complaint Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Support_case</name>
        <label>Create Support case</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Get_New_Case_Number</targetReference>
        </connector>
        <inputReference>rcdNewCase</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Award</name>
        <label>Get Award</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Record_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FundingAward</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Record_Id</name>
        <label>Get Case Record Id</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Funding_Award_Participant_PSO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Complaint</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Funding_Award_Participant_PSO</name>
        <label>Get Funding Award Participant PSO</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Delivery_Partner_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FundingAwardId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Award.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Participant_Role_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Delivery Partner</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FundingAwardParticipant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Case_Number</name>
        <label>Get New Case Number</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirmation_of_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rcdNewCase.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>For technical support including login and access issues as well as permissions (such as accessing reports)</description>
        <name>Complaint_Case</name>
        <label>Complaint Case</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Case_Fields</targetReference>
        </connector>
        <fields>
            <name>Risks_and_Issues_Case_Header</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 28px; font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255)));&quot;&gt;Create Complaint Case Record&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px; font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255)));&quot;&gt;{!Get_Award.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Risks_and_Issues_Case_body</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please enter details of the complaint you are raising in relation to this award.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Fields marked with an asterisk (*) are required. Please ensure all required fields are completed before submitting the form.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Help_or_Support_Summary</name>
            <dataType>String</dataType>
            <fieldText>Complaint Summary (* Required)</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Please provide a brief summary of the support being requested.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Field does not support HTML tags - please remove these and try again.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!fla_SummaryHTMLCheck}=FALSE</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description (* Required)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Please provide a description of the support being requested.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Field does not support HTML tags - please remove these and try again.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!fla_DescriptionHTMLCheck}=FALSE</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>rcdNewCase.Type</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation_of_Case</name>
        <label>Confirmation of Case</label>
        <locationX>182</locationX>
        <locationY>1514</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Confirmation_message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;Complaint Case Ref: {!Get_New_Case_Number.CaseNumber}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Your complaint case has been created successfully and has been added to the funding award: {!Get_Award.Name}. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Finish_nav</name>
            <extensionName>c:dmFlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>finishLabel</name>
                <value>
                    <stringValue>Finish</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>finishUrl</name>
                <value>
                    <stringValue>support</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Run_DESNZ_User_Award_Retrieve</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Run_DESNZ_User_Award_Retrieve</name>
        <label>Run DESNZ - User Award Retrieve</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Assign_Record_Id</targetReference>
        </connector>
        <flowName>DESNZ_User_Award_Retrieve</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rcdNewCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
