force-app/main/default/flows/DESNZ_Retrieve_Trustmark_Data.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Retrieve_Trustmark_Data</name>
        <label>Retrieve Trustmark Data</label>
        <locationX>182</locationX>
        <locationY>1598</locationY>
        <actionName>POSTLookupTrustmark.Get Trustmark Details</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Map_Trustmark_output_to_Property_Detail</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Set_Request_Body</elementReference>
            </value>
        </inputParameters>
        <nameSegment>POSTLookupTrustmark.Get Trustmark Details</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>var_Trustmark_Response</assignToReference>
            <name>2XX</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Child_Measure_to_List</name>
        <label>Add Child Measure to List</label>
        <locationX>710</locationX>
        <locationY>3062</locationY>
        <assignmentItems>
            <assignToReference>rcdChildMeasureList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rcdMeasureRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Child_Measure_Exists_Check_True</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_comma</name>
        <label>Add comma</label>
        <locationX>886</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>varConstructionType</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Construction_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Property_Detail_to_List</name>
        <label>Add Property Detail to List</label>
        <locationX>480</locationX>
        <locationY>4862</locationY>
        <assignmentItems>
            <assignToReference>rcdPropertyDetailList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rcdPropertyDetail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_varConstructionType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_UPRN_to_collection</name>
        <label>Add UPRN to collection</label>
        <locationX>138</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>col_UPRNs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Candidate_Records.OS_UPRN__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Candidate_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Award_Start_Date</name>
        <label>Assign Award Start Date</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varAwardStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Award_Record.StartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Award_Start_Date_Offset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Child_Measure_Record</name>
        <label>Assign Child Measure Record</label>
        <locationX>710</locationX>
        <locationY>2954</locationY>
        <assignmentItems>
            <assignToReference>rcdMeasureRecord.TM_Measure_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Child_measures.measureType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdMeasureRecord.MCS_Reference_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Child_measures.mcsCertificateNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdMeasureRecord.Date_of_Completing_Installation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Child_measures.installedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdMeasureRecord.Trustmark_UMR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>flaUpperCaseCurrentMeasureUMR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdMeasureRecord.Related_Funding_Award__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Award_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdMeasureRecord.TM_UPRN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Map_Trustmark_output_to_Property_Detail.uprn</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdMeasureRecord.TM_Measure_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Child_measures.measureCategory</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdMeasureRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdMeasureRecord.TM_Short_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Map_Trustmark_output_to_Property_Detail.address.address1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdMeasureRecord.TM_Short_Address__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdMeasureRecord.TM_Short_Address__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Map_Trustmark_output_to_Property_Detail.address.postcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdMeasureRecord.TM_Assessment_Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Child_measures.assessment.assessmentReference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdMeasureRecord.TM_Pre_Installation_Heating_Fuel_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Child_measures.assessment.preInstallationHeatingFuelSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdMeasureRecord.TM_Tenure_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Child_measures.assessment.tenureType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdMeasureRecord.TM_Pre_Installation_SAP_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Child_measures.assessment.preInstallationSAPScore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdMeasureRecord.TM_Post_Installation_SAP_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Child_measures.assessment.postInstallationSAPScore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdMeasureRecord.TM_On_or_Off_Gas_Grid_Property_Desc__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Child_measures.assessment.onOrOffGasGridPropertyDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdMeasureRecord.TM_On_or_Off_Gas_Grid_Property__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmTmpOnOrOffGasGridProperty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdMeasureRecord.TM_Certificate_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Child_measures.certificateNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdMeasureRecord.TM_DW_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Child_measures.dwCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdMeasureRecord.TM_Handover_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Child_measures.handoverDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdMeasureRecord.TM_Installed_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Child_measures.installedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdMeasureRecord.TM_Local_Authority_Project_Key__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Child_measures.localAuthorityProjectKey</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdMeasureRecord.TM_Lodged_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Child_measures.lodgedStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdMeasureRecord.TM_Lodgement_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Child_measures.lodgementType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdMeasureRecord.TM_Project_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Child_measures.projectStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdMeasureRecord.TM_Trade_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Child_measures.trustmarkTradeCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdMeasureRecord.TM_Local_Authority_Project_Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Child_measures.localAuthorityProjectPhase</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdMeasureRecord.TM_Local_Authority_Project_Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Child_measures.localAuthorityProjectReference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdPropertyDetail.TM_Tenure_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Child_measures.assessment.tenureType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdPropertyDetail.TM_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Child_measures.assessment.ownerName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdPropertyDetail.TM_Owner_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Child_measures.assessment.ownerEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdPropertyDetail.TM_Owner_Contact_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Child_measures.assessment.ownerContactNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdPropertyDetail.TM_Resident__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Child_measures.assessment.residentName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdPropertyDetail.TM_Resident_Contact_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Child_measures.assessment.residentContactNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdPropertyDetail.TM_Resident_Mobile_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Child_measures.assessment.residentMobilePhoneNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Child_Measure_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Construction_Type</name>
        <label>Assign Construction Type</label>
        <locationX>798</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>varConstructionType</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_property_construction</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_property_construction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Created_Property_Detail_UPRN</name>
        <label>Assign Created Property Detail UPRN</label>
        <locationX>446</locationX>
        <locationY>5870</locationY>
        <assignmentItems>
            <assignToReference>varCreatedPropertyDetailUPRN</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Property_Detail_Post_Create_Filter.TM_UPRN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCratedProeprtyDetailId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Property_Detail_Post_Create_Filter.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Property_Detail_Post_Create_Filter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Existing_ID_from_rcdPropertyDetail</name>
        <label>Assign Existing ID from rcdPropertyDetail</label>
        <locationX>460</locationX>
        <locationY>4586</locationY>
        <assignmentItems>
            <assignToReference>rcdPropertyDetail.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Property_Details_FIlter.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Property_Details_FIlter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_List_Count</name>
        <label>Assign List Count</label>
        <locationX>798</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>varConstructionTypeCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Construction_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Location_Id</name>
        <label>Assign Location Id</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>var_LocationId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Get_OS_Candidate_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_OS_Candidate_Status_Update_List</name>
        <label>Assign OS Candidate Status Update List</label>
        <locationX>460</locationX>
        <locationY>3986</locationY>
        <assignmentItems>
            <assignToReference>rcdOSCandidateRecordStatusUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Filtered_OS_Candidate_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdOSCandidateRecordStatusUpdate.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Trustmark Matched</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdOSCandidateStatusUpdateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rcdOSCandidateRecordStatusUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Filtered_OS_Candidate_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Property_Details_Id_to_Measure</name>
        <label>Assign Property Details Id to Measure</label>
        <locationX>446</locationX>
        <locationY>6386</locationY>
        <assignmentItems>
            <assignToReference>rcdNewChildMeasure.Property_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCratedProeprtyDetailId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_rcdNewChildMeasure_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_rcdNewChildMeasure_to_List</name>
        <label>Assign rcdNewChildMeasure to List</label>
        <locationX>446</locationX>
        <locationY>6494</locationY>
        <assignmentItems>
            <assignToReference>rcdNewChildMeasureList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rcdNewChildMeasure</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Child_Measures_to_add_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_rcdNewPropertyMeasure</name>
        <label>Assign rcdNewPropertyMeasure</label>
        <locationX>446</locationX>
        <locationY>6278</locationY>
        <assignmentItems>
            <assignToReference>rcdNewChildMeasure</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Child_Measures_to_add_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Property_Details_Id_to_Measure</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_to_rcdProperty_Detail</name>
        <label>Assign Value to rcdProperty Detail</label>
        <locationX>480</locationX>
        <locationY>3554</locationY>
        <assignmentItems>
            <assignToReference>rcdPropertyDetail.Property_Archetype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Map_Trustmark_output_to_Property_Detail.propertyInformation.propertyDetachment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdPropertyDetail.Funding_Award__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Award_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdPropertyDetail.TM_UPRN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Map_Trustmark_output_to_Property_Detail.uprn</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdPropertyDetail.TM_Property_Age__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Map_Trustmark_output_to_Property_Detail.propertyInformation.propertyAge</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdPropertyDetail.TM_Property_Bedrooms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>flaConvertBedrooms</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdPropertyDetail.TM_Address_Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Map_Trustmark_output_to_Property_Detail.address.address1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdPropertyDetail.TM_Postcode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Map_Trustmark_output_to_Property_Detail.address.postcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdPropertyDetail.TM_Property_Construction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varConstructionType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdPropertyDetail.TM_Property_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Map_Trustmark_output_to_Property_Detail.propertyInformation.propertyType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdPropertyDetail.TM_Property_Detachment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Map_Trustmark_output_to_Property_Detail.propertyInformation.propertyDetachment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcdPropertyDetail.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Filter_OS_Candidate_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_varConstructionType</name>
        <label>Clear varConstructionType</label>
        <locationX>622</locationX>
        <locationY>5054</locationY>
        <assignmentItems>
            <assignToReference>varConstructionType</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varConstructionTypeCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Map_Trustmark_output_to_Property_Detail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Award_Start_Date_Offset</name>
        <label>Set Award Start Date Offset</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varAwardStartDate</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>cnsAwardStartOffset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Location_Master</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Child_Measure_Exists_Check_False</name>
        <label>Set Child Measure Exists Check False</label>
        <locationX>622</locationX>
        <locationY>2630</locationY>
        <assignmentItems>
            <assignToReference>var_ChildMeasureCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Child_measures</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Child_Measure_Exists_Check_True</name>
        <label>Set Child Measure Exists Check True</label>
        <locationX>710</locationX>
        <locationY>3170</locationY>
        <assignmentItems>
            <assignToReference>var_ChildMeasureCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Child_measures</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_for_Child_Measures</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter for Child Measures</label>
        <locationX>358</locationX>
        <locationY>6062</locationY>
        <assignNextValueToReference>currentItem_Filter_for_Child_Measures</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>rcdChildMeasureList</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_for_Child_Measures.TM_UPRN__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>varCreatedPropertyDetailUPRN</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Child_Measures_to_add_Id</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_OS_Candidate_Record</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter OS Candidate Record</label>
        <locationX>480</locationX>
        <locationY>3662</locationY>
        <assignNextValueToReference>currentItem_Filter_OS_Candidate_Record</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_OS_Candidate_Records</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_OS_Candidate_Record.OS_UPRN__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Map_Trustmark_output_to_Property_Detail.uprn</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Is_OS_Candidate_Record_Filter_Retrieved</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Property_Detail_Post_Create</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Property Detail Post Create</label>
        <locationX>358</locationX>
        <locationY>5654</locationY>
        <assignNextValueToReference>currentItem_Filter_Property_Detail_Post_Create</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Property_Details_Post_Create</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Property_Detail_Post_Create.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Created_Property_Detail_Records.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Property_Detail_Post_Create_Filter</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Property_Details</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Property Details</label>
        <locationX>480</locationX>
        <locationY>4262</locationY>
        <assignNextValueToReference>currentItem_Filter_Property_Details</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Property_Details</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Property_Details.Address_UPRN__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Map_Trustmark_output_to_Property_Detail.uprn</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Does_Property_Detail_Already_Exist</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Sort_and_Restrict_OS_Candidate_Records</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort and Restrict OS Candidate Records</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_OS_Candidate_Records</collectionReference>
        <connector>
            <targetReference>Loop_Candidate_Records</targetReference>
        </connector>
        <limit>100</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>CreatedDate</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <constants>
        <name>cnsAwardStartOffset</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Construction_Count</name>
        <label>Check Construction Count</label>
        <locationX>798</locationX>
        <locationY>2138</locationY>
        <defaultConnector>
            <targetReference>Add_comma</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is greater than 1</defaultConnectorLabel>
        <rules>
            <name>Is_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varConstructionTypeCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Construction_Type</targetReference>
            </connector>
            <label>Is 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Input_Variable</name>
        <label>Check Input Variable</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Set_Request_Body</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is UPRN List</defaultConnectorLabel>
        <rules>
            <name>Is_Award_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Award_Record</targetReference>
            </connector>
            <label>Is Award Id</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_UPRN_Matched</name>
        <label>Check UPRN Matched</label>
        <locationX>781</locationX>
        <locationY>1814</locationY>
        <defaultConnector>
            <targetReference>Map_Trustmark_output_to_Property_Detail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No UPRN Match</defaultConnectorLabel>
        <rules>
            <name>Is_UPRN_Matched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Map_Trustmark_output_to_Property_Detail.exists</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_property_construction</targetReference>
            </connector>
            <label>Is UPRN Matched</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Measure_Choice</name>
        <label>Create Measure Choice</label>
        <locationX>842</locationX>
        <locationY>2846</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Child_measures</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Don&apos;t create measure</defaultConnectorLabel>
        <rules>
            <name>Create_Measure</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Child_measures.handoverDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varAwardStartDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_Child_measures.lodgementType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WHLG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_Child_measures.lodgementType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WHSHF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Child_Measure_Record</targetReference>
            </connector>
            <label>Create Measure</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Child_Property_Measure_Exist</name>
        <label>Does Child Property Measure Exist?</label>
        <locationX>622</locationX>
        <locationY>3446</locationY>
        <defaultConnector>
            <targetReference>Clear_varConstructionType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Child Measures Not Exist</defaultConnectorLabel>
        <rules>
            <name>Child_Measures_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ChildMeasureCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_to_rcdProperty_Detail</targetReference>
            </connector>
            <label>Child Measures Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Property_Detail_Already_Exist</name>
        <label>Does Property Detail Already Exist?</label>
        <locationX>480</locationX>
        <locationY>4370</locationY>
        <defaultConnector>
            <targetReference>Add_Property_Detail_to_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Property Detail Not Exsits</defaultConnectorLabel>
        <rules>
            <name>Property_Detail_Exsits</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_Property_Details</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Property_Details_FIlter</targetReference>
            </connector>
            <label>Property Detail Exsits</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_OS_Candidate_Record_Filter_Retrieved</name>
        <label>Is OS Candidate Record Filter Retrieved?</label>
        <locationX>480</locationX>
        <locationY>3770</locationY>
        <defaultConnector>
            <targetReference>Filter_Property_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OS Candidate Record Not Retrieved</defaultConnectorLabel>
        <rules>
            <name>OS_Candidate_Record_Retrieved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_OS_Candidate_Record</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Filtered_OS_Candidate_Record</targetReference>
            </connector>
            <label>OS Candidate Record Retrieved</label>
        </rules>
    </decisions>
    <description>- Creates Property Detail records only where child measures exist
- Upserts property detail measure records matching on Trustmark UMR</description>
    <environments>Default</environments>
    <formulas>
        <name>flaConvertBedrooms</name>
        <dataType>Number</dataType>
        <expression>VALUE({!Map_Trustmark_output_to_Property_Detail.propertyInformation.propertyBedrooms})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>flaUpperCaseCurrentMeasureUMR</name>
        <dataType>String</dataType>
        <expression>UPPER({!Loop_through_Child_measures.umr})</expression>
    </formulas>
    <formulas>
        <name>fmTmpOnOrOffGasGridProperty</name>
        <dataType>Boolean</dataType>
        <expression>{!Loop_through_Child_measures.assessment.onOrOffGasGridProperty} = &apos;Y&apos;</expression>
    </formulas>
    <interviewLabel>DESNZ - Retrieve Trustmark Data {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>DESNZ - Retrieve Trustmark Data</label>
    <loops>
        <name>Loop_Candidate_Records</name>
        <label>Loop Candidate Records</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <collectionReference>Get_OS_Candidate_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_UPRN_to_collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Request_Body</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Child_Measures_to_add_Id</name>
        <label>Loop  Child Measures to add Id</label>
        <locationX>358</locationX>
        <locationY>6170</locationY>
        <collectionReference>Filter_for_Child_Measures</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_rcdNewPropertyMeasure</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Created_Property_Detail_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Created_Property_Detail_Records</name>
        <label>Loop Created Property Detail Records</label>
        <locationX>182</locationX>
        <locationY>5546</locationY>
        <collectionReference>rcdPropertyDetailList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_Property_Detail_Post_Create</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Child_Measure_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Filtered_OS_Candidate_Record</name>
        <label>Loop Filtered OS Candidate Record</label>
        <locationX>372</locationX>
        <locationY>3878</locationY>
        <collectionReference>Filter_OS_Candidate_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_OS_Candidate_Status_Update_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Filter_Property_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Property_Detail_Post_Create_Filter</name>
        <label>Loop Property Detail Post Create Filter</label>
        <locationX>358</locationX>
        <locationY>5762</locationY>
        <collectionReference>Filter_Property_Detail_Post_Create</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Created_Property_Detail_UPRN</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Filter_for_Child_Measures</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Property_Details_FIlter</name>
        <label>Loop Property Details FIlter</label>
        <locationX>372</locationX>
        <locationY>4478</locationY>
        <collectionReference>Filter_Property_Details</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Existing_ID_from_rcdPropertyDetail</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Property_Detail_to_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Child_measures</name>
        <label>Loop through Child measures</label>
        <locationX>622</locationX>
        <locationY>2738</locationY>
        <collectionReference>Map_Trustmark_output_to_Property_Detail.measures</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Measure_Choice</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Does_Child_Property_Measure_Exist</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_property_construction</name>
        <label>Loop through property construction</label>
        <locationX>622</locationX>
        <locationY>1922</locationY>
        <collectionReference>Map_Trustmark_output_to_Property_Detail.propertyInformation.propetyConstruction</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_List_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Child_Measure_Exists_Check_False</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Map_Trustmark_output_to_Property_Detail</name>
        <label>Map Trustmark output to Property Detail</label>
        <locationX>182</locationX>
        <locationY>1706</locationY>
        <collectionReference>var_Trustmark_Response.results</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_UPRN_Matched</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Property_Detail_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Child_Measure_Records</name>
        <label>Create Child Measure Records</label>
        <locationX>182</locationX>
        <locationY>6770</locationY>
        <connector>
            <targetReference>Update_OS_Candidate_Status</targetReference>
        </connector>
        <doesUpsert>true</doesUpsert>
        <inputReference>rcdNewChildMeasureList</inputReference>
        <upsertExternalIdField>Trustmark_UMR__c</upsertExternalIdField>
    </recordCreates>
    <recordCreates>
        <name>Create_Property_Detail_Records</name>
        <label>Create Property Detail Records</label>
        <locationX>182</locationX>
        <locationY>5330</locationY>
        <connector>
            <targetReference>Get_Property_Details_Post_Create</targetReference>
        </connector>
        <doesUpsert>true</doesUpsert>
        <inputReference>rcdPropertyDetailList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Award_Record</name>
        <label>Get Award Record</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Award_Start_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FundingAward</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Location_Master</name>
        <label>Get Location Master</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Location_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Warm Homes</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Location</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OS_Candidate_Records</name>
        <label>Get OS Candidate Records</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Property_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Funding_Award__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Award_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Address Matched</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OS_Candidate_Address__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Property_Details</name>
        <label>Get Property Details</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sort_and_Restrict_OS_Candidate_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Funding_Award__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Award_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FundingPropertyDetail__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Property_Details_Post_Create</name>
        <label>Get Property Details Post Create</label>
        <locationX>182</locationX>
        <locationY>5438</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Created_Property_Detail_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Funding_Award__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Award_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TM_UPRN__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FundingPropertyDetail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_OS_Candidate_Status</name>
        <label>Update OS Candidate Status</label>
        <locationX>182</locationX>
        <locationY>6878</locationY>
        <inputReference>rcdOSCandidateStatusUpdateList</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Input_Variable</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Set_Request_Body</name>
        <label>Set Request Body</label>
        <locationX>182</locationX>
        <locationY>1490</locationY>
        <apexClass>ExternalService__POSTLookupTrustmark_Getx20Trustmarkx20Details_IN_body</apexClass>
        <connector>
            <targetReference>Retrieve_Trustmark_Data</targetReference>
        </connector>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>uprns[$EachItem]</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>col_UPRNs[$EachItem]</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>col_UPRNs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_All_Created_Property_Details</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingPropertyDetail__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Collection_Filter_2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingPropertyDetail__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_for_Child_Measures</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Property_Measure__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Measures_After_Award_Start_Date</name>
        <apexClass>ExternalService__POSTLookupTrustmark_Getx20Trustmarkx20Details_OUT_2XX_results_measures</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_OS_Candidate_Members</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OS_Candidate_Address__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_OS_Candidate_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OS_Candidate_Address__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Property_Detail_Post_Create</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingPropertyDetail__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Property_Details</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingPropertyDetail__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <apexClass>ExternalService__POSTLookupTrustmark_Getx20Trustmarkx20Details_OUT_2XX_results</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Property_Measure__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0_0</name>
        <apexClass>ExternalService__POSTLookupTrustmark_Getx20Trustmarkx20Details_OUT_2XX_results</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rcdChildMeasureList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Property_Measure__c</objectType>
    </variables>
    <variables>
        <name>rcdMeasureRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Property_Measure__c</objectType>
    </variables>
    <variables>
        <name>rcdNewChildMeasure</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Property_Measure__c</objectType>
    </variables>
    <variables>
        <name>rcdNewChildMeasureList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Property_Measure__c</objectType>
    </variables>
    <variables>
        <name>rcdOSCandidateRecordStatusUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OS_Candidate_Address__c</objectType>
    </variables>
    <variables>
        <name>rcdOSCandidateStatusUpdateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OS_Candidate_Address__c</objectType>
    </variables>
    <variables>
        <name>rcdPropertyDetail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingPropertyDetail__c</objectType>
    </variables>
    <variables>
        <name>rcdPropertyDetailList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingPropertyDetail__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedOSCandidateAddreses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OS_Candidate_Address__c</objectType>
    </variables>
    <variables>
        <name>var_ChildMeasureCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_LocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Trustmark_Response</name>
        <apexClass>ExternalService__POSTLookupTrustmark_Getx20Trustmarkx20Details_OUT_2XX</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAwardStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varConstructionType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varConstructionTypeCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varCratedProeprtyDetailId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCreatedPropertyDetailUPRN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMeasureOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTmpAssessmentReference</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTmpOnOrOffGasGridPropDesc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTmpOnOrOffGasGridPropertyTXT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTmpPostInstallSAPScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varTmpPreInstalHeatFuelSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTmpPreInstallSAPScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varTmpTenureType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUPRNCheckList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
