force-app/main/default/flows/DM_SingleData_Chart_EPC.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Clean_Data</name>
        <label>Assign Clean Data</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varCleanedChartData</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>flaInsertCommas</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>KPI_Chart</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_EPC_Doughnut_Variables</name>
        <label>Assign EPC Doughnut Variables</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varRawChartData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Award.No_of_Homes_To_EPC_C__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRawChartData</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>x</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRawChartData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Award_Baseline.No_of_Homes_to_EPC_C__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Clean_Data</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>flacleanCommasfromNumbers</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!varRawChartData}, &quot;,&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>flaHomestoGo</name>
        <dataType>Number</dataType>
        <expression>{!Get_Award.Application__r.Total_Homes_to_be_Upgraded__c}-({!varKPI1}+{!varKPI2}+{!varKPI3}+{!varKPI4}+{!varKPI5})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>flaInsertCommas</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!flacleanCommasfromNumbers}, &quot;x&quot;, &quot;,&quot;)</expression>
    </formulas>
    <interviewLabel>DM SingleData Chart - EPC {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>DM SingleData Chart - EPC</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Actual_Records</name>
        <label>Get Actual Records</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_EPC_Doughnut_Variables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Funding_Award__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Award.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FundingAwardActual__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Award</name>
        <label>Get Award</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Award_Baseline</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Run_User_Award_Retrieve.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FundingAward</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Award_Baseline</name>
        <label>Get Award Baseline</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Actual_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Funding_Award__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Award.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Baseline_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Award</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FundingBaseline__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>KPI_Chart</name>
        <label>KPI Chart</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>KPI_Chart_Target</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Homes to EPC C Progress Against Overall Award &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DemoChart_Doughnut</name>
            <extensionName>c:dmChartLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>backgroundColors</name>
                <value>
                    <stringValue>#003479,#ffffff</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>chartData</name>
                <value>
                    <elementReference>varCleanedChartData</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>chartLabels</name>
                <value>
                    <stringValue>Homes to EPC C Achieved,Homes to EPC C Target</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>doughnut</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>borderWidth</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>borderColor</name>
                <value>
                    <stringValue>#003479</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Run_User_Award_Retrieve</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Run_User_Award_Retrieve</name>
        <label>Run User Award Retrieve</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Get_Award</targetReference>
        </connector>
        <flowName>DESNZ_User_Award_Retrieve</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>txtSHF_KPI_Text</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;﻿&lt;/span&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;{!varKPI_Title}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!varKPI1_Heading} - {!Get_Award.No_of_Homes_Suitable_For_Retrofit__c}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!varKPI2_heading} - {!Get_Award.No_of_Homes_Ready_For_Installs_To_Start__c}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!varKPI3_Heading} - {!Get_Award.No_of_Homes_Started_Installations__c}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!varKPI4_heading} - {!Get_Award.No_of_Homes_All_Installations_Completed__c}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255))); font-size: 16px;&quot;&gt;{!varKPI5_heading} &lt;/strong&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;- {!Get_Award.No_of_Homes_Completed__c}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!varKPI_HomesToGo} - {!flaHomestoGo}&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>varCleanedChartData</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varKPI1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>250.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varKPI1_Heading</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varKPI1txt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varKPI2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>123.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varKPI2_heading</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varKPI3</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>250.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varKPI3_Heading</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varKPI4</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>180.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varKPI4_heading</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varKPI5</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>80.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varKPI5_heading</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varKPI_HomesToGo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varKPI_Title</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRawChartData</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRemainder</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>180.0</numberValue>
        </value>
    </variables>
</Flow>
