force-app/main/default/flows/GMS_Create_Action.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Action_Type</name>
        <label>Assign Action Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rcd_Action.Action_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DAC Condition</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Run_Assign_DESNZ_Ownership_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Award_Id</name>
        <label>Assign Award Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rcd_Action.Funding_Award__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Award.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Parent_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Award.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Action_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Common_Action_Fields</name>
        <label>Assign Common Action Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rcd_Action.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcd_Action.Action_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Action_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcd_Action.Action_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Action_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcd_Action.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcd_Action.Owning_Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Owning_Team</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Output_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_DAC_Condition_Fields</name>
        <label>Assign DAC Condition Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rcd_Action.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Run_Assign_DESNZ_Ownership_Flow.var_Action_Owner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcd_Action.Assigned_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Run_Assign_DESNZ_Ownership_Flow.var_Action_Owner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcd_Action.Owning_Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Delivery Partner</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcd_Action.DAC_Condition_RAG__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DAC_Condition_RAG</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcd_Action.DAC_Theme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DAC_Theme</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Common_Action_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fraud_Ids</name>
        <label>Assign Fraud Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rcd_Action.Fraud_Error__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Fraud_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcd_Action.Funding_Award__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Fraud_Record.Funding_Award__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Parent_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Fraud_Record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Action_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_No_Parent_Object</name>
        <label>Assign No Parent Object</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recordObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Parent Record</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Action_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Performance_Ids</name>
        <label>Assign Performance Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rcd_Action.Performance_Management_Record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Performance_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcd_Action.Funding_Award__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Performance_Record.Related_Funding_Award__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Parent_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Performance_Record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Action_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Risk_Ids</name>
        <label>Assign Risk Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rcd_Action.Risk__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Risk_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcd_Action.Funding_Award__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Risk_Record.Funding_Award__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Parent_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Risk_Record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Action_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_rcd_Action</name>
        <label>Clear rcd_Action</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rcd_Action</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Check_Hide_Assigned_User</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_Hide_Assigned_User</name>
        <label>Check Hide Assigned User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Internal_Users</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Show Assigned User</defaultConnectorLabel>
        <rules>
            <name>Is_Hide_Assigned_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Hide_Assigned_Users</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_recordObject</targetReference>
            </connector>
            <label>Is Hide Assigned User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Condition</name>
        <label>Check if Condition</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Common_Action_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>is Not Condition</defaultConnectorLabel>
        <rules>
            <name>Is_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Condition</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Action_Type</targetReference>
            </connector>
            <label>Is Condition</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Output_Type</name>
        <label>Check Output Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Action</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Record</defaultConnectorLabel>
        <rules>
            <name>Is_Variable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Output_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Variable</stringValue>
                </rightValue>
            </conditions>
            <label>Is Variable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_recordObject</name>
        <label>Check recordObject</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_No_Parent_Object</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Parent</defaultConnectorLabel>
        <rules>
            <name>Is_Perfomance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Performance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Performance_Record</targetReference>
            </connector>
            <label>Is Perfomance</label>
        </rules>
        <rules>
            <name>Is_Risk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Risk</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Risk_Record</targetReference>
            </connector>
            <label>Is Risk</label>
        </rules>
        <rules>
            <name>Is_Fraud</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fraud</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Fraud_Record</targetReference>
            </connector>
            <label>Is Fraud</label>
        </rules>
        <rules>
            <name>Is_Award</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Funding Award</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordObject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Condition</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Award</targetReference>
            </connector>
            <label>Is Award</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>chc_DAC_RAG</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>DAC_Condition_RAG__c</picklistField>
        <picklistObject>Action__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chc_DAC_Theme</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>DAC_Theme__c</picklistField>
        <picklistObject>Action__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chc_Owning_Team</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Owning_Team__c</picklistField>
        <picklistObject>Action__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chc_User_List</name>
        <collectionReference>Get_Internal_Users</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>GMS - Create Action {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>GMS - Create Action</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Action</name>
        <label>Create Action</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>rcd_Action</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Award</name>
        <label>Get Award</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Award_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FundingAward</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Fraud_Record</name>
        <label>Get Fraud Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Fraud_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Fraud_Error__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Internal_Users</name>
        <label>Get Internal Users</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_recordObject</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Profile_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DESNZ Warm Homes Delivery Partner User</stringValue>
            </value>
        </filters>
        <filters>
            <field>Profile_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DESNZ Warm Homes Department Delivery Official User</stringValue>
            </value>
        </filters>
        <filters>
            <field>Profile_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DESNZ Warm Homes Counter Fraud Team User</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <sortField>LastName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Performance_Record</name>
        <label>Get Performance Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Performance_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Funding_Award_Performance_Management__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Risk_Record</name>
        <label>Get Risk Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Risk_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Risk_Register__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Action_Screen</name>
        <label>Action Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_if_Condition</targetReference>
        </connector>
        <fields>
            <name>New_Action_Display</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Parent Record: {!recordObject} {!var_Parent_Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Creation Date: {!$Flow.CurrentDate}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Created by: {!$User.FirstName} {!$User.LastName}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Action_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Action_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Action_Title</name>
                    <dataType>String</dataType>
                    <fieldText>Action Title</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Short summary of Action purpose&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Action_Description</name>
                    <fieldText>Action Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;Further detail about Action&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>DAC_Theme</name>
                    <choiceReferences>chc_DAC_Theme</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>DAC Theme</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recordObject</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Condition</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>DAC_Condition_RAG</name>
                    <choiceReferences>chc_DAC_RAG</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>DAC Condition RAG</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recordObject</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Condition</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Due_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Due Date (leave blank if action has no deadline)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Owning_Team</name>
                    <choiceReferences>chc_Owning_Team</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Owning Team</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recordObject</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Condition</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>7</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Clear_rcd_Action</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Run_Assign_DESNZ_Ownership_Flow</name>
        <label>Run Assign DESNZ Ownership Flow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_DAC_Condition_Fields</targetReference>
        </connector>
        <flowName>GMS_SUBFLOW_Assign_DESNZ_Ownership</flowName>
        <inputAssignments>
            <name>var_Award_Id</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>rcd_Action</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Action__c</objectType>
    </variables>
    <variables>
        <name>rcd_User_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <description>Primary record Id that the actions are being parented by</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Award_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Form_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Hide_Assigned_Users</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Output_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Record</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_Parent_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Preassigned_Owner</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
