force-app/main/default/flows/GMS_Grant_Drawdown_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Capital_to_record_collection_variable</name>
        <label>Assign Capital to record collection variable</label>
        <locationX>1898</locationX>
        <locationY>3410</locationY>
        <assignmentItems>
            <assignToReference>CapitalCollectionVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CapitalAmountsRecordVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_selected_Phases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Capital_to_record_variable</name>
        <label>Assign Capital to record variable</label>
        <locationX>1898</locationX>
        <locationY>3302</locationY>
        <assignmentItems>
            <assignToReference>CapitalAmountsRecordVariable.Challenge_Fund_Capital_Remaining__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Capital_Remaining</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CapitalAmountsRecordVariable.Baseline_Total_Spend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Capital_Costs_Only_Approved_Phase</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CapitalAmountsRecordVariable.Baseline_Total_Grant_Spend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Capital_Remaining_after_Drawdown</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CapitalAmountsRecordVariable.Baseline_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_selected_Phases.Baseline_Version__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Capital_to_record_collection_variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_collection_first_item</name>
        <label>assign collection first item</label>
        <locationX>908</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>StrategicFYBaselineRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_5</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_financial_years_count</name>
        <label>assign financial years count</label>
        <locationX>644</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varBaselineCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Financial_Years</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>More_than_1_Financial_year</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Grant_Spend_25_26</name>
        <label>Assign Grant Spend 25/26</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>FYGrantSpendChallengeFund</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Award_Baseline.Grant_Spend_25_26__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Phase_Requests_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Grant_Spend_26_27</name>
        <label>Assign Grant Spend 26/27</label>
        <locationX>1370</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>FYGrantSpendChallengeFund</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Award_Baseline.Grant_Spend_26_27__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Phase_Requests_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Grant_Spend_27_28</name>
        <label>Assign Grant Spend 27/28</label>
        <locationX>1634</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>FYGrantSpendChallengeFund</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Award_Baseline.Grant_Spend_27_28__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Phase_Requests_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_Id</name>
        <label>Assign Record Id</label>
        <locationX>561</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>RecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Run_DESNZ_User_Award_Retrieve.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Funding_Award</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_record_collection_variable</name>
        <label>Assign to record collection variable</label>
        <locationX>1898</locationX>
        <locationY>3194</locationY>
        <assignmentItems>
            <assignToReference>PhaseDrawdownCollectionLineItem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PhaseDrawdownRecordLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Capital_to_record_variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>approvedfundingdrawdownamounts</description>
        <name>Assign_to_variables</name>
        <label>Assign to variables</label>
        <locationX>534</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>approvedfundingdrawdownamounts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_all_approved_funding_drawdowns.Funding_Amount_Requested__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_approved_funding_drawdowns</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_record_variable</name>
        <label>Assign values to record variable</label>
        <locationX>1898</locationX>
        <locationY>3086</locationY>
        <assignmentItems>
            <assignToReference>PhaseDrawdownRecordLineItem.Baseline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_selected_Phases.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PhaseDrawdownRecordLineItem.Capital_Costs_Only__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Capital_Costs_Only_Approved_Phase</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PhaseDrawdownRecordLineItem.Total_Grant_Drawdown_Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Capital_Costs_Only_Approved_Phase</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CapitalCostsVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Capital_Costs_Only_Approved_Phase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_record_collection_variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_record_variable4</name>
        <label>Assign values to record variable</label>
        <locationX>2074</locationX>
        <locationY>4118</locationY>
        <assignmentItems>
            <assignToReference>PhaseDrawdownRecordLineItemwithID.Funding_Drawdown_Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FundingDrawdownRequestID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PhaseDrawdownRecordLineItemwithID.Baseline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Phase_Drawdown_Collection_Line_Items.Baseline__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PhaseDrawdownRecordLineItemwithID.Capital_Costs_Only__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Phase_Drawdown_Collection_Line_Items.Capital_Costs_Only__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PhaseDrawdownRecordLineItemwithID.Total_Grant_Drawdown_Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Phase_Drawdown_Collection_Line_Items.Capital_Costs_Only__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_to_record_collection_variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_to_record_collection_variable</name>
        <label>Assign to record collection variable</label>
        <locationX>2074</locationX>
        <locationY>4226</locationY>
        <assignmentItems>
            <assignToReference>PhaseDrawdownCollectionLineItemwithID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PhaseDrawdownRecordLineItemwithID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Phase_Drawdown_Collection_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_to_variables</name>
        <label>Assign to variables</label>
        <locationX>1898</locationX>
        <locationY>2162</locationY>
        <assignmentItems>
            <assignToReference>approvedfundingdrawdownamounts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_Loop_through_all_approved_funding_drawdowns.Funding_Disbursement__r.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Loop_through_all_approved_funding_drawdowns</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Strategic_FY_Baseline_record</name>
        <label>Set Strategic FY Baseline record</label>
        <locationX>468</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>StrategicFYBaselineRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dta_Financial_Year_Baseline.firstSelectedRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Strategic_Partnership_Record_Type</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <description>Checks to see if there is an approved Phase Request (meaning they will have active Phase Baselines).</description>
        <name>Approved_Phase_Request_not_found</name>
        <label>Approved Phase Request not found</label>
        <locationX>1502</locationX>
        <locationY>1622</locationY>
        <defaultConnector>
            <targetReference>Get_Phase_Baselines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Found</defaultConnectorLabel>
        <rules>
            <name>Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_First_Approved_Phase_Request.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Appendix_Screen</targetReference>
            </connector>
            <label>Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_a_Drawdown_for_this_month_already_exists</name>
        <label>Does a Drawdown for this month already exists?</label>
        <locationX>561</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Strategic_Partnership_or_Challenge_Fund</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Drawdown for this month</defaultConnectorLabel>
        <rules>
            <name>Drawdown_already_exists_for_this_month</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_existing_drawdown_request_for_this_month.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Drawdown_Request_for_this_month_already_exists</targetReference>
            </connector>
            <label>Drawdown already exists for this month</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if the summarised total of the Capital &amp; A&amp;A Funding requested exceeds what is remaining in the grant for this FY.</description>
        <name>Does_Capital_A_A_Funding_exceed_the_remaining_grant_for_this_FY</name>
        <label>Does Capital &amp; A&amp;A Funding exceed the remaining grant for this FY</label>
        <locationX>446</locationX>
        <locationY>2438</locationY>
        <defaultConnector>
            <targetReference>Review_Drawdown_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does not exceed remaining in this FY</defaultConnectorLabel>
        <rules>
            <name>Exceeds_remaining_in_this_FY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AdminCostsPlusCapitalCostsStrategic</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>RemainingFYAmountafterdrawdowns</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exceeds_FY_Baseline_Remaining</targetReference>
            </connector>
            <label>Exceeds remaining in this FY</label>
        </rules>
    </decisions>
    <decisions>
        <name>FY_Baselines_Founds</name>
        <label>FY Baselines Founds?</label>
        <locationX>644</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>No_FY_Baselines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Baseline Not Found</defaultConnectorLabel>
        <rules>
            <name>Baseline_Found</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>StrategicFYBaselineRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Approved_Funding_Drawdowns</targetReference>
            </connector>
            <label>Baseline Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Disbursement_in_current_FY</name>
        <label>Is Disbursement in current FY?</label>
        <locationX>2030</locationX>
        <locationY>2054</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Loop_through_all_approved_funding_drawdowns</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Current FY</defaultConnectorLabel>
        <rules>
            <name>Current_FY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentFY</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_to_variables</targetReference>
            </connector>
            <label>Current FY</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if the selected Phase is &quot;Active&quot; (Approved)</description>
        <name>Is_Phase_Active</name>
        <label>Is Phase Active?</label>
        <locationX>2030</locationX>
        <locationY>2870</locationY>
        <defaultConnector>
            <targetReference>Loop_through_selected_Phases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Approved</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_selected_Phases.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approved_Phase_Screen</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_remaining_after_request_in_the_minus</name>
        <label>Is remaining after request in the minus?</label>
        <locationX>1810</locationX>
        <locationY>3686</locationY>
        <defaultConnector>
            <targetReference>Review_Drawdown_Requests_for_Phases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>In the positive</defaultConnectorLabel>
        <rules>
            <name>In_the_minus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GrantFundingMinusAdminCostsPlusCapitalCostsFormula</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Review_Drawdown_Requests_for_Phases</targetReference>
            </connector>
            <label>In the minus</label>
        </rules>
    </decisions>
    <decisions>
        <name>More_than_1_Financial_year</name>
        <label>More than 1 Financial year</label>
        <locationX>644</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Loop_5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_More_than_1_Financial_year</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varBaselineCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_A_Financial_Year_Baseline</targetReference>
            </connector>
            <label>Outcome 1 of More than 1 Financial year</label>
        </rules>
    </decisions>
    <decisions>
        <name>Strategic_Partnership_or_Challenge_Fund</name>
        <label>Strategic Partnership or Challenge Fund?</label>
        <locationX>1073</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>What_is_the_current_financial_year</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Challenge Fund</defaultConnectorLabel>
        <rules>
            <name>Financial_Year1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Funding_Award.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SHF Strategic Partner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Financial_Years</targetReference>
            </connector>
            <label>Strategic Partnership</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks what financial year we&apos;re currently in and assigns the correct &quot;Grant Spend&quot; from the funding award to a variable.</description>
        <name>What_is_the_current_financial_year</name>
        <label>What is the current financial year?</label>
        <locationX>1502</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_No_FY_Baselines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Financial Year</defaultConnectorLabel>
        <rules>
            <name>FY_25_26</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentFinancialYear</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2025-2026</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Grant_Spend_25_26</targetReference>
            </connector>
            <label>FY 25/26</label>
        </rules>
        <rules>
            <name>FY_26_27</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentFinancialYear</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2026-2027</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Grant_Spend_26_27</targetReference>
            </connector>
            <label>FY 26/27</label>
        </rules>
        <rules>
            <name>FY_27_28</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentFinancialYear</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2027-2028</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Grant_Spend_27_28</targetReference>
            </connector>
            <label>FY 27/28</label>
        </rules>
    </decisions>
    <description>Screen flow on the Warm Homes portal that allows GR&apos;s (for Challenge Funds &amp; Strategic Partnerships) to submit monthly Funding Drawdown Requests that are created as Funding Drawdown Request records, which are related to both the Funding Award and Baseline record.</description>
    <dynamicChoiceSets>
        <name>PhaseBaselines</name>
        <collectionReference>Get_Phase_Baselines</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>FundingBaseline__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>accumulatedtotalphasrequestamountexceedformula</name>
        <dataType>String</dataType>
        <expression>IF({!RequestAmount} &gt; ({!Get_Funding_Award.Total_Grant_Amount__c} / 100 * 20), &quot;Exceeds&quot;, &quot;Does not Exceed&quot;)</expression>
    </formulas>
    <formulas>
        <name>AdminCostsPlusCapitalCostsStrategic</name>
        <dataType>Currency</dataType>
        <expression>{!Admin_Costs} + {!Capital_Costs_Only}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>AdminPlusCapital</name>
        <dataType>Currency</dataType>
        <expression>{!Admin_Costs3} + {!CapitalCostsVar}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>CapitalReceived</name>
        <dataType>Currency</dataType>
        <expression>BLANKVALUE({!Loop_through_selected_Phases.Challenge_Fund_Capital_Drawn_Down__c}, 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>CapitalRemaining</name>
        <dataType>Currency</dataType>
        <expression>BLANKVALUE({!Loop_through_selected_Phases.Challenge_Fund_Capital_Remaining__c}, {!Loop_through_selected_Phases.Baseline_Grant_Capital_Spend__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>CapitalRemainingafterDrawdown</name>
        <dataType>Currency</dataType>
        <expression>BLANKVALUE({!Loop_through_selected_Phases.Challenge_Fund_Capital_Remaining__c} - {!Capital_Costs_Only_Approved_Phase}, {!Loop_through_selected_Phases.Challenge_Fund_Capital_Remaining__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>ChallengeFundAARemaining</name>
        <dataType>Currency</dataType>
        <expression>{!FYGrantAASpend} - {!approvedfundingdrawdownamountsAA}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ChallengeFundCapitalRemaining</name>
        <dataType>Currency</dataType>
        <expression>{!FYGrantCapitalSpend} - {!approvedfundingdrawdownamountsCapital}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ChallengeFundRemaining</name>
        <dataType>Currency</dataType>
        <expression>{!FYGrantSpendChallengeFund} - {!approvedfundingdrawdownamounts}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CurrentDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>CurrentFinancialYear</name>
        <dataType>String</dataType>
        <expression>IF(
  MONTH(TODAY()) &gt;= 3,
  TEXT(YEAR(TODAY())) + &quot;-&quot; + TEXT(YEAR(TODAY()) + 1),
  TEXT(YEAR(TODAY()) - 1) + &quot;-&quot; + TEXT(YEAR(TODAY()))
)</expression>
    </formulas>
    <formulas>
        <name>CurrentFY</name>
        <dataType>Boolean</dataType>
        <expression>AND(
  DATEVALUE({!Copy_1_of_Loop_through_all_approved_funding_drawdowns.Funding_Disbursement__r.DisbursementDate}) &gt;= DATE(
    IF(MONTH(TODAY()) &gt;= 4, YEAR(TODAY()), YEAR(TODAY()) - 1),
    4,
    1
  ),
  DATEVALUE({!Copy_1_of_Loop_through_all_approved_funding_drawdowns.Funding_Disbursement__r.DisbursementDate}) &lt;= DATE(
    IF(MONTH(TODAY()) &gt;= 4, YEAR(TODAY()) + 1, YEAR(TODAY())),
    3,
    31
  )
)</expression>
    </formulas>
    <formulas>
        <name>DateDrawdownRequestedMonthYear</name>
        <dataType>String</dataType>
        <expression>TEXT(MONTH({!CurrentDate})) &amp; TEXT(YEAR({!CurrentDate}))</expression>
    </formulas>
    <formulas>
        <name>flaTodayPlusOneMonth</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Flow.CurrentDate},1)</expression>
    </formulas>
    <formulas>
        <name>GrantFundingMinusAdminCostsPlusCapitalCostsFormula</name>
        <dataType>Currency</dataType>
        <expression>{!ChallengeFundRemaining} - {!AdminPlusCapital}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>nophasedrawdownrequestremaining</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Funding_Award.Application__r.Total_Grant_Funding__c} - ({!Total_Capital_Costs_Only} + {!A_A_Costs})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>nophasetotalrequestedamount</name>
        <dataType>Currency</dataType>
        <expression>{!A_A_Costs} + {!Total_Capital_Costs_Only}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PercentofOverallGrantFunding</name>
        <dataType>Currency</dataType>
        <expression>({!Get_Funding_Award.Total_Grant_Amount__c} / 100) * 20</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>PhaseDateDrawdownRequestedMonthYear</name>
        <dataType>String</dataType>
        <expression>TEXT(MONTH({!CurrentDate})) &amp; TEXT(YEAR({!CurrentDate}))</expression>
    </formulas>
    <formulas>
        <name>PhasesDrawdownExceed20PercentFormula</name>
        <dataType>String</dataType>
        <expression>&quot;dd&quot;</expression>
    </formulas>
    <formulas>
        <name>RemainingFYAmountafterdrawdowns</name>
        <dataType>Currency</dataType>
        <expression>{!StrategicFYBaselineRecord.SP_Baseline_Grant_Spend__c} - {!approvedfundingdrawdownamounts}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>remaininggrantafterdrawdownphases</name>
        <dataType>Currency</dataType>
        <expression>{!FYGrantSpend} - {!approvedfundingdrawdownamounts}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>RemainingGrantafterdrawdownrequest</name>
        <dataType>Currency</dataType>
        <expression>{!RemainingFYAmountafterdrawdowns} - {!AdminCostsPlusCapitalCostsStrategic}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>StrategicAARemaining</name>
        <dataType>Currency</dataType>
        <expression>{!StrategicFYBaselineRecord.Baseline_Grant_A_A_Spend__c} - {!approvedfundingdrawdownamountsAA}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>StrategicCapitalRemaining</name>
        <dataType>Currency</dataType>
        <expression>{!StrategicFYBaselineRecord.Baseline_Grant_Capital_Spend__c} - {!approvedfundingdrawdownamountsCapital}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>SUMCapitalAdminApprovedFormula</name>
        <dataType>Currency</dataType>
        <expression>{!Capital_Costs_Only_Approved_Phase} + {!Admin_Costs3}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TotalGrantRemaining</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Funding_Award.Total_Grant_Amount__c} - {!Get_Funding_Award.Total_Grant_Amount_Received__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>GMS - Grant Drawdown Request {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>GMS - Funding Drawdown Request</label>
    <loops>
        <name>Copy_1_of_Loop_through_all_approved_funding_drawdowns</name>
        <label>Loop through all approved funding drawdowns</label>
        <locationX>1810</locationX>
        <locationY>1946</locationY>
        <collectionReference>Copy_1_of_Get_Approved_Funding_Drawdowns</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Disbursement_in_current_FY</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Appendix_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_5</name>
        <label>Loop 5</label>
        <locationX>820</locationX>
        <locationY>1214</locationY>
        <collectionReference>Get_Financial_Years</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_collection_first_item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Strategic_Partnership_Record_Type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_all_approved_funding_drawdowns</name>
        <label>Loop through all approved funding drawdowns</label>
        <locationX>446</locationX>
        <locationY>1922</locationY>
        <collectionReference>Get_Approved_Funding_Drawdowns</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Appendix</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Phase_Drawdown_Collection_Line_Items</name>
        <label>Loop through Phase Drawdown Collection Line Items</label>
        <locationX>1986</locationX>
        <locationY>4010</locationY>
        <collectionReference>PhaseDrawdownCollectionLineItem</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_values_to_record_variable4</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Drawdown_Request_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_selected_Phases</name>
        <label>Loop through selected Phases</label>
        <locationX>1810</locationX>
        <locationY>2762</locationY>
        <collectionReference>PhaseBaselinesDT.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Phase_Active</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_remaining_after_request_in_the_minus</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Drawdown_Request_Record</name>
        <label>Create Drawdown Request Record</label>
        <locationX>1194</locationX>
        <locationY>2054</locationY>
        <connector>
            <targetReference>Copy_2_of_Create_Drawdown_Request_Line_Item</targetReference>
        </connector>
        <inputAssignments>
            <field>Baseline__c</field>
            <value>
                <elementReference>Get_Award_Baseline.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Submitted__c</field>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funding_Amount_Requested__c</field>
            <value>
                <elementReference>nophasetotalrequestedamount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funding_Award__c</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grant_Recipient__c</field>
            <value>
                <elementReference>Get_Funding_Award.Awardee.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Challenge_Fund_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_to_an_approved_phase_request__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <object>Funding_Drawdown_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Create_Drawdown_Request_Line_Item</name>
        <label>Create Drawdown Request Line Item</label>
        <locationX>1194</locationX>
        <locationY>2162</locationY>
        <connector>
            <targetReference>Copy_2_of_Thank_You_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Admin_Costs__c</field>
            <value>
                <elementReference>A_A_Costs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Baseline__c</field>
            <value>
                <elementReference>Get_Award_Baseline.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Capital_Costs_Only__c</field>
            <value>
                <elementReference>Total_Capital_Costs_Only</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funding_Drawdown_Request__c</field>
            <value>
                <elementReference>Copy_1_of_Create_Drawdown_Request_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Grant_Drawdown_Request__c</field>
            <value>
                <elementReference>nophasetotalrequestedamount</elementReference>
            </value>
        </inputAssignments>
        <object>Funding_Drawdown_Request_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Drawdown_Request_Line_Item</name>
        <label>Create Drawdown Request Line Item</label>
        <locationX>578</locationX>
        <locationY>2762</locationY>
        <connector>
            <targetReference>Thank_You_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Admin_Costs__c</field>
            <value>
                <elementReference>Admin_Costs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Baseline__c</field>
            <value>
                <elementReference>StrategicFYBaselineRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Capital_Costs_Only__c</field>
            <value>
                <elementReference>Capital_Costs_Only</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funding_Drawdown_Request__c</field>
            <value>
                <elementReference>Create_Drawdown_Request_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Grant_Drawdown_Request__c</field>
            <value>
                <elementReference>AdminCostsPlusCapitalCostsStrategic</elementReference>
            </value>
        </inputAssignments>
        <object>Funding_Drawdown_Request_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Drawdown_Request_Line_Items</name>
        <label>Create Drawdown Request Line Items</label>
        <locationX>1986</locationX>
        <locationY>4418</locationY>
        <connector>
            <targetReference>Update_Drawdown_Request</targetReference>
        </connector>
        <inputReference>PhaseDrawdownCollectionLineItemwithID</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Drawdown_Request_Record</name>
        <label>Create Drawdown Request Record</label>
        <locationX>578</locationX>
        <locationY>2654</locationY>
        <connector>
            <targetReference>Create_Drawdown_Request_Line_Item</targetReference>
        </connector>
        <inputAssignments>
            <field>Baseline__c</field>
            <value>
                <elementReference>StrategicFYBaselineRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Submitted__c</field>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funding_Amount_Requested__c</field>
            <value>
                <elementReference>AdminCostsPlusCapitalCostsStrategic</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funding_Award__c</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grant_Recipient__c</field>
            <value>
                <elementReference>Get_Funding_Award.Awardee.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Strategic_Partnership_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <object>Funding_Drawdown_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Drawdown_Request_Record2</name>
        <label>Create Drawdown Request Record</label>
        <locationX>1986</locationX>
        <locationY>3902</locationY>
        <assignRecordIdToReference>FundingDrawdownRequestID</assignRecordIdToReference>
        <connector>
            <targetReference>Loop_through_Phase_Drawdown_Collection_Line_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>Admin_Costs__c</field>
            <value>
                <elementReference>Admin_Costs3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Baseline__c</field>
            <value>
                <elementReference>Get_Award_Baseline.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Submitted__c</field>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funding_Award__c</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grant_Recipient__c</field>
            <value>
                <elementReference>Get_Funding_Award.Awardee.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Challenge_Fund_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_to_an_approved_phase_request__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <object>Funding_Drawdown_Request__c</object>
    </recordCreates>
    <recordLookups>
        <description>Gets all previously approved (Paid) funding drawdowns, to work out how much has already been drawndown to the GR</description>
        <name>Copy_1_of_Get_Approved_Funding_Drawdowns</name>
        <label>Get Approved Funding Drawdowns</label>
        <locationX>1810</locationX>
        <locationY>1838</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Loop_through_all_approved_funding_drawdowns</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Funding_Award__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Funding_Award.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Funding_Drawdown_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Approved_Funding_Drawdown_Request_Line_Items</name>
        <label>Get Approved Funding Drawdown Request Line Items</label>
        <locationX>1810</locationX>
        <locationY>2654</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_selected_Phases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Baseline__c</field>
            <operator>In</operator>
            <value>
                <elementReference>SelectedPhaseBaselinesChallengeFund</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Funding_Drawdown_Request_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets all previously approved (Paid) funding drawdowns, to work out how much has already been drawndown to the GR</description>
        <name>Get_Approved_Funding_Drawdowns</name>
        <label>Get Approved Funding Drawdowns</label>
        <locationX>446</locationX>
        <locationY>1814</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_all_approved_funding_drawdowns</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Baseline__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StrategicFYBaselineRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Funding_Award__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Funding_Award.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Funding_Drawdown_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Award_Baseline</name>
        <label>Get Award Baseline</label>
        <locationX>561</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_existing_drawdown_request_for_this_month</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Funding_Award__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Baseline_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Award</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FundingBaseline__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Challenge_Fund_Record_Type</name>
        <label>Get Challenge Fund Record Type</label>
        <locationX>1502</locationX>
        <locationY>1514</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Approved_Phase_Request_not_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Funding_Drawdown_Request__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Challenge</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_existing_drawdown_request_for_this_month</name>
        <label>Get existing drawdown request for this month</label>
        <locationX>561</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_a_Drawdown_for_this_month_already_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Funding_Award__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Month_Year_Formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DateDrawdownRequestedMonthYear</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Funding_Drawdown_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Financial_Years</name>
        <label>Get Financial Years</label>
        <locationX>644</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_financial_years_count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Funding_Award__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Baseline_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Financial Year</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Baseline_Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>flaTodayPlusOneMonth</elementReference>
            </value>
        </filters>
        <filters>
            <field>Baseline_End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FundingBaseline__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_First_Approved_Phase_Request</name>
        <label>Get First Approved Phase Request</label>
        <locationX>1502</locationX>
        <locationY>1406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Challenge_Fund_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FundingAwardId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Phase_Requests_Record_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phase_Baseline__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FundingAwardAmendment</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Funding_Award</name>
        <label>Get Funding Award</label>
        <locationX>561</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Award_Baseline</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FundingAward</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Phase_Baselines</name>
        <label>Get Phase Baselines</label>
        <locationX>1810</locationX>
        <locationY>1730</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Get_Approved_Funding_Drawdowns</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Funding_Award__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Baseline_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Phase</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FundingBaseline__c</object>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Phase_Requests_Record_Type</name>
        <label>Get Phase Requests Record Type</label>
        <locationX>1502</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_First_Approved_Phase_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FundingAwardAmendment</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Phase</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Strategic_Partnership_Record_Type</name>
        <label>Get Strategic Partnership Record Type</label>
        <locationX>644</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FY_Baselines_Founds</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Funding_Drawdown_Request__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Strategic</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Drawdown_Request</name>
        <label>Update Drawdown Request</label>
        <locationX>1986</locationX>
        <locationY>4526</locationY>
        <connector>
            <targetReference>Thank_You_Screen1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FundingDrawdownRequestID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Funding_Amount_Requested__c</field>
            <value>
                <elementReference>AdminPlusCapital</elementReference>
            </value>
        </inputAssignments>
        <object>Funding_Drawdown_Request__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Appendix</name>
        <label>Appendix Screen</label>
        <locationX>446</locationX>
        <locationY>2222</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Strategic_Partnership_Drawdown_Request</targetReference>
        </connector>
        <fields>
            <name>Appendix1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;APPENDIX 1&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;GRANT DRAWDOWN REQUEST FORM&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;CLAIM FOR PAYMENT OF GRANT&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;This form must be used when you wish to claim an instalment of the Grant for spend incurred, when making a Grant Drawdown Request, as set out in the standard terms and conditions of in the Grant Funding Agreement.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;Claims should be made two months in advance of the requested payment date, and claim amounts should align with the amounts forecast for that month in the monthly data upload.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;Claims should be made for spend incurred&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;. Grant Recipients do not need to wait for work to be invoiced or paid before they can claim for costs incurred (defined as any Eligible Expenditure committed and accrued, as long as the activity is due for completion within the Funding Period which is defined in the GFA).&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;You are not required to submit evidence of spend incurred alongside this&lt;/strong&gt;&lt;strong style=&quot;font-size: 12pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt; claim&lt;/strong&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt; form.&lt;/strong&gt;&lt;strong style=&quot;font-size: 12pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/strong&gt;&lt;span style=&quot;font-size: 12pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;However, proof of spend incurred will be required separately, as a minimum as part of the Evidence Check (Reconciliation) process that is carried out three times per year. We may request, and You must supply, proof of expenditure and any other supporting documentation and information (in addition to the Grant Drawdown Request Form) as We require.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Approved_Phase_Screen</name>
        <label>Approved Phase Screen</label>
        <locationX>1898</locationX>
        <locationY>2978</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Assign_values_to_record_variable</targetReference>
        </connector>
        <fields>
            <name>approvedphaserequest</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Drawdown Request for Approved Phase {!Loop_through_selected_Phases.Baseline_Version__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>LB6</name>
            <extensionName>c:lineBreak</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Approved_Phase_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Approved_Phase_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Capital_Awarded</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Loop_through_selected_Phases.Baseline_Grant_Capital_Spend__c</elementReference>
                    </defaultValue>
                    <fieldText>Capital Awarded</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Approved_Phase_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Drawdown_Capital_Costs_for_this_Phase</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>CapitalReceived</elementReference>
                    </defaultValue>
                    <fieldText>Capital Received</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Approved_Phase_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Capital_Remaining</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>CapitalRemaining</elementReference>
                    </defaultValue>
                    <fieldText>Capital Remaining</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Approved_Phase_Screen_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Capital_Remaining_after_Drawdown</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>CapitalRemainingafterDrawdown</elementReference>
                    </defaultValue>
                    <fieldText>Capital Remaining after Drawdown</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Approved_Phase_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Approved_Phase_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Capital_Costs_Only_Approved_Phase</name>
                    <dataType>Currency</dataType>
                    <fieldText>Capital Costs Only</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Input your capital costs here&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>3</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(173, 23, 23);&quot;&gt;Capital costs cannot be higher than the capital remaining for this phase&lt;/strong&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF({!Capital_Remaining} &lt; {!Capital_Costs_Only_Approved_Phase}, FALSE, TRUE)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Challenge_Fund_Drawdown_Request</name>
        <label>Challenge Fund Drawdown Request</label>
        <locationX>1810</locationX>
        <locationY>2546</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Get_Approved_Funding_Drawdown_Request_Line_Items</targetReference>
        </connector>
        <fields>
            <name>Challenge_Fund_Drawdown_Request_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Challenge_Fund_Drawdown_Request_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ChoosePhasesDisplayText</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt; &lt;/strong&gt;&lt;strong style=&quot;font-size: 16px; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Grant Drawdown Request for {!Get_Award_Baseline.Baseline_Version__c}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Following the approval of your first phase request, you must then have your subsequent phase requests approved to drawdown any capital funding related to that phase. If you do not have any subsequent phase requests approved, you can only access your A&amp;amp;A funding.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;If you submit multiple drawdowns ahead of a phase or ahead of your FRA/FMP being signed off, we need to ensure the totality of these drawdowns does not exceed the 20% of your total grant spend.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>LB5</name>
                    <extensionName>c:lineBreak</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Challenge_Fund_Drawdown_Request_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Challenge_Fund_Drawdown_Request_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Overall_Grant_Funding4</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>FYGrantSpendChallengeFund</elementReference>
                    </defaultValue>
                    <fieldText>Total Financial Year Grant Funding</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Challenge_Fund_Drawdown_Request_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Remaining_Grant35</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>ChallengeFundRemaining</elementReference>
                    </defaultValue>
                    <fieldText>Financial Year Grant Funding Remaining</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Admin_Costs3</name>
            <dataType>Currency</dataType>
            <fieldText>A&amp;A Costs</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>3</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>LB9</name>
            <extensionName>c:lineBreak</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PhaseBaselinesDT</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>FundingBaseline__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Phase_Baselines</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Baseline_Version__c&quot;,&quot;guid&quot;:&quot;column-2ba8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Baseline Version&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Baseline_Start_Date__c&quot;,&quot;guid&quot;:&quot;column-f65d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Baseline Start Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Baseline_End_Date__c&quot;,&quot;guid&quot;:&quot;column-445d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Baseline End Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Baseline_Grant_Capital_Spend__c&quot;,&quot;guid&quot;:&quot;column-a738&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Capital Awarded&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Baseline Grant Capital Spend&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Challenge_Fund_Capital_Drawn_Down__c&quot;,&quot;guid&quot;:&quot;column-874d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Capital Recieved&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Challenge Fund Capital Drawn Down&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Challenge_Fund_Capital_Remaining__c&quot;,&quot;guid&quot;:&quot;column-e524&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Capital Remaining&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Challenge Fund Capital Remaining&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Appendix_Screen</name>
        <label>Appendix Screen</label>
        <locationX>1810</locationX>
        <locationY>2438</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Challenge_Fund_Drawdown_Request</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Appendix1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;APPENDIX 1&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;GRANT DRAWDOWN REQUEST FORM&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;CLAIM FOR PAYMENT OF GRANT&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;This form must be used when you wish to claim an instalment of the Grant for spend incurred, when making a Grant Drawdown Request, as set out in the standard terms and conditions of in the Grant Funding Agreement.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;Claims should be made two months in advance of the requested payment date, and claim amounts should align with the amounts forecast for that month in the monthly data upload.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;Claims should be made for spend incurred&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;. Grant Recipients do not need to wait for work to be invoiced or paid before they can claim for costs incurred (defined as any Eligible Expenditure committed and accrued, as long as the activity is due for completion within the Funding Period which is defined in the GFA).&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;You are not required to submit evidence of spend incurred alongside this&lt;/strong&gt;&lt;strong style=&quot;font-size: 12pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt; claim&lt;/strong&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt; form.&lt;/strong&gt;&lt;strong style=&quot;font-size: 12pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/strong&gt;&lt;span style=&quot;font-size: 12pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;However, proof of spend incurred will be required separately, as a minimum as part of the Evidence Check (Reconciliation) process that is carried out three times per year. We may request, and You must supply, proof of expenditure and any other supporting documentation and information (in addition to the Grant Drawdown Request Form) as We require.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_No_FY_Baselines</name>
        <label>No FY Baselines</label>
        <locationX>1898</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_Copy_1_of_No_Phase_Baselines</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(137, 10, 10); font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 11pt;&quot;&gt;There is currently no &quot;Active&quot; financial year baseline for this funding award for the current financial year.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(137, 10, 10); font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 11pt;&quot;&gt;Please review your financial year baselines to ensure they&apos;re up to date or contact an administrator for support, thank you.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Review_Drawdown_Request</name>
        <label>Review Drawdown Request</label>
        <locationX>1194</locationX>
        <locationY>1946</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Copy_1_of_Create_Drawdown_Request_Record</targetReference>
        </connector>
        <fields>
            <name>drawdownrequesttext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt; &lt;/strong&gt;&lt;strong style=&quot;font-size: 16px; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Grant Drawdown Request for {!FYBaselineVersion}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>lb11</name>
            <extensionName>c:lineBreak</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Review_Drawdown_Request_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Review_Drawdown_Request_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Total_Drawdown_Requested2</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>nophasetotalrequestedamount</elementReference>
                    </defaultValue>
                    <fieldText>Total Drawdown Requested</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Review_Drawdown_Request_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Remaining_Grant</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Funding_Award.Application__r.Total_Grant_Funding__c</elementReference>
                    </defaultValue>
                    <fieldText>Total Grant Funding</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Review_Drawdown_Request_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Remaining_Grant_after_Drawdown_Request</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>nophasedrawdownrequestremaining</elementReference>
                    </defaultValue>
                    <fieldText>Total Grant Funding Remaining after Drawdown Request</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Submit Request</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Review_Drawdown_Requests_for_Phases</name>
        <label>Drawdown Requests for Phases Over</label>
        <locationX>1634</locationX>
        <locationY>3794</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <fields>
            <name>Copy_1_of_drawdownrequesttext1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt; &lt;/strong&gt;&lt;strong style=&quot;font-size: 16px; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Grant Drawdown Request for {!Get_Award_Baseline.Baseline_Version__c}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; background-color: rgb(255, 255, 255); color: rgb(137, 10, 10);&quot;&gt;The total amount requested exceeds the remaining financial year funding you have available, please go back and adjust your drawdown requests for each phase to be able to submit this request.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_lb19</name>
            <extensionName>c:lineBreak</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Review_Drawdown_Requests_for_Phases_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Review_Drawdown_Requests_for_Phases_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_A_A_Requested</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Admin_Costs3</elementReference>
                    </defaultValue>
                    <fieldText>A&amp;A Requested</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Review_Drawdown_Requests_for_Phases_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Copy_1_of_Copy_1_of_Remaining_Grant</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>AdminPlusCapital</elementReference>
                    </defaultValue>
                    <fieldText>Total Drawdown Requested</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Review_Drawdown_Requests_for_Phases_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Remaining_Grant3</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>ChallengeFundRemaining</elementReference>
                    </defaultValue>
                    <fieldText>Financial Year Grant Funding Remaining</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Review_Drawdown_Requests_for_Phases_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Copy_1_of_Copy_1_of_Remaining_Grant_after_Drawdown_Request</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>GrantFundingMinusAdminCostsPlusCapitalCostsFormula</elementReference>
                    </defaultValue>
                    <fieldText>Financial Year Grant Funding Remaining after Request</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_PhaseDrawdownRemainingTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>FundingBaseline__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>CapitalCollectionVariable</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Baseline_Version__c&quot;,&quot;guid&quot;:&quot;column-a399&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Baseline Version&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Challenge_Fund_Capital_Remaining__c&quot;,&quot;guid&quot;:&quot;column-39c9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Capital Remaining&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Challenge Fund Capital Remaining&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Baseline_Total_Spend__c&quot;,&quot;guid&quot;:&quot;column-9637&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Capital Requested&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Baseline Total Spend&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Baseline_Total_Grant_Spend__c&quot;,&quot;guid&quot;:&quot;column-e5eb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Capital Remaining after Drawdown&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Baseline Total Grant Spend&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Appendix_Screen</name>
        <label>Appendix Screen</label>
        <locationX>1194</locationX>
        <locationY>1730</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>No_Approved_Phase_Request</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_1_of_Appendix1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;APPENDIX 1&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;GRANT DRAWDOWN REQUEST FORM&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;CLAIM FOR PAYMENT OF GRANT&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;This form must be used when you wish to claim an instalment of the Grant for spend incurred, when making a Grant Drawdown Request, as set out in the standard terms and conditions of in the Grant Funding Agreement.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;Claims should be made two months in advance of the requested payment date, and claim amounts should align with the amounts forecast for that month in the monthly data upload.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;Claims should be made for spend incurred&lt;/strong&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;. Grant Recipients do not need to wait for work to be invoiced or paid before they can claim for costs incurred (defined as any Eligible Expenditure committed and accrued, as long as the activity is due for completion within the Funding Period which is defined in the GFA).&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;You are not required to submit evidence of spend incurred alongside this&lt;/strong&gt;&lt;strong style=&quot;font-size: 12pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt; claim&lt;/strong&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt; form.&lt;/strong&gt;&lt;strong style=&quot;font-size: 12pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/strong&gt;&lt;span style=&quot;font-size: 12pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif;&quot;&gt;However, proof of spend incurred will be required separately, as a minimum as part of the Evidence Check (Reconciliation) process that is carried out three times per year. We may request, and You must supply, proof of expenditure and any other supporting documentation and information (in addition to the Grant Drawdown Request Form) as We require.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Thank_You_Screen</name>
        <label>Thank You Screen</label>
        <locationX>1194</locationX>
        <locationY>2270</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_thankyou</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 16px;&quot;&gt;Thank you for submitting a grant drawdown request, this will now be reviewed internally and either approved or rejected.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Submit Drawdown Request</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Drawdown_Request_for_this_month_already_exists</name>
        <label>Drawdown Request for this month already exists</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Drawdownalreadyexists</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; color: rgb(137, 10, 10); background-color: rgb(255, 255, 255);&quot;&gt;A Grant Drawdown Request has already been submitted for this month, please wait till next month to submit a new one.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Start New Drawdown Request</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Exceeds_FY_Baseline_Remaining</name>
        <label>Exceeds FY Baseline Remaining</label>
        <locationX>314</locationX>
        <locationY>2546</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Update Request</backButtonLabel>
        <fields>
            <name>Copy_1_of_Copy_1_of_No_Phase_Baselines</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(137, 10, 10); font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 11pt;&quot;&gt;The total of your Capital and A&amp;amp;A Costs exceeds the remaining grant  amount you have left in this financial year.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(137, 10, 10); font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 11pt;&quot;&gt;Please review your request and update it to ensure it does not exceed the remaining amount.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>LB2</name>
            <extensionName>c:lineBreak</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Exceeds_FY_Baseline_Remaining_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Exceeds_FY_Baseline_Remaining_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Total_Drawdown_Requested1</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>AdminCostsPlusCapitalCostsStrategic</elementReference>
                    </defaultValue>
                    <fieldText>Total Drawdown Requested</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Exceeds_FY_Baseline_Remaining_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RemainingFYAmountafterdrawdowns1</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>RemainingFYAmountafterdrawdowns</elementReference>
                    </defaultValue>
                    <fieldText>Financial Year Grant Funding Remaining</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Approved_Phase_Request</name>
        <label>No Approved Phase Request</label>
        <locationX>1194</locationX>
        <locationY>1838</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Copy_1_of_Review_Drawdown_Request</targetReference>
        </connector>
        <fields>
            <name>noapprovedphaserequestfound</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 11pt;&quot;&gt; &lt;/strong&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 16px;&quot;&gt;Grant Drawdown Request for {!Get_Award_Baseline.Baseline_Version__c}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Your first Phase Request has yet to be approved. You can still submit a drawdown request based on the rules below&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>maynotdrawdownnophaserequest</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(173, 23, 23);&quot;&gt;You may not drawdown more than 20% (15% A&amp;amp;A and 5% capital) of your total funding prior to approval of your first phase request and approval of an FMP and FRA.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varHidden</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>LB4</name>
            <extensionName>c:lineBreak</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>No_Approved_Phase_Request_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>No_Approved_Phase_Request_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Overall_Grant_Funding</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Funding_Award.Application__r.Total_Grant_Funding__c</elementReference>
                    </defaultValue>
                    <fieldText>Total Grant Funding</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>No_Approved_Phase_Request_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Total_Grant_Capital_Funding</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Funding_Award.Application__r.Total_Grant_Funding_Capital__c</elementReference>
                    </defaultValue>
                    <fieldText>Total Grant Funding Capital</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>No_Approved_Phase_Request_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>No_Approved_Phase_Request_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>No_Approved_Phase_Request_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Total_Capital_Costs_Only</name>
                    <dataType>Currency</dataType>
                    <fieldText>Capital Costs Only</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;This is up to 5% of your overall grant funding figure as no phase request in place&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;strong style=&quot;color: rgb(173, 23, 23); background-color: rgb(255, 255, 255);&quot;&gt;Capital Costs cannot be more than 5% of the total grant funding&lt;/strong&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF({!Total_Capital_Costs_Only} &gt; ({!Overall_Grant_Funding} / 100) * 5, FALSE, TRUE)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>A_A_Costs</name>
                    <dataType>Currency</dataType>
                    <fieldText>A&amp;A Costs</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;This is up to 15% of your overall grant funding figure&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(173, 23, 23);&quot;&gt;A&amp;amp;A Costs cannot be more than 15% of the total grant funding&lt;/strong&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF({!A_A_Costs} &gt; ({!Overall_Grant_Funding} / 100) * 15, FALSE, TRUE)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>No_Approved_Phase_Request_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>No_Approved_Phase_Request_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>No_Approved_Phase_Request_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Review Request</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_FY_Baselines</name>
        <label>No FY Baselines</label>
        <locationX>842</locationX>
        <locationY>1814</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_No_Phase_Baselines</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(137, 10, 10); font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 11pt;&quot;&gt;There is currently no &quot;Active&quot; financial year baseline for this funding award for the current financial year.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(137, 10, 10); font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 11pt;&quot;&gt;Please review your financial year baselines to ensure they&apos;re up to date or contact an administrator for support, thank you.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Review_Drawdown_Request</name>
        <label>Review Drawdown Request</label>
        <locationX>578</locationX>
        <locationY>2546</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Create_Drawdown_Request_Record</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Baselineversion</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 11pt;&quot;&gt; &lt;/strong&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 16px;&quot;&gt;Grant Drawdown Request for &lt;/strong&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!StrategicFYBaselineRecord.Baseline_Version__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>LB3</name>
            <extensionName>c:lineBreak</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Review_Drawdown_Request_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Review_Drawdown_Request_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Total_Drawdown_Requested</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>AdminCostsPlusCapitalCostsStrategic</elementReference>
                    </defaultValue>
                    <fieldText>Total Drawdown Requested</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Review_Drawdown_Request_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Remaining_Grant</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>RemainingFYAmountafterdrawdowns</elementReference>
                    </defaultValue>
                    <fieldText>Financial Year Grant Funding Remaining</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Review_Drawdown_Request_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Remaining_Grant_after_Drawdown_Request</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>RemainingGrantafterdrawdownrequest</elementReference>
                    </defaultValue>
                    <fieldText>Financial Year Grant Funding Remaining after Drawdown Request</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Submit Request</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Review_Drawdown_Requests_for_Phases</name>
        <label>Review Drawdown Requests for Phases</label>
        <locationX>1986</locationX>
        <locationY>3794</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Create_Drawdown_Request_Record2</targetReference>
        </connector>
        <fields>
            <name>drawdownrequesttext1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt; &lt;/strong&gt;&lt;strong style=&quot;font-size: 16px; font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Grant Drawdown Request for {!Get_Award_Baseline.Baseline_Version__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>lb19</name>
            <extensionName>c:lineBreak</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Review_Drawdown_Requests_for_Phases_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Review_Drawdown_Requests_for_Phases_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>A_A_Requested</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Admin_Costs3</elementReference>
                    </defaultValue>
                    <fieldText>A&amp;A Requested</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Review_Drawdown_Requests_for_Phases_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Copy_1_of_Remaining_Grant</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>AdminPlusCapital</elementReference>
                    </defaultValue>
                    <fieldText>Total Drawdown Requested</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Review_Drawdown_Requests_for_Phases_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Remaining_Grant3</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>ChallengeFundRemaining</elementReference>
                    </defaultValue>
                    <fieldText>Financial Year Grant Funding Remaining</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Review_Drawdown_Requests_for_Phases_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Copy_1_of_Remaining_Grant_after_Drawdown_Request</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>GrantFundingMinusAdminCostsPlusCapitalCostsFormula</elementReference>
                    </defaultValue>
                    <fieldText>Financial Year Grant Funding Remaining after Request</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PhaseDrawdownRemainingTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>FundingBaseline__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>CapitalCollectionVariable</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Baseline_Version__c&quot;,&quot;guid&quot;:&quot;column-a399&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Baseline Version&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Challenge_Fund_Capital_Remaining__c&quot;,&quot;guid&quot;:&quot;column-39c9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Capital Remaining&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Challenge Fund Capital Remaining&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Baseline_Total_Spend__c&quot;,&quot;guid&quot;:&quot;column-9637&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Capital Requested&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Baseline Total Spend&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Baseline_Total_Grant_Spend__c&quot;,&quot;guid&quot;:&quot;column-e5eb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Capital Remaining after Drawdown&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Baseline Total Grant Spend&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Submit Request</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_A_Financial_Year_Baseline</name>
        <label>Select A Financial Year Baseline</label>
        <locationX>468</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Strategic_FY_Baseline_record</targetReference>
        </connector>
        <fields>
            <name>dta_Financial_Year_Baseline</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>FundingBaseline__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Financial_Years</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Baseline_Version__c&quot;,&quot;guid&quot;:&quot;column-27f4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Baseline&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Baseline Version&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Strategic_Partnership_Drawdown_Request</name>
        <label>Strategic Partnership Drawdown Request</label>
        <locationX>446</locationX>
        <locationY>2330</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Does_Capital_A_A_Funding_exceed_the_remaining_grant_for_this_FY</targetReference>
        </connector>
        <fields>
            <name>Baselineversion</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 11pt;&quot;&gt; &lt;/strong&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 16px;&quot;&gt;Grant Drawdown Request for &lt;/strong&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!StrategicFYBaselineRecord.Baseline_Version__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FMPFRAWarning</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(173, 23, 23);&quot;&gt;You may not drawdown more than 20% (15% A&amp;amp;A and 5% capital) of your total funding prior to approval of your first phase request and approval of an FMP and FRA.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varHidden</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>LB1</name>
            <extensionName>c:lineBreak</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Strategic_Partnership_Drawdown_Request_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Strategic_Partnership_Drawdown_Request_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Total_Grant_Awarded</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>StrategicFYBaselineRecord.SP_Baseline_Grant_Spend__c</elementReference>
                    </defaultValue>
                    <fieldText>Total Financial Year Grant Funding</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Strategic_Partnership_Drawdown_Request_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Current_FY_Grant_Funding</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>RemainingFYAmountafterdrawdowns</elementReference>
                    </defaultValue>
                    <fieldText>Financial Year Grant Funding Remaining</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Strategic_Partnership_Drawdown_Request_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Strategic_Partnership_Drawdown_Request_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Capital_Costs_Only</name>
                    <dataType>Currency</dataType>
                    <fieldText>Capital Costs Only</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Input your capital costs here&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;strong style=&quot;color: rgb(173, 23, 23); background-color: rgb(255, 255, 255);&quot;&gt;Capital Costs cannot be more than the total financial year grant funding remaining&lt;/strong&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF({!Capital_Costs_Only} &gt; {!Current_FY_Grant_Funding}, FALSE, TRUE)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Admin_Costs</name>
                    <dataType>Currency</dataType>
                    <fieldText>A&amp;A Costs</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;This is up to 15% of overall grant funding figure&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;strong style=&quot;color: rgb(173, 23, 23); background-color: rgb(255, 255, 255);&quot;&gt;A&amp;amp;A Costs cannot be more than the total financial year grant funding remaining&lt;/strong&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF({!Admin_Costs} &gt; {!Current_FY_Grant_Funding}, FALSE, TRUE)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>3</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Review Request</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Thank_You_Screen</name>
        <label>Thank You Screen</label>
        <locationX>578</locationX>
        <locationY>2870</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>thankyou</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 16px;&quot;&gt;Thank you for submitting a grant drawdown request, this will now be reviewed internally and either approved or rejected.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Submit Drawdown Request</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Thank_You_Screen1</name>
        <label>Thank You Screen</label>
        <locationX>1986</locationX>
        <locationY>4634</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Thankyoudisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: Arial, Arial_EmbeddedFont, Arial_MSFontService, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Thank you for submitting a grant drawdown request, this will now be reviewed internally and either approved or rejected.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>435</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Run_DESNZ_User_Award_Retrieve</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Run_DESNZ_User_Award_Retrieve</name>
        <label>Run DESNZ User Award Retrieve</label>
        <locationX>561</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Assign_Record_Id</targetReference>
        </connector>
        <flowName>DESNZ_User_Award_Retrieve</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>AdminCostsVar</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>approvedfundingdrawdownamounts</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>approvedfundingdrawdownamountsAA</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>approvedfundingdrawdownamountsCapital</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CapitalAmountsRecordVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingBaseline__c</objectType>
    </variables>
    <variables>
        <name>CapitalCollectionVariable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingBaseline__c</objectType>
    </variables>
    <variables>
        <name>CapitalCostsVar</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>DrawdownRequestLineItemCapital</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>FundingDrawdownRequestID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FYBaselineRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FYBaselineVersion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FYGrantAASpend</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>FYGrantCapitalSpend</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>FYGrantSpend</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>FYGrantSpendChallengeFund</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>PhaseDrawdownCollectionLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Funding_Drawdown_Request_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>PhaseDrawdownCollectionLineItemwithID</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Funding_Drawdown_Request_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>PhaseDrawdownRecordLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Funding_Drawdown_Request_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>PhaseDrawdownRecordLineItemwithID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Funding_Drawdown_Request_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RequestAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SelectedPhaseBaselinesChallengeFund</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StrategicFYBaselineID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StrategicFYBaselineRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingBaseline__c</objectType>
    </variables>
    <variables>
        <name>varBaselineCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varHidden</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
