force-app/main/default/flows/GMS_Phase_Tracker_Refresh.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_to_Phase_Tracker_Record_Collection</name>
        <label>Assign to Phase Tracker Record Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PhaseTrackerRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AwardPhaseBaselineSingleRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PhaseTrackerRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CompletedPhaseTrackerSingleRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PhaseTrackerRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CompletedApprovedPhaseTrackerSingleRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PhaseTrackerRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PhaseTrackerRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RemainingInProjectTrackerSingleRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PhaseTrackerRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SubmittedPhaseRequestsBaselines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Phase_Trackers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_single_record_variable</name>
        <label>Assign to single record variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cumulative_Completed_Phase_Tracker_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.Last_Refreshed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.Capital_Grant_Project_Total__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Phase_Baselines.Baseline_Grant_Capital_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.AA_Grant_Project_Total__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Phase_Baselines.Baseline_Grant_A_A_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.Grant_Total_FY_2526__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Phase_Baselines.Grant_Spend_25_26__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.Grant_Total_FY_2627__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Phase_Baselines.Grant_Spend_26_27__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.Grant_Total_FY_2728__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Phase_Baselines.Grant_Spend_27_28__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.Capital_Co_funding_Total__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Phase_Baselines.Baseline_Co_Funding_Capital_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.Cofunding_Total_FY_2425__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Phase_Baselines.Co_Funding_Spend_24_25__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.Cofunding_Total_FY_2526__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Phase_Baselines.Co_Funding_Spend_25_26__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.Cofunding_Total_FY_2627__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Phase_Baselines.Co_Funding_Spend_26_27__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.Cofunding_Total_FY_2728__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Phase_Baselines.Co_Funding_Spend_27_28__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.Cofunding_Total_FY_2829__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Phase_Baselines.Co_Funding_Spend_28_29__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.LCH_Off_Gas_Incentive_Homes__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Phase_Baselines.No_of_Homes_for_Off_Gas_grid_LCH_Uplift__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.LCH_On_Gas_Incentive_Homes__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Phase_Baselines.No_of_Homes_for_On_Gas_grid_LCH_Offer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.Starting_EPC_C_Homes__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CompletedStartedEPCPlus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.Non_Social_Homes__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Phase_Baselines.Starting_No_of_Non_Social_Homes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.Homes_Treated__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Phase_Baselines.Total_Homes_to_be_Upgraded__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.A_A_Co_funding_Project_Total__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Phase_Baselines.Baseline_Co_funding_A_A_spend__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Completed_Phase_Baselines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_single_record_variable_1</name>
        <label>Assign to single record variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cumulative_Including_Approved_Phases_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.Last_Refreshed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.Capital_Grant_Project_Total__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Approved_Phase_Baselines.Baseline_Grant_Capital_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.AA_Grant_Project_Total__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Approved_Phase_Baselines.Baseline_Grant_A_A_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.Grant_Total_FY_2526__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Approved_Phase_Baselines.Grant_Spend_25_26__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.Grant_Total_FY_2627__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Approved_Phase_Baselines.Grant_Spend_26_27__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.Grant_Total_FY_2728__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Approved_Phase_Baselines.Grant_Spend_27_28__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.Capital_Co_funding_Total__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Approved_Phase_Baselines.Baseline_Co_Funding_Capital_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.Cofunding_Total_FY_2425__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Approved_Phase_Baselines.Co_Funding_Spend_24_25__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.Cofunding_Total_FY_2526__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Approved_Phase_Baselines.Co_Funding_Spend_25_26__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.Cofunding_Total_FY_2627__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Approved_Phase_Baselines.Co_Funding_Spend_26_27__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.Cofunding_Total_FY_2728__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Approved_Phase_Baselines.Co_Funding_Spend_27_28__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.Cofunding_Total_FY_2829__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Approved_Phase_Baselines.Co_Funding_Spend_28_29__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.LCH_Off_Gas_Incentive_Homes__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Approved_Phase_Baselines.No_of_Homes_for_Off_Gas_grid_LCH_Uplift__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.LCH_On_Gas_Incentive_Homes__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Approved_Phase_Baselines.No_of_Homes_for_On_Gas_grid_LCH_Offer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.Starting_EPC_C_Homes__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CompletedApprovedStartingEPCPlus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.Non_Social_Homes__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Approved_Phase_Baselines.Starting_No_of_Non_Social_Homes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.Homes_Treated__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Approved_Phase_Baselines.Total_Homes_to_be_Upgraded__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.A_A_Co_funding_Project_Total__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Approved_Phase_Baselines.Baseline_Co_funding_A_A_spend__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Completed_Approved_Phase_Baselines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_single_record_variable_2</name>
        <label>Assign to single record variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cumulative_Including_Submitted_Phases_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Last_Refreshed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Capital_Grant_Project_Total__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Approved_Submitted_Phase_Baselines.Baseline_Grant_Capital_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.AA_Grant_Project_Total__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Approved_Submitted_Phase_Baselines.Baseline_Grant_A_A_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Grant_Total_FY_2526__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Approved_Submitted_Phase_Baselines.Grant_Spend_25_26__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Grant_Total_FY_2627__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Approved_Submitted_Phase_Baselines.Grant_Spend_26_27__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Grant_Total_FY_2728__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Approved_Submitted_Phase_Baselines.Grant_Spend_27_28__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Capital_Co_funding_Total__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Approved_Submitted_Phase_Baselines.Baseline_Co_Funding_Capital_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Cofunding_Total_FY_2425__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Approved_Submitted_Phase_Baselines.Co_Funding_Spend_24_25__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Cofunding_Total_FY_2526__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Approved_Submitted_Phase_Baselines.Co_Funding_Spend_25_26__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Cofunding_Total_FY_2627__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Approved_Submitted_Phase_Baselines.Co_Funding_Spend_26_27__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Cofunding_Total_FY_2728__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Approved_Submitted_Phase_Baselines.Co_Funding_Spend_27_28__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Cofunding_Total_FY_2829__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Approved_Submitted_Phase_Baselines.Co_Funding_Spend_28_29__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.LCH_Off_Gas_Incentive_Homes__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Approved_Submitted_Phase_Baselines.No_of_Homes_for_Off_Gas_grid_LCH_Uplift__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.LCH_On_Gas_Incentive_Homes__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Approved_Submitted_Phase_Baselines.No_of_Homes_for_On_Gas_grid_LCH_Offer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Starting_EPC_C_Homes__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>StartingCompletedApprovedSubmittedEPCPlus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Non_Social_Homes__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Approved_Submitted_Phase_Baselines.Starting_No_of_Non_Social_Homes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Homes_Treated__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Approved_Submitted_Phase_Baselines.Total_Homes_to_be_Upgraded__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.A_A_Co_funding_Project_Total__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Approved_Submitted_Phase_Baselines.Baseline_Co_funding_A_A_spend__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Completed_Approved_Submitted_Phase_Baselines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_single_record_variable_4</name>
        <label>Assign to single record variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Remaining_In_Project_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.Last_Refreshed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.Capital_Grant_Project_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemainingGrantProjectTotal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.AA_Grant_Project_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemainingAAGrantProjectTotal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.Grant_Total_FY_2526__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemainingGrantTotal2526</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.Grant_Total_FY_2627__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemainingGrantTotal2627</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.Grant_Total_FY_2728__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemainingGrantTotal2728</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.Capital_Co_funding_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemainingCapitalCoFundingTotal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.Cofunding_Total_FY_2425__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemainingCoFundingTotal2425</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.Cofunding_Total_FY_2526__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemainingCoFundingTotal2526</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.Cofunding_Total_FY_2627__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemainingCoFundingTotal2627</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.Cofunding_Total_FY_2728__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemainingCoFundingTotal2728</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.Cofunding_Total_FY_2829__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemainingCoFundingTotal2829</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.LCH_Off_Gas_Incentive_Homes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemainingLCHOffGasIncentiveHomes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.LCH_On_Gas_Incentive_Homes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemainingLCHOnGasIncentiveHomes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.Homes_Treated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemainingHomesTreated</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Phase_Request_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_zero</name>
        <label>Assign values to zero</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.Capital_Grant_Project_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.AA_Grant_Project_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.Grant_Total_FY_2526__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.Grant_Total_FY_2627__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.Grant_Total_FY_2728__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.Capital_Co_funding_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.Cofunding_Total_FY_2425__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.Cofunding_Total_FY_2526__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.Cofunding_Total_FY_2627__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.Cofunding_Total_FY_2728__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.Cofunding_Total_FY_2829__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.LCH_Off_Gas_Incentive_Homes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.LCH_On_Gas_Incentive_Homes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.Starting_EPC_C_Homes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.Non_Social_Homes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.Homes_Treated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cumulative_Completed_Phase_Tracker_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.Last_Refreshed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Completed_Phase_Baselines_collection_empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_zero1</name>
        <label>Assign values to zero</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.Capital_Grant_Project_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.AA_Grant_Project_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.Grant_Total_FY_2526__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.Grant_Total_FY_2627__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.Grant_Total_FY_2728__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.Capital_Co_funding_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.Cofunding_Total_FY_2425__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.Cofunding_Total_FY_2526__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.Cofunding_Total_FY_2627__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.Cofunding_Total_FY_2728__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.Cofunding_Total_FY_2829__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.LCH_Off_Gas_Incentive_Homes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.LCH_On_Gas_Incentive_Homes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.Starting_EPC_C_Homes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.Non_Social_Homes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.Homes_Treated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cumulative_Including_Approved_Phases_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.Last_Refreshed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Completed_Approved_Phase_Baselines_collection_empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_zero_2</name>
        <label>Assign values to zero</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Capital_Grant_Project_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.AA_Grant_Project_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Grant_Total_FY_2526__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Grant_Total_FY_2627__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Grant_Total_FY_2728__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Capital_Co_funding_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Cofunding_Total_FY_2425__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Cofunding_Total_FY_2526__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Cofunding_Total_FY_2627__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Cofunding_Total_FY_2728__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Cofunding_Total_FY_2829__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.LCH_Off_Gas_Incentive_Homes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.LCH_On_Gas_Incentive_Homes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Starting_EPC_C_Homes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Non_Social_Homes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Homes_Treated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cumulative_Including_Submitted_Phases_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Last_Refreshed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Completed_Approved_Submitted_Phase_Baselines_collection_empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_zero_3</name>
        <label>Assign values to zero</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.Capital_Grant_Project_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.AA_Grant_Project_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.Grant_Total_FY_2526__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.Grant_Total_FY_2627__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.Grant_Total_FY_2728__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.Capital_Co_funding_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.Cofunding_Total_FY_2425__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.Cofunding_Total_FY_2526__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.Cofunding_Total_FY_2627__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.Cofunding_Total_FY_2728__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.Cofunding_Total_FY_2829__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.LCH_Off_Gas_Incentive_Homes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.LCH_On_Gas_Incentive_Homes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.Starting_EPC_C_Homes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.Non_Social_Homes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.Homes_Treated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_single_record_variable_4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Award_Phase_Baseline_Assignment</name>
        <label>Award Phase Baseline Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AwardPhaseBaselineSingleRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Total_Project_Baseline_Phase_Tracker_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AwardPhaseBaselineSingleRecord.Last_Refreshed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AwardPhaseBaselineSingleRecord.Homes_Treated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Award_Phase_Baseline.Total_Homes_to_be_Upgraded__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AwardPhaseBaselineSingleRecord.Capital_Grant_Project_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Award_Phase_Baseline.Baseline_Grant_Capital_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AwardPhaseBaselineSingleRecord.AA_Grant_Project_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Award_Phase_Baseline.Baseline_Grant_A_A_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AwardPhaseBaselineSingleRecord.Grant_Total_FY_2526__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Award_Phase_Baseline.Grant_Spend_25_26__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AwardPhaseBaselineSingleRecord.Grant_Total_FY_2627__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Award_Phase_Baseline.Grant_Spend_26_27__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AwardPhaseBaselineSingleRecord.Grant_Total_FY_2728__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Award_Phase_Baseline.Grant_Spend_27_28__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AwardPhaseBaselineSingleRecord.Capital_Co_funding_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Award_Phase_Baseline.Baseline_Co_Funding_Capital_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AwardPhaseBaselineSingleRecord.Cofunding_Total_FY_2425__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Award_Phase_Baseline.Co_Funding_Spend_24_25__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AwardPhaseBaselineSingleRecord.Cofunding_Total_FY_2526__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Award_Phase_Baseline.Co_Funding_Spend_25_26__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AwardPhaseBaselineSingleRecord.Cofunding_Total_FY_2627__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Award_Phase_Baseline.Co_Funding_Spend_26_27__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AwardPhaseBaselineSingleRecord.Cofunding_Total_FY_2728__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Award_Phase_Baseline.Co_Funding_Spend_27_28__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AwardPhaseBaselineSingleRecord.Cofunding_Total_FY_2829__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Award_Phase_Baseline.Co_Funding_Spend_28_29__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AwardPhaseBaselineSingleRecord.LCH_Off_Gas_Incentive_Homes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Award_Phase_Baseline.No_of_Homes_for_Off_Gas_grid_LCH_Uplift__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AwardPhaseBaselineSingleRecord.LCH_On_Gas_Incentive_Homes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Award_Phase_Baseline.No_of_Homes_for_On_Gas_grid_LCH_Offer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AwardPhaseBaselineSingleRecord.A_A_Co_funding_Project_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Award_Phase_Baseline.Baseline_Co_funding_A_A_spend__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Completed_Phase_Baselines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_to_single_record_variable</name>
        <label>Assign to single record variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SubmittedPhaseRequestsBaselines.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Most_Recent_Submitted_Phase_Request.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmittedPhaseRequestsBaselines.Last_Refreshed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmittedPhaseRequestsBaselines.Capital_Grant_Project_Total__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Phase_Baseline_from_Phase_Request.Baseline_Grant_Capital_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmittedPhaseRequestsBaselines.AA_Grant_Project_Total__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Phase_Baseline_from_Phase_Request.Baseline_Grant_A_A_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmittedPhaseRequestsBaselines.Grant_Total_FY_2526__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Phase_Baseline_from_Phase_Request.Grant_Spend_25_26__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmittedPhaseRequestsBaselines.Grant_Total_FY_2627__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Phase_Baseline_from_Phase_Request.Grant_Spend_26_27__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmittedPhaseRequestsBaselines.Grant_Total_FY_2728__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Phase_Baseline_from_Phase_Request.Grant_Spend_27_28__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmittedPhaseRequestsBaselines.Capital_Co_funding_Total__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Phase_Baseline_from_Phase_Request.Baseline_Co_Funding_Capital_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmittedPhaseRequestsBaselines.Cofunding_Total_FY_2425__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Phase_Baseline_from_Phase_Request.Co_Funding_Spend_24_25__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmittedPhaseRequestsBaselines.Cofunding_Total_FY_2526__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Phase_Baseline_from_Phase_Request.Co_Funding_Spend_25_26__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmittedPhaseRequestsBaselines.Cofunding_Total_FY_2627__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Phase_Baseline_from_Phase_Request.Co_Funding_Spend_26_27__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmittedPhaseRequestsBaselines.Cofunding_Total_FY_2728__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Phase_Baseline_from_Phase_Request.Co_Funding_Spend_27_28__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmittedPhaseRequestsBaselines.Cofunding_Total_FY_2829__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Phase_Baseline_from_Phase_Request.Co_Funding_Spend_28_29__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmittedPhaseRequestsBaselines.LCH_Off_Gas_Incentive_Homes__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Phase_Baseline_from_Phase_Request.No_of_Homes_for_Off_Gas_grid_LCH_Uplift__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmittedPhaseRequestsBaselines.LCH_On_Gas_Incentive_Homes__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Phase_Baseline_from_Phase_Request.No_of_Homes_for_On_Gas_grid_LCH_Offer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmittedPhaseRequestsBaselines.Starting_EPC_C_Homes__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MostRecentlySubmittedPhaseRequest</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmittedPhaseRequestsBaselines.Non_Social_Homes__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Phase_Baseline_from_Phase_Request.Starting_No_of_Non_Social_Homes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmittedPhaseRequestsBaselines.Homes_Treated__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Phase_Baseline_from_Phase_Request.Total_Homes_to_be_Upgraded__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmittedPhaseRequestsBaselines.A_A_Co_funding_Project_Total__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Phase_Baseline_from_Phase_Request.Baseline_Co_funding_A_A_spend__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Phase_Tracker_Record_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_values_to_zero</name>
        <label>Assign values to zero</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SubmittedPhaseRequestsBaselines.Capital_Grant_Project_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmittedPhaseRequestsBaselines.AA_Grant_Project_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmittedPhaseRequestsBaselines.Grant_Total_FY_2526__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmittedPhaseRequestsBaselines.Grant_Total_FY_2627__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmittedPhaseRequestsBaselines.Grant_Total_FY_2728__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmittedPhaseRequestsBaselines.Capital_Co_funding_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmittedPhaseRequestsBaselines.Cofunding_Total_FY_2425__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmittedPhaseRequestsBaselines.Cofunding_Total_FY_2526__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmittedPhaseRequestsBaselines.Cofunding_Total_FY_2627__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmittedPhaseRequestsBaselines.Cofunding_Total_FY_2728__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmittedPhaseRequestsBaselines.Cofunding_Total_FY_2829__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmittedPhaseRequestsBaselines.LCH_Off_Gas_Incentive_Homes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmittedPhaseRequestsBaselines.LCH_On_Gas_Incentive_Homes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmittedPhaseRequestsBaselines.Starting_EPC_C_Homes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmittedPhaseRequestsBaselines.Non_Social_Homes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmittedPhaseRequestsBaselines.Homes_Treated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cumulative_Including_Submitted_Phases_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Last_Refreshed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_to_single_record_variable</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Completed_Approved_Phase_Baselines</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Completed &amp; Approved Phase Baselines</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Submitted_Phase_Requests_Baselines</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Baselines_from_Funding_Award</collectionReference>
        <conditionLogic>(1 AND 2) OR (2 AND 3)</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Submitted_Phase_Requests_Baselines.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Active</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Submitted_Phase_Requests_Baselines.Baseline_Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Phase</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Submitted_Phase_Requests_Baselines.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Milestones Completed</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_values_to_zero1</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Completed_Approved_Submitted_Phase_Baselines</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Completed, Approved &amp; Submitted Phase Baselines</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Submitted_Phase_Requests_Baselines</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Baselines_from_Funding_Award</collectionReference>
        <conditionLogic>(1 AND 2) OR (1 AND 3) OR (1 AND 4)</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Submitted_Phase_Requests_Baselines.Baseline_Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Phase</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Submitted_Phase_Requests_Baselines.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Pending Approval</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Submitted_Phase_Requests_Baselines.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Active</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Submitted_Phase_Requests_Baselines.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Milestones Completed</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_values_to_zero_2</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Completed_Phase_Baselines</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Completed Phase Baselines</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Submitted_Phase_Requests_Baselines</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Baselines_from_Funding_Award</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Submitted_Phase_Requests_Baselines.Baseline_Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Phase</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Submitted_Phase_Requests_Baselines.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Milestones Completed</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_values_to_zero</targetReference>
        </connector>
    </collectionProcessors>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Are_there_six_total_phase_tracker_records</name>
        <label>Are there six total phase tracker records?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Unable_to_Refresh_all_Phase_Tracker_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Six Records do not Exist</defaultConnectorLabel>
        <rules>
            <name>Six_Records_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Remaining_In_Project_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Total_Project_Baseline_Phase_Tracker_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Cumulative_Completed_Phase_Tracker_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Cumulative_Including_Approved_Phases_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Cumulative_Including_Submitted_Phases_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Most_Recent_Submitted_Phase_Request.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Refresh_all_Phase_Tracker_Records</targetReference>
            </connector>
            <label>Six Records Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Completed_Approved_Phase_Baselines_collection_empty</name>
        <label>Completed/Approved Phase Baselines collection empty?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Completed_Approved_Phase_Baselines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Empty</defaultConnectorLabel>
        <rules>
            <name>Empty1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Completed_Approved_Phase_Baselines</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Completed_Approved_Submitted_Phase_Baselines</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Completed_Approved_Submitted_Phase_Baselines_collection_empty</name>
        <label>Completed/Approved/Submitted Phase Baselines collection empty?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Completed_Approved_Submitted_Phase_Baselines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Empty</defaultConnectorLabel>
        <rules>
            <name>Empty2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Completed_Approved_Submitted_Phase_Baselines</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_values_to_zero_3</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Completed_Phase_Baselines_collection_empty</name>
        <label>Completed Phase Baselines collection empty?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Completed_Phase_Baselines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Empty</defaultConnectorLabel>
        <rules>
            <name>Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Completed_Phase_Baselines</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Completed_Approved_Phase_Baselines</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <description>Button on the Total Project Baseline Phase Tracker record allows users to refresh this Baseline and all other related child Phase Tracker records to ensure they&apos;re up to date with the correct information.</description>
    <environments>Default</environments>
    <formulas>
        <name>CompletedApprovedStartingEPCPlus</name>
        <dataType>Number</dataType>
        <expression>{!Loop_through_Completed_Approved_Phase_Baselines.No_of_homes_starting_at_A__c} + {!Loop_through_Completed_Approved_Phase_Baselines.No_of_homes_starting_at_EPC_B__c} + {!Loop_through_Completed_Approved_Phase_Baselines.No_of_homes_starting_at_EPC_C__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>CompletedStartedEPCPlus</name>
        <dataType>Number</dataType>
        <expression>{!Loop_through_Completed_Phase_Baselines.No_of_homes_starting_at_A__c} + {!Loop_through_Completed_Phase_Baselines.No_of_homes_starting_at_EPC_B__c} + {!Loop_through_Completed_Phase_Baselines.No_of_homes_starting_at_EPC_C__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>MostRecentlySubmittedPhaseRequest</name>
        <dataType>Number</dataType>
        <expression>{!Get_Phase_Baseline_from_Phase_Request.No_of_homes_starting_at_A__c} + {!Get_Phase_Baseline_from_Phase_Request.No_of_homes_starting_at_EPC_B__c} + 
{!Get_Phase_Baseline_from_Phase_Request.No_of_homes_starting_at_EPC_C__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>RemainingAAGrantProjectTotal</name>
        <dataType>Currency</dataType>
        <expression>{!AwardPhaseBaselineSingleRecord.AA_Grant_Project_Total__c} - {!CompletedApprovedSubmittedPhaseTrackerSingleRecord.AA_Grant_Project_Total__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>RemainingCapitalCoFundingTotal</name>
        <dataType>Currency</dataType>
        <expression>{!AwardPhaseBaselineSingleRecord.Capital_Co_funding_Total__c} - {!CompletedApprovedSubmittedPhaseTrackerSingleRecord.Capital_Co_funding_Total__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>RemainingCoFundingTotal2425</name>
        <dataType>Currency</dataType>
        <expression>{!AwardPhaseBaselineSingleRecord.Cofunding_Total_FY_2425__c} - {!CompletedApprovedSubmittedPhaseTrackerSingleRecord.Cofunding_Total_FY_2425__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>RemainingCoFundingTotal2526</name>
        <dataType>Currency</dataType>
        <expression>{!AwardPhaseBaselineSingleRecord.Cofunding_Total_FY_2526__c} - {!CompletedApprovedSubmittedPhaseTrackerSingleRecord.Cofunding_Total_FY_2526__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>RemainingCoFundingTotal2627</name>
        <dataType>Currency</dataType>
        <expression>{!AwardPhaseBaselineSingleRecord.Cofunding_Total_FY_2627__c} - {!CompletedApprovedSubmittedPhaseTrackerSingleRecord.Cofunding_Total_FY_2627__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>RemainingCoFundingTotal2728</name>
        <dataType>Currency</dataType>
        <expression>{!AwardPhaseBaselineSingleRecord.Cofunding_Total_FY_2728__c} - {!CompletedApprovedSubmittedPhaseTrackerSingleRecord.Cofunding_Total_FY_2728__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>RemainingCoFundingTotal2829</name>
        <dataType>Currency</dataType>
        <expression>{!AwardPhaseBaselineSingleRecord.Cofunding_Total_FY_2829__c} - {!CompletedApprovedSubmittedPhaseTrackerSingleRecord.Cofunding_Total_FY_2829__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>RemainingGrantProjectTotal</name>
        <dataType>Currency</dataType>
        <expression>{!AwardPhaseBaselineSingleRecord.Capital_Grant_Project_Total__c} - {!CompletedApprovedSubmittedPhaseTrackerSingleRecord.Capital_Grant_Project_Total__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>RemainingGrantTotal2526</name>
        <dataType>Currency</dataType>
        <expression>{!AwardPhaseBaselineSingleRecord.Grant_Total_FY_2526__c} - {!CompletedApprovedSubmittedPhaseTrackerSingleRecord.Grant_Total_FY_2526__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>RemainingGrantTotal2627</name>
        <dataType>Currency</dataType>
        <expression>{!AwardPhaseBaselineSingleRecord.Grant_Total_FY_2627__c} - {!CompletedApprovedSubmittedPhaseTrackerSingleRecord.Grant_Total_FY_2627__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>RemainingGrantTotal2728</name>
        <dataType>Currency</dataType>
        <expression>{!AwardPhaseBaselineSingleRecord.Grant_Total_FY_2728__c} - {!CompletedApprovedSubmittedPhaseTrackerSingleRecord.Grant_Total_FY_2728__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>RemainingHomesTreated</name>
        <dataType>Number</dataType>
        <expression>{!AwardPhaseBaselineSingleRecord.Homes_Treated__c} - {!CompletedApprovedSubmittedPhaseTrackerSingleRecord.Homes_Treated__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>RemainingLCHOffGasIncentiveHomes</name>
        <dataType>Number</dataType>
        <expression>{!AwardPhaseBaselineSingleRecord.LCH_Off_Gas_Incentive_Homes__c} - {!CompletedApprovedSubmittedPhaseTrackerSingleRecord.LCH_Off_Gas_Incentive_Homes__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>RemainingLCHOnGasIncentiveHomes</name>
        <dataType>Number</dataType>
        <expression>{!AwardPhaseBaselineSingleRecord.LCH_On_Gas_Incentive_Homes__c} - {!CompletedApprovedSubmittedPhaseTrackerSingleRecord.LCH_On_Gas_Incentive_Homes__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>StartingCompletedApprovedSubmittedEPCPlus</name>
        <dataType>Number</dataType>
        <expression>{!Loop_through_Completed_Approved_Submitted_Phase_Baselines.No_of_homes_starting_at_A__c} + {!Loop_through_Completed_Approved_Submitted_Phase_Baselines.No_of_homes_starting_at_EPC_B__c} + {!Loop_through_Completed_Approved_Submitted_Phase_Baselines.No_of_homes_starting_at_EPC_C__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TodaysDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>GMS - Phase Tracker Refresh {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>GMS - Phase Tracker Refresh</label>
    <loops>
        <name>Loop_through_Completed_Approved_Phase_Baselines</name>
        <label>Loop through Completed &amp; Approved Phase Baselines</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Completed_Approved_Phase_Baselines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_single_record_variable_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Completed_Approved_Submitted_Phase_Baselines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Completed_Approved_Submitted_Phase_Baselines</name>
        <label>Loop through Completed, Approved &amp; Submitted Phase Baselines</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Completed_Approved_Submitted_Phase_Baselines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_single_record_variable_2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_values_to_zero_3</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Completed_Phase_Baselines</name>
        <label>Loop through Completed Phase Baselines</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Completed_Phase_Baselines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_single_record_variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Completed_Approved_Phase_Baselines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_all_related_Phase_Tracker_Records</name>
        <label>Get all related Phase Tracker Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_six_total_phase_tracker_records</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Parent_Tracker__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectBaselinePhaseTrackerID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectBaselinePhaseTrackerID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Phase_Tracker__c</object>
        <sortField>Record_Type_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Award_Phase_Baseline</name>
        <label>Get Award Phase Baseline</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Award_Phase_Baseline_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Funding_Award__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Total_Project_Baseline_Phase_Tracker_Record.Funding_Award__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Baseline_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Award</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FundingBaseline__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Baselines_from_Funding_Award</name>
        <label>Get Baselines from Funding Award</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Award_Phase_Baseline</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Funding_Award__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Total_Project_Baseline_Phase_Tracker_Record.Funding_Award__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Historic</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FundingBaseline__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cumulative_Completed_Phase_Tracker_Record</name>
        <label>Get Cumulative Completed Phase Tracker Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Cumulative_Including_Approved_Phases_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Tracker__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectBaselinePhaseTrackerID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Cumulative Completed Phases</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Phase_Tracker__c</object>
        <sortField>Record_Type_Name__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cumulative_Including_Approved_Phases_Record</name>
        <label>Get Cumulative Including Approved Phases Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Cumulative_Including_Submitted_Phases_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Tracker__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectBaselinePhaseTrackerID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Cumulative Including Approved Phases</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Phase_Tracker__c</object>
        <sortField>Record_Type_Name__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cumulative_Including_Submitted_Phases_Record</name>
        <label>Get Cumulative Including Submitted Phases Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Remaining_In_Project_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Tracker__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectBaselinePhaseTrackerID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Cumulative Including Submitted Phases</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Phase_Tracker__c</object>
        <sortField>Record_Type_Name__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Most_Recent_Submitted_Phase_Request</name>
        <label>Get Most Recent Submitted Phase Request</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_related_Phase_Tracker_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Tracker__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectBaselinePhaseTrackerID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Most Recent Submitted Phase Request</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Phase_Tracker__c</object>
        <sortField>Record_Type_Name__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Most_Recently_Submitted_Phase_Request</name>
        <label>Get Most Recently Submitted Phase Request</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Phase_Baseline_from_Phase_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FundingAwardId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Award_Phase_Baseline.Funding_Award__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Phase_Request_Record_Type.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FundingAwardAmendment</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Phase_Baseline_from_Phase_Request</name>
        <label>Get Phase Baseline from Phase Request</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Assign_values_to_zero</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Most_Recently_Submitted_Phase_Request.Phase_Baseline__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FundingBaseline__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Phase_Request_Record_Type</name>
        <label>Get Phase Request Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Most_Recently_Submitted_Phase_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Phase Request</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Remaining_In_Project_Record</name>
        <label>Get Remaining In Project Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Most_Recent_Submitted_Phase_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Tracker__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectBaselinePhaseTrackerID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Remaining In Project</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Phase_Tracker__c</object>
        <sortField>Record_Type_Name__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Total_Project_Baseline_Phase_Tracker_Record</name>
        <label>Get Total Project Baseline Phase Tracker Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Cumulative_Completed_Phase_Tracker_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectBaselinePhaseTrackerID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Phase_Tracker__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Phase_Trackers</name>
        <label>Update Phase Trackers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>PhaseTrackerRecordCollection</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Refresh_all_Phase_Tracker_Records</name>
        <label>Refresh all Phase Tracker Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Baselines_from_Funding_Award</targetReference>
        </connector>
        <fields>
            <name>refreshtrackertext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Would you like to refresh all the Phase Tracker records?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PhaseTrackerRecords</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Phase_Tracker__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_all_related_Phase_Tracker_Records</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Record_Type_Name__c&quot;,&quot;guid&quot;:&quot;column-d81e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Tracker Type&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Record Type Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Last_Refreshed__c&quot;,&quot;guid&quot;:&quot;column-2dc4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Last Refreshed&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Refresh Phase Tracker</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Unable_to_Refresh_all_Phase_Tracker_Records</name>
        <label>Unable to Refresh all Phase Tracker Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_refreshtrackertext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;I&apos;m sorry, you don&apos;t currently have all the correct phase tracker records in order to complete a refresh. Please check that all child tracker records are related to the correct &quot;Parent Tracker&quot;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Total_Project_Baseline_Phase_Tracker_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AwardPhaseBaselineSingleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Phase_Tracker__c</objectType>
    </variables>
    <variables>
        <name>CompletedandApprovedandSubmittedPhaseBaselines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingBaseline__c</objectType>
    </variables>
    <variables>
        <name>CompletedandApprovedPhaseBaselines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingBaseline__c</objectType>
    </variables>
    <variables>
        <name>CompletedApprovedPhaseTrackerSingleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Phase_Tracker__c</objectType>
    </variables>
    <variables>
        <name>CompletedApprovedSubmittedPhaseTrackerSingleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Phase_Tracker__c</objectType>
    </variables>
    <variables>
        <name>CompletedPhaseTrackerSingleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Phase_Tracker__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Remaining_In_Project_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Phase_Tracker__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Submitted_Phase_Requests_Baselines</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingBaseline__c</objectType>
    </variables>
    <variables>
        <name>PhaseTrackerRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Phase_Tracker__c</objectType>
    </variables>
    <variables>
        <name>ProjectBaselinePhaseTrackerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RemainingInProjectTrackerSingleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Phase_Tracker__c</objectType>
    </variables>
    <variables>
        <name>SubmittedPhaseRequestsBaselines</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Phase_Tracker__c</objectType>
    </variables>
</Flow>
