force-app/main/default/flows/GMS_Change_Control_Request_Form_Income_Verification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_changes</name>
        <label>Assign changes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varIncomeVerificationItem.Eligibility_Pathways_Change_and_Why__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_is_changing_in_your_use_of_the_three_Eligibility_Pathways_and_why</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIncomeVerificationItem.Eligibility_Pathways_Change_Evidence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_changes_are_there_to_the_evidence_that_you_will_use_and_how_it_will_be_coll</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_new</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Default_fields</name>
        <label>Assign Default fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varIncomeVerificationItem.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Income Verification</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIncomeVerificationItem.Change_Control_Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varChangeControlRequest.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIncomeVerificationItem.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Upsert_changes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Income_Verification_Item</name>
        <label>Assign Income Verification Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varIncomeVerificationItem</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Income_Verification_Item</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IncomeVerificationScreen</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>check_new</name>
        <label>check new</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Upsert_changes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Id_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIncomeVerificationItem.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Default_fields</targetReference>
            </connector>
            <label>Id is null</label>
        </rules>
    </decisions>
    <description>LG Income Verification Portal screen for the change control request process</description>
    <environments>Default</environments>
    <interviewLabel>GMS - Change Control Request Form - Income Verification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GMS - Change Control Request Form - Income Verification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Upsert_changes</name>
        <label>Upsert changes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <doesUpsert>true</doesUpsert>
        <inputReference>varIncomeVerificationItem</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Income_Verification_Item</name>
        <label>Get Income Verification Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Change_Control_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varChangeControlRequest.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Income Verification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Change_Control_Request_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Income_Verification_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Change_Control_Request_Line_Item__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFundingAward.Record_Type_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>IncomeVerificationScreen</name>
        <label>IncomeVerificationScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_changes</targetReference>
        </connector>
        <fields>
            <name>ChatContext</name>
            <extensionName>c:dmChatContextUpdater</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>contextChild</name>
                <value>
                    <elementReference>varChangeControlRequest.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contextChildName</name>
                <value>
                    <elementReference>varChangeControlRequest.Name</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Guidance</name>
            <fieldText>&lt;p&gt;There are three Eligibility Pathways in WH:LG:&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Pathway 1:&lt;/strong&gt; Homes in the most economically deprived neighbourhoods in England (defined as living in an Income Deciles 1-2 of the Indices of Multiple Deprivation).&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Pathway 2:&lt;/strong&gt; In receipt of an eligible means tested benefit or meet the ECO 4 Flex Route 2 Criteria&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Pathway 3:&lt;/strong&gt; Households with a combined gross income of no more than £36,000 or below the eligible income threshold according to the household composition (income thresholds are set out in the After Housing Costs Equivalisation Tables in the published policy guidance which can be found at:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>linkDisplayText</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;https://www.gov.uk/government/publications/warm-homes-local-grant).&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://www.gov.uk/government/publications/warm-homes-local-grant).&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AcceptableEvidence</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Acceptable Evidence&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Pathway 1:&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Postcode&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong&gt;Pathway 2:&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Means tested Benefits&lt;/li&gt;&lt;li&gt;Eco Flex route 2&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong&gt;Pathway 3:&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Payslips&lt;/li&gt;&lt;li&gt;Bank Statements&lt;/li&gt;&lt;li&gt;Tax Returns&lt;/li&gt;&lt;li&gt;Self-assessment Tax Returns&lt;/li&gt;&lt;li&gt;P60s&lt;/li&gt;&lt;li&gt;Pension Statements&lt;/li&gt;&lt;li&gt;Other (please specify)&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>What_is_changing_in_your_use_of_the_three_Eligibility_Pathways_and_why</name>
            <defaultValue>
                <stringValue>{!varIncomeVerificationItem.Eligibility_Pathways_Change_and_Why__c}</stringValue>
            </defaultValue>
            <fieldText>What is changing in your use of the three Eligibility Pathways and why?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>What_changes_are_there_to_the_evidence_that_you_will_use_and_how_it_will_be_coll</name>
            <defaultValue>
                <stringValue>{!varIncomeVerificationItem.Eligibility_Pathways_Change_Evidence__c}</stringValue>
            </defaultValue>
            <fieldText>What changes are there to the evidence that you will use and how it will be collected?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Income_Verification_Item</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varChangeControlRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingAwardAmendment</objectType>
    </variables>
    <variables>
        <name>varFundingAward</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingAward</objectType>
    </variables>
    <variables>
        <name>varIncomeVerificationItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Change_Control_Request_Line_Item__c</objectType>
    </variables>
</Flow>
