force-app/main/default/flows/GMS_File_Upload.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_content_version_to_collecton</name>
        <label>Add content version to collecton</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>contentVersionUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_new_content_versions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_new_content_versions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_counter_to_Flow_GUID</name>
        <label>Add counter to Flow GUID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Upload_files</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Categories_from_Form</name>
        <label>Assign Categories from Form</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Category_Output</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FileCategory.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Sub_Category_Output</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FileCategory.middleValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Content_Versions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_category_and_type_to_content_version</name>
        <label>Assign category and type to content version</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_new_content_versions.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Category_Output</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_new_content_versions.Sub_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Sub_Category_Output</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_content_version_to_collecton</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Description_Field</name>
        <label>Assign Description Field</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Evidence_Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description_of_Evidence_Supplied</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Success_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Other_as_Category</name>
        <label>Assign Other as Category</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Category_Input</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_counter_to_Flow_GUID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Predefined_Categories</name>
        <label>Assign Predefined Categories</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Category_Output</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Category_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Sub_Category_Output</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Sub_Category_Input</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Content_Versions</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_Category_Input</name>
        <label>Check Category Input</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Other_as_Category</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Use Other</defaultConnectorLabel>
        <rules>
            <name>Is_Category_Input</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Category_Input</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_counter_to_Flow_GUID</targetReference>
            </connector>
            <label>Is Category Input</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evidence_Description_Required_Choice</name>
        <label>Evidence Description Required Choice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Success_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Evidence Description Required</defaultConnectorLabel>
        <rules>
            <name>Is_Evidence_Description_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Sub_Category_Output</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transaction</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Provide_Description_Fields</targetReference>
            </connector>
            <label>Is Evidence Description Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Predefined_Category</name>
        <label>Is Predefined Category</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Categories_from_Form</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Use Category from Form</defaultConnectorLabel>
        <rules>
            <name>Use_input_Category</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Sub_Category_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transaction</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Predefined_Categories</targetReference>
            </connector>
            <label>Use input Category</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Category</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Category__c</picklistField>
        <picklistObject>ContentVersion</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FileType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>File_Type__c</picklistField>
        <picklistObject>ContentVersion</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>for_GUID</name>
        <dataType>String</dataType>
        <expression>{!var_FlowInterview} + TEXT({!var_counter})</expression>
    </formulas>
    <interviewLabel>GMS - File Upload {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>GMS - File Upload</label>
    <loops>
        <name>Loop_through_new_content_versions</name>
        <label>Loop through new content versions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Content_Versions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_category_and_type_to_content_version</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Content_Versions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Content_Versions</name>
        <label>Get Content Versions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_new_content_versions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>FileUploadDM.contentVersionIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Content_Versions</name>
        <label>Update Content Versions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Evidence_Description_Required_Choice</targetReference>
        </connector>
        <inputReference>contentVersionUpdate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Provide_Description_Fields</name>
        <label>Provide_Description_Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Description_Field</targetReference>
        </connector>
        <fields>
            <name>Description_of_Evidence_Supplied</name>
            <defaultValue>
                <stringValue>Details of evidence</stringValue>
            </defaultValue>
            <fieldText>Description of Evidence Supplied</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Provide_Description_Nav</name>
            <extensionName>c:dmFlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_screen</name>
        <label>Success screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NextActionHelpText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Choose your next action&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Click &lt;strong&gt;Save Files&lt;/strong&gt; to save your uploads to {!var_Record_Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>UploadFiles</name>
            <extensionName>c:dmFlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <stringValue>Save Files</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonAlignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>finishLabel</name>
                <value>
                    <stringValue>Finish</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Upload_files</name>
        <label>Upload files</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Predefined_Category</targetReference>
        </connector>
        <fields>
            <name>HelpText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Upload Files for &lt;/strong&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!var_Parent_Object}. Reference: &lt;/strong&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!var_Record_Name}&lt;/strong&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;&lt;strong&gt;Select a category&lt;/strong&gt; for these files.&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Upload or drop&lt;/strong&gt; one or more files below.&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;All files uploaded here will be tagged with the selected category.&lt;/p&gt;&lt;p&gt; When you&apos;re done, click &lt;strong&gt;Next&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;If you need to upload more files for &lt;strong&gt;{!var_Record_Name}&lt;/strong&gt; under a &lt;strong&gt;different category&lt;/strong&gt;, you’ll have the option to return and add more.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FileCategory</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>ContentVersion</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Category__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Sub_Category__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>File Category</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>File Subcategory</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>var_Category_Input</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>var_Sub_Category_Input</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_Sub_Category_Input</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Transaction</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FileUploadDM</name>
            <extensionName>digitalmodus:flowFileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>allowMultiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sessionKey</name>
                <value>
                    <elementReference>for_GUID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Files</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>renderExistingFiles</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>renderFilesBelow</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>embedExternally</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Category_Input</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>contentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contentVersionUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentVersion</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Category_Input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_Category_Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_Evidence_Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Evidence_Description_Required</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_FlowInterview</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.InterviewGuid</elementReference>
        </value>
    </variables>
    <variables>
        <name>var_Parent_Object</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Funding Award</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_Record_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Sub_Category_Input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Sub_Category_Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
