force-app/main/default/flows/GMS_Change_Control_Request_Trigger_Order_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Next_CCR_Order_1</name>
        <label>Assign Next CCR Order 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varNextCcrOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_triggering_CCR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Next_CCR_Order_to_previous_and_add_1</name>
        <label>Assign Next CCR Order to previous and add 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varNextCcrOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Last_CCR_created_on_this_FA.Award_Change_Control_Request_Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNextCcrOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_triggering_CCR</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Last_CCR_check_null</name>
        <label>Last CCR check null</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Next_CCR_Order_to_previous_and_add_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Last_CCR_created_on_this_FA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Next_CCR_Order_1</targetReference>
            </connector>
            <label>is null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>GMS - Change Control Request - Trigger Order Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GMS - Change Control Request - Trigger Order Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Last_CCR_created_on_this_FA</name>
        <label>Get Last CCR created on this FA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Last_CCR_check_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FundingAwardId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FundingAwardId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Award_Change_Control_Request_Order__c</field>
            <operator>NotEqualTo</operator>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FundingAwardAmendment</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_triggering_CCR</name>
        <label>Update triggering CCR</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Award_Change_Control_Request_Order__c</field>
            <value>
                <elementReference>varNextCcrOrder</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Last_CCR_created_on_this_FA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Award_Change_Control_Request_Order__c</field>
            <operator>EqualTo</operator>
        </filters>
        <object>FundingAwardAmendment</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varNextCcrOrder</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
