force-app/main/default/flows/GMS_Performance_Details_Extended.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Funding_Award_Not_Present</name>
        <label>Assign Funding Award Not Present</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Funding_Award_Present</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Performance_Assessment_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Funding_Award_Present</name>
        <label>Assign Funding Award Present</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Funding_Award_Present</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Performance_Assessment_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Funding_Award_Found</name>
        <label>Check Funding Award Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Funding_Award_Not_Present</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Funding Award Found</defaultConnectorLabel>
        <rules>
            <name>Is_Funding_Award_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Latest_Performance_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Funding_Award_Present</targetReference>
            </connector>
            <label>Is Funding Award Found</label>
        </rules>
    </decisions>
    <description>Provides a summary of the details of the latest performance management record to be displayed on the GR portal for the latest assessment</description>
    <environments>Default</environments>
    <interviewLabel>GMS - Performance Details {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>GMS - Performance Details Extended</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Latest_Performance_Record</name>
        <label>Get Latest Performance Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Funding_Award_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Funding_Award__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Award_Record_Id.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Overall_Perfrmance_Assessment_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assessment Complete</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Funding_Award_Performance_Management__c</object>
        <sortField>Overall_Performance_Assessment_Completed__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Performance_Assessment_Screen</name>
        <label>Performance Assessment Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>chatChildContextUpdater</name>
            <extensionName>c:dmChatContextUpdater</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>contextChild</name>
                <value>
                    <elementReference>Get_Latest_Performance_Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contextChildName</name>
                <value>
                    <elementReference>Get_Latest_Performance_Record.Name</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Performamce_Details_Display</name>
            <fieldText>&lt;p&gt;{!txt_Performance_Details}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_Funding_Award_Present</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Award_Record_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Award_Record_Id</name>
        <label>Get Award Record Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Latest_Performance_Record</targetReference>
        </connector>
        <flowName>DESNZ_User_Award_Retrieve</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>txt_Performance_Details</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;Latest Assessment: &lt;/strong&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;{!Get_Latest_Performance_Record.Overall_Performance_Assessment_Completed__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;DCA Rating: &lt;/strong&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;{!Get_Latest_Performance_Record.Overall_DCA_RAG_Rating__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Details: &lt;/strong&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!Get_Latest_Performance_Record.DCA_Overall_RAG_Justification__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;Project Tiering: &lt;/strong&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;{!Get_Latest_Performance_Record.Overall_Performance_RAG_Rating__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Details: &lt;/strong&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!Get_Latest_Performance_Record.Project_Tiering_RAG_Justification__c}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>var_Funding_Award_Present</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
