force-app/main/default/flows/GMS_Disbursement_Reconciliation_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Reconciliation_Type_FY</name>
        <label>Assign Reconciliation Type FY</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Reconciliation_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Financial Year</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Run_Reconciliation_Calculation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Reconciliation_Type_Quarter</name>
        <label>Assign Reconciliation Type Quarter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Reconciliation_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quarter</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Run_Reconciliation_Calculation</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Award_Type</name>
        <label>Check Award Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Reconciliation_Type_Quarter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is SHF</defaultConnectorLabel>
        <rules>
            <name>Is_LG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Award_Record_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Local Grant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Reconciliation_Type_FY</targetReference>
            </connector>
            <label>Is LG</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>GMS - Disbursement Reconciliation Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GMS - Disbursement Reconciliation Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Award_Type</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard Disbursement</stringValue>
            </value>
        </filters>
        <object>FundingDisbursement</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Run_Reconciliation_Calculation</name>
        <label>Run Reconciliation Calculation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>GMS_Auto_Calculate_Reconciliation_Totals_Each_Month</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Input_Object_Type</name>
            <value>
                <stringValue>Disbursement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Input_Reconciliation_Type</name>
            <value>
                <elementReference>var_Reconciliation_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_Reconciled_by</name>
            <value>
                <stringValue>Disbursements</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>var_Reconciliation_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
