force-app/main/default/flows/GMS_Change_Control_Request_Form_Baselines_No_Award.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_baselines</name>
        <label>Add baselines</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varBaselines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Active_Non_Award_Baseline</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_gather_baselines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_initial_Baselines</name>
        <label>Add to initial Baselines</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varInitialBaselines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varEachInitialBaseline</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_gather_baselines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Baseline_Initial_EPC_Ending_Fields</name>
        <label>Assign Baseline Initial EPC Ending Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varEachInitialBaseline.No_of_homes_ending_at_EPC_A__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_initial_change_line_items.No_of_homes_ending_at_EPC_A__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachInitialBaseline.No_of_homes_ending_at_EPC_B__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_initial_change_line_items.No_of_homes_ending_at_EPC_B__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachInitialBaseline.No_of_homes_ending_at_EPC_C__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_initial_change_line_items.No_of_homes_ending_at_EPC_C__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachInitialBaseline.No_of_homes_ending_at_EPC_D__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_initial_change_line_items.No_of_homes_ending_at_EPC_D__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachInitialBaseline.No_of_homes_ending_at_EPC_E__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_initial_change_line_items.No_of_homes_ending_at_EPC_E__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachInitialBaseline.No_of_homes_ending_at_EPC_F__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_initial_change_line_items.No_of_homes_ending_at_EPC_F__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachInitialBaseline.No_of_homes_ending_at_EPC_G__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_initial_change_line_items.No_of_homes_ending_at_EPC_G__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_initial_change_line_items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Baseline_initial_EPC_Starting_fields</name>
        <label>Assign Baseline initial EPC Starting fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varEachInitialBaseline.No_of_homes_starting_at_A__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_initial_change_line_items.No_of_homes_starting_at_EPC_A__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachInitialBaseline.No_of_homes_starting_at_EPC_B__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_initial_change_line_items.No_of_homes_starting_at_EPC_B__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachInitialBaseline.No_of_homes_starting_at_EPC_C__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_initial_change_line_items.No_of_homes_starting_at_EPC_C__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachInitialBaseline.No_of_homes_starting_at_EPC_D__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_initial_change_line_items.No_of_homes_starting_at_EPC_D__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachInitialBaseline.No_of_homes_starting_at_EPC_E__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_initial_change_line_items.No_of_homes_starting_at_EPC_E__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachInitialBaseline.No_of_homes_starting_at_EPC_F__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_initial_change_line_items.No_of_homes_starting_at_EPC_F__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachInitialBaseline.No_of_homes_starting_at_EPC_G__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_initial_change_line_items.No_of_homes_starting_at_EPC_G__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Baseline_Initial_EPC_Ending_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_baseline_names</name>
        <label>Assign baseline names</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varBaselineNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_gather_baselines.Baseline_Version__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_initial_Baselines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_baseline_values_to_draft_change_control_request_SP</name>
        <label>Assign baseline values to draft change control request</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varEachInitialBaseline.Baseline_Co_funding_A_A_spend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_initial_change_line_items.Co_funding_A_A_spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachInitialBaseline.No_of_Homes_to_EPC_C__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_initial_change_line_items.No_of_Homes_to_EPC_C__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachInitialBaseline.Total_Homes_to_be_Upgraded__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_initial_change_line_items.Total_number_of_homes_to_be_upgraded__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachInitialBaseline.Energy_Savings_kWh__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_initial_change_line_items.Energy_Savings__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachInitialBaseline.SP_Baseline_Grant_Spend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_initial_change_line_items.Grant_Funding_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachInitialBaseline.Baseline_Co_Funding_Capital_Spend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_initial_change_line_items.Co_Funding_Capital_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachInitialBaseline.Baseline_Total_Co_Funding_Spend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_initial_change_line_items.Grant_A_A_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachInitialBaseline.Baseline_Grant_A_A_Spend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_initial_change_line_items.Grant_A_A_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachInitialBaseline.Baseline_Grant_Capital_Spend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_initial_change_line_items.Grant_Capital_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachInitialBaseline.No_of_Homes_for_Off_Gas_grid_LCH_Uplift__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_initial_change_line_items.No_of_Homes_for_Off_Gas_grid_LCH_Uplift__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachInitialBaseline.No_of_Homes_for_On_Gas_grid_LCH_Offer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_initial_change_line_items.No_of_Homes_for_On_Gas_grid_LCH_Uplift__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachInitialBaseline.Baseline_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_gather_baselines.Baseline_Version__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Baseline_initial_EPC_Starting_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Each_Initial_Baseline</name>
        <label>Assign Each Initial Baseline</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varEachInitialBaseline</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_gather_baselines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>has_initial_Change_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_initial_to_new</name>
        <label>Assign initial to new</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varInitialBaselines</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewBaselines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Baseline_Change_Control</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Invalid_baseline_validation</name>
        <label>Assign Invalid baseline validation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varBaselinesEpcBreach</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBaselinesBreachedNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBaselinesBreachedNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_New_Baselines.Baseline_Version__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBaselinesBreachedNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>baseline_check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_line_item</name>
        <label>Assign line item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varEachChangeLineItem.Total_number_of_homes_to_be_upgraded__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_Baselines.Total_Homes_to_be_Upgraded__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachChangeLineItem.No_of_Homes_to_EPC_C__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_Baselines.No_of_Homes_to_EPC_C__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachChangeLineItem.Energy_Savings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_Baselines.Energy_Savings_kWh__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachChangeLineItem.Grant_Funding_Spend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_Baselines.SP_Baseline_Grant_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachChangeLineItem.Co_funding_A_A_spend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_Baselines.Baseline_Co_funding_A_A_spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachChangeLineItem.Co_Funding_Capital_Spend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_Baselines.Baseline_Co_Funding_Capital_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachChangeLineItem.Co_funding_Spend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_Baselines.Baseline_Total_Co_Funding_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachChangeLineItem.Grant_A_A_Spend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_Baselines.Baseline_Grant_A_A_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachChangeLineItem.Grant_Capital_Spend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_Baselines.Baseline_Grant_Capital_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachChangeLineItem.No_of_Homes_for_Off_Gas_grid_LCH_Uplift__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_Baselines.No_of_Homes_for_Off_Gas_grid_LCH_Uplift__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachChangeLineItem.No_of_Homes_for_On_Gas_grid_LCH_Uplift__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_Baselines.No_of_Homes_for_On_Gas_grid_LCH_Offer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Line_Item_Starting_EPC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_line_item_defaults</name>
        <label>Assign line item defaults</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varEachChangeLineItem.Baseline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Old_Baselines.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachChangeLineItem.Change_Control_Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varChangeControlRequest.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachChangeLineItem.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varItemRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_line_item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Line_Item_Ending_EPC</name>
        <label>Assign Line Item Ending EPC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varEachChangeLineItem.No_of_homes_ending_at_EPC_A__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_Baselines.No_of_homes_ending_at_EPC_A__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachChangeLineItem.No_of_homes_ending_at_EPC_B__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_Baselines.No_of_homes_ending_at_EPC_B__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachChangeLineItem.No_of_homes_ending_at_EPC_C__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_Baselines.No_of_homes_ending_at_EPC_C__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachChangeLineItem.No_of_homes_ending_at_EPC_D__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_Baselines.No_of_homes_ending_at_EPC_D__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachChangeLineItem.No_of_homes_ending_at_EPC_E__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_Baselines.No_of_homes_ending_at_EPC_E__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachChangeLineItem.No_of_homes_ending_at_EPC_F__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_Baselines.No_of_homes_ending_at_EPC_F__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachChangeLineItem.No_of_homes_ending_at_EPC_G__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_Baselines.No_of_homes_ending_at_EPC_G__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Baseline_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Line_Item_Starting_EPC</name>
        <label>Assign Line Item Starting EPC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varEachChangeLineItem.No_of_homes_starting_at_EPC_A__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_Baselines.No_of_homes_starting_at_A__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachChangeLineItem.No_of_homes_starting_at_EPC_B__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_Baselines.No_of_homes_starting_at_EPC_B__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachChangeLineItem.No_of_homes_starting_at_EPC_C__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_Baselines.No_of_homes_starting_at_EPC_C__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachChangeLineItem.No_of_homes_starting_at_EPC_D__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_Baselines.No_of_homes_starting_at_EPC_D__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachChangeLineItem.No_of_homes_starting_at_EPC_E__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_Baselines.No_of_homes_starting_at_EPC_E__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachChangeLineItem.No_of_homes_starting_at_EPC_F__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_Baselines.No_of_homes_starting_at_EPC_F__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachChangeLineItem.No_of_homes_starting_at_EPC_G__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_Baselines.No_of_homes_starting_at_EPC_G__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Line_Item_Ending_EPC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_line_items_to_collection</name>
        <label>Assign line items to collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varChangeLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varEachChangeLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_New_Baselines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Type_To_Award_Baseline</name>
        <label>Assign Type To Award Baseline</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varEachChangeLineItem.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Award Baseline</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_line_items_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Type_to_Sub_Baseline</name>
        <label>Assign Type to Sub Baseline</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varEachChangeLineItem.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sub Baseline</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_line_items_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Validation_null</name>
        <label>Assign Validation null</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varInvalidBaselines</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>varInvalidBaselines</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBaselinesEpcBreach</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBaselinesBreachedNames</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_New_Baselines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Null_each_initial_baseline</name>
        <label>Null each initial baseline</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varEachInitialBaseline</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Each_Initial_Baseline</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>baseline_check</name>
        <label>baseline check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Old_Baselines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_New_Baselines.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Old_Baselines.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>has_changes</targetReference>
            </connector>
            <label>is same</label>
        </rules>
    </decisions>
    <decisions>
        <name>Baseline_Type</name>
        <label>Baseline Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Type_to_Sub_Baseline</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Award</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Old_Baselines.Baseline_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Award</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Type_To_Award_Baseline</targetReference>
            </connector>
            <label>Award</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_baselines_EPC_breached</name>
        <label>check baselines EPC breached</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_EPC_breached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFields</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>No_of_homes_ending_at_EPC_C__c</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varBaselinesEpcBreach</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_initial_to_new</targetReference>
            </connector>
            <label>is EPC breached</label>
        </rules>
    </decisions>
    <decisions>
        <name>EPC_check</name>
        <label>EPC check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>baseline_check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_breached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flaEpcCheckBreached</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Invalid_baseline_validation</targetReference>
            </connector>
            <label>is breached</label>
        </rules>
    </decisions>
    <decisions>
        <name>has_changes</name>
        <label>has changes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Old_Baselines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flaHasNoChanges</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_line_item_defaults</targetReference>
            </connector>
            <label>is changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>has_initial_Change_Line_Items</name>
        <label>has initial Change Line Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_baseline_names</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No initial line items</defaultConnectorLabel>
        <rules>
            <name>yeshas_initial_Change_Line_Items</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInitialChangeLineItems</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_initial_change_line_items</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>line_item_for_current_baseline</name>
        <label>line item for current baseline</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>loop_initial_change_line_items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>not for current baseline</defaultConnectorLabel>
        <rules>
            <name>is_for_current_baseline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_initial_change_line_items.Baseline__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_gather_baselines.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_baseline_values_to_draft_change_control_request_SP</targetReference>
            </connector>
            <label>is for current baseline</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>flaEpcCheckBreached</name>
        <dataType>Boolean</dataType>
        <expression>{!Loop_New_Baselines.No_of_homes_starting_at_EPC_D__c} &gt; (IF(ISNULL({!Loop_New_Baselines.No_of_homes_ending_at_EPC_A__c}),0,{!Loop_New_Baselines.No_of_homes_ending_at_EPC_A__c}) + IF(ISNULL({!Loop_New_Baselines.No_of_homes_ending_at_EPC_B__c}),0,{!Loop_New_Baselines.No_of_homes_ending_at_EPC_B__c}) + IF(ISNULL({!Loop_New_Baselines.No_of_homes_ending_at_EPC_C__c}),0,{!Loop_New_Baselines.No_of_homes_ending_at_EPC_C__c})
)</expression>
    </formulas>
    <formulas>
        <description>this is just a list of all the different fields that can be changed and checks whether the new and old values are the same, if any of them differ returns true if they are all the same returns false</description>
        <name>flaHasNoChanges</name>
        <dataType>Boolean</dataType>
        <expression>{!Loop_New_Baselines.Total_Homes_to_be_Upgraded__c} == {!Loop_Old_Baselines.Total_Homes_to_be_Upgraded__c} &amp;&amp;
{!Loop_New_Baselines.No_of_Homes_to_EPC_C__c} == {!Loop_Old_Baselines.No_of_Homes_to_EPC_C__c} &amp;&amp;
{!Loop_New_Baselines.Energy_Savings_kWh__c} == {!Loop_Old_Baselines.Energy_Savings_kWh__c} &amp;&amp;
{!Loop_New_Baselines.SP_Baseline_Grant_Spend__c} == {!Loop_Old_Baselines.SP_Baseline_Grant_Spend__c} &amp;&amp;
{!Loop_New_Baselines.Baseline_Co_funding_A_A_spend__c} == {!Loop_Old_Baselines.Baseline_Co_funding_A_A_spend__c} &amp;&amp;
{!Loop_New_Baselines.Baseline_Co_Funding_Capital_Spend__c} == {!Loop_Old_Baselines.Baseline_Co_Funding_Capital_Spend__c} &amp;&amp;
{!Loop_New_Baselines.Baseline_Total_Co_Funding_Spend__c} == {!Loop_Old_Baselines.Baseline_Total_Co_Funding_Spend__c} &amp;&amp;
{!Loop_New_Baselines.Baseline_Grant_A_A_Spend__c} == {!Loop_Old_Baselines.Baseline_Grant_A_A_Spend__c} &amp;&amp;
{!Loop_New_Baselines.Baseline_Grant_Capital_Spend__c} == {!Loop_Old_Baselines.Baseline_Grant_Capital_Spend__c} &amp;&amp;
{!Loop_New_Baselines.No_of_Homes_for_Off_Gas_grid_LCH_Uplift__c} == {!Loop_Old_Baselines.No_of_Homes_for_Off_Gas_grid_LCH_Uplift__c} &amp;&amp;
{!Loop_New_Baselines.No_of_Homes_for_On_Gas_grid_LCH_Offer__c} == {!Loop_Old_Baselines.No_of_Homes_for_On_Gas_grid_LCH_Offer__c} &amp;&amp; 
{!Loop_New_Baselines.No_of_homes_starting_at_A__c} == {!Loop_Old_Baselines.No_of_homes_starting_at_A__c} &amp;&amp;
{!Loop_New_Baselines.No_of_homes_starting_at_EPC_B__c} == {!Loop_Old_Baselines.No_of_homes_starting_at_EPC_B__c}&amp;&amp;
{!Loop_New_Baselines.No_of_homes_starting_at_EPC_C__c} == {!Loop_Old_Baselines.No_of_homes_starting_at_EPC_C__c}&amp;&amp;
{!Loop_New_Baselines.No_of_homes_starting_at_EPC_D__c} == {!Loop_Old_Baselines.No_of_homes_starting_at_EPC_D__c}&amp;&amp;
{!Loop_New_Baselines.No_of_homes_starting_at_EPC_E__c} == {!Loop_Old_Baselines.No_of_homes_starting_at_EPC_E__c}&amp;&amp;
{!Loop_New_Baselines.No_of_homes_starting_at_EPC_F__c} == {!Loop_Old_Baselines.No_of_homes_starting_at_EPC_F__c}&amp;&amp;
{!Loop_New_Baselines.No_of_homes_starting_at_EPC_G__c} == {!Loop_Old_Baselines.No_of_homes_starting_at_EPC_G__c}&amp;&amp;
{!Loop_New_Baselines.No_of_homes_ending_at_EPC_A__c} == {!Loop_Old_Baselines.No_of_homes_ending_at_EPC_A__c}&amp;&amp;
{!Loop_New_Baselines.No_of_homes_ending_at_EPC_B__c} == {!Loop_Old_Baselines.No_of_homes_ending_at_EPC_B__c}&amp;&amp;
{!Loop_New_Baselines.No_of_homes_ending_at_EPC_C__c} == {!Loop_Old_Baselines.No_of_homes_ending_at_EPC_C__c}&amp;&amp;
{!Loop_New_Baselines.No_of_homes_ending_at_EPC_D__c} == {!Loop_Old_Baselines.No_of_homes_ending_at_EPC_D__c}&amp;&amp;
{!Loop_New_Baselines.No_of_homes_ending_at_EPC_E__c} == {!Loop_Old_Baselines.No_of_homes_ending_at_EPC_E__c}&amp;&amp;
{!Loop_New_Baselines.No_of_homes_ending_at_EPC_F__c} == {!Loop_Old_Baselines.No_of_homes_ending_at_EPC_F__c}&amp;&amp;
{!Loop_New_Baselines.No_of_homes_ending_at_EPC_G__c} == {!Loop_Old_Baselines.No_of_homes_ending_at_EPC_G__c}</expression>
    </formulas>
    <interviewLabel>GMS - Change Control Request Form - Baselines No Award {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>GMS - Change Control Request Form - Baselines No Award</label>
    <loops>
        <name>Loop_gather_baselines</name>
        <label>Loop gather baselines</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>varBaselines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Null_each_initial_baseline</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Baseline_Change_Control</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_initial_change_line_items</name>
        <label>loop initial change line items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>varInitialChangeLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>line_item_for_current_baseline</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_baseline_names</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_New_Baselines</name>
        <label>Loop New Baselines</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>varNewBaselines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_Old_Baselines</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>check_baselines_EPC_breached</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Old_Baselines</name>
        <label>Loop Old Baselines</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>varBaselines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>EPC_check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_line_items_to_collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Active_Non_Award_Baseline</name>
        <label>Get Active Non Award Baseline</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_initial_baselines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Funding_Award__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFundingAward.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Baseline_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Award</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FundingBaseline__c</object>
        <sortField>Baseline_Start_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_initial_baselines</name>
        <label>Get initial baselines</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_baselines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Funding_Award__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFundingAward.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Baseline_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Award</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FundingBaseline__c</object>
        <sortField>Baseline_Start_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Baseline_Change_Control</name>
        <label>Baseline Change Control</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Validation_null</targetReference>
        </connector>
        <fields>
            <name>GuidanceCfStartingEPC</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif; font-size: 10pt;&quot;&gt;Starting EPCs&lt;/strong&gt;&lt;span style=&quot;font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif; font-size: 10pt;&quot;&gt;In the table below, you should see a list of your approved Phase Requests. Please complete the table below if you wish to request a change to the starting EPC of any homes within these phases.&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif; font-size: 10pt;&quot;&gt; &amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif; font-size: 10pt;&quot;&gt;Please be reminded that:&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif; font-size: 10pt;&quot;&gt;You do not need to submit a Project Change Request to amend these figures for unapproved, future phases as long as total project homes upgraded and total project number of homes upgraded to EPC C remains unchanged.&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varGuidanceType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>cfStartingEPC</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>GuidanceCfEndingEPC</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif; font-size: 10pt;&quot;&gt;Ending EPCs&lt;/strong&gt;&lt;span style=&quot;font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif; font-size: 10pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif; font-size: 10pt;&quot;&gt;In the table below, you should see a list of your approved Phase Requests. Please complete the table below if you wish to request a change to the ending EPC of any homes within these phases.&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif; font-size: 10pt;&quot;&gt; &amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif; font-size: 10pt;&quot;&gt;Please be reminded that:&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif; font-size: 10pt;&quot;&gt;You do not need to submit a Project Change Request to amend these figures for unapproved, future phases as long as total project homes upgraded and total project number of homes upgraded to EPC C remains unchanged.&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varGuidanceType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>cfEndingEPC</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>displayBaselineEPCBreached</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(163, 0, 0);&quot;&gt;Error - {!txtBaselineEPCBreached}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varBaselinesEpcBreach</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BaselineChangeControlRequest</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>FundingBaseline__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:dmDiffMatrixInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Baseline Change Control Request</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>difference</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <elementReference>varFields</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>records</name>
                <value>
                    <elementReference>varInitialBaselines</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sobjectType</name>
                <value>
                    <stringValue>FundingBaseline__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordNames</name>
                <value>
                    <elementReference>varBaselineNames</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>initialRecords</name>
                <value>
                    <elementReference>Get_initial_baselines</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varNewBaselines</assignToReference>
                <name>updatedRecords</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Active_Non_Award_Baseline</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>txtBaselineEPCBreached</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;The sum of Ending EPC A - C must be greater than Starting EPC D, invalid baselines include:{!varBaselinesBreachedNames}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>varBaselineNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBaselines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingBaseline__c</objectType>
    </variables>
    <variables>
        <name>varBaselinesBreachedNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBaselinesEpcBreach</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varChangeControlRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingAwardAmendment</objectType>
    </variables>
    <variables>
        <name>varChangeLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Change_Control_Request_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>varEachChangeLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Change_Control_Request_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>varEachInitialBaseline</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingBaseline__c</objectType>
    </variables>
    <variables>
        <name>varFields</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFundingAward</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>FundingAward</objectType>
    </variables>
    <variables>
        <name>varGuidanceType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInitialBaselines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingBaseline__c</objectType>
    </variables>
    <variables>
        <name>varInitialChangeLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Change_Control_Request_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>varInvalidBaselines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingBaseline__c</objectType>
    </variables>
    <variables>
        <name>varItemRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewBaselines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingBaseline__c</objectType>
    </variables>
</Flow>
