force-app/main/default/flows/GMS_Overall_DQA_RAG_Rating_and_Final_Mark.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Budget_Management_RAG_Score1</name>
        <label>Assign Budget Management RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>BudgetManagementRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Risk_and_Issues_RAG_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Commercial_Assurance_RAG_Score</name>
        <label>Assign Commercial Assurance RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CommercialAssuranceRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Funding_Award_Performance_Management_Record1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_DQA_Overall_RAG_Score1</name>
        <label>Assign DQA Overall RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>DQAOverallRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Funding_Award_Performance_Management_Record5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Finance_management_RAG_Score</name>
        <label>Assign Finance management RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FinancemanagementRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fraud_RAG_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fraud_RAG_Score</name>
        <label>Assign Fraud RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FraudRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Commercial_Assurance_RAG_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Internal_Resourcing_Rating_Score</name>
        <label>Assign Internal Resourcing Rating Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>InternalResourcingRatingScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Qualitative_Insights_RAG_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_KPI_Delivery_RAG_Score1</name>
        <label>Assign KPI Delivery RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>KPIDeliveryRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Schedule_Adherence_RAG_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Performance_Tiering_Overall_RAG_Score</name>
        <label>Assign Performance Tiering Overall RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PerformanceTieringOverallRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pipeline_Delivery_milestones_RAG_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pipeline_Delivery_milestones_RAG_Score</name>
        <label>Assign Pipeline &amp; Delivery milestones RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PipelineDeliverymilestonesRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Risks_and_Issues_RAG_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Qualitative_Insights_RAG_Score</name>
        <label>Assign Qualitative Insights RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>QualitativeInsightsRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Finance_management_RAG_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Risk_and_Issues_RAG_Score1</name>
        <label>Assign Risk and Issues RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RiskandssuesRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_DQA_Overall_RAG_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Risks_and_Issues_RAG_Score</name>
        <label>Assign Risks and Issues RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RisksandIssuesRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Internal_Resourcing_Rating_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Schedule_Adherence_RAG_Score1</name>
        <label>Assign Schedule Adherence RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ScheduleAdherenceRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Budget_Management_RAG_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Score</name>
        <label>Assign Completeness of Report Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CompletenessofReport</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Timeliness_of_submission_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_N_A</name>
        <label>Assign to N/A</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NACount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletenessofReport</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Timeliness_of_submission_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_10_of_Assign_Score</name>
        <label>Assign Fraud data​ Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Frauddata</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Risk_data_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_11_of_Assign_Score</name>
        <label>Assign Property data​ Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Propertydata</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Measure_data_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_12_of_Assign_Score</name>
        <label>Assign Risk data​ Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Riskdata</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Property_data_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_13_of_Assign_Score</name>
        <label>Assign Measure data​ Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Measuredata</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Installer_data_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_14_of_Assign_Score</name>
        <label>Assign Property data​ Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Propertydata</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Measure_data_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_15_of_Assign_Score</name>
        <label>Assign Installer data​ Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Installerdata</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Other_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_16_of_Assign_Score</name>
        <label>Assign Measure data​ Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Measuredata</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Installer_data_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_17_of_Assign_Score</name>
        <label>Assign Other​ Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Other</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Funding_Award_Performance_Management_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_18_of_Assign_Score</name>
        <label>Assign Installer data​ Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Installerdata</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Other_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Budget_Management_RAG_Score</name>
        <label>Assign Budget Management RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>BudgetManagementRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Risk_and_Issues_RAG_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Commercial_Assurance_RAG_Score</name>
        <label>Assign Commercial Assurance RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CommercialAssuranceRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Funding_Award_Performance_Management_Record1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_DQA_Overall_RAG_Score</name>
        <label>Assign DQA Overall RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>DQAOverallRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Funding_Award_Performance_Management_Record5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Finance_management_RAG_Score</name>
        <label>Assign Finance management RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FinancemanagementRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fraud_RAG_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Fraud_RAG_Score</name>
        <label>Assign Fraud RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FraudRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Commercial_Assurance_RAG_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Internal_Resourcing_Rating_Score</name>
        <label>Assign Internal Resourcing Rating Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>InternalResourcingRatingScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Qualitative_Insights_RAG_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_KPI_Delivery_RAG_Score</name>
        <label>Assign KPI Delivery RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>KPIDeliveryRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Schedule_Adherence_RAG_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Performance_Tiering_Overall_RAG_Score</name>
        <label>Assign Performance Tiering Overall RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PerformanceTieringOverallRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pipeline_Delivery_milestones_RAG_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Pipeline_Delivery_milestones_RAG_Score</name>
        <label>Assign Pipeline &amp; Delivery milestones RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PipelineDeliverymilestonesRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Risks_and_Issues_RAG_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Qualitative_Insights_RAG_Score</name>
        <label>Assign Qualitative Insights RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>QualitativeInsightsRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Finance_management_RAG_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Risk_and_Issues_RAG_Score</name>
        <label>Assign Risk and Issues RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RiskandssuesRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_DQA_Overall_RAG_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Risks_and_Issues_RAG_Score</name>
        <label>Assign Risks and Issues RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RisksandIssuesRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Internal_Resourcing_Rating_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Schedule_Adherence_RAG_Score</name>
        <label>Assign Schedule Adherence RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ScheduleAdherenceRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Budget_Management_RAG_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Score</name>
        <label>Assign Completeness of Report Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CompletenessofReport</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Timeliness_of_submission_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_to_N_A</name>
        <label>Assign to N/A</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NACount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Timelinessofsubmission</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>KPI_data_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_20_of_Assign_Score</name>
        <label>Assign Other​ Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Other</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Funding_Award_Performance_Management_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Commercial_Assurance_RAG_Score</name>
        <label>Assign Commercial Assurance RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CommercialAssuranceRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Funding_Award_Performance_Management_Record1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Finance_management_RAG_Score</name>
        <label>Assign Finance management RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FinancemanagementRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fraud_RAG_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Fraud_RAG_Score</name>
        <label>Assign Fraud RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FraudRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Commercial_Assurance_RAG_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Internal_Resourcing_Rating_Score</name>
        <label>Assign Internal Resourcing Rating Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>InternalResourcingRatingScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Qualitative_Insights_RAG_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_KPI_Delivery_RAG_Score</name>
        <label>Assign KPI Delivery RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>KPIDeliveryRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Schedule_Adherence_RAG_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Performance_Tiering_Overall_RAG_Score</name>
        <label>Assign Performance Tiering Overall RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PerformanceTieringOverallRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pipeline_Delivery_milestones_RAG_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Pipeline_Delivery_milestones_RAG_Score</name>
        <label>Assign Pipeline &amp; Delivery milestones RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PipelineDeliverymilestonesRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Risks_and_Issues_RAG_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Qualitative_Insights_RAG_Score</name>
        <label>Assign Qualitative Insights RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>QualitativeInsightsRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Finance_management_RAG_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Risks_and_Issues_RAG_Score</name>
        <label>Assign Risks and Issues RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RisksandIssuesRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Internal_Resourcing_Rating_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Schedule_Adherence_RAG_Score</name>
        <label>Assign Schedule Adherence RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ScheduleAdherenceRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Budget_Management_RAG_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Score</name>
        <label>Assign Timeliness of submission Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Timelinessofsubmission</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>KPI_data_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_to_N_A</name>
        <label>Assign to N/A</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NACount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KPIdata</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Homes_data_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_Budget_Management_RAG_Score</name>
        <label>Assign Budget Management RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>BudgetManagementRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Risk_and_Issues_RAG_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_Commercial_Assurance_RAG_Score</name>
        <label>Assign Commercial Assurance RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CommercialAssuranceRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Funding_Award_Performance_Management_Record1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_DQA_Overall_RAG_Score</name>
        <label>Assign DQA Overall RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>DQAOverallRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Funding_Award_Performance_Management_Record5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_Finance_management_RAG_Score</name>
        <label>Assign Finance management RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FinancemanagementRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fraud_RAG_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_Fraud_RAG_Score</name>
        <label>Assign Fraud RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FraudRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Commercial_Assurance_RAG_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_Internal_Resourcing_Rating_Score</name>
        <label>Assign Internal Resourcing Rating Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>InternalResourcingRatingScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Qualitative_Insights_RAG_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_KPI_Delivery_RAG_Score</name>
        <label>Assign KPI Delivery RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>KPIDeliveryRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Schedule_Adherence_RAG_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_Pipeline_Delivery_milestones_RAG_Score</name>
        <label>Assign Pipeline &amp; Delivery milestones RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PipelineDeliverymilestonesRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Risks_and_Issues_RAG_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_Qualitative_Insights_RAG_Score</name>
        <label>Assign Qualitative Insights RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>QualitativeInsightsRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Finance_management_RAG_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_Risk_and_Issues_RAG_Score</name>
        <label>Assign Risk and Issues RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RiskandssuesRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_DQA_Overall_RAG_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_Risks_and_Issues_RAG_Score</name>
        <label>Assign Risks and Issues RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RisksandIssuesRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Internal_Resourcing_Rating_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_Schedule_Adherence_RAG_Score</name>
        <label>Assign Schedule Adherence RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ScheduleAdherenceRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Budget_Management_RAG_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_Score</name>
        <label>Assign KPI data​ Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>KPIdata</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Homes_data_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_to_N_A</name>
        <label>Assign to N/A</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NACount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Frauddata</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Risk_data_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Assign_Budget_Management_RAG_Score</name>
        <label>Assign Budget Management RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>BudgetManagementRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Risk_and_Issues_RAG_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Assign_Commercial_Assurance_RAG_Score</name>
        <label>Assign Commercial Assurance RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CommercialAssuranceRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Funding_Award_Performance_Management_Record1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Assign_DQA_Overall_RAG_Score</name>
        <label>Assign DQA Overall RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>DQAOverallRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Funding_Award_Performance_Management_Record5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Assign_Finance_management_RAG_Score</name>
        <label>Assign Finance management RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FinancemanagementRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fraud_RAG_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Assign_Fraud_RAG_Score</name>
        <label>Assign Fraud RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FraudRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Commercial_Assurance_RAG_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Assign_Internal_Resourcing_Rating_Score</name>
        <label>Assign Internal Resourcing Rating Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>InternalResourcingRatingScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Qualitative_Insights_RAG_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Assign_Performance_Tiering_Overall_RAG_Score</name>
        <label>Assign Performance Tiering Overall RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PerformanceTieringOverallRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pipeline_Delivery_milestones_RAG_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Assign_Pipeline_Delivery_milestones_RAG_Score</name>
        <label>Assign Pipeline &amp; Delivery milestones RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PipelineDeliverymilestonesRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Risks_and_Issues_RAG_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Assign_Qualitative_Insights_RAG_Score</name>
        <label>Assign Qualitative Insights RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>QualitativeInsightsRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Finance_management_RAG_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Assign_Risk_and_Issues_RAG_Score</name>
        <label>Assign Risk and Issues RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RiskandssuesRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_DQA_Overall_RAG_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Assign_Risks_and_Issues_RAG_Score</name>
        <label>Assign Risks and Issues RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RisksandIssuesRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Internal_Resourcing_Rating_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Assign_Score</name>
        <label>Assign Timeliness of submission Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Timelinessofsubmission</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>KPI_data_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Assign_to_N_A</name>
        <label>Assign to N/A</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NACount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Homesdata</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fraud_data_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_5_of_Assign_Budget_Management_RAG_Score</name>
        <label>Assign Budget Management RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>BudgetManagementRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Risk_and_Issues_RAG_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_5_of_Assign_DQA_Overall_RAG_Score</name>
        <label>Assign DQA Overall RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>DQAOverallRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Funding_Award_Performance_Management_Record5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_5_of_Assign_KPI_Delivery_RAG_Score</name>
        <label>Assign KPI Delivery RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>KPIDeliveryRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Schedule_Adherence_RAG_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_5_of_Assign_Performance_Tiering_Overall_RAG_Score</name>
        <label>Assign Performance Tiering Overall RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PerformanceTieringOverallRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pipeline_Delivery_milestones_RAG_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_5_of_Assign_Risk_and_Issues_RAG_Score</name>
        <label>Assign Risk and Issues RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RiskandssuesRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_DQA_Overall_RAG_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_5_of_Assign_Schedule_Adherence_RAG_Score</name>
        <label>Assign Schedule Adherence RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ScheduleAdherenceRAGScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Budget_Management_RAG_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_5_of_Assign_Score</name>
        <label>Assign KPI data​ Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>KPIdata</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Homes_data_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_5_of_Assign_to_N_A</name>
        <label>Assign to N/A</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NACount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Riskdata</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Property_data_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_6_of_Assign_Score</name>
        <label>Assign Homes data​ Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Homesdata</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fraud_data_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_6_of_Assign_to_N_A</name>
        <label>Assign to N/A</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NACount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Propertydata</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Measure_data_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_7_of_Assign_Score</name>
        <label>Assign Fraud data​ Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Frauddata</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Risk_data_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_7_of_Assign_to_N_A</name>
        <label>Assign to N/A</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NACount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Measuredata</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Installer_data_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_8_of_Assign_Score</name>
        <label>Assign Homes data​ Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Homesdata</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fraud_data_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_8_of_Assign_to_N_A</name>
        <label>Assign to N/A</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NACount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Installerdata</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Other_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_9_of_Assign_Score</name>
        <label>Assign Risk data​ Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Riskdata</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Property_data_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_9_of_Assign_to_N_A</name>
        <label>Assign to N/A</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NACount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Other</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Funding_Award_Performance_Management_Record</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>CommercialAssuranceRAGWeighting</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.1</numberValue>
        </value>
    </constants>
    <constants>
        <name>CountofQuestions</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>FinancemanagementRAGWeighting</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.15</numberValue>
        </value>
    </constants>
    <constants>
        <name>FraudRAGWeighting</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.1</numberValue>
        </value>
    </constants>
    <constants>
        <name>InternalResourcingRatingWeighting</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.1</numberValue>
        </value>
    </constants>
    <constants>
        <name>OverallPerformanceFive</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>PerformanceTieringOverallRAGWeighting</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.1</numberValue>
        </value>
    </constants>
    <constants>
        <name>PipelineDeliverymilestonesRAGWeighting</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.2</numberValue>
        </value>
    </constants>
    <constants>
        <name>QualitativeInsightsRAGWeighting</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.1</numberValue>
        </value>
    </constants>
    <constants>
        <name>RisksandIssuesRAGWeighting</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.15</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Assign_Budget_Management_RAG_Score</name>
        <label>Assign Budget Management RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Risk_and_Issues_RAG_Score</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>Copy_10_of_Red</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PT_Budget_Management_RAG__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Red</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Budget_Management_RAG_Score1</targetReference>
            </connector>
            <label>Red</label>
        </rules>
        <rules>
            <name>Copy_10_of_Amber_Red</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PT_Budget_Management_RAG__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amber Red</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Budget_Management_RAG_Score</targetReference>
            </connector>
            <label>Amber/Red</label>
        </rules>
        <rules>
            <name>Copy_10_of_Amber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PT_Budget_Management_RAG__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amber</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Assign_Budget_Management_RAG_Score</targetReference>
            </connector>
            <label>Amber</label>
        </rules>
        <rules>
            <name>Copy_10_of_Amber_Green</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PT_Budget_Management_RAG__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amber Green</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Assign_Budget_Management_RAG_Score</targetReference>
            </connector>
            <label>Amber/Green</label>
        </rules>
        <rules>
            <name>Copy_10_of_Green</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PT_Budget_Management_RAG__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Green</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_Assign_Budget_Management_RAG_Score</targetReference>
            </connector>
            <label>Green</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assign_DQA_Overall_RAG_Score</name>
        <label>Assign DQA Overall RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Funding_Award_Performance_Management_Record5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>Copy_12_of_Red</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Overall_DQA_RAG_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Red</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_DQA_Overall_RAG_Score1</targetReference>
            </connector>
            <label>Red</label>
        </rules>
        <rules>
            <name>Copy_12_of_Amber_Red</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Overall_DQA_RAG_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amber/Red</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_DQA_Overall_RAG_Score</targetReference>
            </connector>
            <label>Amber/Red</label>
        </rules>
        <rules>
            <name>Copy_12_of_Amber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Overall_DQA_RAG_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amber</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Assign_DQA_Overall_RAG_Score</targetReference>
            </connector>
            <label>Amber</label>
        </rules>
        <rules>
            <name>Copy_12_of_Amber_Green</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Overall_DQA_RAG_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amber/Green</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Assign_DQA_Overall_RAG_Score</targetReference>
            </connector>
            <label>Amber/Green</label>
        </rules>
        <rules>
            <name>Copy_12_of_Green</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Overall_DQA_RAG_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Green</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_Assign_DQA_Overall_RAG_Score</targetReference>
            </connector>
            <label>Green</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assign_KPI_Delivery_RAG_Score</name>
        <label>Assign KPI Delivery RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Schedule_Adherence_RAG_Score</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>Red</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PT_KPI_Delivery_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Red</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_KPI_Delivery_RAG_Score1</targetReference>
            </connector>
            <label>Red</label>
        </rules>
        <rules>
            <name>Amber_Red</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PT_KPI_Delivery_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amber Red</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_KPI_Delivery_RAG_Score</targetReference>
            </connector>
            <label>Amber/Red</label>
        </rules>
        <rules>
            <name>Amber1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PT_KPI_Delivery_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amber</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Assign_KPI_Delivery_RAG_Score</targetReference>
            </connector>
            <label>Amber</label>
        </rules>
        <rules>
            <name>Amber_Green1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PT_KPI_Delivery_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amber Green</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_KPI_Delivery_RAG_Score</targetReference>
            </connector>
            <label>Amber/Green</label>
        </rules>
        <rules>
            <name>Green1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PT_KPI_Delivery_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Green</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_Assign_KPI_Delivery_RAG_Score</targetReference>
            </connector>
            <label>Green</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assign_Risk_and_Issues_RAG_Score</name>
        <label>Assign Risk and Issues RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_DQA_Overall_RAG_Score</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>Copy_11_of_Red</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PT_Risk_Management_RAG__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Red</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Risk_and_Issues_RAG_Score1</targetReference>
            </connector>
            <label>Red</label>
        </rules>
        <rules>
            <name>Copy_11_of_Amber_Red</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PT_Risk_Management_RAG__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amber Red</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Risk_and_Issues_RAG_Score</targetReference>
            </connector>
            <label>Amber/Red</label>
        </rules>
        <rules>
            <name>Copy_11_of_Amber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PT_Risk_Management_RAG__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amber</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Assign_Risk_and_Issues_RAG_Score</targetReference>
            </connector>
            <label>Amber</label>
        </rules>
        <rules>
            <name>Copy_11_of_Amber_Green</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PT_Risk_Management_RAG__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amber Green</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Assign_Risk_and_Issues_RAG_Score</targetReference>
            </connector>
            <label>Amber/Green</label>
        </rules>
        <rules>
            <name>Copy_11_of_Green</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PT_Risk_Management_RAG__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Green</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_Assign_Risk_and_Issues_RAG_Score</targetReference>
            </connector>
            <label>Green</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assign_Schedule_Adherence_RAG_Score</name>
        <label>Assign Schedule Adherence RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Budget_Management_RAG_Score</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>Copy_8_of_Red</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PT_Schedule_Adherence_RAG__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Red</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Schedule_Adherence_RAG_Score1</targetReference>
            </connector>
            <label>Red</label>
        </rules>
        <rules>
            <name>Copy_8_of_Amber_Red</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PT_Schedule_Adherence_RAG__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amber Red</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Schedule_Adherence_RAG_Score</targetReference>
            </connector>
            <label>Amber/Red</label>
        </rules>
        <rules>
            <name>Copy_8_of_Amber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PT_Schedule_Adherence_RAG__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amber</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_Schedule_Adherence_RAG_Score</targetReference>
            </connector>
            <label>Amber</label>
        </rules>
        <rules>
            <name>Copy_8_of_Amber_Green</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PT_Schedule_Adherence_RAG__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amber Green</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Assign_Schedule_Adherence_RAG_Score</targetReference>
            </connector>
            <label>Amber/Green</label>
        </rules>
        <rules>
            <name>Copy_8_of_Green</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PT_Schedule_Adherence_RAG__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Green</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_Assign_Schedule_Adherence_RAG_Score</targetReference>
            </connector>
            <label>Green</label>
        </rules>
    </decisions>
    <decisions>
        <name>Commercial_Assurance_RAG_Score</name>
        <label>Commercial Assurance RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Funding_Award_Performance_Management_Record1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Red</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCA_Commercial_Assurance_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Red</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Commercial_Assurance_RAG_Score</targetReference>
            </connector>
            <label>Red</label>
        </rules>
        <rules>
            <name>Copy_2_of_Amber_Red</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCA_Commercial_Assurance_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amber Red</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Commercial_Assurance_RAG_Score</targetReference>
            </connector>
            <label>Amber/Red</label>
        </rules>
        <rules>
            <name>Copy_2_of_Amber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCA_Commercial_Assurance_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amber</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_Commercial_Assurance_RAG_Score</targetReference>
            </connector>
            <label>Amber</label>
        </rules>
        <rules>
            <name>Copy_2_of_Amber_Green</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCA_Commercial_Assurance_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amber Green</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Assign_Commercial_Assurance_RAG_Score</targetReference>
            </connector>
            <label>Amber/Green</label>
        </rules>
        <rules>
            <name>Copy_2_of_Green</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCA_Commercial_Assurance_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Green</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Assign_Commercial_Assurance_RAG_Score</targetReference>
            </connector>
            <label>Green</label>
        </rules>
    </decisions>
    <decisions>
        <name>Completeness_of_Report_Score</name>
        <label>Completeness of Report Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_to_N_A</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DQA_Completeness_of_Report__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Score</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DQA_Completeness_of_Report__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Score</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Finance_management_RAG_Score</name>
        <label>Finance management RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Fraud_RAG_Score</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>Copy_6_of_Red</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCA_Finance_management_RAG__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Red</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Finance_management_RAG_Score</targetReference>
            </connector>
            <label>Red</label>
        </rules>
        <rules>
            <name>Copy_6_of_Amber_Red</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCA_Finance_management_RAG__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amber Red</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Finance_management_RAG_Score</targetReference>
            </connector>
            <label>Amber/Red</label>
        </rules>
        <rules>
            <name>Copy_6_of_Amber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCA_Finance_management_RAG__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amber</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_Finance_management_RAG_Score</targetReference>
            </connector>
            <label>Amber</label>
        </rules>
        <rules>
            <name>Copy_6_of_Amber_Green</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCA_Finance_management_RAG__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amber Green</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Assign_Finance_management_RAG_Score</targetReference>
            </connector>
            <label>Amber/Green</label>
        </rules>
        <rules>
            <name>Copy_6_of_Green</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCA_Finance_management_RAG__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Green</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Assign_Finance_management_RAG_Score</targetReference>
            </connector>
            <label>Green</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fraud_data_Score</name>
        <label>Fraud data​ Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_3_of_Assign_to_N_A</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>Copy_4_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DQA_Fraud_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_7_of_Assign_Score</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Copy_4_of_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DQA_Fraud_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_10_of_Assign_Score</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fraud_RAG_Score</name>
        <label>Fraud RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Commercial_Assurance_RAG_Score</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>Copy_7_of_Red</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fraud_RAG__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Red</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Fraud_RAG_Score</targetReference>
            </connector>
            <label>Red</label>
        </rules>
        <rules>
            <name>Copy_7_of_Amber_Red</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fraud_RAG__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amber Red</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Fraud_RAG_Score</targetReference>
            </connector>
            <label>Amber/Red</label>
        </rules>
        <rules>
            <name>Copy_7_of_Amber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fraud_RAG__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amber</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_Fraud_RAG_Score</targetReference>
            </connector>
            <label>Amber</label>
        </rules>
        <rules>
            <name>Copy_7_of_Amber_Green</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fraud_RAG__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amber Green</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Assign_Fraud_RAG_Score</targetReference>
            </connector>
            <label>Amber/Green</label>
        </rules>
        <rules>
            <name>Copy_7_of_Green</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fraud_RAG__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Green</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Assign_Fraud_RAG_Score</targetReference>
            </connector>
            <label>Green</label>
        </rules>
    </decisions>
    <decisions>
        <name>Homes_data_Score</name>
        <label>Homes data​ Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_4_of_Assign_to_N_A</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DQA_Homes_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_6_of_Assign_Score</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Copy_3_of_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DQA_Homes_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_8_of_Assign_Score</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Installer_data_Score</name>
        <label>Installer data​ Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_8_of_Assign_to_N_A</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>Copy_8_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DQA_Installer_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_15_of_Assign_Score</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Copy_8_of_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DQA_Installer_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_18_of_Assign_Score</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Internal_Resourcing_Rating_Score</name>
        <label>Internal Resourcing Rating Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Qualitative_Insights_RAG_Score</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>Copy_4_of_Red</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCA_Internal_Resourcing_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Red</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Internal_Resourcing_Rating_Score</targetReference>
            </connector>
            <label>Red</label>
        </rules>
        <rules>
            <name>Copy_4_of_Amber_Red</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCA_Internal_Resourcing_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amber Red</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Internal_Resourcing_Rating_Score</targetReference>
            </connector>
            <label>Amber/Red</label>
        </rules>
        <rules>
            <name>Copy_4_of_Amber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCA_Internal_Resourcing_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amber</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_Internal_Resourcing_Rating_Score</targetReference>
            </connector>
            <label>Amber</label>
        </rules>
        <rules>
            <name>Copy_4_of_Amber_Green</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCA_Internal_Resourcing_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amber Green</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Assign_Internal_Resourcing_Rating_Score</targetReference>
            </connector>
            <label>Amber/Green</label>
        </rules>
        <rules>
            <name>Copy_4_of_Green</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCA_Internal_Resourcing_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Green</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Assign_Internal_Resourcing_Rating_Score</targetReference>
            </connector>
            <label>Green</label>
        </rules>
    </decisions>
    <decisions>
        <name>KPI_data_Score</name>
        <label>KPI data​ Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Assign_to_N_A</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DQA_KPI_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Assign_Score</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Copy_2_of_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DQA_KPI_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_Assign_Score</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Measure_data_Score</name>
        <label>Measure data​ Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_7_of_Assign_to_N_A</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>Copy_7_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DQA_Measure_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_13_of_Assign_Score</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Copy_7_of_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DQA_Measure_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_16_of_Assign_Score</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Other_Score</name>
        <label>Other​ Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_9_of_Assign_to_N_A</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>Copy_9_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DQA_Other__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_17_of_Assign_Score</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Copy_9_of_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DQA_Other__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_20_of_Assign_Score</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Performance_Tiering_Overall_RAG_Score</name>
        <label>Performance Tiering Overall RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Pipeline_Delivery_milestones_RAG_Score</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>Copy_10_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Overall_Performance_RAG_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Red</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Performance_Tiering_Overall_RAG_Score</targetReference>
            </connector>
            <label>Red</label>
        </rules>
        <rules>
            <name>Copy_10_of_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Overall_Performance_RAG_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amber/Red</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Performance_Tiering_Overall_RAG_Score</targetReference>
            </connector>
            <label>Amber/Red</label>
        </rules>
        <rules>
            <name>Amber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Overall_Performance_RAG_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amber</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_Performance_Tiering_Overall_RAG_Score</targetReference>
            </connector>
            <label>Amber</label>
        </rules>
        <rules>
            <name>Amber_Green</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Overall_Performance_RAG_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amber/Green</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Assign_Performance_Tiering_Overall_RAG_Score</targetReference>
            </connector>
            <label>Amber/Green</label>
        </rules>
        <rules>
            <name>Green</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Overall_Performance_RAG_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Green</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_Assign_Performance_Tiering_Overall_RAG_Score</targetReference>
            </connector>
            <label>Green</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pipeline_Delivery_milestones_RAG_Score</name>
        <label>Pipeline &amp; Delivery milestones RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Risks_and_Issues_RAG_Score</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Red</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCA_Pipeline_Delivery_milestones_RAG__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Red</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Pipeline_Delivery_milestones_RAG_Score</targetReference>
            </connector>
            <label>Red</label>
        </rules>
        <rules>
            <name>Copy_1_of_Amber_Red</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCA_Pipeline_Delivery_milestones_RAG__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amber Red</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Pipeline_Delivery_milestones_RAG_Score</targetReference>
            </connector>
            <label>Amber/Red</label>
        </rules>
        <rules>
            <name>Copy_1_of_Amber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCA_Pipeline_Delivery_milestones_RAG__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amber</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_Pipeline_Delivery_milestones_RAG_Score</targetReference>
            </connector>
            <label>Amber</label>
        </rules>
        <rules>
            <name>Copy_1_of_Amber_Green</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCA_Pipeline_Delivery_milestones_RAG__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amber Green</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Assign_Pipeline_Delivery_milestones_RAG_Score</targetReference>
            </connector>
            <label>Amber/Green</label>
        </rules>
        <rules>
            <name>Copy_1_of_Green</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCA_Pipeline_Delivery_milestones_RAG__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Green</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Assign_Pipeline_Delivery_milestones_RAG_Score</targetReference>
            </connector>
            <label>Green</label>
        </rules>
    </decisions>
    <decisions>
        <name>Property_data_Score</name>
        <label>Property data​ Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_6_of_Assign_to_N_A</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>Copy_6_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DQA_Property_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_11_of_Assign_Score</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Copy_6_of_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DQA_Property_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_14_of_Assign_Score</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Qualitative_Insights_RAG_Score</name>
        <label>Qualitative Insights RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Finance_management_RAG_Score</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>Copy_5_of_Red</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCA_Qualitative_Insights_RAG__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Red</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Qualitative_Insights_RAG_Score</targetReference>
            </connector>
            <label>Red</label>
        </rules>
        <rules>
            <name>Copy_5_of_Amber_Red</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCA_Qualitative_Insights_RAG__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amber Red</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Qualitative_Insights_RAG_Score</targetReference>
            </connector>
            <label>Amber/Red</label>
        </rules>
        <rules>
            <name>Copy_5_of_Amber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCA_Qualitative_Insights_RAG__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amber</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_Qualitative_Insights_RAG_Score</targetReference>
            </connector>
            <label>Amber</label>
        </rules>
        <rules>
            <name>Copy_5_of_Amber_Green</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCA_Qualitative_Insights_RAG__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amber Green</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Assign_Qualitative_Insights_RAG_Score</targetReference>
            </connector>
            <label>Amber/Green</label>
        </rules>
        <rules>
            <name>Copy_5_of_Green</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCA_Qualitative_Insights_RAG__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Green</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Assign_Qualitative_Insights_RAG_Score</targetReference>
            </connector>
            <label>Green</label>
        </rules>
    </decisions>
    <decisions>
        <name>Risk_data_Score</name>
        <label>Risk data​ Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_5_of_Assign_to_N_A</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>Copy_5_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DQA_Risk_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_9_of_Assign_Score</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Copy_5_of_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DQA_Risk_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_12_of_Assign_Score</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Risks_and_Issues_RAG_Score</name>
        <label>Risks and Issues RAG Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Internal_Resourcing_Rating_Score</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_Red</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCA_Risks_and_Issues_RAG__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Red</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Risks_and_Issues_RAG_Score</targetReference>
            </connector>
            <label>Red</label>
        </rules>
        <rules>
            <name>Copy_3_of_Amber_Red</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCA_Risks_and_Issues_RAG__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amber Red</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Risks_and_Issues_RAG_Score</targetReference>
            </connector>
            <label>Amber/Red</label>
        </rules>
        <rules>
            <name>Copy_3_of_Amber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCA_Risks_and_Issues_RAG__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amber</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_Risks_and_Issues_RAG_Score</targetReference>
            </connector>
            <label>Amber</label>
        </rules>
        <rules>
            <name>Copy_3_of_Amber_Green</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCA_Risks_and_Issues_RAG__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amber Green</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Assign_Risks_and_Issues_RAG_Score</targetReference>
            </connector>
            <label>Amber/Green</label>
        </rules>
        <rules>
            <name>Copy_3_of_Green</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DCA_Risks_and_Issues_RAG__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Green</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Assign_Risks_and_Issues_RAG_Score</targetReference>
            </connector>
            <label>Green</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Overall_DCA_RAG_Rating_Final_Mark</name>
        <label>Set Overall DCA RAG Rating &amp; Final Mark?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Funding_Award_Performance_Management_Record3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do not set RAG &amp; Final Mark</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Set_RAG_Final_Mark</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Overall_Performance_RAG_Rating__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCA_Pipeline_Delivery_milestones_RAG__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCA_Risks_and_Issues_RAG__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCA_Internal_Resourcing_Rating__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCA_Qualitative_Insights_RAG__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCA_Finance_management_RAG__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fraud_RAG__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DCA_Commercial_Assurance_Rating__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Performance_Tiering_Overall_RAG_Score</targetReference>
            </connector>
            <label>Set RAG &amp; Final Mark</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Overall_DQA_RAG_Rating_Final_Mark</name>
        <label>Set Overall DQA RAG Rating &amp; Final Mark?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Funding_Award_Performance_Management_Record2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do not set RAG &amp; Final Mark</defaultConnectorLabel>
        <rules>
            <name>Set_RAG_Final_Mark</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DQA_Completeness_of_Report__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DQA_Timeliness_of_Submission__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DQA_KPI_Data__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DQA_Homes_Data__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DQA_Fraud_Data__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DQA_Risk_Data__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DQA_Property_Data__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DQA_Measure_Data__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DQA_Installer_Data__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DQA_Other__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Completeness_of_Report_Score</targetReference>
            </connector>
            <label>Set RAG &amp; Final Mark</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Overall_Performance_RAG_Rating_Final_Mark</name>
        <label>Set Overall Performance RAG Rating &amp; Final Mark</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Funding_Award_Performance_Management_Record4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do not set RAG &amp; Final Mark</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Set_RAG_Final_Mark</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PT_KPI_Delivery_Rating__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PT_Schedule_Adherence_RAG__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PT_Budget_Management_RAG__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PT_Risk_Management_RAG__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Overall_DQA_RAG_Rating__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_KPI_Delivery_RAG_Score</targetReference>
            </connector>
            <label>Set RAG &amp; Final Mark</label>
        </rules>
    </decisions>
    <decisions>
        <name>Timeliness_of_submission_Score</name>
        <label>Timeliness of submission​ Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assign_to_N_A</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DQA_Timeliness_of_Submission__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_Score</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Copy_1_of_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DQA_Timeliness_of_Submission__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Assign_Score</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>- Sets the Overall DQA RAG Rating and Final Mark for a Funding Award Performance Management Record when all category pick-lists have been completed.

- Sets the Overall DCA RAG Rating and Final Mark for a Funding Award Performance Management Record when all RAG Rating pick-lists have been completed.

- Sets the Overall Performance Management RAG Rating and Final Mark for a Funding Award Performance Management Record when all RAG Rating pick-lists have been completed.</description>
    <environments>Default</environments>
    <formulas>
        <name>CountofYesNo</name>
        <dataType>Number</dataType>
        <expression>{!CountofQuestions} - {!NACount}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>OverallDCAFinalMark</name>
        <dataType>Number</dataType>
        <expression>ROUND(({!PerformanceTieringOverallRAGWeighting}*{!PerformanceTieringOverallRAGScore}) + 
({!PipelineDeliverymilestonesRAGWeighting}*{!PipelineDeliverymilestonesRAGScore}) +
({!RisksandIssuesRAGWeighting}*{!RisksandIssuesRAGScore}) +
({!InternalResourcingRatingWeighting}*{!InternalResourcingRatingScore}) +
({!QualitativeInsightsRAGWeighting}*{!QualitativeInsightsRAGScore}) +
({!FinancemanagementRAGWeighting}*{!FinancemanagementRAGScore}) +
({!FraudRAGWeighting}*{!FraudRAGScore}) +
({!CommercialAssuranceRAGWeighting}*{!CommercialAssuranceRAGScore}),
0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>OverallDCARAGRating</name>
        <dataType>String</dataType>
        <expression>IF({!OverallDCAFinalMark} &lt;= 1, &quot;Red&quot;,
IF({!OverallDCAFinalMark} &lt;= 2, &quot;Amber/Red&quot;,
IF({!OverallDCAFinalMark} &lt;= 3, &quot;Amber&quot;,
If({!OverallDCAFinalMark} &lt;= 4, &quot;Amber/Green&quot;,
If({!OverallDCAFinalMark} &lt;= 5, &quot;Green&quot;,
&quot;&quot;)))))</expression>
    </formulas>
    <formulas>
        <name>OverallDQAFinalMark</name>
        <dataType>Number</dataType>
        <expression>ROUND(({!CompletenessofReport} + {!Timelinessofsubmission} + {!KPIdata} + {!Homesdata} + {!Frauddata} + {!Riskdata} + {!Propertydata} + {!Measuredata} + {!Installerdata} + {!Other}) / {!CountofYesNo}, 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>OverallDQARAGRating</name>
        <dataType>String</dataType>
        <expression>IF({!OverallDQAFinalMark} &lt;= 1, &quot;Red&quot;,
IF({!OverallDQAFinalMark} &lt;= 2, &quot;Amber/Red&quot;,
IF({!OverallDQAFinalMark} &lt;= 3, &quot;Amber&quot;,
IF({!OverallDQAFinalMark} &lt;= 4, &quot;Amber/Green&quot;,
IF({!OverallDQAFinalMark} = 5, &quot;Green&quot;,
&quot;&quot;)))))</expression>
    </formulas>
    <formulas>
        <name>OverallPerformanceMark</name>
        <dataType>Number</dataType>
        <expression>ROUND(({!KPIDeliveryRAGScore} + {!ScheduleAdherenceRAGScore} + {!BudgetManagementRAGScore} + {!RiskandssuesRAGScore} + {!DQAOverallRAGScore}) / {!OverallPerformanceFive}, 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>OverallPerformanceRagRating</name>
        <dataType>String</dataType>
        <expression>IF({!OverallPerformanceMark} &lt;= 1, &quot;Red&quot;,
IF({!OverallPerformanceMark} &lt;= 2, &quot;Amber/Red&quot;,
IF({!OverallPerformanceMark} &lt;= 3, &quot;Amber&quot;,
If({!OverallPerformanceMark} &lt;= 4, &quot;Amber/Green&quot;,
If({!OverallPerformanceMark} &lt;= 5, &quot;Green&quot;,
&quot;&quot;)))))</expression>
    </formulas>
    <interviewLabel>GMS - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GMS - Overall RAG Rating and Final Mark for Funding Award Performance Management</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Funding_Award_Performance_Management_Record</name>
        <label>Update Funding Award Performance Management Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Overall_DCA_RAG_Rating_Final_Mark</targetReference>
        </connector>
        <inputAssignments>
            <field>Overall_DQA_Final_Mark__c</field>
            <value>
                <elementReference>OverallDQAFinalMark</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Overall_DQA_RAG_Rating__c</field>
            <value>
                <elementReference>OverallDQARAGRating</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Funding_Award_Performance_Management_Record1</name>
        <label>Update Funding Award Performance Management Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Overall_Performance_RAG_Rating_Final_Mark</targetReference>
        </connector>
        <inputAssignments>
            <field>Overall_DCA_Final_Mark__c</field>
            <value>
                <elementReference>OverallDCAFinalMark</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Overall_DCA_RAG_Rating__c</field>
            <value>
                <elementReference>OverallDCARAGRating</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Funding_Award_Performance_Management_Record2</name>
        <label>Update Funding Award Performance Management Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Overall_DCA_RAG_Rating_Final_Mark</targetReference>
        </connector>
        <inputAssignments>
            <field>Overall_DQA_Final_Mark__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Overall_DQA_RAG_Rating__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Funding_Award_Performance_Management_Record3</name>
        <label>Update Funding Award Performance Management Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Overall_Performance_RAG_Rating_Final_Mark</targetReference>
        </connector>
        <inputAssignments>
            <field>Overall_DCA_Final_Mark__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Overall_DCA_RAG_Rating__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Funding_Award_Performance_Management_Record4</name>
        <label>Update Funding Award Performance Management Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Overall_Performance_Final_Mark__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Overall_Performance_RAG_Rating__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Funding_Award_Performance_Management_Record5</name>
        <label>Update Funding Award Performance Management Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Overall_Performance_Final_Mark__c</field>
            <value>
                <elementReference>OverallPerformanceMark</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Overall_Performance_RAG_Rating__c</field>
            <value>
                <elementReference>OverallPerformanceRagRating</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Overall_DQA_RAG_Rating_Final_Mark</targetReference>
        </connector>
        <object>Funding_Award_Performance_Management__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>BudgetManagementRAGScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CommercialAssuranceRAGScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CompletenessofReport</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>DQAOverallRAGScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>FinancemanagementRAGScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Frauddata</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>FraudRAGScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Homesdata</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Installerdata</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>InternalResourcingRatingScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>KPIdata</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>KPIDeliveryRAGScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Measuredata</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NACount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Other</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>PerformanceTieringOverallRAGScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>PipelineDeliverymilestonesRAGScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Propertydata</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>QualitativeInsightsRAGScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>RiskandssuesRAGScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Riskdata</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>RisksandIssuesRAGScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ScheduleAdherenceRAGScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Timelinessofsubmission</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
