force-app/main/default/flows/GMS_Funding_Disbursements_Record_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Creates a Funding Disbursement record when a Funding Drawdown Request is set to &quot;Approved&quot;.</description>
    <environments>Default</environments>
    <formulas>
        <name>AdminCostsSum</name>
        <dataType>Currency</dataType>
        <expression>IF({!$Record.Total_A_A__c} &lt; 1, {!$Record.Admin_Costs__c}, {!$Record.Total_A_A__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CurrentDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>GMS - Funding Disbursements Record Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GMS - Funding Disbursements Record Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Funding_Disbursement</name>
        <label>Create Funding Disbursement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Grant_Drawdown</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>$Record.Funding_Amount_Requested__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_A_A__c</field>
            <value>
                <elementReference>AdminCostsSum</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Capital__c</field>
            <value>
                <elementReference>$Record.Total_Capital__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FundingAwardId</field>
            <value>
                <elementReference>$Record.Funding_Award__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Baseline__c</field>
            <value>
                <elementReference>$Record.Baseline__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submission_Date__c</field>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>FundingDisbursement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Grant_Drawdown</name>
        <label>Update Grant Drawdown</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Funding_Disbursement__c</field>
            <value>
                <elementReference>Create_Funding_Disbursement</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Funding_Disbursement</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <object>Funding_Drawdown_Request__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
