force-app/main/default/flows/GMS_Change_Control_Request_Forecasts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_current_baseline_changes</name>
        <label>Add current baseline changes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varSumNewGrantAA</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSubBaselineItem.Grant_A_A_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSumNewGrantCapital</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSubBaselineItem.Grant_Capital_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSumNewHomesToCompleted</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSubBaselineItem.Total_number_of_homes_to_be_upgraded__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_sub_baselines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_Current_baseline_record</name>
        <label>add Current baseline record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varSumNewGrantAA</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_sub_baselines.Baseline_Grant_A_A_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSumNewGrantCapital</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_sub_baselines.Baseline_Grant_Capital_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSumNewHomesToCompleted</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_sub_baselines.Total_Homes_to_be_Upgraded__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_sub_baselines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_each_initial_forecast_to_Forecasts</name>
        <label>Add each initial forecast to Forecasts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varForecasts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varEachIntialForecast</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_forecasts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_other_baseline_change_item_values</name>
        <label>Add other baseline change item values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varSumNewGrantAA</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentItem_Get_FY_Baselines_item.Grant_A_A_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSumNewGrantCapital</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentItem_Get_FY_Baselines_item.Grant_Capital_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSumNewHomesToCompleted</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentItem_Get_FY_Baselines_item.Total_number_of_homes_to_be_upgraded__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_sub_baselines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_other_baseline_changes</name>
        <label>Add other baseline changes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varSumNewGrantAA</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_sub_baselines.Baseline_Grant_A_A_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSumNewGrantCapital</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_sub_baselines.Baseline_Grant_Capital_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSumNewHomesToCompleted</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_sub_baselines.Total_Homes_to_be_Upgraded__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_sub_baselines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_baseline_assigned_false</name>
        <label>Assign baseline assigned false</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varBaselineAssigned</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Old_Forecasts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_baseline_item_defaults</name>
        <label>Assign baseline item defaults</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varSubBaselineItem.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sub Baseline</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSubBaselineItem.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSubBaselineItem.Baseline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBaseline.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSubBaselineItem.Change_Control_Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varChangeRequest.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Baseline_item_new_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Baseline_item_new_values</name>
        <label>Assign Baseline item new values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varSubBaselineItem.Grant_Capital_Spend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_Forecasts.Grant_Capital_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSubBaselineItem.Grant_A_A_Spend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_Forecasts.Grant_A_A_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSubBaselineItem.Total_number_of_homes_to_be_upgraded__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_Forecasts.No_of_Homes_Completed__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_baseline_item_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_baseline_item_to_collection</name>
        <label>Assign baseline item to collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varChangeLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSubBaselineItem</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBaselineAssigned</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Loop_Old_Forecasts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_current_forecast_to_Each_Forecast</name>
        <label>Assign current forecast to Each Forecast</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varEachIntialForecast</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_forecasts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForecastNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_forecasts.Forecast_Month__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Get_initial_items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fields</name>
        <label>Assign Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Grant_Capital_Spend__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Grant_A_A_Spend__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>No_of_Homes_Validated__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>No_of_Homes_Assessed__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>No_of_Homes_Completed__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Number_of_Batches__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Average_Homes_Per_Batch__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Installations_Completed__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Number_of_TM_Lodgements__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Financial_Fields</name>
        <label>Assign Financial Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Grant_Capital_Spend__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Grant_A_A_Spend__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_FY_baseline_forecast_record</name>
        <label>Assign FY baseline forecast record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varForecasts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varForecastTotalRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_forecasts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_house_count_Fields</name>
        <label>Assign house count Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>No_of_Homes_Validated__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>No_of_Homes_Assessed__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>No_of_Homes_Completed__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Number_of_Batches__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Average_Homes_Per_Batch__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Installations_Completed__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Number_of_TM_Lodgements__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_initial_forecasts</name>
        <label>Assign initial forecasts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varInitialForecasts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Forecasts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInitialForecasts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varForecastTotalRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>if_baseline_item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_items_to_delete</name>
        <label>Assign items to delete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varItemsToDelete</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_items_for_Delete</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>remove_total_forecast_from_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Line_item_defaults</name>
        <label>Assign Line item defaults</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varEachChangeLineItem.Funding_Award_Forecast__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Old_Forecasts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachChangeLineItem.Change_Control_Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varChangeRequest.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachChangeLineItem.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachChangeLineItem.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Forecast</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachChangeLineItem.Baseline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBaseline.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Line_Item_New_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Line_Item_New_Values</name>
        <label>Assign Line Item New Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varEachChangeLineItem.Grant_Capital_Spend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_Forecasts.Grant_Capital_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachChangeLineItem.Grant_A_A_Spend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_Forecasts.Grant_A_A_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachChangeLineItem.No_of_Homes_Validated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_Forecasts.No_of_Homes_Validated__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachChangeLineItem.No_of_Homes_Assessed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_Forecasts.No_of_Homes_Assessed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachChangeLineItem.No_of_Homes_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_Forecasts.No_of_Homes_Completed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachChangeLineItem.Grant_Capital_Spend_Previous__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Old_Forecasts.Grant_Capital_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachChangeLineItem.Grant_A_A_Spend_Previous__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Old_Forecasts.Grant_A_A_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachChangeLineItem.No_of_Homes_Assessed_Previous__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Old_Forecasts.No_of_Homes_Assessed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachChangeLineItem.No_of_Homes_Validated_Previous__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Old_Forecasts.No_of_Homes_Validated__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachChangeLineItem.No_of_Homes_Completed_Previous__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Old_Forecasts.No_of_Homes_Completed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachChangeLineItem.Number_of_Batches__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_Forecasts.Number_of_Batches__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachChangeLineItem.Number_of_Batches_Previous__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Old_Forecasts.Number_of_Batches__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachChangeLineItem.Average_Homes_Per_Batch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_Forecasts.Average_Homes_Per_Batch__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachChangeLineItem.Average_Homes_Per_Batch_Previous__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Old_Forecasts.Average_Homes_Per_Batch__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachChangeLineItem.Installations_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_Forecasts.Installations_Completed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachChangeLineItem.Installations_Completed_Previous__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Old_Forecasts.Installations_Completed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachChangeLineItem.Number_of_TM_Lodgements__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_Forecasts.Number_of_TM_Lodgements__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachChangeLineItem.Number_of_TM_Lodgements_Previous__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Old_Forecasts.Number_of_TM_Lodgements__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_line_items_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_line_items_to_collection</name>
        <label>assign line items to collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varChangeLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varEachChangeLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Loop_Old_Forecasts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_values</name>
        <label>Assign new values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varAwardBaselineItem.Grant_A_A_Spend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSumNewGrantAA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAwardBaselineItem.Grant_Capital_Spend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSumNewGrantCapital</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAwardBaselineItem.Total_number_of_homes_to_be_upgraded__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSumNewHomesToCompleted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_item_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_sums_to_zero</name>
        <label>Assign sums to zero</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varSumNewGrantAA</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSumNewGrantCapital</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSumNewHomesToCompleted</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_sub_baselines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_item_collection</name>
        <label>Assign to item collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varChangeLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varAwardBaselineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_total_forecast</name>
        <label>Assign total forecast</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varForecastTotalRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0YA0000ValidId</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForecastTotalRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FY Baseline</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForecastTotalRecord.Grant_A_A_Spend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBaseline.Baseline_Grant_A_A_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForecastTotalRecord.Grant_Capital_Spend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBaseline.Baseline_Grant_Capital_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForecastNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varBaseline.Baseline_Version__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForecastTotalRecord.Grant_Total_Spend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBaseline.Baseline_Total_Grant_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForecastTotalRecord.No_of_Homes_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBaseline.Total_Homes_to_be_Upgraded__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_initial_forecasts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_total_forecast_already_exists</name>
        <label>Assign total forecast already exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varForecastTotalRecord.Grant_A_A_Spend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Baseline_Item.Grant_A_A_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForecastTotalRecord.Grant_Capital_Spend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Baseline_Item.Grant_Capital_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForecastTotalRecord.Grant_Total_Spend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Baseline_Item.Total_Grant_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForecastTotalRecord.No_of_Homes_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Baseline_Item.Total_number_of_homes_to_be_upgraded__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_FY_baseline_forecast_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Null_fields_and_records</name>
        <label>Null fields and records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varFields</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForecasts</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForecastNames</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varItemsToDelete</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewForecasts</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdatedForecasts</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChangeLineItems</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>check_return</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Overwrite_each_forecast_with_existing_item_values</name>
        <label>Overwrite each forecast with existing item values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varEachIntialForecast.Grant_Capital_Spend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Get_initial_items.Grant_Capital_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachIntialForecast.Grant_A_A_Spend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Get_initial_items.Grant_A_A_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachIntialForecast.No_of_Homes_Validated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Get_initial_items.No_of_Homes_Validated__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachIntialForecast.No_of_Homes_Assessed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Get_initial_items.No_of_Homes_Assessed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachIntialForecast.No_of_Homes_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Get_initial_items.No_of_Homes_Completed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachIntialForecast.Number_of_Batches__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Get_initial_items.Number_of_Batches__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachIntialForecast.Number_of_TM_Lodgements__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Get_initial_items.Number_of_TM_Lodgements__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachIntialForecast.Average_Homes_Per_Batch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Get_initial_items.Average_Homes_Per_Batch__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Get_initial_items.Installations_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Get_initial_items.Installations_Completed__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Get_initial_items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>remove_total_forecast_from_list</name>
        <label>remove total forecast from list</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varUpdatedForecasts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForecastDiffMatrix.updatedRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_New_Forecasts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Award_baseline_item_defaults</name>
        <label>Set Award baseline item defaults</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varAwardBaselineItem.Change_Control_Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varChangeRequest.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAwardBaselineItem.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAwardBaselineItem.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Award Baseline</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAwardBaselineItem.Baseline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Award_Baseline.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_new_values</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>chc_Financials</name>
        <choiceText>Financial fields</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>financials</stringValue>
        </value>
    </choices>
    <choices>
        <description>Project homes</description>
        <name>chc_House_Counts</name>
        <choiceText>Project homes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>houseCounts</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Get_FY_Baselines_item</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get FY Baselines item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Get_FY_Baselines_item</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_sub_baseline_items</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_FY_Baselines_item.Baseline__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_over_sub_baselines.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Check_FY_Baseline_item_exists</targetReference>
        </connector>
    </collectionProcessors>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Baseline_Check_Changes</name>
        <label>Baseline Check Changes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Old_Forecasts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Changed_Baseline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flaBaselineHasChanges</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_baseline_item_defaults</targetReference>
            </connector>
            <label>is Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_AA_Breached</name>
        <label>check AA Breached</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Baseline_Check_Changes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>aa_breached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flaAwardGrantAABreached</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Change_Control_Request_Forecast</targetReference>
            </connector>
            <label>aa breached</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Award_Baseline_Values_Changed</name>
        <label>Check Award Baseline Values Changed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>award_baseline_has_changes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flaAwardBaselineChanges</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Award_baseline_item_defaults</targetReference>
            </connector>
            <label>award baseline has changes</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_changes</name>
        <label>check changes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Old_Forecasts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flaHasChanges</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Line_item_defaults</targetReference>
            </connector>
            <label>is changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>if there is no change to the sub baseline because the GR has just rearranged the values on the Forecasts and not changed the totals</description>
        <name>Check_Current_Sub_baseline_item_exists</name>
        <label>Check Current Sub baseline item exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>add_Current_baseline_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSubBaselineItem.Baseline__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_current_baseline_changes</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_existing_items_for_delete</name>
        <label>Check existing items for delete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Delivery_Plan_Types</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>have_items_to_delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varItemsToDelete</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varItemsToDelete</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>delete_existing_items</targetReference>
            </connector>
            <label>have items to delete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_FY_Baseline_item_exists</name>
        <label>Check FY Baseline item exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Add_other_baseline_changes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_baseline_item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_FY_Baselines_item</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_other_baseline_change_item_values</targetReference>
            </connector>
            <label>has baseline item</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_item_for_forecast</name>
        <label>Check item for forecast</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Get_initial_items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>item_found_for_forecast</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Get_initial_items.Funding_Award_Forecast__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_forecasts.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Overwrite_each_forecast_with_existing_item_values</targetReference>
            </connector>
            <label>item found for forecast</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_return</name>
        <label>check return</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>edit_choice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_return</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>return.nextState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>return</stringValue>
                </rightValue>
            </conditions>
            <label>is return</label>
        </rules>
    </decisions>
    <decisions>
        <name>edit_choice</name>
        <label>edit choice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_financial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Delivery_Plan_Change_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chc_Financials</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Financial_Fields</targetReference>
            </connector>
            <label>is financial</label>
        </rules>
        <rules>
            <name>is_house_counts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Delivery_Plan_Change_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>chc_House_Counts</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_house_count_Fields</targetReference>
            </connector>
            <label>is house counts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Forecast_Check</name>
        <label>Forecast Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Old_Forecasts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_New_Forecasts.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Old_Forecasts.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_changes</targetReference>
            </connector>
            <label>is same</label>
        </rules>
        <rules>
            <name>is_Total_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_New_Forecasts.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varForecastTotalRecord.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varBaselineAssigned</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_AA_Breached</targetReference>
            </connector>
            <label>is Total record</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_baseline_is_current_baseline</name>
        <label>If baseline is current baseline</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_FY_Baselines_item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_sub_baselines.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varBaseline.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Current_Sub_baseline_item_exists</targetReference>
            </connector>
            <label>check same</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_baseline_item</name>
        <label>if baseline item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_FY_baseline_forecast_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_baseline_item1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Baseline_Item</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_total_forecast_already_exists</targetReference>
            </connector>
            <label>has baseline item</label>
        </rules>
    </decisions>
    <description>Sub flow handling the changes to Forecast data for LG awards</description>
    <environments>Default</environments>
    <formulas>
        <name>flaAwardBaselineChanges</name>
        <dataType>Boolean</dataType>
        <expression>{!varSumNewGrantCapital} == {!Get_Award_Baseline.Baseline_Grant_Capital_Spend__c} &amp;&amp;
{!varSumNewGrantAA} == {!Get_Award_Baseline.Baseline_Grant_A_A_Spend__c} &amp;&amp;
{!varSumNewHomesToCompleted} == {!Get_Award_Baseline.Total_Homes_to_be_Upgraded__c}</expression>
    </formulas>
    <formulas>
        <name>flaAwardGrantAABreached</name>
        <dataType>Boolean</dataType>
        <expression>{!Loop_New_Forecasts.Grant_A_A_Spend__c} &gt; ({!Loop_New_Forecasts.Grant_Capital_Spend__c}*0.15)/0.85</expression>
    </formulas>
    <formulas>
        <name>flaBaselineCombinedAASpend</name>
        <dataType>Currency</dataType>
        <expression>{!varBaseline.Baseline_Co_funding_A_A_spend__c} + {!varBaseline.Baseline_Grant_A_A_Spend__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>flaBaselineHasChanges</name>
        <dataType>Boolean</dataType>
        <expression>{!Loop_New_Forecasts.Grant_Capital_Spend__c} == {!varBaseline.Baseline_Grant_Capital_Spend__c} &amp;&amp;
{!Loop_New_Forecasts.Grant_A_A_Spend__c} == {!varBaseline.Baseline_Grant_A_A_Spend__c} &amp;&amp;
{!Loop_New_Forecasts.No_of_Homes_Completed__c} == {!varBaseline.Total_Homes_to_be_Upgraded__c}</expression>
    </formulas>
    <formulas>
        <name>flaHasChanges</name>
        <dataType>Boolean</dataType>
        <expression>{!Loop_New_Forecasts.Grant_Capital_Spend__c} == {!Loop_Old_Forecasts.Grant_Capital_Spend__c} &amp;&amp;
{!Loop_New_Forecasts.Grant_A_A_Spend__c} == {!Loop_Old_Forecasts.Grant_A_A_Spend__c} &amp;&amp;
{!Loop_New_Forecasts.No_of_Homes_Validated__c} == {!Loop_Old_Forecasts.No_of_Homes_Validated__c} &amp;&amp;
{!Loop_New_Forecasts.No_of_Homes_Assessed__c} == {!Loop_Old_Forecasts.No_of_Homes_Assessed__c} &amp;&amp;
{!Loop_New_Forecasts.No_of_Homes_Completed__c} == {!Loop_Old_Forecasts.No_of_Homes_Completed__c}</expression>
    </formulas>
    <interviewLabel>GMS - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GMS - Change Control Request Form - Forecasts</label>
    <loops>
        <name>Loop_forecasts</name>
        <label>Loop forecasts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Forecasts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_current_forecast_to_Each_Forecast</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Change_Control_Request_Forecast</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Get_initial_items</name>
        <label>Loop Get initial items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_initial_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_item_for_forecast</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_each_initial_forecast_to_Forecasts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_New_Forecasts</name>
        <label>Loop New Forecasts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>varUpdatedForecasts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_baseline_assigned_false</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Award_Baseline</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Old_Forecasts</name>
        <label>Loop Old Forecasts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Forecasts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Forecast_Check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_New_Forecasts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_sub_baselines</name>
        <label>Loop over sub baselines</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_FY_Baselines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_baseline_is_current_baseline</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Award_Baseline_Values_Changed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_items</name>
        <label>Create items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_existing_items_for_delete</targetReference>
        </connector>
        <inputReference>varChangeLineItems</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>delete_existing_items</name>
        <label>delete existing items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Delivery_Plan_Types</targetReference>
        </connector>
        <inputReference>varItemsToDelete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Award_Baseline</name>
        <label>Get Award Baseline</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_FY_Baselines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Funding_Award__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBaseline.Funding_Award__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Baseline_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Award</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FundingBaseline__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Award_Baseline_Item</name>
        <label>Get Award Baseline Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_sub_baseline_items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Award Baseline</stringValue>
            </value>
        </filters>
        <filters>
            <field>Change_Control_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varChangeRequest.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Change_Control_Request_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Baseline_Item</name>
        <label>Get Baseline Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_total_forecast</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sub Baseline</stringValue>
            </value>
        </filters>
        <filters>
            <field>Change_Control_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varChangeRequest.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Change_Control_Request_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_items_for_Delete</name>
        <label>Get Existing items for Delete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_items_to_delete</targetReference>
        </connector>
        <filterLogic>((1 OR 4) AND (2 AND 3))  OR ( 2 AND 5)</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Forecast</stringValue>
            </value>
        </filters>
        <filters>
            <field>Change_Control_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varChangeRequest.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Baseline__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBaseline.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sub Baseline</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Award Baseline</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Change_Control_Request_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Forecasts</name>
        <label>Get Forecasts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_initial_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Funding_Award__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBaseline.Funding_Award__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Parent_Baseline__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBaseline.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FundingAwardForecast__c</object>
        <sortField>Forecast_Start_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_FY_Baselines</name>
        <label>Get FY Baselines</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Award_Baseline_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Funding_Award__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBaseline.Funding_Award__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Baseline_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Financial Year</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FundingBaseline__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_initial_Items</name>
        <label>Get initial Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Baseline_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Forecast</stringValue>
            </value>
        </filters>
        <filters>
            <field>Change_Control_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varChangeRequest.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Baseline__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBaseline.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Change_Control_Request_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Forecasts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAward.Record_Type_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Change_Control_Request_Line_Item__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_sub_baseline_items</name>
        <label>Get sub baseline items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_sums_to_zero</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sub Baseline</stringValue>
            </value>
        </filters>
        <filters>
            <field>Change_Control_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varChangeRequest.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Change_Control_Request_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Change_Control_Request_Forecast</name>
        <label>Change Control Request Forecast</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Existing_items_for_Delete</targetReference>
        </connector>
        <fields>
            <name>DelieveryPlanGuidance</name>
            <fieldText>&lt;p&gt;The top row of the below table is data from the baseline: {!varBaseline.Baseline_Version__c}&lt;/p&gt;&lt;p&gt;Baselines do not have Homes Validated or Homes Assessed data ergo zero is being displayed for these columns&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The Monthly Forecast rows of the remaining columns all require to sum to the baseline row value. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The bottom row of the table displays the difference between the sum and the baseline for ease.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DisplayAABreached</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(163, 0, 0);&quot;&gt;Error - Award A&amp;amp;A too high&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>aa_breached</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ForecastDiffMatrix</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>FundingAwardForecast__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:dmDiffMatrixInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>difference</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordNames</name>
                <value>
                    <elementReference>varForecastNames</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <elementReference>varFields</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>records</name>
                <value>
                    <elementReference>varForecasts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sobjectType</name>
                <value>
                    <stringValue>FundingAwardForecast__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Change Control Request - Forecast changes </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>totalRecordId</name>
                <value>
                    <stringValue>a0YA0000ValidId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disableCutOffDate</name>
                <value>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disableCutOffField</name>
                <value>
                    <stringValue>Forecast_End_Date__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>useTotalForDifferences</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>initialRecords</name>
                <value>
                    <elementReference>varInitialForecasts</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Delivery_Plan_Types</name>
        <label>Delivery Plan Types</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Null_fields_and_records</targetReference>
        </connector>
        <fields>
            <name>Delivery_Plan_Change_Type</name>
            <choiceReferences>chc_Financials</choiceReferences>
            <choiceReferences>chc_House_Counts</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Delivery Plan Change Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Edit</name>
            <extensionName>c:dmFlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>finishLabel</name>
                <value>
                    <stringValue>Edit</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <stringValue>Edit</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextState</name>
                <value>
                    <stringValue>edit</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Delivery_Plan_Change_Type</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>LB1</name>
            <extensionName>c:lineBreak</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>return</name>
            <extensionName>c:dmFlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>finishLabel</name>
                <value>
                    <stringValue>Return to Change Summary</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <stringValue>Return to Baseline Selection</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextStateValue</name>
                <value>
                    <stringValue>return</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Delivery_Plan_Types</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_filter_Initial_Forecasts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Change_Control_Request_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_FY_Baselines_item</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Change_Control_Request_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>InitialForecasts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingAwardForecast__c</objectType>
    </variables>
    <variables>
        <name>varAward</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingAward</objectType>
    </variables>
    <variables>
        <name>varAwardBaselineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Change_Control_Request_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>varBaseline</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingBaseline__c</objectType>
    </variables>
    <variables>
        <name>varBaselineAssigned</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varChangeLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Change_Control_Request_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>varChangeRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>FundingAwardAmendment</objectType>
    </variables>
    <variables>
        <name>varEachChangeLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Change_Control_Request_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>varEachIntialForecast</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingAwardForecast__c</objectType>
    </variables>
    <variables>
        <name>varFields</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varForecastNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varForecasts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingAwardForecast__c</objectType>
    </variables>
    <variables>
        <name>varForecastTotalRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingAwardForecast__c</objectType>
    </variables>
    <variables>
        <name>varInitialForecasts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingAwardForecast__c</objectType>
    </variables>
    <variables>
        <name>varItemsToDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Change_Control_Request_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>varNewForecasts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingAwardForecast__c</objectType>
    </variables>
    <variables>
        <name>varSubBaselineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Change_Control_Request_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>varSumNewGrantAA</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varSumNewGrantCapital</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varSumNewHomesToCompleted</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varUpdatedForecasts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingAwardForecast__c</objectType>
    </variables>
</Flow>
