force-app/main/default/flows/GMS_Create_Default_Phase_Tracker.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_to_Phase_Tracker_Record_Collection</name>
        <label>Assign to Phase Tracker Record Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PhaseTrackerRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AwardPhaseBaselineSingleRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PhaseTrackerRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CompletedPhaseTrackerSingleRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PhaseTrackerRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CompletedApprovedPhaseTrackerSingleRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PhaseTrackerRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PhaseTrackerRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RemainingInProjectTrackerSingleRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Phase_Trackers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_single_record_variable</name>
        <label>Assign to single record variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cumulative_Completed_Phase_Tracker_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.Last_Refreshed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.Capital_Grant_Project_Total__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Phase_Baselines.Baseline_Grant_Capital_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.AA_Grant_Project_Total__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Phase_Baselines.Baseline_Grant_A_A_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.Grant_Total_FY_2526__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.Grant_Total_FY_2627__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.Grant_Total_FY_2728__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.Capital_Co_funding_Total__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Phase_Baselines.Baseline_Co_Funding_Capital_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.Cofunding_Total_FY_2425__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.Cofunding_Total_FY_2526__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.Cofunding_Total_FY_2627__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.Cofunding_Total_FY_2728__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.Cofunding_Total_FY_2829__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.LCH_Off_Gas_Incentive_Homes__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Phase_Baselines.No_of_Homes_for_Off_Gas_grid_LCH_Uplift__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.LCH_On_Gas_Incentive_Homes__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Phase_Baselines.No_of_Homes_for_On_Gas_grid_LCH_Offer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.Starting_EPC_C_Homes__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Phase_Baselines.No_of_homes_starting_at_EPC_C__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.Non_Social_Homes__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Phase_Baselines.Starting_No_of_Non_Social_Homes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.Homes_Treated__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Phase_Baselines.Total_Homes_to_be_Upgraded__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Completed_Phase_Baselines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_single_record_variable_1</name>
        <label>Assign to single record variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cumulative_Including_Approved_Phases_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.Last_Refreshed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.Capital_Grant_Project_Total__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Approved_Phase_Baselines.Baseline_Grant_Capital_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.AA_Grant_Project_Total__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Approved_Phase_Baselines.Baseline_Grant_A_A_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.Grant_Total_FY_2526__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.Grant_Total_FY_2627__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.Grant_Total_FY_2728__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.Capital_Co_funding_Total__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Approved_Phase_Baselines.Baseline_Co_Funding_Capital_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.Cofunding_Total_FY_2425__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.Cofunding_Total_FY_2526__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.Cofunding_Total_FY_2627__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.Cofunding_Total_FY_2728__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.Cofunding_Total_FY_2829__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.LCH_Off_Gas_Incentive_Homes__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Approved_Phase_Baselines.No_of_Homes_for_Off_Gas_grid_LCH_Uplift__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.LCH_On_Gas_Incentive_Homes__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Approved_Phase_Baselines.No_of_Homes_for_On_Gas_grid_LCH_Offer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.Starting_EPC_C_Homes__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Approved_Phase_Baselines.No_of_homes_starting_at_EPC_C__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.Non_Social_Homes__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Approved_Phase_Baselines.Starting_No_of_Non_Social_Homes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.Homes_Treated__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Approved_Phase_Baselines.Total_Homes_to_be_Upgraded__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Completed_Approved_Phase_Baselines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_single_record_variable_2</name>
        <label>Assign to single record variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cumulative_Including_Submitted_Phases_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Last_Refreshed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Capital_Grant_Project_Total__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Approved_Submitted_Phase_Baselines.Baseline_Grant_Capital_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.AA_Grant_Project_Total__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Approved_Submitted_Phase_Baselines.Baseline_Grant_A_A_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Grant_Total_FY_2526__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Grant_Total_FY_2627__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Grant_Total_FY_2728__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Capital_Co_funding_Total__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Approved_Submitted_Phase_Baselines.Baseline_Co_Funding_Capital_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Cofunding_Total_FY_2425__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Cofunding_Total_FY_2526__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Cofunding_Total_FY_2627__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Cofunding_Total_FY_2728__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Cofunding_Total_FY_2829__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.LCH_Off_Gas_Incentive_Homes__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Approved_Submitted_Phase_Baselines.No_of_Homes_for_Off_Gas_grid_LCH_Uplift__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.LCH_On_Gas_Incentive_Homes__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Approved_Submitted_Phase_Baselines.No_of_Homes_for_On_Gas_grid_LCH_Offer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Starting_EPC_C_Homes__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Approved_Submitted_Phase_Baselines.No_of_homes_starting_at_EPC_C__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Non_Social_Homes__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Approved_Submitted_Phase_Baselines.Starting_No_of_Non_Social_Homes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Homes_Treated__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Completed_Approved_Submitted_Phase_Baselines.Total_Homes_to_be_Upgraded__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Completed_Approved_Submitted_Phase_Baselines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_single_record_variable_4</name>
        <label>Assign to single record variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Remaining_In_Project_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.Last_Refreshed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.Capital_Grant_Project_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemainingGrantProjectTotal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.AA_Grant_Project_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemainingAAGrantProjectTotal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.Grant_Total_FY_2526__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemainingGrantTotal2526</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.Grant_Total_FY_2627__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemainingGrantTotal2627</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.Grant_Total_FY_2728__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemainingGrantTotal2728</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.Capital_Co_funding_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemainingCapitalCoFundingTotal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.Cofunding_Total_FY_2425__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemainingCoFundingTotal2425</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.Cofunding_Total_FY_2526__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemainingCoFundingTotal2526</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.Cofunding_Total_FY_2627__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemainingCoFundingTotal2627</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.Cofunding_Total_FY_2728__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemainingCoFundingTotal2728</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.Cofunding_Total_FY_2829__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemainingCoFundingTotal2829</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.LCH_Off_Gas_Incentive_Homes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemainingLCHOffGasIncentiveHomes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.LCH_On_Gas_Incentive_Homes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemainingLCHOnGasIncentiveHomes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.Homes_Treated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemainingHomesTreated</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Phase_Tracker_Record_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_zero</name>
        <label>Assign values to zero</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.Capital_Grant_Project_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.AA_Grant_Project_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.Grant_Total_FY_2526__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.Grant_Total_FY_2627__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.Grant_Total_FY_2728__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.Capital_Co_funding_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.Cofunding_Total_FY_2425__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.Cofunding_Total_FY_2526__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.Cofunding_Total_FY_2627__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.Cofunding_Total_FY_2728__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.Cofunding_Total_FY_2829__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.LCH_Off_Gas_Incentive_Homes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.LCH_On_Gas_Incentive_Homes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.Starting_EPC_C_Homes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.Non_Social_Homes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedPhaseTrackerSingleRecord.Homes_Treated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Completed_Phase_Baselines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_zero1</name>
        <label>Assign values to zero</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.Capital_Grant_Project_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.AA_Grant_Project_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.Grant_Total_FY_2526__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.Grant_Total_FY_2627__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.Grant_Total_FY_2728__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.Capital_Co_funding_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.Cofunding_Total_FY_2425__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.Cofunding_Total_FY_2526__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.Cofunding_Total_FY_2627__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.Cofunding_Total_FY_2728__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.Cofunding_Total_FY_2829__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.LCH_Off_Gas_Incentive_Homes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.LCH_On_Gas_Incentive_Homes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.Starting_EPC_C_Homes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.Non_Social_Homes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedPhaseTrackerSingleRecord.Homes_Treated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Completed_Approved_Phase_Baselines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_zero_2</name>
        <label>Assign values to zero</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Capital_Grant_Project_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.AA_Grant_Project_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Grant_Total_FY_2526__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Grant_Total_FY_2627__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Grant_Total_FY_2728__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Capital_Co_funding_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Cofunding_Total_FY_2425__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Cofunding_Total_FY_2526__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Cofunding_Total_FY_2627__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Cofunding_Total_FY_2728__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Cofunding_Total_FY_2829__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.LCH_Off_Gas_Incentive_Homes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.LCH_On_Gas_Incentive_Homes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Starting_EPC_C_Homes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Non_Social_Homes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Homes_Treated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Completed_Approved_Submitted_Phase_Baselines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_zero_3</name>
        <label>Assign values to zero</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.Capital_Grant_Project_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.AA_Grant_Project_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.Grant_Total_FY_2526__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.Grant_Total_FY_2627__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.Grant_Total_FY_2728__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.Capital_Co_funding_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.Cofunding_Total_FY_2425__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.Cofunding_Total_FY_2526__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.Cofunding_Total_FY_2627__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.Cofunding_Total_FY_2728__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.Cofunding_Total_FY_2829__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.LCH_Off_Gas_Incentive_Homes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.LCH_On_Gas_Incentive_Homes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.Starting_EPC_C_Homes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.Non_Social_Homes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectTrackerSingleRecord.Homes_Treated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_single_record_variable_4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_11</name>
        <label>Set Cumulative Completed Phases Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NewCCPPhaseTracker.Record_Type_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cumulative Completed Phases</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCCPPhaseTracker.Parent_Tracker__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Total_Project_Baseline_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCCPPhaseTracker.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentItem_Cumulative_Completed_RecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCCPPhaseTracker.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Master</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Cumulative_Including_Approved_Phases_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Award_Phase_Baseline_Assignment</name>
        <label>Award Phase Baseline Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AwardPhaseBaselineSingleRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Total_Project_Baseline_Phase_Tracker_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AwardPhaseBaselineSingleRecord.Last_Refreshed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AwardPhaseBaselineSingleRecord.Homes_Treated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Award_Phase_Baseline.Funding_Award__r.Application__r.Total_Homes_to_be_Upgraded__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AwardPhaseBaselineSingleRecord.Capital_Grant_Project_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Award_Phase_Baseline.Funding_Award__r.Application__r.Total_Grant_Funding_Capital__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AwardPhaseBaselineSingleRecord.AA_Grant_Project_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Award_Phase_Baseline.Funding_Award__r.Application__r.Total_Grant_Funding_A_A__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AwardPhaseBaselineSingleRecord.Grant_Total_FY_2526__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Award_Phase_Baseline.Funding_Award__r.Application__r.Grant_Spend_25_26__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AwardPhaseBaselineSingleRecord.Grant_Total_FY_2627__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Award_Phase_Baseline.Funding_Award__r.Application__r.Grant_Spend_26_27__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AwardPhaseBaselineSingleRecord.Grant_Total_FY_2728__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Award_Phase_Baseline.Funding_Award__r.Application__r.Grant_Spend_27_28__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AwardPhaseBaselineSingleRecord.Capital_Co_funding_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Award_Phase_Baseline.Funding_Award__r.Application__r.Total_Co_Funding_Capital__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AwardPhaseBaselineSingleRecord.Cofunding_Total_FY_2425__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Award_Phase_Baseline.Funding_Award__r.Application__r.Co_Funding_Spend_24_25__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AwardPhaseBaselineSingleRecord.Cofunding_Total_FY_2526__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Award_Phase_Baseline.Funding_Award__r.Application__r.Co_Funding_Spend_25_26__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AwardPhaseBaselineSingleRecord.Cofunding_Total_FY_2627__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Award_Phase_Baseline.Funding_Award__r.Application__r.Co_Funding_Spend_26_27__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AwardPhaseBaselineSingleRecord.Cofunding_Total_FY_2728__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Award_Phase_Baseline.Funding_Award__r.Application__r.Co_Funding_Spend_27_28__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AwardPhaseBaselineSingleRecord.Cofunding_Total_FY_2829__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Award_Phase_Baseline.Funding_Award__r.Application__r.Co_Funding_Spend_28_29__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AwardPhaseBaselineSingleRecord.LCH_Off_Gas_Incentive_Homes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Award_Phase_Baseline.Funding_Award__r.Application__r.No_of_Homes_for_Off_Gas_grid_LCH_Uplift__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AwardPhaseBaselineSingleRecord.LCH_On_Gas_Incentive_Homes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Award_Phase_Baseline.Funding_Award__r.Application__r.No_of_Homes_for_On_Gas_grid_LCH_Offer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Completed_Phase_Baselines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Cumulative_Including_Approved_Phases_Record</name>
        <label>Set Cumulative Including Approved Phases Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NewApprovedPhasesRecord.Parent_Tracker__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Total_Project_Baseline_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewApprovedPhasesRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentItem_Completed_Approved_Submitted_Phase_Baselines.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Cumulative_Including_Submitted_Phases_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Cumulative_Including_Submitted_Phases_Record</name>
        <label>Set Cumulative Including Submitted Phases Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NewCumulativeSubmittedPhasesRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentItem_Cumulative_Submitted_Phases_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedApprovedSubmittedPhaseTrackerSingleRecord.Parent_Tracker__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Total_Project_Baseline_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Remaining_In_Project_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Remaining_In_Project_Record</name>
        <label>Set Remaining In Project Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RemainingInProjectRecord.Parent_Tracker__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Total_Project_Baseline_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemainingInProjectRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentItem_Remaining_Project_RecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Total_Project_Baseline_Phase_Tracker_Record</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Completed_Approved_Phase_Baselines</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Completed &amp; Approved Phase Baselines</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Completed_Approved_Submitted_Phase_Baselines</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Baselines_from_Funding_Award</collectionReference>
        <conditionLogic>(1 AND 2 AND 3) OR (1 AND 2 AND 4)</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Completed_Approved_Submitted_Phase_Baselines.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Active</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Completed_Approved_Submitted_Phase_Baselines.Baseline_Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Phase</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Completed_Approved_Submitted_Phase_Baselines.Baseline_End_Date__c</leftValueReference>
            <operator>GreaterThanOrEqualTo</operator>
            <rightValue>
                <elementReference>TodaysDate</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Completed_Approved_Submitted_Phase_Baselines.Baseline_End_Date__c</leftValueReference>
            <operator>LessThan</operator>
            <rightValue>
                <elementReference>TodaysDate</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_values_to_zero1</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Completed_Approved_Submitted_Phase_Baselines</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Completed, Approved &amp; Submitted Phase Baselines</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Completed_Approved_Submitted_Phase_Baselines</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Baselines_from_Funding_Award</collectionReference>
        <conditionLogic>(1 AND 2) OR (1 AND 3 AND 5) OR (1 AND 3 AND 4)</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Completed_Approved_Submitted_Phase_Baselines.Baseline_Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Phase</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Completed_Approved_Submitted_Phase_Baselines.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Pending Approval</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Completed_Approved_Submitted_Phase_Baselines.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Active</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Completed_Approved_Submitted_Phase_Baselines.Baseline_End_Date__c</leftValueReference>
            <operator>GreaterThanOrEqualTo</operator>
            <rightValue>
                <elementReference>TodaysDate</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Completed_Approved_Submitted_Phase_Baselines.Baseline_End_Date__c</leftValueReference>
            <operator>LessThan</operator>
            <rightValue>
                <elementReference>TodaysDate</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_through_Completed_Approved_Submitted_Phase_Baselines</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Completed_Phase_Baselines</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Completed Phase Baselines</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Completed_Approved_Submitted_Phase_Baselines</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Baselines_from_Funding_Award</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Completed_Approved_Submitted_Phase_Baselines.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Active</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Completed_Approved_Submitted_Phase_Baselines.Baseline_Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Phase</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Completed_Approved_Submitted_Phase_Baselines.Baseline_End_Date__c</leftValueReference>
            <operator>LessThan</operator>
            <rightValue>
                <elementReference>TodaysDate</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_values_to_zero</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Cumulative_Approved_Phases_RecordType</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Cumulative + Approved Phases RecordType</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Cumulative_Approved_Phases_RecordType</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Record_Type_Ids</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Cumulative_Approved_Phases_RecordType.DeveloperName</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Approved Phases</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Cumulative_Submitted_Phases_Record_Type</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Cumulative_Completed_RecordType</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Cumulative Completed RecordType</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Cumulative_Completed_RecordType</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Record_Type_Ids</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Cumulative_Completed_RecordType.DeveloperName</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Completed Phases</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Cumulative_Approved_Phases_RecordType</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Cumulative_Submitted_Phases_Record_Type</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Cumulative + Submitted Phases Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Cumulative_Submitted_Phases_Record_Type</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Record_Type_Ids</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Cumulative_Submitted_Phases_Record_Type.DeveloperName</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Submitted Phases</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Remaining_Project_RecordType</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Remaining_Project_RecordType</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Remaining Project RecordType</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Remaining_Project_RecordType</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Record_Type_Ids</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Remaining_Project_RecordType.DeveloperName</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Remaining</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Create_Default_Phase_Tracker</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Total_Project_Baseline_RecordType</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Total Project Baseline RecordType</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Total_Project_Baseline_RecordType</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Record_Type_Ids</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Total_Project_Baseline_RecordType.DeveloperName</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <stringValue>Baseline</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Cumulative_Completed_RecordType</targetReference>
        </connector>
    </collectionProcessors>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <formulas>
        <name>RemainingAAGrantProjectTotal</name>
        <dataType>Currency</dataType>
        <expression>{!AwardPhaseBaselineSingleRecord.AA_Grant_Project_Total__c} - {!CompletedApprovedSubmittedPhaseTrackerSingleRecord.AA_Grant_Project_Total__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>RemainingCapitalCoFundingTotal</name>
        <dataType>Currency</dataType>
        <expression>{!AwardPhaseBaselineSingleRecord.Capital_Co_funding_Total__c} - {!CompletedApprovedSubmittedPhaseTrackerSingleRecord.Capital_Co_funding_Total__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>RemainingCoFundingTotal2425</name>
        <dataType>Currency</dataType>
        <expression>{!AwardPhaseBaselineSingleRecord.Cofunding_Total_FY_2425__c} - {!CompletedApprovedSubmittedPhaseTrackerSingleRecord.Cofunding_Total_FY_2425__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>RemainingCoFundingTotal2526</name>
        <dataType>Currency</dataType>
        <expression>{!AwardPhaseBaselineSingleRecord.Cofunding_Total_FY_2526__c} - {!CompletedApprovedSubmittedPhaseTrackerSingleRecord.Cofunding_Total_FY_2526__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>RemainingCoFundingTotal2627</name>
        <dataType>Currency</dataType>
        <expression>{!AwardPhaseBaselineSingleRecord.Cofunding_Total_FY_2627__c} - {!CompletedApprovedSubmittedPhaseTrackerSingleRecord.Cofunding_Total_FY_2627__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>RemainingCoFundingTotal2728</name>
        <dataType>Currency</dataType>
        <expression>{!AwardPhaseBaselineSingleRecord.Cofunding_Total_FY_2728__c} - {!CompletedApprovedSubmittedPhaseTrackerSingleRecord.Cofunding_Total_FY_2728__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>RemainingCoFundingTotal2829</name>
        <dataType>Currency</dataType>
        <expression>{!AwardPhaseBaselineSingleRecord.Cofunding_Total_FY_2829__c} - {!CompletedApprovedSubmittedPhaseTrackerSingleRecord.Cofunding_Total_FY_2829__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>RemainingGrantProjectTotal</name>
        <dataType>Currency</dataType>
        <expression>{!AwardPhaseBaselineSingleRecord.Capital_Grant_Project_Total__c} - {!CompletedApprovedSubmittedPhaseTrackerSingleRecord.Capital_Grant_Project_Total__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>RemainingGrantTotal2526</name>
        <dataType>Currency</dataType>
        <expression>{!AwardPhaseBaselineSingleRecord.Grant_Total_FY_2526__c} - {!CompletedApprovedSubmittedPhaseTrackerSingleRecord.Grant_Total_FY_2526__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>RemainingGrantTotal2627</name>
        <dataType>Currency</dataType>
        <expression>{!AwardPhaseBaselineSingleRecord.Grant_Total_FY_2627__c} - {!CompletedApprovedSubmittedPhaseTrackerSingleRecord.Grant_Total_FY_2627__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>RemainingGrantTotal2728</name>
        <dataType>Currency</dataType>
        <expression>{!AwardPhaseBaselineSingleRecord.Grant_Total_FY_2728__c} - {!CompletedApprovedSubmittedPhaseTrackerSingleRecord.Grant_Total_FY_2728__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>RemainingHomesTreated</name>
        <dataType>Number</dataType>
        <expression>{!AwardPhaseBaselineSingleRecord.Homes_Treated__c} - {!CompletedApprovedSubmittedPhaseTrackerSingleRecord.Homes_Treated__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>RemainingLCHOffGasIncentiveHomes</name>
        <dataType>Number</dataType>
        <expression>{!AwardPhaseBaselineSingleRecord.LCH_Off_Gas_Incentive_Homes__c} - {!CompletedApprovedSubmittedPhaseTrackerSingleRecord.LCH_Off_Gas_Incentive_Homes__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>RemainingLCHOnGasIncentiveHomes</name>
        <dataType>Number</dataType>
        <expression>{!AwardPhaseBaselineSingleRecord.LCH_On_Gas_Incentive_Homes__c} - {!CompletedApprovedSubmittedPhaseTrackerSingleRecord.LCH_On_Gas_Incentive_Homes__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TodaysDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>GMS - Create Default Phase Tracker {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GMS - Create Default Phase Tracker</label>
    <loops>
        <name>Loop_through_Completed_Approved_Phase_Baselines</name>
        <label>Loop through Completed &amp; Approved Phase Baselines</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Completed_Approved_Phase_Baselines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_single_record_variable_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_values_to_zero_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Completed_Approved_Submitted_Phase_Baselines</name>
        <label>Loop through Completed, Approved &amp; Submitted Phase Baselines</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Completed_Approved_Submitted_Phase_Baselines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_single_record_variable_2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_values_to_zero_3</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Completed_Phase_Baselines</name>
        <label>Loop through Completed Phase Baselines</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Completed_Phase_Baselines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_single_record_variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Completed_Approved_Phase_Baselines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Total_Project_Baseline_Record</name>
        <label>Create Total Project Baseline Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assignment_11</targetReference>
        </connector>
        <inputAssignments>
            <field>Funding_Award__c</field>
            <value>
                <elementReference>Get_Funding_Award.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>currentItem_Total_Project_Baseline_RecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Master</stringValue>
            </value>
        </inputAssignments>
        <object>Phase_Tracker__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_all_related_Phase_Tracker_Records</name>
        <label>Get all related Phase Tracker Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Baselines_from_Funding_Award</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Parent_Tracker__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectBaselinePhaseTrackerID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectBaselinePhaseTrackerID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Phase_Tracker__c</object>
        <sortField>Record_Type_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Award_Phase_Baseline</name>
        <label>Get Award Phase Baseline</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Award_Phase_Baseline_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Funding_Award__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Total_Project_Baseline_Phase_Tracker_Record.Funding_Award__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Baseline_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Award</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FundingBaseline__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Baselines_from_Funding_Award</name>
        <label>Get Baselines from Funding Award</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Award_Phase_Baseline</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Funding_Award__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Total_Project_Baseline_Phase_Tracker_Record.Funding_Award__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Historic</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FundingBaseline__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cumulative_Completed_Phase_Tracker_Record</name>
        <label>Get Cumulative Completed Phase Tracker Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Cumulative_Including_Approved_Phases_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Tracker__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectBaselinePhaseTrackerID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Cumulative Completed Phases</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Phase_Tracker__c</object>
        <sortField>Record_Type_Name__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cumulative_Including_Approved_Phases_Record</name>
        <label>Get Cumulative Including Approved Phases Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Cumulative_Including_Submitted_Phases_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Tracker__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectBaselinePhaseTrackerID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Cumulative Including Approved Phases</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Phase_Tracker__c</object>
        <sortField>Record_Type_Name__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cumulative_Including_Submitted_Phases_Record</name>
        <label>Get Cumulative Including Submitted Phases Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Remaining_In_Project_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Tracker__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectBaselinePhaseTrackerID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Cumulative Including Submitted Phases</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Phase_Tracker__c</object>
        <sortField>Record_Type_Name__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Funding_Award</name>
        <label>Get Funding Award</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FundingAward</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_Ids</name>
        <label>Get Record Type Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Total_Project_Baseline_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Phase_Tracker__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Remaining_In_Project_Record</name>
        <label>Get Remaining In Project Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_related_Phase_Tracker_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Tracker__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectBaselinePhaseTrackerID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Remaining In Project</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Phase_Tracker__c</object>
        <sortField>Record_Type_Name__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Total_Project_Baseline_Phase_Tracker_Record</name>
        <label>Get Total Project Baseline Phase Tracker Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Cumulative_Completed_Phase_Tracker_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectBaselinePhaseTrackerID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Phase_Tracker__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Phase_Trackers</name>
        <label>Update Phase Trackers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>PhaseTrackerRecordCollection</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Create_Default_Phase_Tracker</name>
        <label>Create Default Phase Tracker</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Total_Project_Baseline_Record</targetReference>
        </connector>
        <fields>
            <name>CreateDefaultPhaseTracker</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Do you want to create a default phase tracker?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Funding_Award</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AwardPhaseBaselineSingleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Phase_Tracker__c</objectType>
    </variables>
    <variables>
        <name>CompletedandApprovedandSubmittedPhaseBaselines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingBaseline__c</objectType>
    </variables>
    <variables>
        <name>CompletedandApprovedPhaseBaselines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingBaseline__c</objectType>
    </variables>
    <variables>
        <name>CompletedApprovedPhaseTrackerSingleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Phase_Tracker__c</objectType>
    </variables>
    <variables>
        <name>CompletedApprovedSubmittedPhaseTrackerSingleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Phase_Tracker__c</objectType>
    </variables>
    <variables>
        <name>CompletedPhaseTrackerSingleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Phase_Tracker__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Completed_Approved_Submitted_Phase_Baselines</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingBaseline__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Cumulative_Approved_Phases_RecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>currentItem_Cumulative_Completed_RecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>currentItem_Cumulative_Submitted_Phases_Record_Type</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>currentItem_Remaining_In_Project_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Phase_Tracker__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Remaining_Project_RecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>currentItem_Total_Project_Baseline_RecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>NewApprovedPhasesRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Phase_Tracker__c</objectType>
    </variables>
    <variables>
        <name>NewCCPPhaseTracker</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Phase_Tracker__c</objectType>
    </variables>
    <variables>
        <name>NewCumulativeSubmittedPhasesRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Phase_Tracker__c</objectType>
    </variables>
    <variables>
        <name>NewProjectBaseline</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Phase_Tracker__c</objectType>
    </variables>
    <variables>
        <name>PhaseTrackerRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Phase_Tracker__c</objectType>
    </variables>
    <variables>
        <name>ProjectBaselinePhaseTrackerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RemainingInProjectRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Phase_Tracker__c</objectType>
    </variables>
    <variables>
        <name>RemainingInProjectTrackerSingleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Phase_Tracker__c</objectType>
    </variables>
</Flow>
