force-app/main/default/flows/GMS_Funding_Disbursement_Update_Set_Defaults.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Calls the GMS_Set_Disbursement_Defaults flow when the Disbursements Submission date is changed</description>
    <environments>Default</environments>
    <interviewLabel>GMS - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DEPRECATE - GMS - Funding Disbursement Update Set Defaults</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Disbursement</name>
        <label>Update Disbursement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_the_Disbursements_Date_Dependent_Default_field_values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Submission_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>FundingDisbursement</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Set_the_Disbursements_Date_Dependent_Default_field_values</name>
        <label>Set the Disbursements Date Dependent Default field values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Disbursement</targetReference>
        </connector>
        <flowName>GMS_Set_Disbursement_Defaults</flowName>
        <inputAssignments>
            <name>varDisbursement</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>$Record</assignToReference>
            <name>varDisbursement</name>
        </outputAssignments>
    </subflows>
</Flow>
