force-app/main/default/flows/GMS_Change_Control_Request_Approved.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Baseline_Measure_Details_From_CCR_Items</name>
        <label>Create Baseline Measure Details From CCR Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>GmsCcrMeasureDetailApproval</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fundingAwardId</name>
            <value>
                <elementReference>$Record.FundingAwardId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>measureItems</name>
            <value>
                <elementReference>varBaselineMeasureItems</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GmsCcrMeasureDetailApproval</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_baseline_detail_to_collection</name>
        <label>Add baseline detail to collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varBaselineMeasureItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_change_control_request_line_items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_change_control_request_line_items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Forecast_to_Collection</name>
        <label>Add Forecast to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>col_Forecast</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rec_Forecast</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_change_control_request_line_items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_funding_award_to_collection</name>
        <label>Add funding award to collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>col_Funding_Award</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rec_Funding_Award</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_change_control_request_line_items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Forecast_Record</name>
        <label>Update Forecast Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_Forecast.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_change_control_request_line_items.Funding_Award_Forecast__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Forecast.Grant_Capital_Spend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_change_control_request_line_items.Grant_Capital_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Forecast.No_of_Homes_Assessed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_change_control_request_line_items.No_of_Homes_Assessed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Forecast.No_of_Homes_Validated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_change_control_request_line_items.No_of_Homes_Validated__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Forecast.No_of_Homes_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_change_control_request_line_items.No_of_Homes_Completed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Forecast.Grant_Admin_Spend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>flaAASpendHalved</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Forecast.Grant_Ancillary_Spend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>flaAASpendHalved</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Forecast.Grant_A_A_Spend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_change_control_request_line_items.Grant_A_A_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Forecast_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_funding_award_name</name>
        <label>Update funding award name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_Funding_Award.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_change_control_request_line_items.Funding_Award_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_Funding_Award.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FundingAwardId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_funding_award_to_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Change_type</name>
        <label>Change type?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_change_control_request_line_items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No change</defaultConnectorLabel>
        <rules>
            <name>Funding_award_name_change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_change_control_request_line_items.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Award Rename</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_funding_award_name</targetReference>
            </connector>
            <label>Funding award name change</label>
        </rules>
        <rules>
            <name>Baseline_measure_detail_change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_change_control_request_line_items.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Measure Detail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_baseline_detail_to_collection</targetReference>
            </connector>
            <label>Baseline measure detail change</label>
        </rules>
        <rules>
            <name>Forecast</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_change_control_request_line_items.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Forecast</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Forecast_Record</targetReference>
            </connector>
            <label>Forecast</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_forecasts_Check</name>
        <label>Update forecasts check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_to_baseline_measure</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_forecast_updates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>col_Forecast</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_forecasts</targetReference>
            </connector>
            <label>has forecast updates</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_to_baseline_measure</name>
        <label>Update to baseline measure</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No baseline measures to update</defaultConnectorLabel>
        <rules>
            <name>Baseline_measures_to_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varBaselineMeasureItems</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Baseline_Measure_Details_From_CCR_Items</targetReference>
            </connector>
            <label>Baseline measures to update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_to_funding_award</name>
        <label>Update funding award?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_forecasts_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No funding awards to update</defaultConnectorLabel>
        <rules>
            <name>Funding_award_collection_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>col_Funding_Award</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_funding_award</targetReference>
            </connector>
            <label>Funding award collection not empty</label>
        </rules>
    </decisions>
    <description>When a Change Control Request is Approved, the related change control tracker record has it&apos;s record type changed to &quot;2. Current Project Baseline&quot;.</description>
    <environments>Default</environments>
    <formulas>
        <description>the forecast admin and anciliry values are just half the inputted total AA spend</description>
        <name>flaAASpendHalved</name>
        <dataType>Number</dataType>
        <expression>IF(ISNULL({!Loop_change_control_request_line_items.Grant_A_A_Spend__c} ),0,{!Loop_change_control_request_line_items.Grant_A_A_Spend__c} / 2)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>GMS - Change Control Request Approved {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GMS - Change Control Request Approved</label>
    <loops>
        <name>Loop_change_control_request_line_items</name>
        <label>Loop change control request line items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_change_control_request_line_items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Change_type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Approval_date_to_now</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_2_Current_Project_Baseline_record_type</name>
        <label>Get &quot;2. Current Project Baseline&quot; record type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Award_Baseline_Change_Control_Request_Line_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Change_Control_Tracker__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Award_Baseline_Change_Control_Request_Line_Item</name>
        <label>Get &quot;Award Baseline&quot; Change Control Request Line Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Change_Control_Tracker_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Award Baseline</stringValue>
            </value>
        </filters>
        <filters>
            <field>Change_Control_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Change_Control_Request_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_change_control_request_line_items</name>
        <label>Get change control request line items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_change_control_request_line_items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Change_Control_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Change_Control_Request_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Approval_date_to_now</name>
        <label>Set Approval date to now</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_to_funding_award</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_Approved__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Change_Control_Tracker_Record</name>
        <label>Update Change Control Tracker Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_change_control_request_line_items</targetReference>
        </connector>
        <inputAssignments>
            <field>Current_Award_Baseline__c</field>
            <value>
                <elementReference>Get_Award_Baseline_Change_Control_Request_Line_Item.Baseline_New_Version__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_2_Current_Project_Baseline_record_type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Change_Control_Trackers__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_forecasts</name>
        <label>Update forecasts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_to_baseline_measure</targetReference>
        </connector>
        <inputReference>col_Forecast</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_funding_award</name>
        <label>Update funding award</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_forecasts_Check</targetReference>
        </connector>
        <inputReference>col_Funding_Award</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_2_Current_Project_Baseline_record_type</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ApprovalStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>ApprovalStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Conditional Approval</stringValue>
            </value>
        </filters>
        <object>FundingAwardAmendment</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>col_Baseline_Measure_Detail</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BaselineMeasureDetail__c</objectType>
    </variables>
    <variables>
        <name>col_Forecast</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingAwardForecast__c</objectType>
    </variables>
    <variables>
        <name>col_Funding_Award</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingAward</objectType>
    </variables>
    <variables>
        <name>rec_Baseline_Measure_Detail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BaselineMeasureDetail__c</objectType>
    </variables>
    <variables>
        <name>rec_Forecast</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingAwardForecast__c</objectType>
    </variables>
    <variables>
        <name>rec_Funding_Award</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingAward</objectType>
    </variables>
    <variables>
        <name>varBaselineMeasureItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Change_Control_Request_Line_Item__c</objectType>
    </variables>
</Flow>
