force-app/main/default/flows/GMS_Change_Control_Request_Form_Baseline_Measure_Details_v2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Baseline_Measure_Convert_to_CCF</name>
        <label>Baseline Measure Convert to CCF</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>GmsCCRFormBaselineMeasure</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Actions_Null</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>lineItems</name>
            <value>
                <elementReference>Get_Items</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>measureDetails</name>
            <value>
                <elementReference>Get_Baseline_Measure_Details</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GmsCCRFormBaselineMeasure</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varLineItemsConverted</assignToReference>
            <name>lineItemsOutput</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_collection</name>
        <label>Add to collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varLineItemsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varChangeControlLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Updates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Actions_Null</name>
        <label>Assign Actions Null</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>actionReset</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>actionSave</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Baseline_Measure_Details_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Exists_Boolean</name>
        <label>Assign Exists Boolean</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varAlreadyExists</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_anything_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Initial_Items</name>
        <label>Assign Initial Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varInitialItems</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Baseline_Measure_Convert_to_CCF</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_is_deleted_field</name>
        <label>Assign is deleted field</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varChangeControlLineItem.Is_Delete_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_if_deleted_item_has_BMD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_reset</name>
        <label>Assign initial line items to blank</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varInitialItems</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>varInitialItems</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Baseline_Measure_Convert_to_CCF</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_exists_boolean</name>
        <label>Clear exists boolean</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varAlreadyExists</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_baseline_measure_details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_new_line_item_for_existing_baseline_measure</name>
        <label>Create new line item for existing baseline measure</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varChangeControlLineItem.Baseline_Measure_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_baseline_measure_details.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChangeControlLineItem.Measure_KPI_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Updates.Updated_Measure_KPI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChangeControlLineItem.Previous_Measure_KPI_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Updates.Current_Measure_KPI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChangeControlLineItem.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Measure Detail</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChangeControlLineItem.Baseline_Measure_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Updates.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChangeControlLineItem.Baseline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBaseline.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChangeControlLineItem.Change_Control_Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varChangeControlRequest.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChangeControlLineItem.Baseline_Measure_Description_Previous__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_baseline_measure_details.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChangeControlLineItem.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChangeControlLineItem.Is_Delete_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChangeControlLineItem.Property_Measure_Type_Previous__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_baseline_measure_details.Property_Measure_Type__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChangeControlLineItem.Measure_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Updates.Property_Measure_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChangeControlLineItem.Cost_To_Install_Measure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Updates.Updated_Cost_to_Install_Measure</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChangeControlLineItem.Previous_Cost_To_Install_Measure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_baseline_measure_details.Cost_to_install_measure__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_deleted</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_new_line_item_for_new_baseline_measure</name>
        <label>Create new line item for new baseline measure</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varChangeControlLineItem.Measure_KPI_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Updates.Updated_Measure_KPI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChangeControlLineItem.Baseline_Measure_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Updates.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChangeControlLineItem.Change_Control_Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varChangeControlRequest.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChangeControlLineItem.Baseline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBaseline.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChangeControlLineItem.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Measure Detail</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChangeControlLineItem.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChangeControlLineItem.Baseline_Measure_Detail__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChangeControlLineItem.Previous_Measure_KPI_Number__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChangeControlLineItem.Measure_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Updates.Property_Measure_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChangeControlLineItem.Cost_To_Install_Measure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Updates.Updated_Cost_to_Install_Measure</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_new_variable_and_add_to_collection</name>
        <label>Create new variable and add to collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varLineItemsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varChangeControlLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Does_Baseline_Measure_Exist</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Any_items_found</name>
        <label>Any items found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Baseline_Measure_Convert_to_CCF</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None found</defaultConnectorLabel>
        <rules>
            <name>Items_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Items</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Initial_Items</targetReference>
            </connector>
            <label>Items found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_line_items_to_create</name>
        <label>Any line items to create?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>None found to create</defaultConnectorLabel>
        <rules>
            <name>Line_items_found_to_create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLineItemsToInsert</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_line_items</targetReference>
            </connector>
            <label>Line items found to create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_line_items_to_delete</name>
        <label>Any line items to delete?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Any_line_items_to_create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No records to delete</defaultConnectorLabel>
        <rules>
            <name>Records_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>initial_records_for_delete</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_all_existing_line_items</targetReference>
            </connector>
            <label>Records found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Actions</name>
        <label>Check Actions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>actionReset</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>reset</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_reset</targetReference>
            </connector>
            <label>Reset</label>
        </rules>
        <rules>
            <name>Save</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>actionSave</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>save</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Updates</targetReference>
            </connector>
            <label>Save</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_deleted_item_has_BMD</name>
        <label>check if deleted item has BMD</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Does_Baseline_Measure_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_BMD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varChangeControlLineItem.Baseline_Measure_Detail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_new_variable_and_add_to_collection</targetReference>
            </connector>
            <label>has BMD</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Baseline_Measure_Exist</name>
        <label>Does Baseline Measure Exist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_new_line_item_for_new_baseline_measure</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAlreadyExists</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Updates</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
        <rules>
            <name>kpi_updated_to_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Updates.Updated_Measure_KPI</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Updates</targetReference>
            </connector>
            <label>kpi updated to 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_measure_already_exist</name>
        <label>Does measure already exist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_baseline_measure_details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Updates.baselineMeasureDetailId.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_baseline_measure_details.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Exists_Boolean</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_anything_changed</name>
        <label>Has anything changed?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Does_Baseline_Measure_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not changed</defaultConnectorLabel>
        <rules>
            <name>Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Updates.Updated_Measure_KPI</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_baseline_measure_details.Measure_KPI_Number__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_baseline_measure_details.Description__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Updates.Description</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>flaMeasureTypeCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Updates.Updated_Cost_to_Install_Measure</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_baseline_measure_details.Cost_to_install_measure__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_new_line_item_for_existing_baseline_measure</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_deleted</name>
        <label>Is deleted?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_new_variable_and_add_to_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not deleted</defaultConnectorLabel>
        <rules>
            <name>Deleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Updates.Updated_Measure_KPI</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_is_deleted_field</targetReference>
            </connector>
            <label>Deleted</label>
        </rules>
    </decisions>
    <description>Allows the GRLs to submit proposed changes to their baseline measure details</description>
    <dynamicChoiceSets>
        <name>chc_ItemMeasureTypev2</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Property_Measure_Type__c</picklistField>
        <picklistObject>Change_Control_Request_Line_Item__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MeasureType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Measure_Type__c</picklistField>
        <picklistObject>BaselineMeasureDetail__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>propertyMeasureTypeChoice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DESNZ Approved</stringValue>
            </value>
        </filters>
        <object>PropertyMeasureType__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>flaMeasureTypeCheck</name>
        <dataType>Boolean</dataType>
        <expression>{!Loop_Updates.Property_Measure_Type} != {!Loop_baseline_measure_details.Property_Measure_Type__c}</expression>
    </formulas>
    <interviewLabel>GMS - Change Control Request Form - Baseline Measure Details v23 {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>GMS - Change Control Request Form - Baseline Measure Details v2</label>
    <loops>
        <name>Loop_baseline_measure_details</name>
        <label>Loop baseline measure details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Baseline_Measure_Details</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_measure_already_exist</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Does_Baseline_Measure_Exist</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Updates</name>
        <label>Loop Screen Updates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>repeater.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Clear_exists_boolean</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Any_line_items_to_delete</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_line_items</name>
        <label>Create line items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>varLineItemsToInsert</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_all_existing_line_items</name>
        <label>Delete all existing line items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Any_line_items_to_create</targetReference>
        </connector>
        <inputReference>initial_records_for_delete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Baseline_Measure_Details</name>
        <label>Get Baseline Measure Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Funding_Baseline__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBaseline.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BaselineMeasureDetail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Items</name>
        <label>Get Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Change_Control_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varChangeControlRequest.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Measure Detail</stringValue>
            </value>
        </filters>
        <filters>
            <field>Baseline__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBaseline.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Change_Control_Request_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_items_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFundingAward.Record_Type_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Change_Control_Request_Line_Item__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>initial_records_for_delete</name>
        <label>initial records for delete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Actions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Change_Control_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varChangeControlRequest.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Measure Detail</stringValue>
            </value>
        </filters>
        <filters>
            <field>Baseline__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBaseline.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Change_Control_Request_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Baseline_Measure_Details_Flow</name>
        <label>Baseline Measure Details Flow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>initial_records_for_delete</targetReference>
        </connector>
        <fields>
            <name>BaselineInfo</name>
            <fieldText>&lt;p&gt;{!varBaseline.Baseline_Version__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>HelpText</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Guidance&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;If you want to remove any of the baseline measures, please set the Updated Measure KPI value to 0.&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>repeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Property_Measure_Type</name>
                <choiceReferences>propertyMeasureTypeChoice</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>varLineItemsConverted[$EachItem].Measure_Type__c</elementReference>
                </defaultValue>
                <fieldText>Measure Type</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>6</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>invisibleLineBreak</name>
                <extensionName>c:dmRepeaterDataCacher</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Description</name>
                <defaultValue>
                    <stringValue>{!varLineItemsConverted[$EachItem].Baseline_Measure_Description__c}</stringValue>
                </defaultValue>
                <fieldText>Description</fieldText>
                <fieldType>LargeTextArea</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>6</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>baselineMeasureDetailId</name>
                <extensionName>c:dmRepeaterDataCacher</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>value</name>
                    <value>
                        <elementReference>varLineItemsConverted[$EachItem].Baseline_Measure_Detail__c</elementReference>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Current_Measure_KPI</name>
                <dataType>Number</dataType>
                <defaultValue>
                    <elementReference>varLineItemsConverted[$EachItem].Previous_Measure_KPI_Number__c</elementReference>
                </defaultValue>
                <fieldText>Current Measure KPI</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isReadOnly>
                    <booleanValue>true</booleanValue>
                </isReadOnly>
                <isRequired>false</isRequired>
                <scale>0</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>4</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Updated_Measure_KPI</name>
                <dataType>Number</dataType>
                <defaultValue>
                    <elementReference>varLineItemsConverted[$EachItem].Measure_KPI_Number__c</elementReference>
                </defaultValue>
                <fieldText>Updated Measure KPI</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <scale>0</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>4</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>VarianceCalculation</name>
                <extensionName>c:dmRepeaterFormulaCalculator</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>value1</name>
                    <value>
                        <elementReference>varLineItemsConverted[$EachItem].Previous_Measure_KPI_Number__c</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>value2</name>
                    <value>
                        <elementReference>repeater.AllItems[$EachItem].Updated_Measure_KPI</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>label</name>
                    <value>
                        <stringValue>Measure KPI Variance</stringValue>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>4</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Current_Cost_to_Install_Measure</name>
                <dataType>Currency</dataType>
                <defaultValue>
                    <elementReference>varLineItemsConverted[$EachItem].Previous_Cost_To_Install_Measure__c</elementReference>
                </defaultValue>
                <fieldText>Current Cost to Install Measure</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isReadOnly>
                    <booleanValue>true</booleanValue>
                </isReadOnly>
                <isRequired>false</isRequired>
                <scale>2</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>4</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Updated_Cost_to_Install_Measure</name>
                <dataType>Currency</dataType>
                <defaultValue>
                    <elementReference>varLineItemsConverted[$EachItem].Cost_To_Install_Measure__c</elementReference>
                </defaultValue>
                <fieldText>Updated Cost to Install Measure</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <scale>2</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>4</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>MeasureCostVariance</name>
                <extensionName>c:dmRepeaterFormulaCalculator</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>label</name>
                    <value>
                        <stringValue>Measure Cost Variance</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>value1</name>
                    <value>
                        <elementReference>varLineItemsConverted[$EachItem].Previous_Cost_To_Install_Measure__c</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>value2</name>
                    <value>
                        <elementReference>repeater.AllItems[$EachItem].Updated_Cost_to_Install_Measure</elementReference>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>4</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <inputParameters>
                <name>collection</name>
                <value>
                    <elementReference>varLineItemsConverted</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canAddItem</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canRemoveItem</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>LB1</name>
            <extensionName>c:lineBreak</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Baseline_Measure_Details_Flow_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Baseline_Measure_Details_Flow_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Baseline_Measure_Details_Flow_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PreviousButton</name>
                    <extensionName>c:dmFlowNavigation</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>backLabel</name>
                        <value>
                            <stringValue>Previous</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Baseline_Measure_Details_Flow_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>resetButton</name>
                    <extensionName>c:dmFlowNavigation</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>nextLabel</name>
                        <value>
                            <stringValue>Reset</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>nextStateValue</name>
                        <value>
                            <stringValue>reset</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>finishLabel</name>
                        <value>
                            <stringValue>Reset</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>actionReset</assignToReference>
                        <name>nextState</name>
                    </outputParameters>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Baseline_Measure_Details_Flow_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>saveButton</name>
                    <extensionName>c:dmFlowNavigation</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>finishLabel</name>
                        <value>
                            <stringValue>Save</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>nextLabel</name>
                        <value>
                            <stringValue>Save</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>nextStateValue</name>
                        <value>
                            <stringValue>save</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>actionSave</assignToReference>
                        <name>nextState</name>
                    </outputParameters>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Baseline_Measure_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>actionReset</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>actionSave</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAlreadyExists</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBaseline</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingBaseline__c</objectType>
    </variables>
    <variables>
        <name>varChangeControlLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Change_Control_Request_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>varChangeControlRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingAwardAmendment</objectType>
    </variables>
    <variables>
        <name>varFundingAward</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingAward</objectType>
    </variables>
    <variables>
        <name>varInitialItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Change_Control_Request_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>varLineItemsConverted</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Change_Control_Request_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>varLineItemsToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Change_Control_Request_Line_Item__c</objectType>
    </variables>
</Flow>
