force-app/main/default/flows/GMS_Change_Control_Request_Get_Forecasts_for_Display.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_baseline_record_name</name>
        <label>Add baseline record name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRecordNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varBaseline.Baseline_Version__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Forecasts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_each_initial_forecast_to_Forecasts</name>
        <label>Add each initial forecast to Forecasts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varPostChangeForecasts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varEachIntialForecast</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_forecasts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_current_forecast_to_Each_Forecast</name>
        <label>Assign current forecast to Each Forecast</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varEachIntialForecast</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_forecasts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForecastNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_forecasts.Forecast_Month__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_forecasts.Forecast_Month__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Get_initial_items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_FY_baseline_forecast_record</name>
        <label>Assign FY baseline forecast record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varPostChangeForecasts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varForecastTotalRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_forecasts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Has_Changes_False</name>
        <label>Assign Has Changes False</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varHasChanges</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Has_Changes_True</name>
        <label>Assign Has Changes True</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varHasChanges</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_total_forecast</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pre_Change_Forecasts</name>
        <label>Assign Pre Change Forecasts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varPreChangeForecasts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Forecasts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_initial_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_total_forecast</name>
        <label>Assign total forecast</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varForecastTotalRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0YA0000ValidId</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForecastTotalRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FY Baseline</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForecastTotalRecord.Grant_A_A_Spend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBaseline.Baseline_Grant_A_A_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForecastTotalRecord.Grant_Capital_Spend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBaseline.Baseline_Grant_Capital_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForecastNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varBaseline.Baseline_Version__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForecastTotalRecord.Grant_Total_Spend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBaseline.Baseline_Total_Grant_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForecastTotalRecord.No_of_Homes_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBaseline.Total_Homes_to_be_Upgraded__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_FY_baseline_forecast_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Overwrite_each_forecast_with_existing_item_values</name>
        <label>Overwrite each forecast with existing item values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varEachIntialForecast.Grant_Capital_Spend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Get_initial_items.Grant_Capital_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachIntialForecast.Grant_A_A_Spend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Get_initial_items.Grant_A_A_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachIntialForecast.No_of_Homes_Validated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Get_initial_items.No_of_Homes_Validated__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachIntialForecast.No_of_Homes_Assessed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Get_initial_items.No_of_Homes_Assessed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachIntialForecast.No_of_Homes_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Get_initial_items.No_of_Homes_Completed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachIntialForecast.Number_of_Batches__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Get_initial_items.Number_of_Batches__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachIntialForecast.Number_of_TM_Lodgements__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Get_initial_items.Number_of_TM_Lodgements__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachIntialForecast.Average_Homes_Per_Batch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Get_initial_items.Average_Homes_Per_Batch__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Get_initial_items.Installations_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Get_initial_items.Installations_Completed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachIntialForecast.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_forecasts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Get_initial_items</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>chc_Financials</name>
        <choiceText>Financial fields</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>financials</stringValue>
        </value>
    </choices>
    <choices>
        <description>Project homes</description>
        <name>chc_House_Counts</name>
        <choiceText>Project homes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>houseCounts</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_Has_Changes</name>
        <label>Check Has Changes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Has_Changes_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Changes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_initial_Items</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Has_Changes_True</targetReference>
            </connector>
            <label>Has Changes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_item_for_forecast</name>
        <label>Check item for forecast</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Get_initial_items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>item_found_for_forecast</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Get_initial_items.Funding_Award_Forecast__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_forecasts.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Overwrite_each_forecast_with_existing_item_values</targetReference>
            </connector>
            <label>item found for forecast</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>GMS - Change Control Request - Get Forecasts for Display {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GMS - Change Control Request Form - Get Forecasts for Display</label>
    <loops>
        <name>Loop_forecasts</name>
        <label>Loop forecasts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Forecasts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_current_forecast_to_Each_Forecast</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Get_initial_items</name>
        <label>Loop Get initial items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_initial_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_item_for_forecast</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_each_initial_forecast_to_Forecasts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Forecasts</name>
        <label>Get Forecasts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Pre_Change_Forecasts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Funding_Award__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBaseline.Funding_Award__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Parent_Baseline__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBaseline.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FundingAwardForecast__c</object>
        <sortField>Forecast_Start_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_initial_Items</name>
        <label>Get initial Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Has_Changes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Forecast</stringValue>
            </value>
        </filters>
        <filters>
            <field>Change_Control_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varChangeRequest.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Baseline__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBaseline.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Change_Control_Request_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_baseline_record_name</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_filter_Initial_Forecasts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Change_Control_Request_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_FY_Baselines_item</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Change_Control_Request_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>varAward</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingAward</objectType>
    </variables>
    <variables>
        <name>varAwardBaselineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Change_Control_Request_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>varBaseline</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingBaseline__c</objectType>
    </variables>
    <variables>
        <name>varChangeLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Change_Control_Request_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>varChangeRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>FundingAwardAmendment</objectType>
    </variables>
    <variables>
        <name>varEachChangeLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Change_Control_Request_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>varEachIntialForecast</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingAwardForecast__c</objectType>
    </variables>
    <variables>
        <name>varFields</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varForecastNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varForecastTotalRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingAwardForecast__c</objectType>
    </variables>
    <variables>
        <name>varHasChanges</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varInitialForecast</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingAwardForecast__c</objectType>
    </variables>
    <variables>
        <name>varPostChangeForecasts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>FundingAwardForecast__c</objectType>
    </variables>
    <variables>
        <name>varPreChangeForecasts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>FundingAwardForecast__c</objectType>
    </variables>
    <variables>
        <name>varRecordNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSubBaselineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Change_Control_Request_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>varSumNewGrantAA</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varSumNewGrantCapital</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varSumNewHomesToCompleted</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
