force-app/main/default/flows/GMS_FRA_and_FMP_RAG_Status_Check.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>FENC_RAG_Blank</name>
        <label>FENC RAG Blank Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>FMP_RAG_Blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Blank</defaultConnectorLabel>
        <rules>
            <name>is_FENC_RAG_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OriginalOverall_GR_FENC_RAG__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_FENC_RAG</targetReference>
            </connector>
            <label>is FENC RAG Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>FMP_RAG_Blank</name>
        <label>FMP RAG Blank?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Not Blank</defaultConnectorLabel>
        <rules>
            <name>Fraud_Management_Plan_RAG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Original_Fraud_Management_Plan_RAG__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_FMP_RAG</targetReference>
            </connector>
            <label>Fraud Management Plan RAG</label>
        </rules>
    </decisions>
    <decisions>
        <name>FRA_FMP_Overall_RAG_blank</name>
        <label>FRA &amp; FMP Overall RAG blank?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>FENC_RAG_Blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Blank</defaultConnectorLabel>
        <rules>
            <name>FRA_and_FMP_Overall_RAG_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Original_FRA_and_FMP_Overall_RAG__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Overall_RAG</targetReference>
            </connector>
            <label>FRA and FMP Overall RAG Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>FRA_RAG_Blank_Check</name>
        <label>FRA RAG Blank Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>FRA_FMP_Overall_RAG_blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Blank</defaultConnectorLabel>
        <rules>
            <name>FraudRiskAssessmentRAGBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Original_Fraud_Risk_Assessment_RAG__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_FRA_RAG</targetReference>
            </connector>
            <label>Fraud Risk Assessment RAG</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>GMS - FRA and FMP RAG Status Check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GMS - FRA and FMP RAG Status Check</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_FENC_RAG</name>
        <label>Update FENC RAG</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>FMP_RAG_Blank</targetReference>
        </connector>
        <inputAssignments>
            <field>OriginalOverall_GR_FENC_RAG__c</field>
            <value>
                <elementReference>$Record.Current_Overall_GR_FENC_RAG__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_FMP_RAG</name>
        <label>Update FMP RAG</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Original_Fraud_Management_Plan_RAG__c</field>
            <value>
                <elementReference>$Record.Current_Fraud_Management_Plan_RAG__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_FRA_RAG</name>
        <label>Update FRA RAG</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>FRA_FMP_Overall_RAG_blank</targetReference>
        </connector>
        <inputAssignments>
            <field>Original_Fraud_Risk_Assessment_RAG__c</field>
            <value>
                <elementReference>$Record.Current_Fraud_Assessment_RAG__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Overall_RAG</name>
        <label>Update Overall RAG</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>FENC_RAG_Blank</targetReference>
        </connector>
        <inputAssignments>
            <field>Original_FRA_and_FMP_Overall_RAG__c</field>
            <value>
                <elementReference>$Record.Current_FRA_and_FMP_Overall_RAG__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>FRA_RAG_Blank_Check</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Current_Fraud_Assessment_RAG__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Current_FRA_and_FMP_Overall_RAG__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Current_Fraud_Management_Plan_RAG__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Current_Overall_GR_FENC_RAG__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>FundingAward</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
