force-app/main/default/flows/GMS_Change_Control_Request_Form_Baseline_Measure_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_collection</name>
        <label>Add to collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>baselinesToDisplay</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_all_baseline_measures</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_all_baseline_measures</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_all_records_to_update_collection</name>
        <label>Assign all records to update collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>baselinesToDisplay</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBaselineMeasureDetails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_baseline_measure_detail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_baseline_measure_ID</name>
        <label>Assign baseline measure ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varDraftChangeId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_existing_draft.Baseline_Measure_Detail__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_existing_draft</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_baseline_measure_updates</name>
        <label>Assign baseline measure updates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varChangeControlRequestLineItem.Measure_KPI_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_changes.Measure_KPI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChangeControlRequestLineItem.Previous_Measure_KPI_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_changes.Measure_KPI_Current</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChangeControlRequestLineItem.Property_Measure_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_changes.Measure_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChangeControlRequestLineItem.Baseline_Measure_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_changes.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChangeControlRequestLineItem.Change_Control_Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varChangeControlRequestId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChangeControlRequestLineItem.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Measure Detail</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChangeControlRequestLineItem.Baseline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBaseline.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChangeControlRequestLineItem.Baseline_Measure_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_changes.UniqueField__Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_update_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_line_item_updates</name>
        <label>Assign line item updates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varChangeControlRequestLineItem.Measure_KPI_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_4.Measure_KPI_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChangeControlRequestLineItem.Previous_Measure_KPI_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_4.Measure_KPI_Previous</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChangeControlRequestLineItem.Property_Measure_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_4.Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChangeControlRequestLineItem.Baseline_Measure_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_4.DescriptionDraft</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChangeControlRequestLineItem.Change_Control_Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varChangeControlRequestId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChangeControlRequestLineItem.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Measure Detail</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChangeControlRequestLineItem.Baseline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBaseline.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChangeControlRequestLineItem.Baseline_Measure_Detail__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_to_update_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_update_collection</name>
        <label>Assign to update collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varCcrLineItemsUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varChangeControlRequestLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_changes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_to_update_collection</name>
        <label>Assign to update collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varCcrLineItemsUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varChangeControlRequestLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_4</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Any_draft_changes_to_delete</name>
        <label>Any draft changes to delete?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Are_there_any_line_items_to_create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No records to delete</defaultConnectorLabel>
        <rules>
            <name>Records_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDraftChangeControlRequests</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_existing_CCR_line_items</targetReference>
            </connector>
            <label>Records found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_there_any_line_items_to_create</name>
        <label>Are there any line items to create?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>None found to create</defaultConnectorLabel>
        <rules>
            <name>Line_items_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCcrLineItemsUpdate</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_CCR_line_items</targetReference>
            </connector>
            <label>Line items found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_there_existing_change_requests</name>
        <label>Are there existing change requests</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_all_records_to_update_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None found</defaultConnectorLabel>
        <rules>
            <name>Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDraftChangeControlRequests</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_existing_draft_changes</targetReference>
            </connector>
            <label>Existing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Id_exist_in_the_loop</name>
        <label>Does Id exist in the loop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Add_to_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Doesn&apos;t exist</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDraftChangeId</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_all_baseline_measures.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_all_baseline_measures</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_changed</name>
        <label>Is changed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_changes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not changed</defaultConnectorLabel>
        <rules>
            <name>Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_changes.Measure_KPI_Current</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_changes.Measure_KPI</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_baseline_measure_updates</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <description>Logic to log updates to baseline measure details when making a change control request</description>
    <environments>Default</environments>
    <interviewLabel>GMS - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GMS - Change Control Request Form - Baseline Measure Update</label>
    <loops>
        <name>Loop_4</name>
        <label>Loop updates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>DisplayExistingItems.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_line_item_updates</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_existing_draft</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_all_baseline_measures</name>
        <label>Loop all baseline measures</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>varBaselineMeasureDetails</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_Id_exist_in_the_loop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_baseline_measure_detail</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_changes</name>
        <label>Loop changes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>DisplayBaselineMeasureDetails.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_changed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Confirm_changes_screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_existing_draft</name>
        <label>Loop existing drafts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>varDraftChangeControlRequests</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_baseline_measure_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_all_baseline_measures</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_CCR_line_items</name>
        <label>Create CCR line items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>varCcrLineItemsUpdate</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_existing_CCR_line_items</name>
        <label>Delete existing CCR line items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Are_there_any_line_items_to_create</targetReference>
        </connector>
        <inputReference>varDraftChangeControlRequests</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_baseline_measure_details</name>
        <label>Get baseline measure details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_existing_draft_baseline_measures</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Funding_Baseline__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBaseline.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>BaselineMeasureDetail__c</object>
        <outputReference>varBaselineMeasureDetails</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <queriedFields>Measure_KPI_Number__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Measure_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_existing_draft_baseline_measures</name>
        <label>Get any existing draft baseline measure updates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_existing_change_requests</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Measure Detail</stringValue>
            </value>
        </filters>
        <filters>
            <field>Change_Control_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varChangeControlRequestId</elementReference>
            </value>
        </filters>
        <object>Change_Control_Request_Line_Item__c</object>
        <outputReference>varDraftChangeControlRequests</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Measure_KPI_Number__c</queriedFields>
        <queriedFields>Previous_Measure_KPI_Number__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Property_Measure_Type__c</queriedFields>
        <queriedFields>Baseline_Measure_Description__c</queriedFields>
        <queriedFields>Baseline_Measure_Detail__c</queriedFields>
        <queriedFields>Baseline__c</queriedFields>
        <queriedFields>Baseline_New_Version__c</queriedFields>
        <queriedFields>Change_Control_Request__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Confirm_changes_screen</name>
        <label>Confirm changes screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Any_draft_changes_to_delete</targetReference>
        </connector>
        <fields>
            <name>CheckDetails</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;All updates are below. Please check each one before proceeding.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;To change any details, click previous to navigate back to the update screen.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DisplayChangesTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Change_Control_Request_Line_Item__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Proposed changes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>varCcrLineItemsUpdate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Property_Measure_Type__c&quot;,&quot;guid&quot;:&quot;column-8b7c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Property Measure Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Previous_Measure_KPI_Number__c&quot;,&quot;guid&quot;:&quot;column-d467&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Previous Measure KPI (Number)&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Measure_KPI_Number__c&quot;,&quot;guid&quot;:&quot;column-4685&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Measure KPI (Number)&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;Change_Control_Request_Line_Item__c&quot;,&quot;fieldReferences&quot;:[&quot;Id&quot;],&quot;elementReference&quot;:&quot;varCcrLineItemsUpdate&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnReferences</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;Change_Control_Request_Line_Item__c&quot;,&quot;fieldReferences&quot;:[&quot;Property_Measure_Type__c&quot;,&quot;Previous_Measure_KPI_Number__c&quot;,&quot;Measure_KPI_Number__c&quot;],&quot;elementReference&quot;:&quot;varCcrLineItemsUpdate&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_existing_draft_changes</name>
        <label>Display existing draft changes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_4</targetReference>
        </connector>
        <fields>
            <name>HelpTextDraftChanges</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;We&apos;ve found some existing draft updates to your baseline measures&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;You can update the KPI for each measure below&lt;/p&gt;&lt;p&gt;To remove the change, update the KPI measure to match the previous measure&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DisplayExistingItems</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Type</name>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>varDraftChangeControlRequests[$EachItem].Property_Measure_Type__c</elementReference>
                </defaultValue>
                <fieldText>Type</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isReadOnly>
                    <booleanValue>true</booleanValue>
                </isReadOnly>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>6</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>DescriptionDraft</name>
                <defaultValue>
                    <stringValue>{!varDraftChangeControlRequests[$EachItem].Baseline_Measure_Description__c}</stringValue>
                </defaultValue>
                <fieldText>Description</fieldText>
                <fieldType>LargeTextArea</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isReadOnly>
                    <booleanValue>true</booleanValue>
                </isReadOnly>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>6</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Measure_KPI_Previous</name>
                <dataType>Number</dataType>
                <defaultValue>
                    <elementReference>varDraftChangeControlRequests[$EachItem].Previous_Measure_KPI_Number__c</elementReference>
                </defaultValue>
                <fieldText>Measure KPI Previous</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isReadOnly>
                    <booleanValue>true</booleanValue>
                </isReadOnly>
                <isRequired>false</isRequired>
                <scale>0</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>6</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Measure_KPI_Number</name>
                <dataType>Number</dataType>
                <defaultValue>
                    <elementReference>varDraftChangeControlRequests[$EachItem].Measure_KPI_Number__c</elementReference>
                </defaultValue>
                <fieldText>Measure KPI (Number)</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <scale>0</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>6</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <inputParameters>
                <name>collection</name>
                <value>
                    <elementReference>varDraftChangeControlRequests</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canAddItem</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canRemoveItem</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_baseline_measure_detail</name>
        <label>Update baseline measure detail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_changes</targetReference>
        </connector>
        <fields>
            <name>HelpText</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;To update the measure, change the updated measure KPI value.&lt;/li&gt;&lt;li&gt;To remove the baseline measure, set the Updated Measure KPI to 0.&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DisplayBaselineMeasureDetails</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Measure_Type</name>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>baselinesToDisplay[$EachItem].Measure_Type__c</elementReference>
                </defaultValue>
                <fieldText>Measure Type</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isReadOnly>
                    <booleanValue>true</booleanValue>
                </isReadOnly>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>6</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Description</name>
                <defaultValue>
                    <stringValue>{!baselinesToDisplay[$EachItem].Description__c}</stringValue>
                </defaultValue>
                <fieldText>Description</fieldText>
                <fieldType>LargeTextArea</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isReadOnly>
                    <booleanValue>true</booleanValue>
                </isReadOnly>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>6</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Measure_KPI_Current</name>
                <dataType>Number</dataType>
                <defaultValue>
                    <elementReference>baselinesToDisplay[$EachItem].Measure_KPI_Number__c</elementReference>
                </defaultValue>
                <fieldText>Current Measure KPI</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isReadOnly>
                    <booleanValue>true</booleanValue>
                </isReadOnly>
                <isRequired>false</isRequired>
                <scale>0</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>6</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Measure_KPI</name>
                <dataType>Number</dataType>
                <defaultValue>
                    <elementReference>baselinesToDisplay[$EachItem].Measure_KPI_Number__c</elementReference>
                </defaultValue>
                <fieldText>Updated Measure KPI</fieldText>
                <fieldType>InputField</fieldType>
                <helpText>&lt;p&gt;Add new measure KPI here&lt;/p&gt;</helpText>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <scale>0</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>6</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <inputParameters>
                <name>collection</name>
                <value>
                    <elementReference>baselinesToDisplay</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canAddItem</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canRemoveItem</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_baseline_measure_details</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>baselinesToDisplay</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BaselineMeasureDetail__c</objectType>
    </variables>
    <variables>
        <name>Boolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Remove_baseline_measure_from_update_list</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BaselineMeasureDetail__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Remove_existing_baseline_measures</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BaselineMeasureDetail__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Remove_item_from_update_collection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Change_Control_Request_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Remove_measure_detail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BaselineMeasureDetail__c</objectType>
    </variables>
    <variables>
        <name>DuplicateFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBaseline</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingBaseline__c</objectType>
    </variables>
    <variables>
        <name>varBaselineMeasureDetails</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BaselineMeasureDetail__c</objectType>
    </variables>
    <variables>
        <name>varCcrLineItemsUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Change_Control_Request_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>varChangeControlRequestCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Change_Control_Request_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>varChangeControlRequestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varChangeControlRequestLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Change_Control_Request_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>varDraftChangeControlRequests</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Change_Control_Request_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>varDraftChangeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varItemsUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Change_Control_Request_Line_Item__c</objectType>
    </variables>
</Flow>
