force-app/main/default/flows/GMS_Create_Change_Control_Tracker_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ASHP</name>
        <label>ASHP</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ASHP1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Measures_from_change_control.Measure_KPI_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Measures_from_change_control</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASHP_Energy2</name>
        <label>ASHP Energy</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ASHPCurrent</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_current_award_measures.Measure_KPI_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_current_award_measures</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_variable</name>
        <label>Assign to variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>EnergyDemandVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NoBaselineMeasureEnergyDemandFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FuelSavingsVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NoBaselineMeasureFuelSavingsFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sum_Co_Funding_5_year</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_variables</name>
        <label>Assign to variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Custom_Metadata.Energy_Demand__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ASHPEnergyDemand</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Custom_Metadata.Fuel_Savings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ASHPFuelSavings</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Custom_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variable</name>
        <label>Assign Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SameAward</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SameAward</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Original_Project_Baseline_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_10_of_Assign_to_variables</name>
        <label>Assign to variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Custom_Metadata.Energy_Demand__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StorageHeatersEnergyDemand</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Custom_Metadata.Fuel_Savings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StorageHeatersFuelSavings</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Custom_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_11_of_Assign_to_variables</name>
        <label>Assign to variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Custom_Metadata.Energy_Demand__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UnderfloorInsulationEnergyDemand</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Custom_Metadata.Fuel_Savings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UnderfloorInsulationFuelSavings</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Custom_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_12_of_Assign_to_variables</name>
        <label>Assign to variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Custom_Metadata.Energy_Demand__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VentilationEnergyDemand</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Custom_Metadata.Fuel_Savings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VentilationFuelSavings</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Custom_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_13_of_Assign_to_variables</name>
        <label>Assign to variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Custom_Metadata.Energy_Demand__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WindowsEnergyDemand</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Custom_Metadata.Fuel_Savings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WindowsFuelSavings</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Custom_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_ASHP_Energy</name>
        <label>ASHP Energy</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ASHPOriginal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_original_award_measures.Measure_KPI_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_original_award_measures</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_to_variable</name>
        <label>Assign to variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>EnergyDemandVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EnergyDemandFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FuelSavingsVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FuelSavingsFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sum_Co_Funding_5_year</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_to_variables</name>
        <label>Assign to variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Custom_Metadata.Energy_Demand__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CWIEnergyDemand</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Custom_Metadata.Fuel_Savings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CWIFuelSavings</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Custom_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_to_variables</name>
        <label>Assign to variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Custom_Metadata.Energy_Demand__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DraughtproofingEnergyDemand</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Custom_Metadata.Fuel_Savings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DraughtproofingFuelSavings</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Custom_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_to_variables</name>
        <label>Assign to variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Custom_Metadata.Energy_Demand__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EWIEnergyDemand</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Custom_Metadata.Fuel_Savings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EWIFuelSavings</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Custom_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Assign_to_variables</name>
        <label>Assign to variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Custom_Metadata.Energy_Demand__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GHSPEnergyDemand</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Custom_Metadata.Fuel_Savings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GHSPFuelSavings</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Custom_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_5_of_Assign_to_variables</name>
        <label>Assign to variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Custom_Metadata.Energy_Demand__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoftInsulationEnergyDemand</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Custom_Metadata.Fuel_Savings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoftInsultationFuelSavings</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Custom_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_6_of_Assign_to_variables</name>
        <label>Assign to variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Custom_Metadata.Energy_Demand__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NoBaselinesEnergyDemand</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Custom_Metadata.Fuel_Savings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NoBaselinesFuelSavings</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Custom_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_7_of_Assign_to_variables</name>
        <label>Assign to variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Custom_Metadata.Energy_Demand__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SecondaryGlazingEnergyDemand</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Custom_Metadata.Fuel_Savings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SecondaryGlazingFuelSavings</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Custom_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_8_of_Assign_to_variables</name>
        <label>Assign to variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Custom_Metadata.Energy_Demand__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SolarPVEnergyDemand</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Custom_Metadata.Fuel_Savings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SolarPVFuelSavings</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Custom_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_9_of_Assign_to_variables</name>
        <label>Assign to variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Custom_Metadata.Energy_Demand__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SolarThermalEnergyDemand</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Custom_Metadata.Fuel_Savings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SolarThermalFuelSavings</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Custom_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CWIEnergy</name>
        <label>CWIEnergy</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CWIEnergy1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Measures_from_change_control.Baseline_Measure_Detail__r.Measure_KPI_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Measures_from_change_control</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Draughtproofing</name>
        <label>Draughtproofing</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Draughtproofing1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Measures_from_change_control.Baseline_Measure_Detail__r.Measure_KPI_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Measures_from_change_control</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EWIEnergy</name>
        <label>EWIEnergy</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>EWIEnergy1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Measures_from_change_control.Baseline_Measure_Detail__r.Measure_KPI_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Measures_from_change_control</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GSHP</name>
        <label>GSHP</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>GSHP1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Measures_from_change_control.Measure_KPI_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Measures_from_change_control</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GSHP_Energy2</name>
        <label>GSHP Energy</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>GSHPCurrent</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_current_award_measures.Measure_KPI_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_current_award_measures</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GSHP_Energy4</name>
        <label>GSHP Energy</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>GSHPOriginal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_original_award_measures.Measure_KPI_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_original_award_measures</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Loft</name>
        <label>Loft</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loft1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Measures_from_change_control.Baseline_Measure_Detail__r.Measure_KPI_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Measures_from_change_control</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SGLEnergy</name>
        <label>SGL Energy</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SGLEnergy1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Measures_from_change_control.Measure_KPI_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Measures_from_change_control</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Solar_PV</name>
        <label>Solar PV</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SolarPV1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Measures_from_change_control.Measure_KPI_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Measures_from_change_control</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Solar_Thermal</name>
        <label>Solar Thermal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SolarThermal1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Measures_from_change_control.Measure_KPI_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Measures_from_change_control</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>StorageHeaters</name>
        <label>Storage Heaters</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>StorageHeaters1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Measures_from_change_control.Measure_KPI_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Measures_from_change_control</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sum_Co_Funding_5_year</name>
        <label>Sum Co Funding 5 year</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varCoFunding5Year</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Co_funding_A_A_spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCoFunding5Year</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Co_Funding_Capital_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Change_Control_Tracker_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Underfloor</name>
        <label>Underfloor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Underfloor1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Measures_from_change_control.Baseline_Measure_Detail__r.Measure_KPI_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Measures_from_change_control</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ventilation</name>
        <label>Ventilation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Ventilation1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Measures_from_change_control.Measure_KPI_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Measures_from_change_control</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Windows</name>
        <label>Windows</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Windows1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Measures_from_change_control.Measure_KPI_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Measures_from_change_control</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Copy_2_of_What_is_the_measure_type</name>
        <label>What is the measure type?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_through_original_award_measures</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_ASHP_Energy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_original_award_measures.Measure_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Air Source Heat Pump</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_ASHP_Energy</targetReference>
            </connector>
            <label>ASHP Energy</label>
        </rules>
        <rules>
            <name>Copy_2_of_GSHP_Energy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_original_award_measures.Measure_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ground Source Heat Pump</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GSHP_Energy4</targetReference>
            </connector>
            <label>GSHP Energy</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Original_Award_the_same_as_Current_Award</name>
        <label>Is Original Award the same as Current Award?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Original_Project_Baseline_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not the same</defaultConnectorLabel>
        <rules>
            <name>Same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Original_Award_Baseline_Record.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Current_Award_Baseline.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Variable</targetReference>
            </connector>
            <label>Same</label>
        </rules>
    </decisions>
    <decisions>
        <name>Measure_Records_from_Change_Control_Record_Found</name>
        <label>Measure Records from Change Control Record Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assign_to_variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Measures Found</defaultConnectorLabel>
        <rules>
            <name>No_Measures_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Measure_Records_from_Change_Control_Record</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_variable</targetReference>
            </connector>
            <label>No Measures Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_the_measure_type</name>
        <label>What is the measure type?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Measures_from_change_control</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EWI_Energy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Measures_from_change_control.Baseline_Measure_Detail__r.Measure_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>External Wall Insulation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EWIEnergy</targetReference>
            </connector>
            <label>EWI Energy</label>
        </rules>
        <rules>
            <name>CWI_Energy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Measures_from_change_control.Baseline_Measure_Detail__r.Measure_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cavity Wall Insulation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CWIEnergy</targetReference>
            </connector>
            <label>CWI Energy</label>
        </rules>
        <rules>
            <name>Underfloor_Insulation_Energy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Measures_from_change_control.Baseline_Measure_Detail__r.Measure_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Underfloor insulation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Underfloor</targetReference>
            </connector>
            <label>Underfloor Insulation Energy</label>
        </rules>
        <rules>
            <name>Loft_Insulation_Energy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Measures_from_change_control.Baseline_Measure_Detail__r.Measure_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Loft insulation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loft</targetReference>
            </connector>
            <label>Loft Insulation Energy</label>
        </rules>
        <rules>
            <name>Draughtproofing_Energy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Measures_from_change_control.Baseline_Measure_Detail__r.Measure_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draughtproofing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Draughtproofing</targetReference>
            </connector>
            <label>Draughtproofing Energy</label>
        </rules>
        <rules>
            <name>ASHP_Energy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Measures_from_change_control.Baseline_Measure_Detail__r.Measure_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Air Source Heat Pump</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASHP</targetReference>
            </connector>
            <label>ASHP Energy</label>
        </rules>
        <rules>
            <name>GSHP_Energy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Measures_from_change_control.Baseline_Measure_Detail__r.Measure_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ground Source Heat Pump</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GSHP</targetReference>
            </connector>
            <label>GSHP Energy</label>
        </rules>
        <rules>
            <name>SGL_Energy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Measures_from_change_control.Baseline_Measure_Detail__r.Measure_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Secondary Glazing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SGLEnergy</targetReference>
            </connector>
            <label>SGL Energy</label>
        </rules>
        <rules>
            <name>Storage_heaters_Energy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Measures_from_change_control.Baseline_Measure_Detail__r.Measure_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Storage heaters*(TBC)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StorageHeaters</targetReference>
            </connector>
            <label>Storage heaters Energy</label>
        </rules>
        <rules>
            <name>Solar_PV_Energy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Measures_from_change_control.Baseline_Measure_Detail__r.Measure_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solar PV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Solar_PV</targetReference>
            </connector>
            <label>Solar PV Energy</label>
        </rules>
        <rules>
            <name>Solar_Thermal_Energy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Measures_from_change_control.Baseline_Measure_Detail__r.Measure_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solar Thermal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Solar_Thermal</targetReference>
            </connector>
            <label>Solar Thermal Energy</label>
        </rules>
        <rules>
            <name>Windows_Energy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Measures_from_change_control.Baseline_Measure_Detail__r.Measure_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Windows</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Windows</targetReference>
            </connector>
            <label>Windows Energy</label>
        </rules>
        <rules>
            <name>Ventilation_Energy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Measures_from_change_control.Baseline_Measure_Detail__r.Measure_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ventilation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ventilation</targetReference>
            </connector>
            <label>Ventilation Energy</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_the_measure_type1</name>
        <label>What is the measure type?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_through_current_award_measures</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ASHP_Energy1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_current_award_measures.Measure_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Air Source Heat Pump</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASHP_Energy2</targetReference>
            </connector>
            <label>ASHP Energy</label>
        </rules>
        <rules>
            <name>GSHP_Energy1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_current_award_measures.Measure_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ground Source Heat Pump</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GSHP_Energy2</targetReference>
            </connector>
            <label>GSHP Energy</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_the_measure_type12</name>
        <label>What is the measure type?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Custom_Metadata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Air_Source_Heat_Pump</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Custom_Metadata.Label</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Air Source Heat Pump</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_variables</targetReference>
            </connector>
            <label>Air Source Heat Pump</label>
        </rules>
        <rules>
            <name>Cavity_Wall_Insulation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Custom_Metadata.Label</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cavity Wall Insulation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_to_variables</targetReference>
            </connector>
            <label>Cavity Wall Insulation</label>
        </rules>
        <rules>
            <name>Draughtproofing4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Custom_Metadata.Label</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draughtproofing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_to_variables</targetReference>
            </connector>
            <label>Draughtproofing</label>
        </rules>
        <rules>
            <name>External_Wall_Insulation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Custom_Metadata.Label</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>External Wall Insulation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Assign_to_variables</targetReference>
            </connector>
            <label>External Wall Insulation</label>
        </rules>
        <rules>
            <name>Ground_Source_Heat_Pump</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Custom_Metadata.Label</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ground Source Heat Pump</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Assign_to_variables</targetReference>
            </connector>
            <label>Ground Source Heat Pump</label>
        </rules>
        <rules>
            <name>Loft_insulation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Custom_Metadata.Label</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Loft insulation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_Assign_to_variables</targetReference>
            </connector>
            <label>Loft insulation</label>
        </rules>
        <rules>
            <name>No_Baseline_Measure_Details</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Custom_Metadata.Label</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Baseline Measure Details</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_6_of_Assign_to_variables</targetReference>
            </connector>
            <label>No Baseline Measure Details</label>
        </rules>
        <rules>
            <name>Secondary_Glazing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Custom_Metadata.Label</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Secondary Glazing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_7_of_Assign_to_variables</targetReference>
            </connector>
            <label>Secondary Glazing</label>
        </rules>
        <rules>
            <name>Solar_PV4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Custom_Metadata.Label</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solar PV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_8_of_Assign_to_variables</targetReference>
            </connector>
            <label>Solar PV</label>
        </rules>
        <rules>
            <name>Solar_Thermal4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Custom_Metadata.Label</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solar Thermal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_9_of_Assign_to_variables</targetReference>
            </connector>
            <label>Solar Thermal</label>
        </rules>
        <rules>
            <name>Storage_heaters_TBC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Custom_Metadata.Label</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Storage heaters*(TBC)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_10_of_Assign_to_variables</targetReference>
            </connector>
            <label>Storage heaters*(TBC)</label>
        </rules>
        <rules>
            <name>Underfloor_insulation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Custom_Metadata.Label</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Underfloor insulation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_11_of_Assign_to_variables</targetReference>
            </connector>
            <label>Underfloor insulation</label>
        </rules>
        <rules>
            <name>Ventilation4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Custom_Metadata.Label</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ventilation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_12_of_Assign_to_variables</targetReference>
            </connector>
            <label>Ventilation</label>
        </rules>
        <rules>
            <name>Windows4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Custom_Metadata.Label</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Windows</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_13_of_Assign_to_variables</targetReference>
            </connector>
            <label>Windows</label>
        </rules>
    </decisions>
    <description>Flow runs when a Change Control Request Record &quot;Award&quot; type is created, it then creates a Change Control Tracker record with the record type &quot;Pending Change Request&quot;.</description>
    <environments>Default</environments>
    <formulas>
        <name>ASHPEnergyDemandFormula</name>
        <dataType>Number</dataType>
        <expression>({!ASHPEnergyDemand} * {!ASHP1}) * 5</expression>
        <scale>5</scale>
    </formulas>
    <formulas>
        <name>ASHPFuelSavingsFormula</name>
        <dataType>Number</dataType>
        <expression>{!ASHPFuelSavings} * {!ASHP1}</expression>
        <scale>5</scale>
    </formulas>
    <formulas>
        <name>ASHPRequest</name>
        <dataType>Number</dataType>
        <expression>IF({!SameAward} = &quot;SameAward&quot;,
({!ASHPCurrent} - {!ASHP1}) / {!ASHPCurrent} * -1,
({!ASHPOriginal} - {!ASHP1}) / {!ASHPOriginal} * -1)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>costcapexclchongas</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Total_Grant_Spend__c} - ({!$Record.Total_number_of_homes_to_be_upgraded__c} * 7500)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CWIEnergyDemandFormula</name>
        <dataType>Number</dataType>
        <expression>({!CWIEnergyDemand} * {!CWIEnergy1}) * 5</expression>
        <scale>5</scale>
    </formulas>
    <formulas>
        <name>CWIFuelSavingsFormula</name>
        <dataType>Number</dataType>
        <expression>{!CWIFuelSavings} * {!CWIEnergy1}</expression>
        <scale>5</scale>
    </formulas>
    <formulas>
        <name>DraughtproofingEnergyDemandFormula</name>
        <dataType>Number</dataType>
        <expression>({!DraughtproofingEnergyDemand} * {!Draughtproofing1}) * 5</expression>
        <scale>5</scale>
    </formulas>
    <formulas>
        <name>DraughtproofingFuelSavingsFormula</name>
        <dataType>Number</dataType>
        <expression>{!DraughtproofingFuelSavings} * {!Draughtproofing1}</expression>
        <scale>5</scale>
    </formulas>
    <formulas>
        <name>EndingEPCDorBelow</name>
        <dataType>Number</dataType>
        <expression>{!$Record.No_of_homes_ending_at_EPC_G__c} + {!$Record.No_of_homes_ending_at_EPC_F__c} + {!$Record.No_of_homes_ending_at_EPC_E__c} + {!$Record.No_of_homes_ending_at_EPC_D__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>EndingEPCDorBelowRequest</name>
        <dataType>Number</dataType>
        <expression>IF({!SameAward} = &quot;SameAward&quot;,
(({!Get_Current_Award_Baseline.No_of_homes_ending_at_EPC_G__c} + {!Get_Current_Award_Baseline.No_of_homes_ending_at_EPC_F__c} + {!Get_Current_Award_Baseline.No_of_homes_ending_at_EPC_E__c} + {!Get_Current_Award_Baseline.No_of_homes_ending_at_EPC_D__c}) - ({!$Record.No_of_homes_ending_at_EPC_G__c} + {!$Record.No_of_homes_ending_at_EPC_F__c} + {!$Record.No_of_homes_ending_at_EPC_E__c} + {!$Record.No_of_homes_ending_at_EPC_D__c})) / ({!Get_Current_Award_Baseline.No_of_homes_ending_at_EPC_G__c} + {!Get_Current_Award_Baseline.No_of_homes_ending_at_EPC_F__c} + {!Get_Current_Award_Baseline.No_of_homes_ending_at_EPC_E__c} + {!Get_Current_Award_Baseline.No_of_homes_ending_at_EPC_D__c}) * -1,
(({!Get_Original_Award_Baseline_Record.No_of_homes_ending_at_EPC_G__c} + 
{!Get_Original_Award_Baseline_Record.No_of_homes_ending_at_EPC_F__c} +
{!Get_Original_Award_Baseline_Record.No_of_homes_ending_at_EPC_E__c} + 
{!Get_Original_Award_Baseline_Record.No_of_homes_ending_at_EPC_D__c}) - ({!$Record.No_of_homes_ending_at_EPC_G__c} + 
{!$Record.No_of_homes_ending_at_EPC_F__c} + 
{!$Record.No_of_homes_ending_at_EPC_E__c} + 
{!$Record.No_of_homes_ending_at_EPC_D__c})) / ({!Get_Original_Award_Baseline_Record.No_of_homes_ending_at_EPC_G__c} + 
{!Get_Original_Award_Baseline_Record.No_of_homes_ending_at_EPC_F__c} +
{!Get_Original_Award_Baseline_Record.No_of_homes_ending_at_EPC_E__c} + 
{!Get_Original_Award_Baseline_Record.No_of_homes_ending_at_EPC_D__c}) * -1)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>EndingEPCorAbove</name>
        <dataType>Number</dataType>
        <expression>{!$Record.No_of_homes_ending_at_EPC_A__c} + {!$Record.No_of_homes_ending_at_EPC_B__c} + {!$Record.No_of_homes_ending_at_EPC_C__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>EnergyDemandFormula</name>
        <dataType>Number</dataType>
        <expression>{!EWIEnergyDemandFormula} + {!CWIEnergyDemandFormula} + {!UnderfloorEnergyDemandFormula} + {!LoftInsulationEnergyDemandFormula} + {!DraughtproofingEnergyDemandFormula} + {!ASHPEnergyDemandFormula} + {!GSHPEnergyDemandFormula} + {!SGLEnergyDemandFormula} + {!StorageHeatersEnergyDemandFormula} + {!SolarPVEnergyDemandFormula} + {!SolarThermalEnergyDemandFormula} + {!WindowsEnergyDemandFormula} + {!VentilationEnergyDemandFormula}</expression>
        <scale>5</scale>
    </formulas>
    <formulas>
        <name>EWIEnergyDemandFormula</name>
        <dataType>Number</dataType>
        <expression>({!EWIEnergyDemand} * {!EWIEnergy1}) * 5</expression>
        <scale>5</scale>
    </formulas>
    <formulas>
        <name>EWIFuelSavingsFormula</name>
        <dataType>Number</dataType>
        <expression>{!EWIFuelSavings} * {!EWIEnergy1}</expression>
        <scale>5</scale>
    </formulas>
    <formulas>
        <name>FuelSavingsFormula</name>
        <dataType>Number</dataType>
        <expression>{!EWIFuelSavingsFormula} + {!CWIFuelSavingsFormula} + {!UnderfloorFuelSavingsFormula} + {!LoftFuelSavingsFormula} + {!DraughtproofingFuelSavingsFormula} + {!ASHPFuelSavingsFormula} + {!GSHPFuelSavingsFormula} + {!SGLEnergyFuelSavingsFormula} + {!StorageHeatersEnergyFuelSavingsFormula} + {!SolarPVEnergyFuelSavingsFormula} + {!SolarThermalEnergyFuelSavingsFormula} + {!WindowsFuelSavingsFormula} + {!VentilationFuelSavingsFormula}</expression>
        <scale>5</scale>
    </formulas>
    <formulas>
        <name>GSHPEnergyDemandFormula</name>
        <dataType>Number</dataType>
        <expression>({!GHSPEnergyDemand} * {!GSHP1}) * 5</expression>
        <scale>5</scale>
    </formulas>
    <formulas>
        <name>GSHPFuelSavingsFormula</name>
        <dataType>Number</dataType>
        <expression>{!GHSPFuelSavings} * {!GSHP1}</expression>
        <scale>5</scale>
    </formulas>
    <formulas>
        <name>GSHPRequest</name>
        <dataType>Number</dataType>
        <expression>IF({!SameAward} = &quot;SameAward&quot;,
({!GSHPCurrent} - {!GSHP1}) / {!GSHPCurrent} * -1,
({!GSHPOriginal} - {!GSHP1}) / {!GSHPOriginal} * -1)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>LoftFuelSavingsFormula</name>
        <dataType>Number</dataType>
        <expression>{!LoftInsultationFuelSavings} * {!Loft1}</expression>
        <scale>5</scale>
    </formulas>
    <formulas>
        <name>LoftInsulationEnergyDemandFormula</name>
        <dataType>Number</dataType>
        <expression>({!LoftInsulationEnergyDemand} * {!Loft1}) * 5</expression>
        <scale>5</scale>
    </formulas>
    <formulas>
        <name>NoBaselineMeasureEnergyDemandFormula</name>
        <dataType>Number</dataType>
        <expression>({!$Record.Total_number_of_homes_to_be_upgraded__c} * {!NoBaselinesEnergyDemand}) * 5</expression>
        <scale>5</scale>
    </formulas>
    <formulas>
        <name>NoBaselineMeasureFuelSavingsFormula</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Total_number_of_homes_to_be_upgraded__c} * {!NoBaselinesFuelSavings}</expression>
        <scale>5</scale>
    </formulas>
    <formulas>
        <name>SGLEnergyDemandFormula</name>
        <dataType>Number</dataType>
        <expression>({!SecondaryGlazingEnergyDemand} * {!SGLEnergy1}) * 5</expression>
        <scale>5</scale>
    </formulas>
    <formulas>
        <name>SGLEnergyFuelSavingsFormula</name>
        <dataType>Number</dataType>
        <expression>{!SecondaryGlazingFuelSavings} * {!SGLEnergy1}</expression>
        <scale>5</scale>
    </formulas>
    <formulas>
        <name>SolarPVEnergyDemandFormula</name>
        <dataType>Number</dataType>
        <expression>({!SolarPVEnergyDemand} * {!SolarPV1}) * 5</expression>
        <scale>5</scale>
    </formulas>
    <formulas>
        <name>SolarPVEnergyFuelSavingsFormula</name>
        <dataType>Number</dataType>
        <expression>{!SolarPVFuelSavings} * {!SolarPV1}</expression>
        <scale>5</scale>
    </formulas>
    <formulas>
        <name>SolarThermalEnergyDemandFormula</name>
        <dataType>Number</dataType>
        <expression>({!SolarThermalEnergyDemand} * {!SolarThermal1}) * 5</expression>
        <scale>5</scale>
    </formulas>
    <formulas>
        <name>SolarThermalEnergyFuelSavingsFormula</name>
        <dataType>Number</dataType>
        <expression>{!SolarThermalFuelSavings} * {!SolarThermal1}</expression>
        <scale>5</scale>
    </formulas>
    <formulas>
        <name>StartingEPCPlus</name>
        <dataType>Number</dataType>
        <expression>{!$Record.No_of_homes_starting_at_EPC_A__c} + {!$Record.No_of_homes_starting_at_EPC_B__c} + {!$Record.No_of_homes_starting_at_EPC_C__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>StorageHeatersEnergyDemandFormula</name>
        <dataType>Number</dataType>
        <expression>({!StorageHeatersEnergyDemand} * {!StorageHeaters1}) * 5</expression>
        <scale>5</scale>
    </formulas>
    <formulas>
        <name>StorageHeatersEnergyFuelSavingsFormula</name>
        <dataType>Number</dataType>
        <expression>{!StorageHeatersFuelSavings} * {!StorageHeaters1}</expression>
        <scale>5</scale>
    </formulas>
    <formulas>
        <name>TotalAA</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Co_funding_A_A_spend__c} + {!$Record.Grant_A_A_Spend__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TotalHeatPumpsRequest</name>
        <dataType>Number</dataType>
        <expression>IF({!SameAward} = &quot;SameAward&quot;,
({!GSHPCurrent} + {!ASHPCurrent}) - ({!GSHP1} + {!ASHP1}) / ({!GSHPCurrent} + {!ASHPCurrent}) * -1,
({!GSHPOriginal} + {!ASHPOriginal}) - ({!GSHP1} + {!ASHP1}) / ({!GSHPOriginal} + {!ASHPOriginal}) * -1)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>UnderfloorEnergyDemandFormula</name>
        <dataType>Number</dataType>
        <expression>({!UnderfloorInsulationEnergyDemand} * {!Underfloor1}) * 5</expression>
        <scale>5</scale>
    </formulas>
    <formulas>
        <name>UnderfloorFuelSavingsFormula</name>
        <dataType>Number</dataType>
        <expression>{!UnderfloorInsulationFuelSavings} * {!Underfloor1}</expression>
        <scale>5</scale>
    </formulas>
    <formulas>
        <name>VentilationEnergyDemandFormula</name>
        <dataType>Number</dataType>
        <expression>({!VentilationEnergyDemand} * {!Ventilation1}) * 5</expression>
        <scale>5</scale>
    </formulas>
    <formulas>
        <name>VentilationFuelSavingsFormula</name>
        <dataType>Number</dataType>
        <expression>{!VentilationFuelSavings} * {!Ventilation1}</expression>
        <scale>5</scale>
    </formulas>
    <formulas>
        <name>WindowsEnergyDemandFormula</name>
        <dataType>Number</dataType>
        <expression>({!WindowsEnergyDemand} * {!Windows1}) * 5</expression>
        <scale>5</scale>
    </formulas>
    <formulas>
        <name>WindowsFuelSavingsFormula</name>
        <dataType>Number</dataType>
        <expression>{!WindowsFuelSavings} * {!Windows1}</expression>
        <scale>5</scale>
    </formulas>
    <interviewLabel>GMS - Create Change Control Tracker Record from {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GMS - Create Change Control Tracker Record</label>
    <loops>
        <name>Loop_through_current_award_measures</name>
        <label>Loop through current award measures</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Current_Award_Baseline_Measure_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>What_is_the_measure_type1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Original_Award_Baseline_Measure_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Custom_Metadata</name>
        <label>Loop through Custom Metadata</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Custom_Metadata_Baseline_Measure_Details</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>What_is_the_measure_type12</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Measure_Records_from_Change_Control_Record_Found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Measures_from_change_control</name>
        <label>Loop through Measures from change control</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Measure_Records_from_Change_Control_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>What_is_the_measure_type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Current_Award_Baseline_Measure_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_original_award_measures</name>
        <label>Loop through original award measures</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Original_Award_Baseline_Measure_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_2_of_What_is_the_measure_type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Custom_Metadata_Baseline_Measure_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Change_Control_Tracker_Record</name>
        <label>Create Change Control Tracker Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>ASHP_Energy__c</field>
            <value>
                <elementReference>ASHP1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ASHP_Request__c</field>
            <value>
                <elementReference>ASHPRequest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CWI_Energy__c</field>
            <value>
                <elementReference>CWIEnergy1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Change_Control_Request_Line_Item__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Co_funding_Capital_5_Years__c</field>
            <value>
                <elementReference>$Record.Co_Funding_Capital_Spend__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cofunding_AA_3_Years__c</field>
            <value>
                <elementReference>$Record.Co_funding_A_A_spend__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cofunding_Total_2425__c</field>
            <value>
                <elementReference>$Record.Co_Funding_Spend_24_25__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cofunding_Total_2526__c</field>
            <value>
                <elementReference>$Record.Co_Funding_Spend_25_26__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cofunding_Total_2627__c</field>
            <value>
                <elementReference>$Record.Co_Funding_Spend_26_27__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cofunding_Total_2728__c</field>
            <value>
                <elementReference>$Record.Co_Funding_Spend_27_28__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cofunding_Total_2829__c</field>
            <value>
                <elementReference>$Record.Co_Funding_Spend_28_29__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cofunding_Total_3_Years__c</field>
            <value>
                <elementReference>varCoFunding5Year</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_Cap_Exc_LCH_On_Gas__c</field>
            <value>
                <elementReference>costcapexclchongas</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Award_Baseline__c</field>
            <value>
                <elementReference>Get_Current_Award_Baseline.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Draughtproofing_Energy__c</field>
            <value>
                <elementReference>Draughtproofing1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EWI_Energy__c</field>
            <value>
                <elementReference>EWIEnergy1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ending_EPC_C_or_Above__c</field>
            <value>
                <elementReference>EndingEPCorAbove</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ending_EPC_D_or_Below_Request__c</field>
            <value>
                <elementReference>EndingEPCDorBelowRequest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ending_EPC_D_or_Below__c</field>
            <value>
                <elementReference>EndingEPCDorBelow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Energy_Demand__c</field>
            <value>
                <elementReference>EnergyDemandVariable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fuel_Savings__c</field>
            <value>
                <elementReference>FuelSavingsVariable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funding_Award__c</field>
            <value>
                <elementReference>Get_Original_Award_Baseline_Record.Funding_Award__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GSHP_Energy__c</field>
            <value>
                <elementReference>GSHP1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GSHP_Req__c</field>
            <value>
                <elementReference>GSHPRequest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grant_AA_3_Years__c</field>
            <value>
                <elementReference>$Record.Grant_A_A_Spend__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grant_Capital_Total_3_Years__c</field>
            <value>
                <elementReference>$Record.Grant_Capital_Spend__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grant_Total_2526__c</field>
            <value>
                <elementReference>$Record.Grant_Spend_25_26__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grant_Total_2627__c</field>
            <value>
                <elementReference>$Record.Grant_Spend_26_27__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grant_Total_2728__c</field>
            <value>
                <elementReference>$Record.Grant_Spend_27_28__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grant_Total_3_Years__c</field>
            <value>
                <elementReference>$Record.Total_Grant_Spend__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Homes_To_EPC_C__c</field>
            <value>
                <elementReference>$Record.No_of_Homes_to_EPC_C__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LCH_Off_Gas_Incentive_Count__c</field>
            <value>
                <elementReference>$Record.No_of_Homes_for_Off_Gas_grid_LCH_Uplift__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LCH_On_Gas_Incentive_Count__c</field>
            <value>
                <elementReference>$Record.No_of_Homes_for_On_Gas_grid_LCH_Uplift__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loft_Insulation_Energy__c</field>
            <value>
                <elementReference>Loft1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Award_Project_Baseline__c</field>
            <value>
                <elementReference>Get_Original_Award_Baseline_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Change_Control_Tracker__c</field>
            <value>
                <elementReference>Get_Original_Project_Baseline_Tracker_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pending_Change_Control_Request__c</field>
            <value>
                <elementReference>$Record.Change_Control_Request__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Pending_Change_Request_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SGL_Energy__c</field>
            <value>
                <elementReference>SGLEnergy1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solar_PV_Energy__c</field>
            <value>
                <elementReference>SolarPV1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solar_Thermal_Energy__c</field>
            <value>
                <elementReference>SolarThermal1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Starting_EPC_C_Or_Above__c</field>
            <value>
                <elementReference>StartingEPCPlus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_heaters_Energy__c</field>
            <value>
                <elementReference>StorageHeaters1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_AA_3_Years__c</field>
            <value>
                <elementReference>TotalAA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Heat_Pumps_Request__c</field>
            <value>
                <elementReference>TotalHeatPumpsRequest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Phase_3_Years__c</field>
            <value>
                <elementReference>$Record.Total_Spend__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Project_Homes_Treated__c</field>
            <value>
                <elementReference>$Record.Total_number_of_homes_to_be_upgraded__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Underfloor_Insulation_Energy__c</field>
            <value>
                <elementReference>Underfloor1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ventilation_Energy__c</field>
            <value>
                <elementReference>Ventilation1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Windows_Energy__c</field>
            <value>
                <elementReference>Windows1</elementReference>
            </value>
        </inputAssignments>
        <object>Change_Control_Tracker__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Current_Award_Baseline</name>
        <label>Get Current Award Baseline</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Original_Award_the_same_as_Current_Award</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Baseline_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Award</stringValue>
            </value>
        </filters>
        <filters>
            <field>Funding_Award__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Baseline__r.Funding_Award__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FundingBaseline__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Award_Baseline_Measure_Records</name>
        <label>Get Current Award Baseline Measure Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_current_award_measures</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Funding_Baseline__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Award_Baseline.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BaselineMeasureDetail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Metadata_Baseline_Measure_Details</name>
        <label>Get Custom Metadata - Baseline Measure Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Custom_Metadata</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Baseline_Measure_Details_Energy_Fuel__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Measure_Records_from_Change_Control_Record</name>
        <label>Get Measure Records from Change Control Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Measures_from_change_control</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Measure Detail</stringValue>
            </value>
        </filters>
        <filters>
            <field>Change_Control_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Change_Control_Request__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Change_Control_Request_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Original_Award_Baseline_Measure_Records</name>
        <label>Get Original Award Baseline Measure Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_original_award_measures</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Funding_Baseline__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Original_Award_Baseline_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BaselineMeasureDetail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Original_Award_Baseline_Record</name>
        <label>Get Original Award Baseline Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_Award_Baseline</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Funding_Award__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Baseline__r.Funding_Award__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Baseline_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Award</stringValue>
            </value>
        </filters>
        <filters>
            <field>Baseline_Version_No__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FundingBaseline__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Original_Project_Baseline_Record_Type</name>
        <label>Get Original Project Baseline Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Original_Project_Baseline_Tracker_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Change_Control_Tracker__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Original Project Baseline</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Original_Project_Baseline_Tracker_Record</name>
        <label>Get Original Project Baseline Tracker Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Pending_Change_Request_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Original_Project_Baseline_Record_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Original_Award_Project_Baseline__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Original_Award_Baseline_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Funding_Award__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Original_Award_Baseline_Record.Funding_Award__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Change_Control_Tracker__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pending_Change_Request_Record_Type</name>
        <label>Get Pending Change Request Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Measure_Records_from_Change_Control_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Change_Control_Tracker__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Pending Change Request</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Original_Award_Baseline_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Award Baseline</stringValue>
            </value>
        </filters>
        <object>Change_Control_Request_Line_Item__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ASHP1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ASHPCurrent</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ASHPEnergyDemand</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>5</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ASHPFuelSavings</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>5</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ASHPOriginal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CWIEnergy1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CWIEnergy3</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CWIEnergyDemand</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>5</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CWIFuelSavings</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>5</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Draughtproofing1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Draughtproofing3</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>DraughtproofingEnergyDemand</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>5</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>DraughtproofingFuelSavings</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>5</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>EnergyDemandVariable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>5</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>EWIEnergy1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>EWIEnergy3</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>EWIEnergyDemand</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>5</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>EWIFuelSavings</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>5</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>FuelSavingsVariable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>5</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>GHSPEnergyDemand</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>5</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>GHSPFuelSavings</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>5</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>GSHP1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>GSHPCurrent</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>GSHPOriginal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Loft1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Loft3</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LoftInsulationEnergyDemand</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>5</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LoftInsultationFuelSavings</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>5</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NoBaselinesEnergyDemand</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>5</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NoBaselinesFuelSavings</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>5</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SameAward</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SecondaryGlazingEnergyDemand</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>5</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SecondaryGlazingFuelSavings</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>5</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SGL3</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SGLEnergy1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SolarPV1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SolarPVEnergy3</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SolarPVEnergyDemand</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>5</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SolarPVFuelSavings</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>5</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SolarThermal1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SolarThermalEnergy3</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SolarThermalEnergyDemand</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>5</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SolarThermalFuelSavings</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>5</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>StorageHeaters1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>StorageheatersEnergy3</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>StorageHeatersEnergyDemand</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>5</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>StorageHeatersFuelSavings</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>5</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Underfloor1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Underfloor3</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>UnderfloorInsulationEnergyDemand</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>5</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>UnderfloorInsulationFuelSavings</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>5</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varCoFunding5Year</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Ventilation1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Ventilation3</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VentilationEnergyDemand</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>5</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VentilationFuelSavings</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>5</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Windows1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>WindowsEnergy3</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>WindowsEnergyDemand</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>5</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>WindowsFuelSavings</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>5</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
