force-app/main/default/flows/GMS_Funding_Disbursement_Phase_Baseline_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_to_record_variable</name>
        <label>Assign to record variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>VarBaselineCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarRecordBaseline</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_line_items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_single_variable</name>
        <label>Assign to single variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>VarRecordBaseline.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_line_items.Baseline__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarRecordBaseline.Challenge_Fund_Capital_Drawn_Down__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CapitalFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarRecordBaseline.Challenge_Fund_Capital_Remaining__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemainingCapital</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_record_variable</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Related_to_an_approved_phase_request</name>
        <label>Related to an approved phase request?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Drawdown_Request_Line_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not related to an approved phase request</defaultConnectorLabel>
        <rules>
            <name>Related_to_an_approved_phase_request1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Related_to_an_approved_phase_request__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Drawdown_Request_Line_Items</targetReference>
            </connector>
            <label>Related to an approved phase request</label>
        </rules>
    </decisions>
    <description>When a Funding Drawdown Request is &quot;Approved&quot;, the related Phase Baseline field &quot;Challenge Fund Capital Drawn Down&quot; is updated with the Capital amount awarded.</description>
    <environments>Default</environments>
    <formulas>
        <name>CapitalFormula</name>
        <dataType>Currency</dataType>
        <expression>BLANKVALUE({!Loop_through_line_items.Capital_Costs_Only__c} + {!Loop_through_line_items.Baseline__r.Challenge_Fund_Capital_Drawn_Down__c}, 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NoApprovedPhaseCapitalFormula</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Drawdown_Request_Line_Item.Capital_Costs_Only__c} + BLANKVALUE({!Get_First_Phase_Baseline.Challenge_Fund_Capital_Drawn_Down__c}, 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NoApprovedPhaseRemainingCapital</name>
        <dataType>Currency</dataType>
        <expression>BLANKVALUE({!Get_First_Phase_Baseline.Challenge_Fund_Capital_Remaining__c} - {!Get_Drawdown_Request_Line_Item.Capital_Costs_Only__c}, {!Get_First_Phase_Baseline.Baseline_Grant_Capital_Spend__c} - {!Get_Drawdown_Request_Line_Item.Capital_Costs_Only__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>RemainingCapital</name>
        <dataType>Currency</dataType>
        <expression>BLANKVALUE({!Loop_through_line_items.Baseline__r.Baseline_Grant_Capital_Spend__c} - ({!Loop_through_line_items.Capital_Costs_Only__c} + {!Loop_through_line_items.Baseline__r.Challenge_Fund_Capital_Drawn_Down__c}), {!Loop_through_line_items.Baseline__r.Baseline_Grant_Capital_Spend__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>GMS - Funding Disbursement Phase Baseline Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GMS - Funding Disbursement Phase Baseline Update</label>
    <loops>
        <name>Loop_through_line_items</name>
        <label>Loop through line items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Drawdown_Request_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_single_variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Phase_Baselines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Drawdown_Request_Line_Item</name>
        <label>Get Drawdown Request Line Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_First_Phase_Baseline</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Funding_Drawdown_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Funding_Drawdown_Request_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Drawdown_Request_Line_Items</name>
        <label>Get Drawdown Request Line Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_line_items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Funding_Drawdown_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Funding_Drawdown_Request_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_First_Phase_Baseline</name>
        <label>Get First Phase Baseline</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_First_Phase_Baseline</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Funding_Award__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Funding_Award__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Historic</stringValue>
            </value>
        </filters>
        <filters>
            <field>Baseline_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Phase</stringValue>
            </value>
        </filters>
        <filters>
            <field>Baseline_Version__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Phase-1</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FundingBaseline__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_First_Phase_Baseline</name>
        <label>Update First Phase Baseline</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_First_Phase_Baseline.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Challenge_Fund_Capital_Drawn_Down__c</field>
            <value>
                <elementReference>NoApprovedPhaseCapitalFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Challenge_Fund_Capital_Remaining__c</field>
            <value>
                <elementReference>NoApprovedPhaseRemainingCapital</elementReference>
            </value>
        </inputAssignments>
        <object>FundingBaseline__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Phase_Baselines</name>
        <label>Update Phase Baselines</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>VarBaselineCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Related_to_an_approved_phase_request</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <object>Funding_Drawdown_Request__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>VarBaselineCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingBaseline__c</objectType>
    </variables>
    <variables>
        <name>VarRecordBaseline</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingBaseline__c</objectType>
    </variables>
</Flow>
