force-app/main/default/flows/GMS_Change_Control_Request_Form_Phase_Baseline_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GMS_CCR_Convert_Baselines_to_Phase_Change_Items</name>
        <label>GMS - CCR - Convert Baselines to Phase Change Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>GmsCcrFormPhaseChange</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Phase_Change_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>baselines</name>
            <value>
                <elementReference>Get_Phase_Baselines</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>items</name>
            <value>
                <elementReference>Get_Items</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GmsCcrFormPhaseChange</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varItems</assignToReference>
            <name>items</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Each_Item_values</name>
        <label>Assign Each Item values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varEachItem.Baseline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Phase_Items.baselineId.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachItem.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Phase_Items.Proposed_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachItem.Start_Date_Previous__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Phase_Items.Current_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachItem.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Phase_Items.Proposed_End_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachItem.End_Date_Previous__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Phase_Items.Current_End_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachItem.Total_number_of_homes_to_be_upgraded__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Phase_Items.Proposed_Homes_to_be_Upgraded</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachItem.Change_Control_Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varChangeControlRequest.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachItem.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Phase Change</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachItem.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachItem.Is_Delete_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Phase_Items.Remove_this_Phase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Item_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_has_baseline_to_false</name>
        <label>Assign has baseline to false</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varHasBaseline</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachItem</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>loop_baselines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_has_baseline_true</name>
        <label>assign has baseline true</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varHasBaseline</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_for_changes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Item_Collection</name>
        <label>Assign to Item Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varNewItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varEachItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_baselines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_item_collection1</name>
        <label>Assign to item collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varNewItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varEachItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Phase_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Each_Item_values</name>
        <label>Assign Each Item values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varEachItem.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Phase_Items.Proposed_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachItem.Start_Date_Previous__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Phase_Items.Current_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachItem.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Phase_Items.Proposed_End_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachItem.End_Date_Previous__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Phase_Items.Current_End_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachItem.Total_number_of_homes_to_be_upgraded__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Phase_Items.Proposed_Homes_to_be_Upgraded</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachItem.Change_Control_Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varChangeControlRequest.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachItem.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Phase Change</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachItem.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachItem.Is_Delete_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Phase_Items.Remove_this_Phase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_item_collection1</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>check_delete_change</name>
        <label>check delete change</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assign_Each_Item_values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_delete_change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Phase_Items.Remove_this_Phase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Phase_Items</targetReference>
            </connector>
            <label>is delete change</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_exisitng_items</name>
        <label>check exisitng items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_existing_items</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_existing_items</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>delete_existing_items</targetReference>
            </connector>
            <label>has existing items</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_for_changes</name>
        <label>check for changes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>loop_baselines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_changes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flaHasChanges</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Each_Item_values</targetReference>
            </connector>
            <label>has changes</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_has_baselines</name>
        <label>check has baselines</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>check_delete_change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varHasBaseline</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Phase_Items</targetReference>
            </connector>
            <label>is true</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_we_have_some_items</name>
        <label>check we have some items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>check_exisitng_items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>have_items</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewItems</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_items</targetReference>
            </connector>
            <label>have items</label>
        </rules>
    </decisions>
    <decisions>
        <name>match</name>
        <label>match</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>loop_baselines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>item_for_baseline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_baselines.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Phase_Items.baselineId.value</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_has_baseline_true</targetReference>
            </connector>
            <label>item for baseline</label>
        </rules>
    </decisions>
    <description>Screen for amending an Awards proposed phase baselines</description>
    <environments>Default</environments>
    <formulas>
        <name>flaHasChanges</name>
        <dataType>Boolean</dataType>
        <expression>{!Loop_Phase_Items.Proposed_End_Date} == {!loop_baselines.Baseline_End_Date__c} &amp;&amp; 
{!Loop_Phase_Items.Proposed_Start_Date} == {!loop_baselines.Baseline_Start_Date__c} &amp;&amp;
{!Loop_Phase_Items.Proposed_Homes_to_be_Upgraded} == {!loop_baselines.Total_Homes_to_be_Upgraded__c}</expression>
    </formulas>
    <interviewLabel>GMS - Change Control Request Form - Phase Baseline Change {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>GMS - Change Control Request Form - Phase Baseline Change</label>
    <loops>
        <name>loop_baselines</name>
        <label>loop baselines</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Phase_Baselines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>match</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>check_has_baselines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Phase_Items</name>
        <label>Loop Phase Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>repeater.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_has_baseline_to_false</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>check_we_have_some_items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_items</name>
        <label>Create items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_exisitng_items</targetReference>
        </connector>
        <inputReference>varNewItems</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>delete_existing_items</name>
        <label>delete existing items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Get_existing_items</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_existing_items</name>
        <label>Get existing items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Phase_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Change_Control_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varChangeControlRequest.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Phase Change</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Change_Control_Request_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Items</name>
        <label>Get Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Phase_Baselines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Change_Control_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varChangeControlRequest.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Phase Change</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Change_Control_Request_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Phase_Baselines</name>
        <label>Get Phase Baselines</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GMS_CCR_Convert_Baselines_to_Phase_Change_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Funding_Award__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFundingAward.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Baseline_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Phase</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Historic</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FundingBaseline__c</object>
        <sortField>Baseline_Start_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFundingAward.Record_Type_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Change_Control_Request_Line_Item__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Phase_Change_Screen</name>
        <label>Phase Change Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_existing_items</targetReference>
        </connector>
        <fields>
            <name>chatContext</name>
            <extensionName>c:dmChatContextUpdater</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>contextChild</name>
                <value>
                    <elementReference>varChangeControlRequest.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contextChildName</name>
                <value>
                    <elementReference>varChangeControlRequest.Name</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>GuidanceText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 10pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;Please use the table below to request changes to the start and end date of your project phases, and/or the number of homes to be upgraded per phase if your total project number of homes has changed.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt; &amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;Please be reminded that:&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;If your phase end or start date changes, but remains within the same financial year quarter i.e. Q1 April - June, Q2 July - September, Q3 August - December, Q4 January - March, you do not need to submit a Project Change Request. Please let your DSM know the new start or end date of the phase within that quarter and they will update your records on the GMS accordingly.&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;If your phase start and end date moves into a new financial year quarter, you must submit a Project Change Request using the table below.&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 10pt; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif;&quot;&gt;The total proposed number of homes to be upgraded across all project phases must total the number of homes to be upgraded in your Award Baseline.&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>repeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>BaselineTitle</name>
                <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Phase: {!varItems[$EachItem].Baseline_Measure_Description__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>6</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>StatusDisplay</name>
                <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;Status: &lt;/strong&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!varItems[$EachItem].Baseline_Measure_Description_Previous__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>6</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Remove_this_Phase</name>
                <dataType>Boolean</dataType>
                <defaultValue>
                    <booleanValue>false</booleanValue>
                </defaultValue>
                <fieldText>Remove this Phase</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Current_Homes_to_be_Upgraded1</name>
                <dataType>Number</dataType>
                <defaultValue>
                    <elementReference>varItems[$EachItem].Cache__c</elementReference>
                </defaultValue>
                <fieldText>Current Homes to be Upgraded</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isReadOnly>
                    <booleanValue>true</booleanValue>
                </isReadOnly>
                <isRequired>false</isRequired>
                <scale>0</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>4</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>repeater.AllItems[$EachItem].Remove_this_Phase</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <booleanValue>false</booleanValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Proposed_Homes_to_be_Upgraded</name>
                <dataType>Number</dataType>
                <defaultValue>
                    <elementReference>varItems[$EachItem].Total_number_of_homes_to_be_upgraded__c</elementReference>
                </defaultValue>
                <fieldText>Proposed Homes to be Upgraded</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <scale>0</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>4</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>repeater.AllItems[$EachItem].Remove_this_Phase</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <booleanValue>false</booleanValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>HomesVariance</name>
                <extensionName>c:dmRepeaterFormulaCalculator</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>label</name>
                    <value>
                        <stringValue>Variance Homes to be Upgraded</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>value1</name>
                    <value>
                        <elementReference>varItems[$EachItem].Cache__c</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>value2</name>
                    <value>
                        <elementReference>repeater.AllItems[$EachItem].Proposed_Homes_to_be_Upgraded</elementReference>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>4</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>repeater.AllItems[$EachItem].Remove_this_Phase</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <booleanValue>false</booleanValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>baselineId</name>
                <extensionName>c:dmRepeaterDataCacher</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>value</name>
                    <value>
                        <elementReference>varItems[$EachItem].Baseline__c</elementReference>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Current_Start_Date</name>
                <dataType>Date</dataType>
                <defaultValue>
                    <elementReference>varItems[$EachItem].Start_Date_Previous__c</elementReference>
                </defaultValue>
                <fieldText>Current Start Date</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isReadOnly>
                    <booleanValue>true</booleanValue>
                </isReadOnly>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>4</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>repeater.AllItems[$EachItem].Remove_this_Phase</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <booleanValue>false</booleanValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Proposed_Start_Date</name>
                <dataType>Date</dataType>
                <defaultValue>
                    <elementReference>varItems[$EachItem].Start_Date__c</elementReference>
                </defaultValue>
                <fieldText>Proposed Start Date</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>4</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>repeater.AllItems[$EachItem].Remove_this_Phase</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <booleanValue>false</booleanValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>StartDateVariance</name>
                <extensionName>c:dmRepeaterFormulaCalculatorDate</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>label</name>
                    <value>
                        <stringValue>Start Date Variance </stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>value1</name>
                    <value>
                        <elementReference>varItems[$EachItem].Start_Date_Previous__c</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>value2</name>
                    <value>
                        <elementReference>repeater.AllItems[$EachItem].Proposed_Start_Date</elementReference>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>4</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>repeater.AllItems[$EachItem].Remove_this_Phase</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <booleanValue>false</booleanValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>invisibleLB1</name>
                <extensionName>c:dmRepeaterDataCacher</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Current_End_Date</name>
                <dataType>Date</dataType>
                <defaultValue>
                    <elementReference>varItems[$EachItem].End_Date_Previous__c</elementReference>
                </defaultValue>
                <fieldText>Current End Date</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isReadOnly>
                    <booleanValue>true</booleanValue>
                </isReadOnly>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>4</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>repeater.AllItems[$EachItem].Remove_this_Phase</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <booleanValue>false</booleanValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Proposed_End_Date</name>
                <dataType>Date</dataType>
                <defaultValue>
                    <elementReference>varItems[$EachItem].End_Date__c</elementReference>
                </defaultValue>
                <fieldText>Proposed End Date</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>4</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>repeater.AllItems[$EachItem].Remove_this_Phase</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <booleanValue>false</booleanValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>EndDateVariance</name>
                <extensionName>c:dmRepeaterFormulaCalculatorDate</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>label</name>
                    <value>
                        <stringValue>End Date Variance</stringValue>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>value1</name>
                    <value>
                        <elementReference>varItems[$EachItem].End_Date_Previous__c</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>value2</name>
                    <value>
                        <elementReference>repeater.AllItems[$EachItem].Proposed_End_Date</elementReference>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>4</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>repeater.AllItems[$EachItem].Remove_this_Phase</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <booleanValue>false</booleanValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <inputParameters>
                <name>collection</name>
                <value>
                    <elementReference>varItems</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canAddItem</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canRemoveItem</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varChangeControlRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingAwardAmendment</objectType>
    </variables>
    <variables>
        <name>varEachItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Change_Control_Request_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>varFundingAward</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingAward</objectType>
    </variables>
    <variables>
        <name>varHasBaseline</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Change_Control_Request_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>varNewItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Change_Control_Request_Line_Item__c</objectType>
    </variables>
</Flow>
