force-app/main/default/flows/GMS_Key_Data_Display.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_25_26_Drawdown</name>
        <label>Assign 25/26 Drawdown</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Var_2526_Drawdown</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_25_25_Drawdowns.Funding_Amount_Requested__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_25_25_Drawdowns</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_26_27_Drawdown</name>
        <label>Assign 26/27 Drawdown</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Var_2627_Drawdown</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_26_27_Drawdown.Funding_Amount_Requested__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_26_27_Drawdown</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_27_28_Drawdown</name>
        <label>Assign 27/28 Drawdown</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Var_2728_Drawdown</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_27_28_Drawdown.Funding_Amount_Requested__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_27_28_Drawdown</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_28_29_Drawdown</name>
        <label>Assign 28/29 Drawdown</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_2829_Drawdown</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_28_29_Drawdown.Funding_Amount_Requested__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_28_29_Drawdown</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_29_30_Drawdown</name>
        <label>Assign 29/30 Drawdown</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_2930_Drawdown</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_29_30_Drawdown.Funding_Amount_Requested__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_29_30_Drawdown</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Baseline_Details</name>
        <label>Assign Baseline Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Total_Homes_Treated</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Award_Baseline.Total_Homes_to_be_Upgraded__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Total_Award</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Award_Baseline.Baseline_Total_Grant_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Property_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Disbursement_Details</name>
        <label>Assign Disbursement Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Total_Payments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Disbursements.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Disbursements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_FY1_Finance_variables</name>
        <label>Assign FY1 Finance variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_FY1_total_grant</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_FY1_Financials.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_FY1_Financials</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_FY1_value</name>
        <label>Assign FY1 value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Total_Award_FY1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_FY1_Baseline.Baseline_Total_Grant_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_FY1_Baseline</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_FY2_Finance_variables</name>
        <label>Assign FY2 Finance variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_FY2_total_grant</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_FY2_Financials.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_FY2_Financials</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_FY2_value</name>
        <label>Assign FY2 value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Total_Award_FY2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_FY2_Baseline.Baseline_Total_Grant_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_FY2_Baseline</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_FY3_Finance_variables</name>
        <label>Assign FY3 Finance variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_FY3_total_grant</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_FY3_Financials.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_FY3_Financials</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_FY3_value</name>
        <label>Assign FY3 value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Total_Award_FY3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_FY3_Baseline.Baseline_Total_Grant_Spend__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_FY3_Baseline</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Property_Details_Count</name>
        <label>Assign Property Details Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Property_Details_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Property_Details</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Award_SHF_Challenge_Fund_Choice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_recordId</name>
        <label>Assign recordId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Run_User_Award_Retrieve.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Funding_Award</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_Drawdown_Figures</name>
        <label>Assign Total Drawdown Figures</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TotalDrawdownToDate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Var_2526_Drawdown</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalDrawdownToDate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Var_2627_Drawdown</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalDrawdownToDate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Var_2728_Drawdown</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalFundingRemainingToDrawdown</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fla_2526_Remaining_Drawdown</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalFundingRemainingToDrawdown</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fla_2627_Remaining_Drawdown</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalFundingRemainingToDrawdown</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fla_2728_Remaining_Drawdown</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Key_Data_Display</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Disbursement_Details</name>
        <label>Copy 1 of Assign Disbursement Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Total_Payments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_Loop_Disbursements.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Loop_Disbursements</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Disbursements_25_26</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Disbursements 25/26</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_Disbursements_25_26</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Disbursements</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Disbursements_25_26.Payment_Period_Start__c</leftValueReference>
            <operator>GreaterThanOrEqualTo</operator>
            <rightValue>
                <dateValue>2025-04-01</dateValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Disbursements_25_26.Payment_Period_End__c</leftValueReference>
            <operator>LessThanOrEqualTo</operator>
            <rightValue>
                <dateValue>2026-03-31</dateValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_FY1_Financials</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Disbursements_26_27</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Disbursements 26/27</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_Disbursements_26_27</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Disbursements</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Disbursements_26_27.Payment_Period_Start__c</leftValueReference>
            <operator>GreaterThanOrEqualTo</operator>
            <rightValue>
                <dateValue>2026-04-01</dateValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Disbursements_26_27.Payment_Period_End__c</leftValueReference>
            <operator>LessThanOrEqualTo</operator>
            <rightValue>
                <dateValue>2027-04-30</dateValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_FY2_Financials</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Disbursements_27_28</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Disbursements 27/28</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_Disbursements_27_28</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Disbursements</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Disbursements_27_28.Payment_Period_Start__c</leftValueReference>
            <operator>GreaterThanOrEqualTo</operator>
            <rightValue>
                <dateValue>2027-04-01</dateValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Disbursements_27_28.Payment_Period_End__c</leftValueReference>
            <operator>LessThanOrEqualTo</operator>
            <rightValue>
                <dateValue>2028-04-30</dateValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_FY3_Financials</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_for_FY1_Baseline</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter for FY1 Baseline</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_for_FY1_Baseline</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_FY_Baselines</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_for_FY1_Baseline.Baseline_Start_Date__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <dateValue>2025-04-01</dateValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_for_FY1_Baseline.Baseline_End_Date__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <dateValue>2026-03-31</dateValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_FY1_Baseline</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_for_FY2_Baseline</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter for FY2 Baseline</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_for_FY2_Baseline</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_FY_Baselines</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_for_FY2_Baseline.Baseline_Start_Date__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <dateValue>2026-04-01</dateValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_for_FY2_Baseline.Baseline_End_Date__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <dateValue>2027-03-31</dateValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_FY2_Baseline</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_for_FY3_Baseline</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter for FY3 Baseline</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_for_FY3_Baseline</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_FY_Baselines</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_for_FY3_Baseline.Baseline_Start_Date__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <dateValue>2027-04-01</dateValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_for_FY3_Baseline.Baseline_End_Date__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <dateValue>2028-03-31</dateValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_FY3_Baseline</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Award_SHF_Challenge_Fund_Choice</name>
        <label>Award SHF Challenge Fund Choice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_FY_Baselines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not SHF Challenge Fund</defaultConnectorLabel>
        <rules>
            <name>Is_SHF_Challenge_Fund</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Funding_Award.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SHF Challenge Fund</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Funding_Drawdown_Requests</targetReference>
            </connector>
            <label>Is SHF Challenge Fund</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Input_Variable</name>
        <label>Check Input Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Funding_Award</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Input Record Id</defaultConnectorLabel>
        <rules>
            <name>Is_User_Record_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_User_Award_Retrieve</targetReference>
            </connector>
            <label>Is User Record Id</label>
        </rules>
    </decisions>
    <description>Screen flow that displays key data from across the Award</description>
    <environments>Default</environments>
    <formulas>
        <name>fla_2526_Remaining_Drawdown</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Award_Baseline.Grant_Spend_25_26__c} - {!Var_2526_Drawdown}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fla_2627_Remaining_Drawdown</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Award_Baseline.Grant_Spend_26_27__c} - {!Var_2627_Drawdown}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fla_2728_Remaining_Drawdown</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Award_Baseline.Grant_Spend_27_28__c} - {!Var_2728_Drawdown}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fla_Total_Funding_Remaining_to_Drawdown</name>
        <dataType>Currency</dataType>
        <expression>{!fla_2526_Remaining_Drawdown} + {!fla_2627_Remaining_Drawdown} + {!fla_2728_Remaining_Drawdown}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>var_LeftToReportFinance_Y1</name>
        <dataType>Currency</dataType>
        <expression>{!var_Total_Award_FY1} - {!var_FY1_total_grant}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>var_LeftToReportFinance_Y2</name>
        <dataType>Currency</dataType>
        <expression>{!var_Total_Award_FY2} - {!var_FY2_total_grant}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>var_LeftToReportFinance_Y3</name>
        <dataType>Currency</dataType>
        <expression>{!var_Total_Award_FY3} - {!var_FY3_total_grant}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>GMS - Key Data Display {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>GMS - Key Data Display</label>
    <loops>
        <name>Copy_1_of_Loop_Disbursements</name>
        <label>Copy 1 of Loop Disbursements</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Copy_1_of_Get_Disbursements</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Assign_Disbursement_Details</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Total_Drawdown_Figures</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_25_25_Drawdowns</name>
        <label>Loop 25/25 Drawdowns</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Funding_Drawdown_Requests</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_25_26_Drawdown</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Funding_Drawdown_Requests_26_27</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_26_27_Drawdown</name>
        <label>Loop 26/27 Drawdown</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Funding_Drawdown_Requests_26_27</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_26_27_Drawdown</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Funding_Drawdown_Requests_27_28</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_27_28_Drawdown</name>
        <label>Loop 27/28 Drawdown</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Funding_Drawdown_Requests_27_28</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_27_28_Drawdown</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Funding_Drawdown_Requests_28_29</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_28_29_Drawdown</name>
        <label>Loop 28/29 Drawdown</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Funding_Drawdown_Requests_28_29</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_28_29_Drawdown</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Funding_Drawdown_Requests_29_30</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_29_30_Drawdown</name>
        <label>Loop 29/30 Drawdown</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Funding_Drawdown_Requests_29_30</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_29_30_Drawdown</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Get_Disbursements</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Disbursements</name>
        <label>Loop Disbursements</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Disbursements</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Disbursement_Details</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Filter_Disbursements_25_26</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_FY1_Baseline</name>
        <label>Loop FY1 Baseline</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Filter_for_FY1_Baseline</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_FY1_value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Filter_for_FY2_Baseline</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_FY1_Financials</name>
        <label>Loop FY1 Financials</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Filter_Disbursements_25_26</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_FY1_Finance_variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Filter_Disbursements_26_27</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_FY2_Baseline</name>
        <label>Loop FY2 Baseline</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Filter_for_FY2_Baseline</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_FY2_value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Filter_for_FY3_Baseline</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_FY2_Financials</name>
        <label>Loop FY2 Financials</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Filter_Disbursements_26_27</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_FY2_Finance_variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Filter_Disbursements_27_28</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_FY3_Baseline</name>
        <label>Loop FY3 Baseline</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Filter_for_FY3_Baseline</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_FY3_value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Disbursements</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_FY3_Financials</name>
        <label>Loop FY3 Financials</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Filter_Disbursements_27_28</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_FY3_Finance_variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>New_Key_Data_Display</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Copy_1_of_Get_Disbursements</name>
        <label>Copy 1 of Get Disbursements</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Loop_Disbursements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FundingAwardId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Funding_Award.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FundingDisbursement</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Award_Baseline</name>
        <label>Get Award Baseline</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Baseline_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Funding_Award__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Funding_Award.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Baseline_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Award</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FundingBaseline__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Disbursements</name>
        <label>Get Disbursements</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Disbursements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FundingAwardId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Funding_Award.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FundingDisbursement</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Funding_Award</name>
        <label>Get Funding Award</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Award_Baseline</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FundingAward</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Funding_Drawdown_Requests</name>
        <label>Get Funding Drawdown Requests 25/26</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_25_25_Drawdowns</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Funding_Award__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Funding_Award.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Date_Submitted__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <dateValue>2025-03-30</dateValue>
            </value>
        </filters>
        <filters>
            <field>Date_Submitted__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <dateValue>2026-04-01</dateValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Funding_Drawdown_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Funding_Drawdown_Requests_26_27</name>
        <label>Get Funding Drawdown Requests 26/27</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_26_27_Drawdown</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Funding_Award__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Funding_Award.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Date_Submitted__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <dateValue>2026-03-30</dateValue>
            </value>
        </filters>
        <filters>
            <field>Date_Submitted__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <dateValue>2027-04-01</dateValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Funding_Drawdown_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Funding_Drawdown_Requests_27_28</name>
        <label>Get Funding Drawdown Requests 27/28</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_27_28_Drawdown</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Funding_Award__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Funding_Award.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Date_Submitted__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <dateValue>2027-03-30</dateValue>
            </value>
        </filters>
        <filters>
            <field>Date_Submitted__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <dateValue>2028-04-01</dateValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Funding_Drawdown_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Funding_Drawdown_Requests_28_29</name>
        <label>Get Funding Drawdown Requests 28/29</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_28_29_Drawdown</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Funding_Award__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Funding_Award.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Date_Submitted__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <dateValue>2028-03-30</dateValue>
            </value>
        </filters>
        <filters>
            <field>Date_Submitted__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <dateValue>2029-04-01</dateValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Funding_Drawdown_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Funding_Drawdown_Requests_29_30</name>
        <label>Get Funding Drawdown Requests 29/30</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_29_30_Drawdown</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Funding_Award__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Funding_Award.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Date_Submitted__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <dateValue>2029-03-30</dateValue>
            </value>
        </filters>
        <filters>
            <field>Date_Submitted__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <dateValue>2030-04-01</dateValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Funding_Drawdown_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_FY_Baselines</name>
        <label>Get FY Baselines</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_for_FY1_Baseline</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Funding_Award__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Funding_Award.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Baseline_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Financial Year</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FundingBaseline__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Phase_Tracker</name>
        <label>Get Phase Tracker</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Property_Details_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Funding_Award__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Funding_Award.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>4. Cumulative Including Submitted Phases</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Phase_Tracker__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Property_Details</name>
        <label>Get Property Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Phase_Tracker</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Funding_Award__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Funding_Award.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FundingPropertyDetail__c</object>
        <sortField>Address_Line_1__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>New_Key_Data_Display</name>
        <label>New Key Data Display</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>New_Key_Data_Display_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Key_Data_Display_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Total_Grant_Awarded</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>var_Total_Award</elementReference>
                    </defaultValue>
                    <fieldText>Total Grant Awarded</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Total_Homes_to_be_Upgraded</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>var_Total_Homes_Treated</elementReference>
                    </defaultValue>
                    <fieldText>Total Homes to be Upgraded</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Key_Data_Display_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Total_Grant_Drawdown</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>var_Total_Payments</elementReference>
                    </defaultValue>
                    <fieldText>Total Grant Drawdown</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Actual_Homes_Upgraded</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>var_Property_Details_Count</elementReference>
                    </defaultValue>
                    <fieldText>Actual Homes Upgraded</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Local_Grant_Key_Data</name>
            <fieldText>Local Grant Key Data</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Local_Grant_Key_Data_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Total_Grant_Awarded_FY1</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>var_Total_Award_FY1</elementReference>
                    </defaultValue>
                    <fieldText>Total Grant Awarded FY1</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>4</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Total_Grant_Drawdown_FY1</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>var_FY2_total_grant</elementReference>
                    </defaultValue>
                    <fieldText>Total Grant Drawdown FY1</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>4</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Left_to_report_for_FY1</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>var_LeftToReportFinance_Y1</elementReference>
                    </defaultValue>
                    <fieldText>Left to report for FY1</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>4</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Total_Grant_Awarded_FY2</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>var_Total_Award_FY2</elementReference>
                    </defaultValue>
                    <fieldText>Total Grant Awarded FY2</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>4</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Total_Grant_Drawdown_FY2</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>var_FY2_total_grant</elementReference>
                    </defaultValue>
                    <fieldText>Total Grant Drawdown FY2</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>4</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Left_to_report_for_FY2</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>var_LeftToReportFinance_Y2</elementReference>
                    </defaultValue>
                    <fieldText>Left to report for FY2</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>4</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Total_Grant_Awarded_FY3</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>var_Total_Award_FY3</elementReference>
                    </defaultValue>
                    <fieldText>Total Grant Awarded FY3</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>4</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Total_Grant_Drawdown_FY3</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>var_FY3_total_grant</elementReference>
                    </defaultValue>
                    <fieldText>Total Grant Drawdown FY3</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>4</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Left_to_report_for_FY3</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>var_LeftToReportFinance_Y3</elementReference>
                    </defaultValue>
                    <fieldText>Left to report for FY3</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>4</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_SHF_Challenge_Fund</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Social_Housing_Key_Data</name>
            <fieldText>Social Housing Key Data</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Social_Housing_Key_Data_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Baseline_Total_Grant_Spend</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Award_Baseline.Baseline_Total_Grant_Spend__c</elementReference>
                    </defaultValue>
                    <fieldText>Baseline Total Grant Spend</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>6</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Total_Co_funding_Spend</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Award_Baseline.Baseline_Total_Co_Funding_Spend__c</elementReference>
                    </defaultValue>
                    <fieldText>Total Co-Funding Spend</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>6</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Blank1</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>6</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Total_Co_Funding_Spend_FY_24_25</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Award_Baseline.Co_Funding_Spend_24_25__c</elementReference>
                    </defaultValue>
                    <fieldText>Total Co-Funding Spend FY 24/25</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>6</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Total_Grant_Spend_FY_25_26</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Award_Baseline.Grant_Spend_25_26__c</elementReference>
                    </defaultValue>
                    <fieldText>Total Grant Spend FY 25/26</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>6</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Total_Co_Funding_Spend_FY_25_26</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Award_Baseline.Co_Funding_Spend_25_26__c</elementReference>
                    </defaultValue>
                    <fieldText>Total Co-Funding Spend FY 25/26</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>6</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Total_Grant_Spend_FY_26_27</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Award_Baseline.Grant_Spend_26_27__c</elementReference>
                    </defaultValue>
                    <fieldText>Total Grant Spend FY 26/27</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>6</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Total_Co_Funding_Spend_FY_26_27</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Award_Baseline.Co_Funding_Spend_26_27__c</elementReference>
                    </defaultValue>
                    <fieldText>Total Co-Funding Spend FY 26/27</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>6</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Total_Grant_Spend_FY_27_28</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Award_Baseline.Grant_Spend_27_28__c</elementReference>
                    </defaultValue>
                    <fieldText>Total Grant Spend FY 27/28</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>6</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Total_Co_Funding_Spend_FY_27_28</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Award_Baseline.Co_Funding_Spend_27_28__c</elementReference>
                    </defaultValue>
                    <fieldText>Total Co-Funding Spend FY 27/28</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>6</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Blank</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>6</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Total_Co_Funding_Spend_FY_28_29</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Award_Baseline.Co_Funding_Spend_28_29__c</elementReference>
                    </defaultValue>
                    <fieldText>Total Co-Funding Spend FY 28/29</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>6</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Baseline_Total_Co_Funding_A_A_Spend</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Funding_Award.Current_Baseline__r.Baseline_Co_funding_A_A_spend__c</elementReference>
                    </defaultValue>
                    <fieldText>Baseline Total Co-Funding A&amp;A Spend</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>6</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Baseline_Total_Grant_A_A_Spend</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Funding_Award.Current_Baseline__r.Baseline_Grant_A_A_Spend__c</elementReference>
                    </defaultValue>
                    <fieldText>Baseline Total Grant A&amp;A Spend</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>6</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>A_A_Spend_To_Date</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Funding_Award.Combined_A_A_Spent__c</elementReference>
                    </defaultValue>
                    <fieldText>A&amp;A Spend To Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Total_Drawdown_to_Date</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>TotalDrawdownToDate</elementReference>
                    </defaultValue>
                    <fieldText>Total Drawdown to Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(23, 42, 85); font-family: Avenir, sans-serif; font-size: 14pt;&quot;&gt;Total for all Financial Years&lt;/strong&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>6</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Total_Grant_Funding_Remaining_to_Drawdown</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>TotalFundingRemainingToDrawdown</elementReference>
                    </defaultValue>
                    <fieldText>Total Grant Funding Remaining to Drawdown</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(23, 42, 85); font-family: Avenir, sans-serif; font-size: 14pt;&quot;&gt;Total for all Financial Years&lt;/strong&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>6</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_SHF_Challenge_Fund</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Financial_Year_25_26</name>
            <fieldText>Financial Year 25/26</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Financial_Year_25_26_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Phase_Grant_Costs_to_Date_FY_25_26</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Phase_Tracker.Grant_Total_FY_2526__c</elementReference>
                    </defaultValue>
                    <fieldText>Phase Grant Costs to Date FY 25/26</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>6</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Total_Remaining_FY_25_26</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Phase_Tracker.Grant_Total_FY_25_26_Variance_Number__c</elementReference>
                    </defaultValue>
                    <fieldText>Total Remaining FY 25/26</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>6</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Drawdown_to_Date_FY_25_26</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Var_2526_Drawdown</elementReference>
                    </defaultValue>
                    <fieldText>Drawdown to Date FY 25/26</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>6</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Grant_Funding_Remaining_to_Drawdown_FY_25_26</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>fla_2526_Remaining_Drawdown</elementReference>
                    </defaultValue>
                    <fieldText>Grant Funding Remaining to Drawdown FY 25/26</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>6</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_SHF_Challenge_Fund</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Financial_Year_26_27</name>
            <fieldText>Financial Year 26/27</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Financial_Year_26_27_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Phase_Grant_Costs_to_Date_FY_26_27</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Phase_Tracker.Grant_Total_FY_2627__c</elementReference>
                    </defaultValue>
                    <fieldText>Phase Grant Costs to Date FY 26/27</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>6</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Total_Remaining_FY_26_27</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Phase_Tracker.Grant_Total_FY_26_27_Variance_Number__c</elementReference>
                    </defaultValue>
                    <fieldText>Total Remaining FY 26/27</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>6</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Drawdown_to_Date_FY_26_27</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Var_2627_Drawdown</elementReference>
                    </defaultValue>
                    <fieldText>Drawdown to Date FY 26/27</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>6</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Grant_Funding_Remaining_to_Drawdown_FY_26_27</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>fla_2627_Remaining_Drawdown</elementReference>
                    </defaultValue>
                    <fieldText>Grant Funding Remaining to Drawdown FY 26/27</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>6</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_SHF_Challenge_Fund</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Financial_Year_27_28</name>
            <fieldText>Financial Year 27/28</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Financial_Year_27_28_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Phase_Grant_Costs_to_Date_FY_27_28</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Phase_Tracker.Grant_Total_FY_2728__c</elementReference>
                    </defaultValue>
                    <fieldText>Phase Grant Costs to Date FY 27/28</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>6</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Total_Remaining_FY_27_28</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Get_Phase_Tracker.Grant_Total_FY_27_28_Variance_Number__c</elementReference>
                    </defaultValue>
                    <fieldText>Total Remaining FY 27/28</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>6</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Drawdown_to_Date_FY_27_28</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Var_2728_Drawdown</elementReference>
                    </defaultValue>
                    <fieldText>Drawdown to Date FY 27/28</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>6</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Grant_Funding_Remaining_to_Drawdown_FY_27_28</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>fla_2728_Remaining_Drawdown</elementReference>
                    </defaultValue>
                    <fieldText>Grant Funding Remaining to Drawdown FY 27/28</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>6</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_SHF_Challenge_Fund</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Input_Variable</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Run_User_Award_Retrieve</name>
        <label>Run User Award Retrieve</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_recordId</targetReference>
        </connector>
        <flowName>DESNZ_User_Award_Retrieve</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>currentItem_Filter_Disbursements_25_26</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingDisbursement</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Disbursements_26_27</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingDisbursement</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Disbursements_27_28</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingDisbursement</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_for_FY1_Baseline</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingBaseline__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_for_FY2_Baseline</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingBaseline__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_for_FY3_Baseline</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingBaseline__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalDrawdownToDate</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalFundingRemainingToDrawdown</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Var_2526_Drawdown</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Var_2627_Drawdown</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Var_2728_Drawdown</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_2829_Drawdown</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_2930_Drawdown</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_FY1_total_grant</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_FY2_total_grant</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_FY3_total_grant</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_Property_Details_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_Total_Award</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_Total_Award_FY1</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_Total_Award_FY2</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_Total_Award_FY3</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_Total_Homes_Treated</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_Total_Payments</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
