force-app/main/default/flows/GMS_Funding_Drawdown_Requests_Approved_to_Rejected.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_to_record_collection_variable</name>
        <label>Assign to record collection variable</label>
        <locationX>270</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>VarBaselineRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarBaselineRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Drawdown_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_record_variable</name>
        <label>Assign to record variable</label>
        <locationX>402</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>VarBaselineRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Drawdown_Line_Items.Baseline__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarBaselineRecord.Challenge_Fund_Capital_Drawn_Down__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChallengeFundDrawndownFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarBaselineRecord.Challenge_Fund_Capital_Remaining__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChallengeFundCapitalRemaining</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_record_collection_variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_to_record_variable</name>
        <label>Assign to record variable</label>
        <locationX>138</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>VarBaselineRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_First_Phase_Baseline.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarBaselineRecord.Challenge_Fund_Capital_Drawn_Down__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChallengeFundDrawndownFormulaAward</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarBaselineRecord.Challenge_Fund_Capital_Remaining__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChallengeFundCapitalRemainingAward</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_record_collection_variable</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_this_Drawdown_Line_Item_related_to_the_Award_Baseline</name>
        <label>Is this Drawdown Line Item related to the Award Baseline?</label>
        <locationX>270</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Assign_to_record_variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not related to the Award Baseline</defaultConnectorLabel>
        <rules>
            <name>Related_to_the_Award_Baseline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Drawdown_Line_Items.Baseline__r.Baseline_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Award</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_to_record_variable</targetReference>
            </connector>
            <label>Related to the Award Baseline</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_the_previous_Status_Approved</name>
        <label>Was the previous &quot;Status&quot; Approved?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Not Approved</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Challenge_Fund_Record_Type.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Drawdown_Line_Items</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <description>Automation fires when a Funding Drawdown Request has gone from &quot;Approved&quot; to &quot;Rejected&quot; status, meaning that the Drawdown figures on the associated Baseline of the Line Items need to be recalculated.</description>
    <environments>Default</environments>
    <formulas>
        <name>ChallengeFundCapitalRemaining</name>
        <dataType>Currency</dataType>
        <expression>{!Loop_through_Drawdown_Line_Items.Baseline__r.Challenge_Fund_Capital_Remaining__c} + {!Loop_through_Drawdown_Line_Items.Capital_Costs_Only__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ChallengeFundCapitalRemainingAward</name>
        <dataType>Currency</dataType>
        <expression>{!Get_First_Phase_Baseline.Challenge_Fund_Capital_Remaining__c} + {!Loop_through_Drawdown_Line_Items.Capital_Costs_Only__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ChallengeFundDrawndownFormula</name>
        <dataType>Currency</dataType>
        <expression>{!Loop_through_Drawdown_Line_Items.Baseline__r.Challenge_Fund_Capital_Drawn_Down__c} - {!Loop_through_Drawdown_Line_Items.Capital_Costs_Only__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ChallengeFundDrawndownFormulaAward</name>
        <dataType>Currency</dataType>
        <expression>{!Get_First_Phase_Baseline.Challenge_Fund_Capital_Drawn_Down__c} - {!Loop_through_Drawdown_Line_Items.Capital_Costs_Only__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>GMS - Funding Drawdown Requests Rejected {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GMS - Funding Drawdown Requests | Approved to Rejected</label>
    <loops>
        <name>Loop_through_Drawdown_Line_Items</name>
        <label>Loop through Drawdown Line Items</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <collectionReference>Get_Drawdown_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_this_Drawdown_Line_Item_related_to_the_Award_Baseline</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Baselines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Challenge_Fund_Record_Type</name>
        <label>Get Challenge Fund Record Type</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_the_previous_Status_Approved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Funding_Drawdown_Request__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Challenge</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Drawdown_Line_Items</name>
        <label>Get Drawdown Line Items</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_First_Phase_Baseline</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Funding_Drawdown_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Funding_Drawdown_Request_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_First_Phase_Baseline</name>
        <label>Get First Phase Baseline</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Drawdown_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Funding_Award__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Funding_Award__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Historic</stringValue>
            </value>
        </filters>
        <filters>
            <field>Baseline_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Phase</stringValue>
            </value>
        </filters>
        <filters>
            <field>Baseline_Version__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Phase-1</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FundingBaseline__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Baselines</name>
        <label>Update Baselines</label>
        <locationX>50</locationX>
        <locationY>1355</locationY>
        <inputReference>VarBaselineRecordCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Challenge_Fund_Record_Type</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <object>Funding_Drawdown_Request__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>VarBaselineRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingBaseline__c</objectType>
    </variables>
    <variables>
        <name>VarBaselineRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingBaseline__c</objectType>
    </variables>
</Flow>
