force-app/main/default/flows/GMS_Change_Control_Request_Form_Grant_Recipient_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Grl_Change_Item_fields</name>
        <label>Assign Grl Change Item fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varGrlItem.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consortium_Member_Lookup.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGrlItem.Change_Control_Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varChangeControlRequest.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGrlItem.GRL_Change_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason_for_Grant_Recipient_Lead_Change</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGrlItem.New_Consortium_Member_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Consortium_Member</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGrlItem.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Grant Recipient Lead Change</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGrlItem.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_GRL_Changes.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGrlItem.Reason_for_GRL_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>If_Other_Please_detail_who_the_new_GRL_is_and_why_the_change_has_happened</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGrlItem.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGrlItem.Consortium_Member__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consortium_Member</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Grl_Change_Control_Request</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <description>Screen for allowing changes to the Grant Recipient Lead on a change control request</description>
    <dynamicChoiceSets>
        <name>chc_GRL_Change_Item</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>GRL_Change_Reason__c</picklistField>
        <picklistObject>Change_Control_Request_Line_Item__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chcSet_Consortium_Members</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFundingAward.AwardeeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFundingAward.Awardee.ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>GMS - Change Control Request Form - Grant Recipient Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GMS - Change Control Request Form - Grant Recipient Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Grl_Change_Control_Request</name>
        <label>Create/update Grl Change Control Request</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <doesUpsert>true</doesUpsert>
        <inputReference>varGrlItem</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_GRL_Changes</name>
        <label>Get Existing GRL Changes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Grant Recipient Lead Change</stringValue>
            </value>
        </filters>
        <filters>
            <field>Change_Control_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varChangeControlRequest.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Change_Control_Request_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Grant_Recipient_Lead_Changes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFundingAward.Record_Type_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Change_Control_Request_Line_Item__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Grant_Recipient_Lead_Changes</name>
        <label>Grant Recipient Lead Changes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Grl_Change_Item_fields</targetReference>
        </connector>
        <fields>
            <name>ChatContext</name>
            <extensionName>c:dmChatContextUpdater</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>contextChild</name>
                <value>
                    <elementReference>varChangeControlRequest.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contextChildName</name>
                <value>
                    <elementReference>varChangeControlRequest.Name</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>GuidanceText</name>
            <fieldText>&lt;p&gt;Please indicate below if you wish to change your Consortium Lead Grant Recipient. You should select the reason for the Lead Grant Recipient change. If you require an option outside of those in the drop down list, please select &apos;other&apos; and add this detail into the text box provided.&amp;nbsp;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Reason_for_Grant_Recipient_Lead_Change</name>
            <choiceReferences>chc_GRL_Change_Item</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Existing_GRL_Changes.GRL_Change_Reason__c</elementReference>
            </defaultValue>
            <fieldText>Reason for Grant Recipient Lead Change</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>If_Other_Please_detail_who_the_new_GRL_is_and_why_the_change_has_happened</name>
            <defaultValue>
                <stringValue>{!Get_Existing_GRL_Changes.Reason_for_GRL_Change__c}</stringValue>
            </defaultValue>
            <fieldText>If Other, Please detail who the new GRL is and why the change has happened</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Reason_for_Grant_Recipient_Lead_Change</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Other</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Consortium_Member_Lookup</name>
            <choiceReferences>chcSet_Consortium_Members</choiceReferences>
            <defaultValue>
                <elementReference>Get_Existing_GRL_Changes.Account__c</elementReference>
            </defaultValue>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Consortium Member Lookup</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>(1 OR 2) AND 3</conditionLogic>
                <conditions>
                    <leftValueReference>Reason_for_Grant_Recipient_Lead_Change</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>The Lead Applicant is being replaced by an existing consortium member but remaining in The consortium</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Reason_for_Grant_Recipient_Lead_Change</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>The Lead Applicant is being replaced by an exisiting consortium member and leaving the consortium</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varFundingAward.Record_Type_Name__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Local Grant</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Consortium_Member</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Existing_GRL_Changes.Consortium_Member__c</elementReference>
            </defaultValue>
            <fieldText>Consortium Member</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>(1 OR 2) AND 3</conditionLogic>
                <conditions>
                    <leftValueReference>Reason_for_Grant_Recipient_Lead_Change</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>The Lead Applicant is being replaced by an existing consortium member but remaining in The consortium</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Reason_for_Grant_Recipient_Lead_Change</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>The Lead Applicant is being replaced by an exisiting consortium member and leaving the consortium</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varFundingAward.Record_Type_Name__c</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>SHF</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>New_Consortium_Member</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Existing_GRL_Changes.New_Consortium_Member_Name__c</elementReference>
            </defaultValue>
            <fieldText>New Consortium Member</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Reason_for_Grant_Recipient_Lead_Change</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>The Lead Applicant is being replaced by a new consortium member but remaining in The consortium</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Reason_for_Grant_Recipient_Lead_Change</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>The Lead Applicant is being replaced by a new consortium member and leaving the consortium</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Existing_GRL_Changes</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varChangeControlRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingAwardAmendment</objectType>
    </variables>
    <variables>
        <name>varFundingAward</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingAward</objectType>
    </variables>
    <variables>
        <name>varGrlItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Change_Control_Request_Line_Item__c</objectType>
    </variables>
</Flow>
