force-app/main/default/flows/GMS_Change_Control_Request_Consortium_Member_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_new_item_to_collection</name>
        <label>Assign new item to collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varEachItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_CM_Repeater</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_Line_item</name>
        <label>Assign new Line item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varEachItem.Change_Action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_CM_Repeater.Consortium_Member_Change_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachItem.New_Consortium_Member_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_CM_Repeater.New_Consortium_Member_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachItem.CM_Change_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_CM_Repeater.Reason_for_Change</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachItem.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_CM_Repeater.Consortium_Member_LG.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachItem.Change_Control_Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varChangeControlRequest.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachItem.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Consortium Member Change</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachItem.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEachItem.Consortium_Member__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_CM_Repeater.Consortium_Member_SHF</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_new_item_to_collection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>chc_Add</name>
        <choiceText>Add</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_Remove</name>
        <choiceText>Remove</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Remove</stringValue>
        </value>
    </choices>
    <choices>
        <name>chc_Rename</name>
        <choiceText>Name Change</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Name Change</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_Existing_Items</name>
        <label>Check Existing Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Initial_records_for_delete</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_original_items</targetReference>
            </connector>
            <label>Has Existing</label>
        </rules>
    </decisions>
    <description>Handles allowing the GRs asking for changes to consortium members on their awards</description>
    <dynamicChoiceSets>
        <name>chcSet_Consortium_Accounts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFundingAward.AwardeeId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>GMS - Change Control Request Consortium Member Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GMS - Change Control Request Consortium Member Screen</label>
    <loops>
        <name>Loop_All_CM_Repeater</name>
        <label>Loop All CM Repeater</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>repeaterCM.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_new_Line_item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Change_Control_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Change_Control_Line_Items</name>
        <label>Create Change Control Line Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Existing_Items</targetReference>
        </connector>
        <inputReference>varLineItems</inputReference>
    </recordCreates>
    <recordDeletes>
        <description>remove then original items so they aren&apos;t duplicated</description>
        <name>Delete_original_items</name>
        <label>Delete original items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Initial_records_for_delete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Existing_CM_Change_Items</name>
        <label>Get Existing CM Change Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Consortium_Member_Changes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Change_Control_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varChangeControlRequest.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Consortium Member Change</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Change_Control_Request_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_record_Type</name>
        <label>Get record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_CM_Change_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFundingAward.Record_Type_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Change_Control_Request_Line_Item__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Initial_records_for_delete</name>
        <label>Initial records for delete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_All_CM_Repeater</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Change_Control_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varChangeControlRequest.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Consortium Member Change</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Change_Control_Request_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Consortium_Member_Changes</name>
        <label>Consortium Member Changes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Initial_records_for_delete</targetReference>
        </connector>
        <fields>
            <name>ChildContext</name>
            <extensionName>c:dmChatContextUpdater</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>contextChild</name>
                <value>
                    <elementReference>varChangeControlRequest.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contextChildName</name>
                <value>
                    <elementReference>varChangeControlRequest.Name</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>GuidanceText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif; font-size: 10pt;&quot;&gt;Please indicate below if you wish to add or remove a member of your consortium, or if a consortium member needs to request a name change (including the consortium lead Grant Recipient).&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif; font-size: 10pt;&quot;&gt; &amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif; font-size: 10pt;&quot;&gt;Once you have selected the type of change you wish to request, please indicate the reason for this change. If you are wishing to change the name of a consortium member, please ensure you have selected the correct consortium member you wish to update.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif; font-size: 10pt;&quot;&gt; &amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif; font-size: 10pt;&quot;&gt;Please request all changes to consortium composition, where possible, in a single Project Change Request. Additional changes to the consortium composition can be added below by clicking the &apos;+ Add&apos; button. This will allow you to request multiple consortium composition changes within one request.&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif; font-size: 10pt;&quot;&gt; &amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif; font-size: 10pt;&quot;&gt;If you wish you change your consortium lead Grant Recipient, please select the &apos;Consortium Lead&apos; option on the previous page.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>repeaterCM</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Consortium_Member_Change_Type</name>
                <choiceReferences>chc_Add</choiceReferences>
                <choiceReferences>chc_Remove</choiceReferences>
                <choiceReferences>chc_Rename</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>Get_Existing_CM_Change_Items[$EachItem].Change_Action__c</elementReference>
                </defaultValue>
                <fieldText>Consortium Member Change Type</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Consortium_Member_LG</name>
                <choiceReferences>chcSet_Consortium_Accounts</choiceReferences>
                <defaultValue>
                    <elementReference>Get_Existing_CM_Change_Items[$EachItem].Account__c</elementReference>
                </defaultValue>
                <extensionName>flowruntime:choiceLookup</extensionName>
                <fieldText>Consortium Member</fieldText>
                <fieldType>ComponentChoice</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>(1 OR 2) AND 3</conditionLogic>
                    <conditions>
                        <leftValueReference>repeaterCM.AllItems[$EachItem].Consortium_Member_Change_Type</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <elementReference>chc_Remove</elementReference>
                        </rightValue>
                    </conditions>
                    <conditions>
                        <leftValueReference>repeaterCM.AllItems[$EachItem].Consortium_Member_Change_Type</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <elementReference>chc_Rename</elementReference>
                        </rightValue>
                    </conditions>
                    <conditions>
                        <leftValueReference>varFundingAward.Record_Type_Name__c</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Local Grant</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Consortium_Member_SHF</name>
                <dataType>String</dataType>
                <fieldText>Consortium Member</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>1 AND (2 OR 3)</conditionLogic>
                    <conditions>
                        <leftValueReference>varFundingAward.Record_Type_Name__c</leftValueReference>
                        <operator>Contains</operator>
                        <rightValue>
                            <stringValue>SHF</stringValue>
                        </rightValue>
                    </conditions>
                    <conditions>
                        <leftValueReference>repeaterCM.AllItems[$EachItem].Consortium_Member_Change_Type</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <elementReference>chc_Remove</elementReference>
                        </rightValue>
                    </conditions>
                    <conditions>
                        <leftValueReference>repeaterCM.AllItems[$EachItem].Consortium_Member_Change_Type</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <elementReference>chc_Rename</elementReference>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>New_Consortium_Member_Name</name>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>Get_Existing_CM_Change_Items[$EachItem].New_Consortium_Member_Name__c</elementReference>
                </defaultValue>
                <fieldText>New Consortium Member Name</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>or</conditionLogic>
                    <conditions>
                        <leftValueReference>repeaterCM.AllItems[$EachItem].Consortium_Member_Change_Type</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <elementReference>chc_Add</elementReference>
                        </rightValue>
                    </conditions>
                    <conditions>
                        <leftValueReference>repeaterCM.AllItems[$EachItem].Consortium_Member_Change_Type</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <elementReference>chc_Rename</elementReference>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Reason_for_Change</name>
                <defaultValue>
                    <stringValue>{!Get_Existing_CM_Change_Items[$EachItem].CM_Change_Reason__c}</stringValue>
                </defaultValue>
                <fieldText>Reason for Change</fieldText>
                <fieldType>LargeTextArea</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>repeaterCM.AllItems[$EachItem].Consortium_Member_Change_Type</leftValueReference>
                        <operator>IsNull</operator>
                        <rightValue>
                            <booleanValue>false</booleanValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <inputParameters>
                <name>collection</name>
                <value>
                    <elementReference>Get_Existing_CM_Change_Items</elementReference>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varChangeControlRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>FundingAwardAmendment</objectType>
    </variables>
    <variables>
        <name>varEachItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Change_Control_Request_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>varFundingAward</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>FundingAward</objectType>
    </variables>
    <variables>
        <name>varLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Change_Control_Request_Line_Item__c</objectType>
    </variables>
</Flow>
