force-app/main/default/flows/GMS_Create_Performance_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Existing_Performance_Record_URL</name>
        <label>Assign Existing Performance Record URL</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Existing_Performance_Record_URL</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>/</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Existing_Performance_Record_URL</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Existing_Monthly_Performance_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Performance_Record_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Monthly_Actual_Found_Message</name>
        <label>Assign Monthly Actual Found Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Monthly_Actual</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Monthly Actual Has Been Submitted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_Forecast_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Monthly_Actual_Not_Found_Message</name>
        <label>Assign Monthly Actual Not Found Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Monthly_Actual</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Monthly Actual Has Not Been Submitted Yet</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_Forecast_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Monthly_Forecast_Found_Message</name>
        <label>Assign Monthly Forecast Found Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Monthly_Forecast</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Monthly Forecast Has Been Submitted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Reporting_Date_for_Month</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Monthly_Forecast_Not_Found_Message</name>
        <label>Assign Monthly Forecast Not Found Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Monthly_Forecast</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Monthly Forecast Has Not Been Submitted Yet</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Reporting_Date_for_Month</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Monthly_Update_Found_Message</name>
        <label>Assign Monthly Update Found Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Monthly_Report</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Monthly Update was submitted on </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Monthly_Report</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Related_Monthly_Update.Date_of_Update__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_Actual_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Monthly_Update_Not_Found_Message</name>
        <label>Assign Monthly Update Not Found Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Monthly_Report</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Monthly Update Has Not Been Submitted Yet</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_Actual_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Performance_Record_URL</name>
        <label>Assign New Performance Record URL</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_New_Performance_Record_URL</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>/</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_New_Performance_Record_URL</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rcd_Performance_Record_New.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_New_Perfomance_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Performance_Record_Fields</name>
        <label>Assign Performance Record Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rcd_Performance_Record_New.Related_Funding_Award__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Funding_Award.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcd_Performance_Record_New.Parent_Baseline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Funding_Award.Current_Baseline__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcd_Performance_Record_New.Related_Monthly_Update__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Monthly_Update.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcd_Performance_Record_New.Related_Monthly_Actuals__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Actual_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcd_Performance_Record_New.Related_Monthly_Forecast__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Forecast_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcd_Performance_Record_New.Reporting_Month__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reporting_Month</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcd_Performance_Record_New.Reporting_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Year_Display</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcd_Performance_Record_New.Overall_Assessment_Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Reporting_Date_for_Month.Tenth_Working_Day__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcd_Performance_Record_New.Overall_Assessment_Submitted_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Monthly_Update.Date_of_Update__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcd_Performance_Record_New.GR_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Funding_Award_Participant.Related_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Performance_Management_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Reporting_Month_and_Year</name>
        <label>Assign Reporting Month and Year</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Month_Year</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reporting_Month</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Month_Year</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Month_Year</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Year</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Existing_Monthly_Performance_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Monthly_Actual_Found</name>
        <label>Check Monthly Actual Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Monthly_Actual_Not_Found_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Monthly Actual Found</defaultConnectorLabel>
        <rules>
            <name>Is_Monthly_Actual_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Actual_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Monthly_Actual_Found_Message</targetReference>
            </connector>
            <label>Is Monthly Actual Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Monthly_Forecast_Found</name>
        <label>Check Monthly Forecast Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Monthly_Forecast_Not_Found_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Monthly Forecast Found</defaultConnectorLabel>
        <rules>
            <name>Is_Monthly_Forecast_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Forecast_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Monthly_Forecast_Found_Message</targetReference>
            </connector>
            <label>Is Monthly Forecast Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Monthly_Update_Found</name>
        <label>Check Monthly Update Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Monthly_Update_Not_Found_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Monthly Update Found</defaultConnectorLabel>
        <rules>
            <name>Is_Monthly_Update_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Monthly_Update</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Monthly_Update_Found_Message</targetReference>
            </connector>
            <label>Is Monthly Update Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Performance_Record_Doesn_t_Exist</name>
        <label>Check Performance Record Doesn&apos;t Exist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Existing_Performance_Record_URL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Performance Record Does Exist</defaultConnectorLabel>
        <rules>
            <name>Performance_Record_Doesn_t_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Monthly_Performance_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Monthly_Update</targetReference>
            </connector>
            <label>Performance Record Doesn&apos;t Exist</label>
        </rules>
    </decisions>
    <description>Screen flow to populate core fields on creation of Funding Award Performance Records</description>
    <dynamicChoiceSets>
        <name>chc_Reporting_Month</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reporting_Month__c</picklistField>
        <picklistObject>Funding_Award_Performance_Management__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chc_Reporting_Year</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reporting_Year__c</picklistField>
        <picklistObject>Funding_Award_Performance_Management__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>fla_Report_Due_Month_End</name>
        <dataType>Date</dataType>
        <expression>DATE(
  YEAR({!fla_Reporting_Month_Start}) + FLOOR((MONTH({!fla_Reporting_Month_Start}) + 2) / 13),
  MOD(MONTH({!fla_Reporting_Month_Start}) + 1, 12) + 1,
  1
) - 1</expression>
    </formulas>
    <formulas>
        <name>fla_Report_Due_Month_Start</name>
        <dataType>Date</dataType>
        <expression>DATE(
  YEAR({!fla_Reporting_Month_Start}) + FLOOR((MONTH({!fla_Reporting_Month_Start}) + 1) / 13),
  MOD(MONTH({!fla_Reporting_Month_Start}), 12) + 1,
  1
)</expression>
    </formulas>
    <formulas>
        <name>fla_Reporting_Month</name>
        <dataType>String</dataType>
        <expression>CASE(
  MONTH(TODAY()) - 1,
  0, &quot;December&quot;,
  1, &quot;January&quot;,
  2, &quot;February&quot;,
  3, &quot;March&quot;,
  4, &quot;April&quot;,
  5, &quot;May&quot;,
  6, &quot;June&quot;,
  7, &quot;July&quot;,
  8, &quot;August&quot;,
  9, &quot;September&quot;,
  10, &quot;October&quot;,
  11, &quot;November&quot;,
  &quot;Unknown&quot;
)</expression>
    </formulas>
    <formulas>
        <name>fla_Reporting_Month_End</name>
        <dataType>Date</dataType>
        <expression>DATE(
  VALUE(RIGHT({!var_Month_Year}, 4)), 
  CASE(
    LEFT({!var_Month_Year}, FIND(&quot; &quot;, {!var_Month_Year}) - 1),
    &quot;January&quot;, 2,
    &quot;February&quot;, 3,
    &quot;March&quot;, 4,
    &quot;April&quot;, 5,
    &quot;May&quot;, 6,
    &quot;June&quot;, 7,
    &quot;July&quot;, 8,
    &quot;August&quot;, 9,
    &quot;September&quot;, 10,
    &quot;October&quot;, 11,
    &quot;November&quot;, 12,
    &quot;December&quot;, 1,
    1
  ),
  1
) - 1</expression>
    </formulas>
    <formulas>
        <name>fla_Reporting_Month_Start</name>
        <dataType>Date</dataType>
        <expression>DATE(
  VALUE(RIGHT({!var_Month_Year}, 4)), 
  CASE(
    LEFT({!var_Month_Year}, FIND(&quot; &quot;, {!var_Month_Year}) - 1),
    &quot;January&quot;, 1,
    &quot;February&quot;, 2,
    &quot;March&quot;, 3,
    &quot;April&quot;, 4,
    &quot;May&quot;, 5,
    &quot;June&quot;, 6,
    &quot;July&quot;, 7,
    &quot;August&quot;, 8,
    &quot;September&quot;, 9,
    &quot;October&quot;, 10,
    &quot;November&quot;, 11,
    &quot;December&quot;, 12,
    1
  ),
  1
)</expression>
    </formulas>
    <formulas>
        <name>fla_Reporting_Year</name>
        <dataType>String</dataType>
        <expression>TEXT(
  IF(
    MONTH(TODAY()) = 1,
    YEAR(TODAY()) - 1,
    YEAR(TODAY())
  )
)</expression>
    </formulas>
    <interviewLabel>GMS - Create Performance Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GMS - Create Performance Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Performance_Management_Record</name>
        <label>Create Performance Management Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_New_Performance_Record_URL</targetReference>
        </connector>
        <inputReference>rcd_Performance_Record_New</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Monthly_Performance_Record</name>
        <label>Get Existing Monthly Performance Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Performance_Record_Doesn_t_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Funding_Award__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Funding_Award.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Reporting_Month__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Reporting_Month</elementReference>
            </value>
        </filters>
        <filters>
            <field>Reporting_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Year</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Funding_Award_Performance_Management__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Funding_Award</name>
        <label>Get Funding Award</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Start_Performance_Record_Creation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FundingAward</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Funding_Award_Participant</name>
        <label>Get Funding Award Participant</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Performance_Record_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FundingAwardId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Funding_Award.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Participant_Role_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Grant Recipient Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FundingAwardParticipant</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Perfomance_Record</name>
        <label>Get New Perfomance Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rcd_Performance_Record_New.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Funding_Award_Performance_Management__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Actual_Record</name>
        <label>Get Related Actual Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Monthly_Actual_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Actuals_Month__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Reporting_Month</elementReference>
            </value>
        </filters>
        <filters>
            <field>Funding_Award__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Funding_Award.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FundingAwardActual__c</object>
        <sortField>Parent_Deadline_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Forecast_Record</name>
        <label>Get Related Forecast Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Monthly_Forecast_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Forecast_Month__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Reporting_Month</elementReference>
            </value>
        </filters>
        <filters>
            <field>Funding_Award__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Funding_Award.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FundingAwardForecast__c</object>
        <sortField>Parent_Update_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Monthly_Update</name>
        <label>Get Related Monthly Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Monthly_Update_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Month__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Reporting_Month</elementReference>
            </value>
        </filters>
        <filters>
            <field>Funding_Award__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Funding_Award.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FundingAwardUpdate__c</object>
        <sortField>Date_of_Update__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Reporting_Date_for_Month</name>
        <label>Get Reporting Date for Month</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Performance_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tenth_Working_Day__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>fla_Report_Due_Month_Start</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tenth_Working_Day__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>fla_Report_Due_Month_End</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Tenth_Working_Day__mdt</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Confirmation_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;You have successfully created performance record {!Get_New_Perfomance_Record.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Confirmation_Nav</name>
            <extensionName>c:dmFlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>backLabel</name>
                <value>
                    <stringValue>Go to Performance Record</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>finishLabel</name>
                <value>
                    <stringValue>Return to Award Record</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>backUrl</name>
                <value>
                    <elementReference>var_New_Performance_Record_URL</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_Performance_Record</name>
        <label>Create Performance Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Funding_Award_Participant</targetReference>
        </connector>
        <fields>
            <name>Create_New_record_Title</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;Confirm Related Records Found&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Create_Performance_Record_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Performance_Record_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Reporting_Month_Display</name>
                    <choiceReferences>chc_Reporting_Month</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Reporting_Month</elementReference>
                    </defaultValue>
                    <fieldText>Reporting Month</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_Performance_Record_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Year_Display</name>
                    <choiceReferences>chc_Reporting_Year</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Year</elementReference>
                    </defaultValue>
                    <fieldText>Year</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_Performance_Record_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Display_Record_Get_Outcome</name>
            <fieldText>&lt;p&gt;{!txt_Record_Retrieval_Outcome}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Create Draft Performance Record</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Performance_Record_Exists</name>
        <label>Performance Record Exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Existing_Record_Title</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;A Performance Assessment Record already exists for this month&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Existing_record_Nav</name>
            <extensionName>c:dmFlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>finishLabel</name>
                <value>
                    <stringValue>Return to Award Record</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>backUrl</name>
                <value>
                    <elementReference>var_Existing_Performance_Record_URL</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>backLabel</name>
                <value>
                    <stringValue>Go to Existing Performance Record</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Retrieve Related Records</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Start_Performance_Record_Creation</name>
        <label>Start Performance Record Creation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Reporting_Month_and_Year</targetReference>
        </connector>
        <fields>
            <name>CurrentDate</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Enter Month of Performance Assessment&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Start_Performance_Record_Creation_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Start_Performance_Record_Creation_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Reporting_Month</name>
                    <choiceReferences>chc_Reporting_Month</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>fla_Reporting_Month</elementReference>
                    </defaultValue>
                    <fieldText>Reporting Month</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Start_Performance_Record_Creation_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Year</name>
                    <choiceReferences>chc_Reporting_Year</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>fla_Reporting_Year</elementReference>
                    </defaultValue>
                    <fieldText>Year</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Start_Performance_Record_Creation_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Retrieve Related Records</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Funding_Award</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>txt_Record_Retrieval_Outcome</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Monthly Update Due: &lt;/strong&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!Get_Reporting_Date_for_Month.Label}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Record Check&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!var_Monthly_Report}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!var_Monthly_Forecast}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!var_Monthly_Actual}&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <variables>
        <name>rcd_Performance_Record_New</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Funding_Award_Performance_Management__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Existing_Performance_Record_URL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Month_Year</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Monthly_Actual</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Monthly_Forecast</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Monthly_Report</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>No monthly update has been created for {!Reporting_Month}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_New_Performance_Record_URL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
